<dx-popup
  width="600"
  height="auto"
  [dragEnabled]="true"
  [title]="'Réservation de stock : ' + rowData?.stockArticle?.articleID"
  (onHidden)="onHidden()"
  (onShown)="onShowing()"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let d of 'content'">
    <form [formGroup]="formGroup">
      <!-- Champ commentaire -->
      <dx-text-box
        formControlName="commentaire"
        valueChangeEvent="keyup"
        [placeholder]="'Veuillez saisir un commentaire'"
      >
      </dx-text-box>

      <!-- Quantité -->
      <br />
      <dx-number-box
        formControlName="quantite"
        valueChangeEvent="keyup"
        (onEnterKey)="clickSubmitBtn()"
        [placeholder]="'Quantité'"
        format="###"
        (onValueChanged)="onQuantiteChange($event)"
      >
      </dx-number-box>

      <p *ngIf="negativeStock" class="red-font">Le stock sera négatif avec ce mouvement !</p>
      <p *ngIf="!negativeStock">&nbsp;</p>

      <!-- Actions/Boutons -->
      <br>
      <div class="prompt-action">
        <dx-button
          text="{{ 'btn-annuler' | localize }}"
          type="normal"
          (onClick)="popup.instance.hide()"
        ></dx-button>
        <dx-button
          id="submitReservationBtn"
          text="réserver"
          type="default"
          style="float: right"
          [disabled]="!quantiteBox?.value || !commentBox?.value"
          (onClick)="onSubmit()"
        ></dx-button>
      </div>
    </form>
  </div>
</dx-popup>
