<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="ajout-art-histo-content-container">
        <app-grid-encours-client
          [client]="clientInfo"
          [popupShown]="popupShown"
          (openOrder)="openOrder($event)"
        ></app-grid-encours-client>
        <br />
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
