<dx-data-grid
  class="dx-card wide-card"
  [remoteOperations]="true"
  [showBorders]="false"
  [elementAttr]="{ class: 'grid-ordre-ligne-logistique' }"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onRowPrepared)="applySentGridRowStyle($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onEditorPreparing)="onEditorPreparing($event)"
  (onCellClick)="onCellClick($event)"
  [scrolling]="{
    useNative: true
  }"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Synthèse expéditions',
      $event,
      gridConfiguratorService.Grid.OrdreLigneLogistique,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-editing
    [selectTextOnEditStart]="true"
    [allowUpdating]="allowMutations"
    [mode]="'cell'"
  >
  </dxo-editing>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.OrdreLigneLogistique"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column.width"
    [cellTemplate]="column.cellTemplate"
    [allowEditing]="column.allowEditing"
    [cssClass]="column?.cssClass"
    [caption]="
      ('ordreLigneLogistique-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    trueText="Oui"
    falseText="Non"
    [dataType]="column?.dataType"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>
  <div *dxTemplate="let cell of 'histoBtnTemplate'">
    <dx-button
      class="small-detail-histo-button"
      type="default"
      [focusStateEnabled]="false"
      [text]="'Histo modifs'"
      (onClick)="showHistoDetail(cell)"
    >
    </dx-button>
  </div>
</dx-data-grid>
<app-choix-raison-decloture-popup
  [ordreLogistique]="ordreLogistique"
></app-choix-raison-decloture-popup>
<app-historique-modif-detail-popup
  [ligneLogistiqueId]="ligneLogistiqueId"
  [ordre]="ordre"
></app-historique-modif-detail-popup>