::ng-deep .zoom-article-popup {
  background-color: #f2f2f2 !important;

  .dx-popup-title {
    background-color: #fff;
    overflow: hidden;
  }

  .dx-popup-content {
    padding: 0 5px 0 0;
  }
}
