@import "themes/generated/variables.base.scss";

:host {
  background-color: darken($base-bg, 5);
  display: flex;
  height: 100%;
  width: 100%;
}

::ng-deep .dx-row.dx-data-row {

  //   Valide/pré-saisie
  & {
    &.highlight-datagrid-row>td {
      background: #eee;
    }

    &.tovalidate-datagrid-row>td {
      color: #ff325a;
    }
  }

  &.dx-row-focused {
    &.highlight-datagrid-row>td {
      color: #ccc;
    }

    &.tovalidate-datagrid-row>td {
      color: #ff325a;
    }
  }
}
