<dx-popup
  [showTitle]="true"
  [title]="this.document?.title"
  [hideOnOutsideClick]="false"
  [(visible)]="this.visible"
  (onHidden)="this.onClose()"
  [shading]="false"
  [fullScreen]="this.fullScreen"
>
  <div *dxTemplate="let data of 'content'">
    <img
      [src]="this.safeUrl"
      *ngIf="this.document?.document.type === 'img'"
      class="view-document-img"
    />
    <object
      [data]="this.safeUrl"
      *ngIf="this.document?.document.type === 'iframe'"
      type="application/pdf"
      class="view-document-iframe"
    >
      <embed
        [src]="this.safeUrl"
        type="application/pdf"
      />
    </object>
  </div>
</dx-popup>
