.upperButton {
  margin-left: 10px;
  float: right;
}

// Vertical alignement of tagboxes (certifications)
::ng-deep .dx-tag-container {
  &.dx-texteditor-input-container {
    display: grid;
  }

  .dx-tag~.dx-texteditor-input {
    display: none;
  }
}

.special-checkbox-label {
  white-space: inherit;
  width: auto !important;
}
