<dx-popup
  [width]="1100"
  height="auto"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [(visible)]="visible"
  [fullScreen]="this.popupFullscreen"
  [resizeEnabled]="true"
  (onShown)="onShown($event)"
  (onShowing)="onShowing($event)"
  (onHidden)="onHidden($event)"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title">{{ title }}&nbsp;</div>
    <app-top-right-popup-buttons
      [popup]="this"
      (closePopup)="quitPopup()"
    ></app-top-right-popup-buttons>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <dx-button
        [ngClass]="{ 'inactive-item': loading }"
        class="custom-choose-file-button"
        type="normal"
        text="{{ 'choisir-fichier' | localize }}"
        (onClick)="onClickUpload()"
      ></dx-button>
      <dx-file-uploader
        selectButtonText="{{ 'choisir-fichier' | localize }}"
        [accept]="buildAccept"
        [uploadUrl]="uploadUrl()"
        [name]="bodyName"
        [uploadCustomData]="customUploadData"
        (onBeforeSend)="onBeforeSend($event)"
        (onUploaded)="onUploaded($event)"
        (onUploadError)="onUploadError($event)"
        (onUploadAborted)="onUploadAborted($event)"
        (onProgress)="onProgress($event)"
        uploadedMessage="{{ 'termine' | localize }}"
      >
      </dx-file-uploader>

      <div class="import-programme-content-container">
        <app-grid-import-programmes
          [programID]="programID"
          [shown]="shown"
        ></app-grid-import-programmes>

        <br />
        <div
          class="popup-buttons-container noOpacity"
          [ngClass]="{ fullOpacity: shown }"
        >
          <dx-button
            type="normal"
            text="{{ 'btn-fermer' | localize }}"
            [disabled]="loading"
            (onClick)="quitPopup()"
          ></dx-button>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
<app-confirmation-result-popup></app-confirmation-result-popup>
<app-documents-ordres-popup></app-documents-ordres-popup>
