<dx-data-grid
  class="dx-card wide-card grid-planning-departs-detail"
  [dataSource]="dataSource"
  [remoteOperations]="true"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      title,
      $event,
      gridConfiguratorService.Grid.PlanningDepartDetail,
      enableFilters.bind(this)
    )
  "
  (onCellPrepared)="onCellPrepared($event)"
>
  <!-- Grid configuration -->
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.PlanningDepartDetail"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxi-column
    *ngFor="let field of detailedFields | async"
    [dataField]="field.path"
    [caption]="
      ('ordres-planningDepartDetail-' + field.path.replaceAll('.', '-') | localize) ||
      field.name
    "
    [visible]="false"
    [width]="field.width"
    [dataType]="field.dataType"
    [allowSearch]="
      field.allowSearch !== undefined
        ? field.allowSearch
        : ['string'].includes(field.dataType)
    "
    [allowHeaderFiltering]="
      field.allowHeaderFiltering !== undefined
        ? field.allowHeaderFiltering
        : ['string'].includes(field.dataType)
    "
  ></dxi-column>
</dx-data-grid>
