::ng-deep .grid-planning-departs-detail {

  .dx-toolbar .dx-icon {
    color: rgba(0, 0, 0, .87) !important;
  }

  .highlight-ok {
    background-color: #8FC459 !important;
    color: white !important;
  }

  .highlight-err {
    background-color: #ff325a !important;
    color: white !important;
  }
}
