@import "~themes/generated/variables.base";

// Form group
.dx-form-group {
  // Form group caption color
  & .dx-form-group-caption {
    color: $base-accent;
    font-weight: bold;
  }
}

// Form field
.dx-field {
  // Reduce spacing between field
  margin-bottom: 10px;

  // Set color of form label
  & .dx-field-label {
    color: $base-accent;
    font-size: 14px;
  }

  // Fix dx-field with inner dx-box
  & > .dx-box {
    width: 100%;
  }
}

/*
 * Size of form field/label
 * Large : 40/60 (Default DX value)
 * Normal : 30/70
 * Small : 20/80
 */
.dx-field:not(.field-large) {
  & > .dx-field-label {
    width: 30%;
  }
  & > .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
    width: 70%;
  }
}
.dx-field.field-small {
  & > .dx-field-label {
    width: 20%;
  }
  & > .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
    width: 80%;
  }
}

// Vertical checkbox
.dx-checkbox.vertical {
  .dx-checkbox-icon {
    display: block;
    margin: 10px auto;
  }
  .dx-checkbox-text {
    display: block;
    margin: 0 auto 10px auto;
    padding: 0;
    text-align: center;
  }
}
