// Var
@import "themes/generated/variables.base";

$light-grey: rgba(0, 0, 0, 0.2);

.admin-type-item {
  height: 20px;
  width: 20px;
}

::ng-deep .profile-popup {

  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title-start,
    .title-mid {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .title-mid {
      position: relative;
      left: -4px;
      color: $base-accent;
    }

    .minimize-popup {
      top: 13px;
      float: right;
    }

    .btn-title {
      margin: 0 15px;
      top: 14px;
    }
  }

  #profile-content {
    padding: 0 15px 0 2px;

    .dx-tag-container {
      padding: 0;
      min-height: 32px;

      .dx-tag {
        margin: 0 5px 4px 0;
      }

      .dx-texteditor-input {
        margin-top: 0;
      }
    }

    .dx-valid.dx-texteditor .dx-texteditor-input-container::after {
      background: #F5F5F5;
      border-radius: 100%;
      right: 3px !important;
    }

    .dx-invalid-message>.dx-overlay-content {
      background-color: rgba(255, 255, 255, 0);
      font-size: 12px;
      padding: 0 8px 4px 0px;
    }

    .midLarge {
      width: 100%;

      .dx-field-label {
        text-overflow: initial;
        width: 100%;
      }

      .dx-field-value {
        width: 20% !important;
      }
    }

    .dx-field-value:not(.dx-widget)>.dx-checkbox {
      margin: 0 !important;
    }

    .items-title {
      display: inline-block;
      position: relative;
      margin: 0 10px 10px 0;
      color: $base-accent;
    }

    .small-option-button {
      position: absolute;
      right: 25px;
      height: 18px;
      min-width: 0;
      padding: 0 4px !important;

      .dx-button-content {
        padding: 0;
        font-size: 10px;
        text-overflow: initial;

        .dx-button-text {
          line-height: 19px;
        }
      }

      &.admin-option-button {
        position: relative;
        right: auto;
        margin: -3px 0 0 0;
        pointer-events: none;
      }

    }

    .option-background {
      background: #F5F5F5;
      padding: 10px;
    }

    .small-box-format {

      .dx-field-value {
        width: 33px !important;

        dx-switch {
          margin: 0;
        }
      }

      .dx-field-label {
        width: 40% !important;

        &.dx-field-label-left {
          margin-right: 1px;
          width: 50px !important;
          text-align: right !important;
        }

        &.dx-field-label-small {
          width: 60px !important;
          text-align: right !important;
        }

        &.dx-field-label-right {
          margin-left: 10px;
          width: 80% !important;
          text-align: left !important;
        }
      }
    }

    .admin-banner-date {
      position: relative;
      top: -3px;
      width: 70% !important;
      float: left;

      .small-box-format {
        display: inline-block;
        margin: 0 10px;
        margin-left: 0;
      }

      .date-box-format {
        display: inline-block;
        margin: 0 10px;
        top: 6px;
        width: 280px;

        .dx-field-value {
          width: 100% !important;
        }
      }
    }

    .secteur-box {
      position: relative !important;
      width: 28% !important;
      top: -34px;
      float: left;
    }

    .banner-option {

      .option-background {
        position: relative;
        top: 5px;
        padding-top: 0;
        padding-bottom: 0;
        transition: max-height 0.5s;
        max-height: 180px;
        overflow: hidden;

        &.collapsed {
          max-height: 0;
        }
      }

      .small-box-format {
        margin-bottom: 0;
      }

      .admin-banner-switch {
        position: absolute;
        top: -27px;
        right: 0;
      }

      .admin-banner-scroll {
        position: absolute;
        right: 135px;
        margin: -27px 0 0 0;

        .dx-field-label {
          width: 70px !important;
          text-overflow: initial;
          padding-right: 0;
        }
      }

      .type-message {
        position: absolute;
        right: 295px;
        margin: -30px 0 0 0;

        .dx-field-label {
          width: 45px;
        }

        .dx-field-value {
          width: 50px;

          .dx-selectbox {
            height: 26px;

            .dx-textbox {
              top: 2px;
              left: 7px;
              height: 20px;
              width: 20px;
            }

            // Hiding cursor
            input {
              caret-color: transparent;

              &::-moz-selection {
                color: transparent;
                background: transparent;
              }
            }
          }

          .dx-placeholder {
            display: none;
          }
        }
      }

      .banner-message {
        .dx-field-label {
          width: 14% !important;
          overflow: visible;
          white-space: initial;
          text-align: right;
        }

        .dx-field-value {
          width: 100% !important;
        }

        textarea {
          padding-right: 48px !important;
        }

        .dx-valid.dx-texteditor .dx-texteditor-input-container::after {
          right: 24px !important;
        }
      }

      .readOnly {

        .dx-field-label:not(.no-readOnly),
        textarea {
          color: black;
          opacity: 0.4;
        }

        .dx-switch-container::before {
          background-color: $light-grey !important;
        }

        .admin-type-value {
          background: rgba(0, 0, 0, 0.4) !important;
        }

        .dx-checkbox:not(.dx-checkbox-checked) .dx-checkbox-icon {
          border-color: $light-grey
        }

        .dx-checkbox-checked .dx-checkbox-icon {
          background: $light-grey !important;
          border-color: rgba(0, 0, 0, .54);
        }
      }
    }

    .scrollbar-side-switch {

      .dx-field-value {
        margin-top: 9px;
        width: 33px !important;

        dx-switch {
          margin: 0;
          transform: rotate(270deg);
        }
      }

      .dx-field-label {
        margin-top: 9px;
        width: 40% !important;

        &.dx-field-label-left {
          margin-right: 1px;
          margin-top: -15px;
          width: 50px !important;
          text-align: right !important;
        }

        &.dx-field-label-right {
          margin-left: 10px;
          margin-top: 19px;
          width: 50px !important;
          text-align: left !important;
        }

        &.dx-field-label-checkbox {
          width: 136px !important;
          margin-top: -2px;
          padding-right: 0;
          text-align: right;
        }
      }
    }

    .to-report-list {
      columns: 3;
      padding: 16px 0 8px 0;
      background-color: rgba(191, 191, 191, 0.15);

      .to-report-item {
        margin: 7px 0;

        &:first-child {
          margin-top: 0;
        }

        .dx-field-label {
          position: relative;
          left: 15px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }

  .popup-buttons-container {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    .dx-button {
      margin: 5px;
    }
  }
}
