<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '.profile-popup' }"
  [visible]="savingUserPrefs"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [fullScreen]="this.popupFullscreen"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  [width]="700"
  [height]="'auto'"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  (onHidden)="onHidden()"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <dx-button
      class="close-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <!-- <dx-button
      class="minimize-popup"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      (onClick)="resizePopup()"
    ></dx-button> -->
  </div>

  <div *dxTemplate="let data of 'content'">
    <div id="profil-content">
      <form [formGroup]="formGroup">
        <!-- ------- -->
        <!-- Période -->
        <!-- ------- -->
        <div class="dx-field">
          <div class="dx-field-label">
            {{ "ordres-periode-utilisateur" | localize }}
          </div>
          <div class="dx-field-value period-value">
            <dx-select-box
              #periodeSB
              [items]="periodes"
              [showClearButton]="true"
              [displayExpr]="dateManagementService.displayPeriodText"
            >
            </dx-select-box>
          </div>
        </div>
        <br />
        <!-- ---------------- -->
        <!-- Boutons reporter -->
        <!-- ---------------- -->
        <div class="items-title">
          {{ "text-report-items" | localize }}
        </div>
        <div class="to-report-list">
          <div
            *ngFor="let item of reportedItems"
            class="to-report-item"
          >
            <div class="dx-field field-large midLarge">
              <div class="dx-field-value">
                <dx-check-box [formControlName]="item.name"></dx-check-box>
              </div>
              <div class="dx-field-label">
                {{
                  "ordreLignes-" + item.caption?.split(".").join("-") | localize
                }}
              </div>
            </div>
          </div>
        </div>

        <div style="clear: both"></div>
        <br />
        <div class="popup-buttons-container">
          <dx-button
            type="normal"
            text="{{ 'btn-appliquer' | localize }}"
            (onClick)="saveAndHidePopup()"
          ></dx-button>
          <dx-button
            type="default"
            text="{{ 'btn-annuler' | localize }}"
            (onClick)="cancelClick()"
          ></dx-button>
        </div>
      </form>
    </div>
  </div>
</dx-popup>
