// Var
@import "themes/generated/variables.base";

::ng-deep .profile-popup {

  max-height: calc(100% - 30px);
  overflow-y: auto;

  .midLarge {
    width: 100%;

    .dx-field-label {
      text-overflow: initial;
      width: 100%;
    }

    .dx-field-value {
      width: 20% !important;
    }
  }

  .dx-field-value:not(.dx-widget)>.dx-checkbox {
    margin: 0 !important;
  }

  .items-title {
    position: relative;
    margin-bottom: 10px;
    color: $base-accent;
  }

  .report-reset-button {
    position: absolute;
    right: 25px;
    margin-top: -28px;
    height: 18px;
    min-width: 0;
    padding: 0 4px !important;

    .dx-button-content {
      padding: 0;
      font-size: 10px;
      text-overflow: initial;

      .dx-button-text {
        line-height: 19px;
      }
    }

  }

  .to-report-list {
    columns: 3;
    padding: 16px 0 8px 0;
    background-color: rgba(191, 191, 191, 0.15);

    .to-report-item {
      margin: 7px 0;

      &:first-child {
        margin-top: 0;
      }

      .dx-field-label {
        position: relative;
        left: 15px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .scrollbar-side-switch {
    background: #F5F5F5;
    padding: 10px;

    .dx-field-value {
      margin-top: 9px;
      width: 33px !important;

      dx-switch {
        margin: 0;
        transform: rotate(270deg);
      }
    }

    .dx-field-label {
      margin-top: 9px;
      width: 40% !important;

      &.dx-field-label-left {
        margin-right: 1px;
        margin-top: -15px;
        width: 50px !important;
        text-align: right !important;
      }

      &.dx-field-label-right {
        margin-left: 10px;
        margin-top: 19px;
        width: 50px !important;
        text-align: left !important;
      }
    }
  }

  .planning-depart-detail-switch {
    background: #F5F5F5;
    padding: 10px;

    .dx-field-value {
      width: 33px !important;

      dx-switch {
        margin: 0;
      }
    }

    .dx-field-label {
      width: 40% !important;

      &.dx-field-label-left {
        margin-right: 1px;
        width: 50px !important;
        text-align: right !important;
      }

      &.dx-field-label-right {
        margin-left: 10px;
        width: 80% !important;
        text-align: left !important;
      }
    }
  }


  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title-start,
    .title-mid {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .title-mid {
      position: relative;
      left: -4px;
      color: $base-accent;
    }

    .minimize-popup {
      top: 13px;
      float: right;
    }

    .close-popup {
      top: 13px;
      float: right;
    }
  }

  .popup-buttons-container {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    .dx-button {
      margin: 5px;
    }
  }
}
