<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '.profile-popup' }"
  [visible]="savingUserPrefs"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [fullScreen]="this.popupFullscreen"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  [width]="700"
  [height]="'auto'"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  (onHidden)="onHidden()"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <dx-button
      class="close-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <!-- <dx-button
      class="minimize-popup"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      (onClick)="resizePopup()"
    ></dx-button> -->
  </div>

  <div *dxTemplate="let data of 'content'">
    <div id="profil-content">
      <form [formGroup]="formGroup">
        <!-- ------- -->
        <!-- Période -->
        <!-- ------- -->
        <div class="dx-field">
          <div class="dx-field-label">
            {{ "ordres-periode-utilisateur" | localize }}
          </div>
          <div class="dx-field-value period-value">
            <dx-select-box
              [formControlName]="simpleParams[0]"
              [items]="periodes"
              [valueExpr]="'id'"
              [showClearButton]="true"
              [displayExpr]="dateManagementService.displayPeriodText"
            >
            </dx-select-box>
          </div>
        </div>
        <br />

        <!-- ---------------- -->
        <!-- Boutons reporter -->
        <!-- ---------------- -->
        <div class="items-title">
          {{ "text-report-items" | localize }}
        </div>
        <dx-button
          class="report-reset-button"
          type="success"
          [focusStateEnabled]="false"
          [text]="'btn-reinit' | localize"
          (onClick)="resetAllReportCheckboxes()"
        ></dx-button>
        <div class="to-report-list">
          <div
            *ngFor="let item of reportedItems"
            class="to-report-item"
          >
            <div class="dx-field field-large midLarge">
              <div class="dx-field-value">
                <dx-check-box [formControlName]="item.name"></dx-check-box>
              </div>
              <div class="dx-field-label">
                {{
                  "ordreLignes-" + item.caption?.split(".").join("-") | localize
                }}
              </div>
            </div>
          </div>
        </div>

        <br />
        <!-- --------------------------------->
        <!-- Position Scrollbar horizontale -->
        <!-- --------------------------------->
        <div class="items-title">
          {{ "text-scrollbar-position" | localize }}
        </div>
        <div class="dx-field scrollbar-side-switch">
          <div class="dx-field-label dx-field-label-left">
            {{ "top" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-switch
              [formControlName]="simpleParams[1]"
              [switchedOnText]=""
              [switchedOffText]=""
            ></dx-switch>
          </div>
          <div class="dx-field-label dx-field-label-right">
            {{ "bottom" | localize }}
          </div>
          <!-- May be used later ? -->
          <div class="display-none">
            <div class="dx-field-label dx-field-label-left">
              {{ "top" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-switch
                [formControlName]="simpleParams[2]"
                [switchedOnText]=""
                [switchedOffText]=""
                [value]="!formGroup.get(simpleParams[1]).value"
              ></dx-switch>
            </div>
            <div class="dx-field-label dx-field-label-right">
              {{ "bottom" | localize }}
            </div>
          </div>
        </div>

        <!-- ----------------------------->
        <!-- Affichage Planning Départs -->
        <!-- ----------------------------->
        <div class="items-title">
          {{ "display-panning-departs" | localize }}
        </div>
        <div class="dx-field">
          <div class="dx-field-label dx-field-label-left">
            {{ "all" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-switch
              [formControlName]="simpleParams[3]"
              [switchedOnText]=""
              [switchedOffText]=""
            ></dx-switch>
          </div>
          <div class="dx-field-label dx-field-label-right">
            {{ "ecarts-uniq-details-non-envoyes" | localize }}
          </div>
        </div>

        <!-- --------------- -->
        <!-- Save ou annuler -->
        <!-- --------------- -->
        <div style="clear: both"></div>
        <br />
        <div class="popup-buttons-container">
          <dx-button
            type="normal"
            text="{{ 'btn-appliquer' | localize }}"
            [disabled]="formGroup?.pristine"
            (onClick)="saveAndHidePopup()"
          ></dx-button>
          <dx-button
            type="default"
            text="{{ 'btn-annuler' | localize }}"
            (onClick)="cancelClick()"
          ></dx-button>
        </div>
      </form>
    </div>
  </div>
</dx-popup>
