<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '.profile-popup' }"
  [visible]="savingUserPrefs"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [fullScreen]="this.popupFullscreen"
  [hideOnOutsideClick]="false"
  [(visible)]="visible"
  [width]="700"
  (onShowing)="onShowing($event)"
  (onShown)="onShown()"
  (onHidden)="onHidden()"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>

    <dx-button
      class="close-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <!-- <dx-button
      class="minimize-popup"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      (onClick)="resizePopup()"
    ></dx-button> -->

    <dx-button
      class="btn-title float-right"
      type="success"
      text="{{ 'btn-appliquer' | localize }}"
      [focusStateEnabled]="false"
      [disabled]="formGroup?.pristine"
      (onClick)="saveAndHidePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div id="profile-content">
        <form [formGroup]="formGroup">
          <!-- ------- -->
          <!-- Période -->
          <!-- ------- -->
          <div class="dx-field">
            <div class="dx-field-label">
              {{ "ordres-periode-utilisateur" | localize }}
            </div>
            <div class="dx-field-value period-value">
              <dx-select-box
                formControlName="periode"
                [items]="periodes"
                [valueExpr]="'id'"
                [showClearButton]="true"
                [displayExpr]="dateMgt.displayPeriodText"
              >
              </dx-select-box>
            </div>
          </div>
          <br />

          <!-- ----------------- -->
          <!-- Bandeau déroulant -->
          <!-- ----------------- -->
          <div
            class="banner-option"
            *ngIf="authService.isAdmin"
          >
            <div class="items-title">
              {{ "text-general-banner" | localize }}
            </div>
            <dx-button
              class="admin-option-button small-option-button"
              type="danger"
              [focusStateEnabled]="false"
              [text]="'btn-admin' | localize"
            ></dx-button>

            <!-- Type message -->
            <div
              class="dx-field type-message"
              [ngClass]="{
                readOnly: !formGroup?.get('valide')?.value
              }"
            >
              <div class="dx-field-label">
                {{ "type" | localize }}
              </div>
              <div class="dx-field-value">
                <dx-select-box
                  [readOnly]="!formGroup?.get('valide')?.value"
                  [formControlName]="'type'"
                  [items]="alerteTypes"
                  [searchEnabled]="false"
                  [valueExpr]="'id'"
                  itemTemplate="types"
                  fieldTemplate="field"
                >
                  <div *dxTemplate="let data of 'types'">
                    <div
                      [title]="firstUpper(data.description)"
                      [ngClass]="'admin-type-' + data?.id + ' admin-type-item'"
                    >
                      &nbsp;
                    </div>
                  </div>
                  <div *dxTemplate="let data of 'field'">
                    <dx-text-box
                      [ngClass]="'admin-type-' + data?.id + ' admin-type-value'"
                      value="&nbsp;"
                    ></dx-text-box>
                  </div>
                </dx-select-box>
              </div>
            </div>

            <!-- Scroll -->
            <div
              class="dx-field small-box-format"
              [ngClass]="{
                readOnly: !formGroup?.get('valide')?.value
              }"
            >
              <div class="admin-banner-scroll">
                <div class="dx-field-label dx-field-label-left">
                  {{ "scroll" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-check-box
                    [readOnly]="!formGroup?.get('valide')?.value"
                    [focusStateEnabled]="false"
                    [formControlName]="'deroulant'"
                  ></dx-check-box>
                </div>
              </div>
            </div>

            <!-- Actif -->
            <div
              class="dx-field small-box-format"
              [ngClass]="{
                readOnly: !formGroup?.get('valide')?.value
              }"
            >
              <div class="admin-banner-switch">
                <div class="dx-field-label dx-field-label-left no-readOnly">
                  {{ "actif" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-switch
                    [focusStateEnabled]="false"
                    [formControlName]="'valide'"
                    (onValueChanged)="messageValidator?.instance?.validate()"
                  ></dx-switch>
                </div>
              </div>
            </div>

            <div
              class="option-background"
              [ngClass]="{
                collapsed: !formGroup?.get('valide')?.value
              }"
            >
              <!-- Date de début -->
              <div class="admin-banner-date">
                <div
                  class="dx-field small-box-format"
                  [ngClass]="{
                    readOnly: !formGroup?.get('valide')?.value
                  }"
                >
                  <div class="dx-field-label dx-field-label-small">
                    {{ firstUpper(localizeService.localize("debut")) }}
                  </div>
                  <div class="dx-field-value">
                    <dx-check-box
                      #bandeauDateDebCB
                      [readOnly]="!formGroup?.get('valide')?.value"
                      [focusStateEnabled]="false"
                      [value]="!!formGroup?.get('dateDebut')?.value"
                      (onValueChanged)="onBannerDateDebClick($event)"
                    ></dx-check-box>
                  </div>
                </div>
                <div
                  class="dx-field date-box-format"
                  [ngClass]="{
                    readOnly: !formGroup?.get('valide')?.value
                  }"
                >
                  <div class="dx-field-value">
                    <dx-date-box
                      #dateDeb
                      [disabled]="
                        !formGroup?.get('valide')?.value ||
                        !bandeauDateDebCB.value
                      "
                      [formControlName]="'dateDebut'"
                      [displayFormat]="'dd-MM-yyyy  à  HH:mm   (EEEE)'"
                      dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
                      type="datetime"
                      (onValueChanged)="dateFinValidator?.instance?.validate()"
                    >
                      <dx-validator #dateDebValidator>
                        <dxi-validation-rule
                          *ngIf="
                            !!formGroup?.get('dateDebut')?.value &&
                            formGroup?.get('valide')?.value
                          "
                          type="async"
                          message="{{ 'warning-wrong-date' | localize }}"
                          [validationCallback]="checkValidDebDate"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-date-box>
                  </div>
                </div>
              </div>
              <!-- Date de fin -->
              <div class="admin-banner-date">
                <div
                  class="dx-field small-box-format"
                  [ngClass]="{
                    readOnly: !formGroup?.get('valide')?.value
                  }"
                >
                  <div class="dx-field-label dx-field-label-small">
                    {{ firstUpper(localizeService.localize("fin")) }}
                  </div>
                  <div class="dx-field-value">
                    <dx-check-box
                      #bandeauDateFinCB
                      [readOnly]="!formGroup?.get('valide')?.value"
                      [focusStateEnabled]="false"
                      [value]="!!formGroup?.get('dateFin')?.value"
                      (onValueChanged)="onBannerDateFinClick($event)"
                    ></dx-check-box>
                  </div>
                </div>
                <div
                  class="dx-field date-box-format"
                  [ngClass]="{
                    readOnly: !formGroup?.get('valide')?.value
                  }"
                >
                  <div class="dx-field-value">
                    <dx-date-box
                      #dateFin
                      [disabled]="
                        !formGroup?.get('valide')?.value ||
                        !bandeauDateFinCB.value
                      "
                      [formControlName]="'dateFin'"
                      [displayFormat]="'dd-MM-yyyy  à  HH:mm   (EEEE)'"
                      dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
                      type="datetime"
                      (onValueChanged)="dateDebValidator?.instance?.validate()"
                    >
                      <dx-validator #dateFinValidator>
                        <dxi-validation-rule
                          *ngIf="
                            !!formGroup?.get('dateFin')?.value &&
                            formGroup?.get('valide')?.value
                          "
                          type="async"
                          message="{{ 'warning-out-wrong-date' | localize }}"
                          [validationCallback]="checkValidFinDate"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-date-box>
                  </div>
                </div>
              </div>
              <!-- Secteurs -->
              <div class="secteur-box">
                <div
                  class="dx-field"
                  [ngClass]="{
                    readOnly: !formGroup?.get('valide')?.value
                  }"
                >
                  <div class="dx-field-label">
                    {{ "secteur-abrev" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-tag-box
                      #secteursList
                      formControlName="secteur"
                      [readOnly]="!formGroup?.get('valide')?.value"
                      [dataSource]="secteurs"
                      displayExpr="id"
                      valueExpr="id"
                      searchExpr="['id', 'description']"
                      (onValueChanged)="onSecteurChanged($event)"
                    >
                    </dx-tag-box>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
              <!-- Message -->
              <div class="banner-message">
                <div
                  class="dx-field field-small"
                  [ngClass]="{
                    readOnly: !formGroup?.get('valide')?.value
                  }"
                >
                  <div class="dx-field-label">
                    {{ "displayed-message" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      [readOnly]="!formGroup?.get('valide')?.value"
                      [formControlName]="'message'"
                      [acceptCustomValue]="true"
                      [items]="infoMessage"
                      [showClearButton]="true"
                      fieldTemplate="field"
                    >
                      <div *dxTemplate="let data of 'field'">
                        <dx-text-area [value]="data"></dx-text-area>
                      </div>
                      <dxo-drop-down-options [width]="0">
                      </dxo-drop-down-options>
                      <dx-validator #messageValidator>
                        <dxi-validation-rule
                          *ngIf="formGroup?.get('valide')?.value"
                          type="async"
                          [message]="messageText"
                          [validationCallback]="checkMessageLength"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
              </div>

              <br />
            </div>
            <br />
          </div>

          <!-- --------------------------------->
          <!-- Position Scrollbar horizontale -->
          <!-- --------------------------------->
          <div class="items-title">
            {{ "text-scrollbar-horiz" | localize }} :
          </div>
          <div class="dx-field option-background scrollbar-side-switch">
            <div class="dx-field-label dx-field-label-left">
              {{ "top" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-switch
                [formControlName]="'barreDefilementHaut'"
                [focusStateEnabled]="false"
              ></dx-switch>
            </div>
            <div class="dx-field-label dx-field-label-right">
              {{ "bottom" | localize }}
            </div>
            <!-- Toujours apparente ? -->
            <div class="dx-field-label dx-field-label-checkbox">
              {{ "text-always-visible" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-check-box
                [formControlName]="'barreDefilementHorizFixed'"
                [focusStateEnabled]="false"
              ></dx-check-box>
            </div>
            <!-- May be used later ? -->
            <div class="display-none">
              <div class="dx-field-label dx-field-label-left">
                {{ "top" | localize }}
              </div>
              <div class="dx-field-value">
                <dx-switch
                  [formControlName]="'barreDefilementBas'"
                  [focusStateEnabled]="false"
                ></dx-switch>
              </div>
              <div class="dx-field-label dx-field-label-right">
                {{ "bottom" | localize }}
              </div>
            </div>
          </div>
          <br />

          <!-- ----------------------------->
          <!-- Affichage Planning Départs -->
          <!-- ----------------------------->
          <div class="items-title">
            {{ "display-panning-departs" | localize }} :
          </div>
          <div
            class="dx-field small-box-format planning-depart-detail-switch option-background"
          >
            <div class="dx-field-label dx-field-label-left">
              {{ "all" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-switch
                [formControlName]="'diffSurExpedition'"
                [focusStateEnabled]="false"
                [switchedOnText]=""
                [switchedOffText]=""
              ></dx-switch>
            </div>
            <div class="dx-field-label dx-field-label-right">
              {{ "ecarts-uniq-details-non-envoyes" | localize }}
            </div>
          </div>

          <br />

          <!-- ---------------- -->
          <!-- Boutons reporter -->
          <!-- ---------------- -->
          <div class="items-title">{{ "text-report-items" | localize }} :</div>
          <dx-button
            class="report-reset-button small-option-button"
            type="success"
            [focusStateEnabled]="false"
            [text]="'btn-reinit' | localize"
            (onClick)="resetAllReportCheckboxes()"
          ></dx-button>
          <div class="to-report-list">
            <div
              *ngFor="let item of reportedItems"
              class="to-report-item"
            >
              <div class="dx-field field-large midLarge">
                <div class="dx-field-value">
                  <dx-check-box
                    [formControlName]="item.name"
                    [focusStateEnabled]="false"
                  ></dx-check-box>
                </div>
                <div class="dx-field-label">
                  {{
                    "ordreLignes-" + item.caption?.split(".").join("-")
                      | localize
                  }}
                </div>
              </div>
            </div>
          </div>

          <!-- --------------- -->
          <!-- Save ou annuler -->
          <!-- --------------- -->
          <div style="clear: both"></div>
          <br />
          <div class="popup-buttons-container">
            <dx-button
              type="normal"
              text="{{ 'btn-annuler' | localize }}"
              [focusStateEnabled]="false"
              (onClick)="cancelClick()"
            ></dx-button>
            <dx-button
              type="success"
              text="{{ 'btn-appliquer' | localize }}"
              [focusStateEnabled]="false"
              [disabled]="formGroup?.pristine"
              (onClick)="saveAndHidePopup()"
            ></dx-button>
          </div>
        </form>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
