::ng-deep .grid-frais-annexes-litiges {
  min-height: 257px;
  max-height: 300px;

  .grey-light-montant {
    background-color: #eee;
  }

  .dx-command-edit.dx-command-edit-with-icons.dx-col-fixed {
    padding: 0 2px !important;
    width: 30px !important;
    min-width: 30px !important;
  }
}
