<dx-data-grid
  class="dx-card wide-card grid-frais-annexes-litiges"
  [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
  [remoteOperations]="{
    filtering: true,
    grouping: false,
    groupPaging: false,
    paging: true,
    sorting: true,
    summary: false
  }"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  noDataText="{{ 'aucun-frais' | localize }}"
  (onInitNewRow)="onInitNewRow($event)"
  (onSaved)="onSaved()"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Frais annexes',
      $event,
      gridConfiguratorService.Grid.OrdreFraisLitige,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Frais annexes litige"></dxo-export>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-editing
    *ngIf="!this.infosLitige?.fournisseurClos || !this.infosLitige?.clientClos"
    [selectTextOnEditStart]="true"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [mode]="'cell'"
  ></dxo-editing>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.OrdreFraisLitige"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [caption]="
      ('ordreFraisLitige-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [showEditorAlways]="false"
    [cssClass]="column.cssClass"
    [width]="column.width"
    [allowEditing]="column.allowEditing"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [format]="column.format"
    [editorOptions]="column.editorOptions"
    [editCellTemplate]="column.editCellTemplate"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  >
    <dxi-validation-rule
      *ngIf="
        ['transporteurCodePlus', 'montant', 'description'].includes(
          column.dataField
        )
      "
      type="required"
    ></dxi-validation-rule>
    <dxi-validation-rule
      *ngIf="column.dataField === 'montant'"
      type="range"
      [min]="1"
      message="{{ 'MontantNonNul' | localize }}"
    ></dxi-validation-rule>
  </dxi-column>

  <dxo-summary>
    <dxi-total-item
      column="montant"
      summaryType="sum"
      displayFormat="Total : {0}"
      [valueFormat]="{
        type: 'fixedPoint',
        precision: 2
      }"
    ></dxi-total-item>
  </dxo-summary>

  <div *dxTemplate="let cell of 'selectBoxTemplate'">
    <dx-select-box
      [items]="codePlusItems"
      [displayExpr]="displayIdBefore"
      [searchExpr]="['codeFournisseur', 'raisonSociale']"
      [value]="cell.data[cell.column.dataField]"
      (onValueChanged)="onValueChanged($event, cell)"
    >
      <dxo-drop-down-options [width]="400"></dxo-drop-down-options>
    </dx-select-box>
  </div>
</dx-data-grid>
