// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";


::ng-deep .litige-dot-legend-container {
  position: absolute;
  right: 322px;
  margin-top: 16px;
  z-index: 1;

  &.shift-legend {
    margin-right: 20px;
  }

  div {
    position: relative;
    float: left;
  }

  .litige-dot-legend {
    margin: 1px 6px 0 0;
    min-width: 15px;
    padding: 0px 3px 2px 4px;
    background: #ff325a;
    border-radius: 100%;
    font-size: 10px;
    line-height: 14px;
    color: white;
    text-align: center;
  }
}

::ng-deep .grid-ordre-ligne-historique {

  max-height: calc(100vh - 320px) !important;

  .dx-toolbar-after .dx-toolbar-menu-container {
    display: none;
  }

  .grid-grouping-button {
    position: relative !important;
    margin: 0 0 0 6px !important;
    right: 0;
  }

  .create-direct-order-button {
    margin-left: 22px;
  }

  .bio-article {
    color: #39970e !important;
    cursor: pointer;
  }

  .litige-dot {
    cursor: pointer;

    &:after {
      display: inline-block;
      position: absolute;
      content: "L";
      margin: -8px 0 0 6px;
      min-width: 15px;
      padding: 0px 4px 2px 4px;
      background: #ff325a;
      border-radius: 100%;
      font-size: 10px;
      line-height: 14px;
      color: white;
      text-align: center;
    }
  }

  .dx-datagrid-group-panel {
    pointer-events: none;

    .dx-column-indicators {
      pointer-events: auto;
    }
  }

  .first-group {
    color: #20C0B0;

    &+.colisCommandes div {
      color: transparent;
    }
  }

  // Highlight canceled orders
  .canceled-orders {

    td,
    .dx-datagrid-summary-item {
      color: #ff325a !important;
    }
  }
}

::ng-deep .secteur-histo-ligne-field {

  .dx-field-label,
  .dx-field-value {
    width: 50% !important;
  }
}

::ng-deep .grid-zoom-button {
  width: 22px !important;
  height: 22px;
  min-width: 22px !important;
  background-color: transparent !important;

  .dx-button-content {
    padding: 0;
  }
}

::ng-deep .filter-container {
  margin-bottom: 15px;
  overflow: hidden;
  max-width: 1790px;

  dx-box {
    width: 930px;
    padding: 0 20px;
    float: left;

    .dx-texteditor-container input {
      padding-right: 0 !important;
    }
  }

  .valideCheckboxField {
    .dx-field-label {
      width: 224px !important;
      text-overflow: initial;
      white-space: normal;
    }

    .dx-field-value {
      width: 33px !important;
    }
  }

  .departLivraison-switch {
    height: 36px !important;

    .dx-field-value {
      margin-top: 9px;
      width: 33px !important;

      dx-switch {
        margin: 0;
      }
    }

    .dx-field-label {
      width: 56% !important;

      &.dx-field-label-left {
        margin-right: 10px;
        text-align: right !important;
      }

      &.dx-field-label-right {
        margin-left: 10px;
        text-align: left !important;
      }
    }
  }

  .refresh {
    float: left;
    margin-left: 30px;
  }
}

::ng-deep .dx-row-focused {

  .first-group {
    color: aquamarine;
  }

  .bio-article {
    color: #a9f77e !important;
  }

  .dx-datagrid-summary-item {
    color: #FFF;
  }
}

::ng-deep .not-valid {
  opacity: 0.5;
}
