<form
  class="filter-container"
  [formGroup]="formGroup"
>
  <dx-box>
    <dxi-item [ratio]="0.8">
      <!-- Valides/non valides -->
      <div class="dx-field valideCheckboxField">
        <div class="dx-field-label">
          {{ "clients-entrepots-valides" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-check-box
            formControlName="valide"
            class="float-left"
            (onValueChanged)="onValideChanged($event)"
          >
          </dx-check-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="2">
      <!-- Switch départ / livraison -->
      <div class="dx-field departLivraison-switch">
        <div class="dx-field-label dx-field-label-left">
          {{ "ordreLignes-dateDepartPrevue" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-switch
            #switchDepartLivraison
            [switchedOnText]=""
            [switchedOffText]=""
            (onValueChanged)="changeGrouping($event?.value)"
          ></dx-switch>
        </div>
        <div class="dx-field-label dx-field-label-right">
          {{ "ordreLignes-dateLivraisonPrevue" | localize }}
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="2">
      <!-- Bureau achat -->
      <div class="dx-field">
        <div class="dx-field-label noEllipsis">
          {{ "tiers-fournisseurs-bureauAchat" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="bureauAchat"
            [dataSource]="bureauxAchat"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <div style="clear: both"></div>
  <dx-box>
    <dxi-item [ratio]="2">
      <!-- Secteur -->
      <div class="dx-field secteur-histo-ligne-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="secteur"
            [dataSource]="secteurs"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="onSecteurChanged($event)"
          >
            <dx-validator name="{{ 'tiers-clients-secteur' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3.5">
      <!-- Client -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-client" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="client"
            [dataSource]="clients"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['code']"
            (onValueChanged)="onClientChanged($event)"
            itemTemplate="items"
          >
            <div *dxTemplate="let data of 'items'">
              <div
                [title]="!data.valide ? 'non valide' : ''"
                [ngClass]="{ 'not-valid': !data.valide }"
              >
                {{ displayCodeBefore(data) }}
              </div>
            </div>
            >
            <dx-validator name="{{ 'tiers-client' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3.5">
      <!-- Entrepot -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-entrepot" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="entrepot"
            [dataSource]="entrepots"
            [searchExpr]="['code']"
            [displayExpr]="displayCodeBefore"
            (onFocusIn)="onEntrepotFocus($event)"
            [showClearButton]="true"
            itemTemplate="items"
          >
            <div *dxTemplate="let data of 'items'">
              <div
                [title]="!data.valide ? 'non valide' : ''"
                [ngClass]="{ 'not-valid': !data.valide }"
              >
                {{ displayCodeBefore(data) }}
              </div>
            </div>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <dx-box>
    <dxi-item [ratio]="5">
      <!-- Période -->
      <div class="dx-field">
        <div class="dx-field-label noEllipsis">
          {{ "ordres-periode" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #periodeSB
            [items]="periodes"
            [displayExpr]="dateManagementService.displayPeriodText"
            (onValueChanged)="setDates($event)"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3">
      <!-- Date de début -->
      <div class="dx-field field">
        <div class="dx-field-label">
          {{ "ordres-Du" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-date-box
            formControlName="dateMin"
            class="dateStart"
            type="date"
            [displayFormat]="'dd-MM-yy'"
            (onValueChanged)="manualDate($event)"
          ></dx-date-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3">
      <!-- Date de fin -->
      <div class="dx-field field">
        <div class="dx-field-label">
          {{ "ordres-au" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-date-box
            formControlName="dateMax"
            class="dateEnd"
            type="date"
            [displayFormat]="'dd-MM-yy'"
            (onValueChanged)="manualDate($event)"
          ></dx-date-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <dx-button
    class="refresh"
    type="default"
    text="{{ 'btn-refresh' | localize }}"
    (onClick)="enableFilters()"
  ></dx-button>
</form>

<!-- Litige dot indicator Legend -->
<div
  *ngIf="hasLitigeDots"
  class="litige-dot-legend-container"
>
  <div class="litige-dot-legend">L</div>
  <div class="litige-dot-legend-text">
    {{ "hint-previous-litige" | localize }}
  </div>
</div>

<div class="grid-lignes-historique-container">
  <dx-data-grid
    class="dx-card wide-card grid-ordre-ligne-historique"
    [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
    [width]="'100%'"
    [focusedRowEnabled]="true"
    [remoteOperations]="{
      filtering: true,
      grouping: true,
      groupPaging: false,
      paging: false,
      sorting: false,
      summary: false
    }"
    [noDataText]="'aucun-ordre' | localize"
    [showBorders]="false"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    (onContentReady)="onContentReady($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onRowDblClick)="onRowDblClick($event)"
    (onCellClick)="onCellClick($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        '',
        $event,
        gridConfiguratorService.Grid.OrdreLigneHistorique,
        enableFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
    <dxo-export fileName="Historique des ordres"></dxo-export>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-selection
      *ngIf="true"
      mode="multiple"
      [allowSelectAll]="false"
      [showCheckBoxesMode]="'always'"
      [selectAllMode]="'page'"
    ></dxo-selection>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.OrdreLigneHistorique"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <!-- <dxo-filter-row [visible]="false"></dxo-filter-row> -->
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>
    <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
      <!-- Colis summary in header -->
      <dxi-group-item
        *ngFor="let field of summaryFields"
        [name]="field"
        [column]="field"
        summaryType="custom"
        [alignByColumn]="true"
        [displayFormat]="'{0}'"
      >
      </dxi-group-item>
      <!-- Colis summary in groupFooter (for xlsx) -->
      <dxi-group-item
        column="nombreColisExpedies"
        summaryType="sum"
        showInColumn="nombreColisCommandes"
        [displayFormat]="'{0}'"
        [showInGroupFooter]="true"
      >
      </dxi-group-item>
      <!-- Date depart in groupFooter (for sorting purposes) -->
      <dxi-group-item
        *ngFor="let field of customSummaryFields"
        [name]="field"
        [column]="field"
        summaryType="custom"
        [alignByColumn]="true"
        [displayFormat]="'{0}'"
        [showInGroupFooter]="true"
      >
      </dxi-group-item>
    </dxo-summary>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [width]="column.width"
      [caption]="
        ('ordreLignesHisto-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [cellTemplate]="column.cellTemplate"
      [fixed]="column.fixed"
      [dataType]="column?.dataType"
      [cssClass]="column?.cssClass"
      [calculateCellValue]="this[column?.calculateCellValue]"
      [calculateGroupValue]="this[column?.calculateGroupValue]"
      [allowSearch]="
        column.allowSearch !== undefined
          ? column.allowSearch
          : ['string'].includes(column.dataType)
      "
      [allowHeaderFiltering]="
        column.allowHeaderFiltering !== undefined
          ? column.allowHeaderFiltering
          : ['string'].includes(column.dataType)
      "
      [showInColumnChooser]="column?.showInColumnChooser"
    >
      <dxo-header-filter
        *ngIf="column.dataField === 'ordre.statut'"
        [dataSource]="ordresService.getStatutsSource()"
      ></dxo-header-filter>
    </dxi-column>

    <dxo-toolbar>
      <dxi-item location="after">
        <!-- Export functionnality -->
        <dx-button
          class="export-button"
          type="normal"
          icon="xlsxfile"
          hint="{{ 'btn-export-xlsx' | localize }}"
          (onClick)="ordreLignesService.onExporting(datagrid?.instance, this)"
        ></dx-button>
        <!-- Grouping functionnality -->
        <dx-button
          class="grid-grouping-button"
          type="default"
          icon="material-icons menu_open"
          hint="{{ 'btn-grouping' | localize }}"
          (onClick)="gridsService.expandCollapseGroups(this)"
        ></dx-button>
        <!-- Create order functionnality -->
        <dx-button
          #createOrderButton
          [disabled]="
            !datagrid?.instance?.getSelectedRowsData()?.length ||
            !formGroup?.get('entrepot')?.value?.id ||
            running?.createOrder
          "
          class="create-direct-order-button"
          type="success"
          text="{{ 'creer-ordre' | localize }}"
          (onClick)="createDirectOrder()"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>

    <!-- Allow to sort groups by date -->
    <dxi-sort-by-group-summary-info
      [summaryItem]="
        switchDepartLivraison?.value
          ? 'ordre.dateLivraisonPrevue'
          : 'ordre.dateDepartPrevue'
      "
    >
    </dxi-sort-by-group-summary-info>

    <div *dxTemplate="let cell of 'zoomButtonTemplate'">
      <dx-button
        class="grid-zoom-button"
        type="default"
        icon="material-icons search"
        [focusStateEnabled]="false"
        (onClick)="openFilePopup(cell, $event)"
      >
      </dx-button>
    </div>
  </dx-data-grid>
</div>

<app-zoom-article-popup
  [articleLigneId]="articleLigneId"
></app-zoom-article-popup>

<app-nouvel-ordre
  [silent]="true"
  [injectedEntrepot]="formGroup?.get('entrepot')?.value"
  (whenError)="onCreateError()"
  (whenCreated)="insertArticlesOnNewOrder($event)"
></app-nouvel-ordre>

<app-associated-article-prompt></app-associated-article-prompt>
