<!-- LITIGES -->

<div *ngIf="noLitiges" class="nolitiges">
  {{ "ordres-litiges-noLitiges" | localize }}
</div>
<form
  *ngIf="noLitiges !== null && noLitiges !== true"
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <div class="content-block form-litiges">
    <dx-box direction="row">
      <dxi-item [ratio]="4">
        <div class="dx-form-group">
          <dx-box direction="row">
            <dxi-item [ratio]="6">
              <div class="dx-form-group-content">
                <!-- Numéro -->
                <div class="dx-field field-large">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-id" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="id"></dx-text-box>
                  </div>
                </div>
                <!-- Avoir client -->
                <div class="dx-field field-large">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-ordreAvoirClient" | localize }}
                  </div>
                  <div class="dx-field-value" formGroupName="ordreAvoirClient">
                    <dx-text-box formControlName="id"></dx-text-box>
                  </div>
                </div>
                <!-- Avoir fournisseur -->
                <div class="dx-field field-large">
                  <div class="dx-field-label">
                    {{
                      "ordres-litiges-ordreAvoirFournisseurReference" | localize
                    }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="ordreAvoirFournisseurReference"
                    ></dx-text-box>
                  </div>
                </div>
              </div>
            </dxi-item>
            <dxi-item [ratio]="4">
              <!-- Date création -->
              <div class="dx-field">
                <div class="dx-field-label">&nbsp;</div>
                <div class="dx-field-value">
                  <dx-date-box
                    formControlName="dateCreation"
                    [readOnly]="true"
                  ></dx-date-box>
                </div>
              </div>
              <!-- Date avoir client-->
              <div class="dx-field">
                <div class="dx-field-label">&nbsp;</div>
                <div class="dx-field-value">
                  <dx-date-box
                    formControlName="dateAvoirClient"
                    [readOnly]="true"
                  ></dx-date-box>
                </div>
              </div>
              <!-- Date avoir fournisseur-->
              <div class="dx-field">
                <div class="dx-field-label">&nbsp;</div>
                <div class="dx-field-value">
                  <dx-date-box
                    formControlName="dateAvoirFournisseur"
                    [readOnly]="true"
                  ></dx-date-box>
                </div>
              </div>
            </dxi-item>
          </dx-box>
          <dx-box>
            <dxi-item [ratio]="4">
              <!--  Client Clôturé -->
              <div class="dx-field">
                <div class="dx-field-label checkbox-label">
                  {{ "ordres-litiges-clientCloture" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-check-box
                    class="thin-checkbox"
                    [disabled]="true"
                    formControlName="clientCloture"
                  ></dx-check-box>
                </div>
              </div>
            </dxi-item>
            <dxi-item [ratio]="1"></dxi-item>
            <dxi-item [ratio]="4">
              <!-- OK Admin -->
              <div class="dx-field">
                <div class="dx-field-label checkbox-label">
                  {{ "ordres-litiges-clientValideAdmin" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-check-box
                    class="thin-checkbox"
                    [disabled]="true"
                    formControlName="clientValideAdmin"
                  ></dx-check-box>
                </div>
              </div>
            </dxi-item>
          </dx-box>
          <dx-box>
            <dxi-item [ratio]="4">
              <!-- Fournisseur Clôturé -->
              <div class="dx-field">
                <div class="dx-field-label checkbox-label">
                  {{ "ordres-litiges-fournisseurCloture" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-check-box
                    class="thin-checkbox"
                    [disabled]="true"
                    formControlName="fournisseurCloture"
                  ></dx-check-box>
                </div>
              </div>
            </dxi-item>
            <dxi-item [ratio]="1"></dxi-item>
            <dxi-item [ratio]="4">
              <!-- OK Admin -->
              <div class="dx-field">
                <div class="dx-field-label checkbox-label">
                  {{ "ordres-litiges-fournisseurValideAdmin" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-check-box
                    class="thin-checkbox"
                    [disabled]="true"
                    formControlName="fournisseurValideAdmin"
                  ></dx-check-box>
                </div>
              </div>
            </dxi-item>
          </dx-box>
          <dx-box direction="row">
            <dxi-item [ratio]="4">
              <!-- Réf Client-->
              <div class="dx-field">
                <div class="dx-field-label">
                  {{ "ordres-litiges-referenceClient" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-text-box formControlName="referenceClient"></dx-text-box>
                </div>
              </div>
            </dxi-item>
          </dx-box>
          <dx-box direction="row">
            <dxi-item [ratio]="4">
              <!-- Commentaires -->
              <div class="dx-field">
                <div class="dx-field-label">
                  {{ "ordres-litiges-commentairesInternes" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-text-box
                    formControlName="commentairesInternes"
                  ></dx-text-box>
                </div>
              </div>
            </dxi-item>
          </dx-box>
        </div>
      </dxi-item>
      <dxi-item [ratio]="0.4"></dxi-item>
      <dxi-item [ratio]="4">
        <dx-box>
          <dxi-item [ratio]="4">
            <div class="dx-form-group">
              <div class="dx-form-group-content">
                <!-- Avoir au client -->
                <div class="dx-field field-large">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-avoirClient" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="avoirClient"
                      [format]="{
                        type: 'currency',
                        currency: devise,
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
                <!-- Remise sur facture -->
                <div *ngIf="totalMontantRistourne" class="dx-field field-large">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-totalMontantRistourne" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="totalMontantRistourne"
                      [format]="{
                        type: 'currency',
                        currency: devise,
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
                <!-- Dde avoir fourni -->
                <div class="dx-field field-large">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-ddeAvoirFournisseur" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="avoirFournisseur"
                      [format]="{
                        type: 'currency',
                        currency: devise,
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
                <!-- fraisAnnexes -->
                <div class="dx-field field-large">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-fraisAnnexes" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="fraisAnnexes"
                      [format]="{
                        type: 'currency',
                        currency: devise,
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
                <br />
                <!-- Résultat -->
                <div class="dx-field field-large border-top">
                  <div class="dx-field-label">
                    {{ "ordres-litiges-resultat" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-number-box
                      #resultat
                      [format]="{
                        type: 'currency',
                        currency: devise,
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
              </div>
            </div>
          </dxi-item>
          <dxi-item [ratio]="0.4"></dxi-item>
          <dxi-item [ratio]="1">
            <div class="dx-form-group">
              <div class="dx-form-group-content">
                <!-- Avoir au client Taux-->
                <div class="dx-field field-small">
                  <div class="dx-field-label"></div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="avoirClientTaux"
                      [format]="{
                        type: 'fixedPoint',
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
                <!-- Remise sur facture Taux-->
                <div *ngIf="totalMontantRistourne" class="dx-field field-small">
                  <div class="dx-field-label"></div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="totalMontantRistourneTaux"
                      [format]="{
                        type: 'fixedPoint',
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
                <!-- Dde avoir fourni Taux -->
                <div class="dx-field field-small">
                  <div class="dx-field-label"></div>
                  <div class="dx-field-value">
                    <dx-number-box
                      formControlName="avoirFournisseurTaux"
                      [format]="{
                        type: 'fixedPoint',
                        precision: 2
                      }"
                    >
                    </dx-number-box>
                  </div>
                </div>
              </div>
            </div>
          </dxi-item>
        </dx-box>
      </dxi-item>
    </dx-box>
  </div>
</form>
