::ng-deep .form-litiges .dx-field-value {
    width:200px;
}
::ng-deep .form-litiges .dx-field-label.shortLabel {
    width:20px !important;
}
::ng-deep .form-litiges .dx-field {
    margin-top:0 !important;
    margin-bottom:0 !important;
}