// Var
@import "themes/generated/variables.base";

::ng-deep .form-litiges {
  width: calc(100% - 340px);
  margin: 0 0 20px 0;
  float: left;

  .dx-field-value {
    width: 200px;
  }

  .montants-litiges {

    .dx-field-label {
      width: 100% !important;
    }

    .dx-field-value {
      input {
        text-align: right !important;
      }
    }
  }

  .dx-field-label.shortLabel {
    width: 20px !important;
  }

  .dx-field {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .border-top {
    border-top: 2px solid #00759c;
  }

  .dx-form-group .dx-checkbox.dx-state-readonly {
    pointer-events: none;

    &.dx-checkbox-checked .dx-checkbox-icon {
      background: #79b23f !important;
    }
  }

  .btn-frais-annexes {
    width: 100% !important;
    height: auto;
    min-height: 36px;

    .dx-button-content {
      padding: 4px 13px 7px 13px !important;

      .dx-button-text {
        font-size: 13px;
      }
    }
  }

  .cloture-info {
    background: #eee;
    padding: 0 10px;
  }

  .cloture-box-adjust {
    margin: 8px 0 -8px 0;
  }
}

::ng-deep .litige-btn-container {
  position: relative;
  top: 1px;
  margin: -20px 0 18px 0;
  overflow: hidden;

  .litige-btn-subcontainer {
    position: relative;
    width: 170px;
    float: left;
    overflow: hidden;
  }
}

::ng-deep .litige-btn-container,
.form-litiges {
  .dx-button {
    width: calc(100% - 10px);
    margin: 4px 2px;

    &.dx-button-normal {
      .dx-button-text {
        color: rgba(0, 0, 0, 0.87) !important;
      }
    }

    .dx-button-content {
      padding: 4px 8px 7px 8px !important;

      .dx-button-text {
        font-size: 13px;
      }
    }
  }
}

::ng-deep .nolitiges {
  text-align: center;
  font-size: 16px;
  color: rgba(102, 102, 102, 0.87);
}

::ng-deep .create-litige-btn {
  margin-top: 15px;

  .dx-button-content {
    padding: 0 22px 4px 22px !important;
  }
}
