::ng-deep .form-litiges .dx-field-value {
    width:200px;
}
::ng-deep .form-litiges .dx-field-label.shortLabel {
    width:20px !important;
}
::ng-deep .form-litiges .dx-field {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

::ng-deep .nolitiges {
    text-align:center;
    font-size:16px;
    margin-bottom:15px;
}

::ng-deep .form-litiges {
    margin:0 0 20px 0;
}

::ng-deep .border-top {
    border-top:2px solid #00759C;
}