<dx-button
  class="black"
  height="auto"
  width="100%"
  text="{{ 'btn-historique' | localize }}"
  [visible]="this.btnVisible"
  (onClick)="this.visible = true"
></dx-button>

<dx-popup
  width="900"
  [visible]="this.visible"
  [showTitle]="true"
  [dragEnabled]="false"
  [resizeEnabled]="true"
  title="{{ 'btn-historique' | localize }}"
  [(visible)]="this.visible"
  [hideOnOutsideClick]="true"
>
  <div *dxTemplate="let d of 'content'">
    <dx-data-grid
      [columnAutoWidth]="true"
      (onContentReady)="sortGrid()"
      [dataSource]="this.historique"
    >
      <dxi-column
        caption="{{ 'date-modification' | localize }}"
        dataField="dateModification"
        dataType="datetime"
      ></dxi-column>
      <dxi-column
        caption="{{ 'action' | localize }}"
        dataField="valide"
      ></dxi-column>
      <dxi-column
        caption="{{ 'user-modification' | localize }}"
        dataField="userModification"
      ></dxi-column>
      <dxi-column
        caption="{{ 'commentaire' | localize }}"
        dataField="commentaire"
        width="400"
      >
        ></dxi-column
      >
    </dx-data-grid>
  </div>
</dx-popup>
