<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [fullScreen]="this.popupFullscreen"
  width="820"
  height="auto"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-end">{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="exitPopup()"
    ></dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <app-grid-frais-annexes-litige
    [infosLitige]="litige"
    (totalFraisSaved)="updateTotalFrais()"
  ></app-grid-frais-annexes-litige>

  <br />
  <div class="frais-annexes-expl red-font">
    {{ "frais-annexes-expl" | localize }}
  </div>
  <br />

  <div class="popup-buttons-container">
    <dx-button
      type="default"
      [disabled]="datagridComponent?.datagrid?.instance?.hasEditData()"
      text="ok"
      (onClick)="hidePopup()"
    ></dx-button>
  </div>
</dx-popup>
