<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [width]="600"
  [height]="500"
  [(visible)]="visible"
  title="{{ 'ordre-regularisation-creation' | localize }}"
  [focusStateEnabled]="false"
  (onShowing)="onShowing($event)"
  (onHiding)="onHiding()"
  (onHidden)="onHidden()"
>
  <!-- Subtitle -->
  <div class="blue-text">
    {{ "text-popup-regularisation-subtitle" | localize }}
  </div>
  <br />

  <!-- Motif list -->
  <dx-list
    class="list-motif"
    [dataSource]="dataSource"
    [height]="180"
    [displayExpr]="'description'"
    selectionMode="multiple"
    selectAllMode="false"
    [showSelectionControls]="true"
    [selectedItemKeys]="[]"
    (onSelectionChanged)="onSelectionChanged($event)"
  ></dx-list>
  <br />

  <!-- Solution -->
  <div class="blue-text">
    {{ "text-popup-regularisation-solution" | localize }}
  </div>
  <div class="dx-field radio-group-popup">
    <div class="dx-field-value">
      <dx-radio-group
        #typeRegul
        [items]="typesRegul"
        [value]="null"
        layout="horizontal"
      >
      </dx-radio-group>
    </div>
  </div>

  <!-- Conserver détail -->
  <div class="dx-field field-large midLarge">
    <div class="dx-field-label">
      {{ "text-popup-regularisation-conserver" | localize }}
    </div>
    <div class="dx-field-value">
      <dx-check-box #conserverDetail></dx-check-box>
    </div>
  </div>

  <br />
  <div class="popup-buttons-container">
    <dx-button
      type="default"
      text="{{ 'btn-annuler' | localize }}"
      (onClick)="cancelClick()"
    ></dx-button>
    <dx-button
      type="normal"
      text="{{ 'btn-creation-ordre-regul' | localize }}"
      [disabled]="!typeRegul.value || !motif || running"
      (onClick)="applyClick()"
    ></dx-button>
  </div>
</dx-popup>
