@import "../../../../themes/generated/variables.base.scss";

::ng-deep .program-chooser-panel {
  display: inline-block;
}

::ng-deep .dx-context-menu.program-chooser-menu {
  &.dx-rtl {
    .dx-submenu .dx-menu-items-container .dx-icon {
      margin-left: 16px;
    }
  }

  .dx-submenu .dx-menu-items-container .dx-icon {
    margin-right: 16px;
  }

  .dx-menu-item .dx-menu-item-content {
    padding: 3px 15px 4px;
    color: $base-text-color;
  }
}

::ng-deep
  .dx-theme-generic
  .program-chooser-menu
  .dx-menu-item-content
  .dx-menu-item-text {
  padding-left: 4px;
  padding-right: 4px;
}
