<form [formGroup]="entrepotForm" (ngSubmit)="onSubmit()">
    <div class="content-block">
      <h2>
        {{ 'tiers-entrepots-details-title' | localize }}
        <dx-button style="float: right;" type="default" text="{{ 'btn-valider' | localize }}" [useSubmitBehavior]="true"></dx-button>
      </h2>
    </div>

    <div class="content-block entrepot-page">
        <dx-box direction="row">
          <dxi-item [ratio]="1">
            <h4 class="entity-id">N° {{ entrepot?.id }}</h4>
            <dx-button
              height="auto"
              type="danger"
              icon="material-icons person"
              text="{{ 'tiers-entrepots-contacts' | localize }}"
              (onClick)="contactsBtnClick()">
            </dx-button>

            <dx-check-box
              class="vertical"
              formControlName="valide"
              [text]="entrepotForm.get('valide') ? 'valide' : 'invalide' | localize"
            ></dx-check-box>
          </dxi-item>
          <dxi-item [ratio]="0.3">
          </dxi-item>
          <dxi-item [ratio]="4">
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-entrepots-details-groupe-infos' | localize }}</span>

              <div class="dx-form-group-content">
                <!-- Code -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-code' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="code">
                      <dxi-button
                        name="help"
                        location="after"
                        [options]="helpBtnOptions">
                      </dxi-button>
                        <dx-validator name="{{ 'tiers-entrepots-code' | localize }}">
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                    <dx-popover
                      target="#help-1"
                      position="bottom"
                      [width]="300"
                      [(visible)]="defaultVisible">
                      <div *dxTemplate="let data = model of 'content'">
                        Texte d'aide contextuelle
                      </div>
                    </dx-popover>
                  </div>
                </div>

                <!-- Commercial -->
                <div class="dx-field">
                    <div class="dx-field-label">{{ 'tiers-entrepots-commercial' | localize }}</div>
                    <div class="dx-field-value">
                    <dx-select-box
                        formControlName="commercial"
                        [items]="commerciaux"
                        valueExpr="id"
                        displayExpr="nomUtilisateur"
                    >
                      <dx-validator name="{{ 'tiers-entrepots-commercial' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                    </div>
                </div>

                <!-- Assistante -->
                <div class="dx-field">
                    <div class="dx-field-label">{{ 'tiers-entrepots-assistante' | localize }}</div>
                    <div class="dx-field-value">
                    <dx-select-box
                        formControlName="assistante"
                        [items]="assistantes"
                        valueExpr="id"
                        displayExpr="nomUtilisateur"
                    >
                      <dx-validator name="{{ 'tiers-entrepots-assistante' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                    </div>
                </div>

                <!-- Mode de livraion -->
                <div class="dx-field">
                    <div class="dx-field-label">{{ 'tiers-entrepots-modeLivraison' | localize }}</div>
                    <div class="dx-field-value">
                    <dx-select-box
                        formControlName="modeLivraison"
                        [items]="modesLivraison"
                        valueExpr="id"
                        displayExpr="description"
                    ></dx-select-box>
                    </div>
                </div>

              </div>
            </div>

            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-entrepots-details-groupe-adresses' | localize }}</span>

              <div class="dx-form-group-content">
                <!-- Raison sociale -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-raisonSocial' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="raisonSocial">
                      <dx-validator name="{{ 'tiers-entrepots-raisonSocial' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Adresse 1 -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-adresse1' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="adresse1"></dx-text-box>
                  </div>
                </div>

                <!-- Adresse 2 -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-adresse2' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="adresse2"></dx-text-box>
                  </div>
                </div>

                <!-- Adresse 3 -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-adresse3' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="adresse3"></dx-text-box>
                  </div>
                </div>

                <!-- Code postal -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-codePostal' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="codePostal">
                      <dx-validator name="{{ 'tiers-entrepots-codePostal' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Ville -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-ville' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="ville">
                      <dx-validator name="{{ 'tiers-entrepots-ville' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Pays -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-pays' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="pays"
                      [items]="pays"
                      valueExpr="id"
                      displayExpr="description"
                    >
                      <dx-validator name="{{ 'tiers-entrepots-pays' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
              </div>
            </div>
          </dxi-item>
          <dxi-item [ratio]="0.2">
          </dxi-item>
          <dxi-item [ratio]="4">
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-entrepots-details-groupe-references' | localize }}</span>

              <div class="dx-form-group-content">

                <!-- Lieu fonction EAN Dépôt-->
                <div class="dx-field">
                    <div class="dx-field-label">{{ 'tiers-entrepots-lieuFonctionEANDepot' | localize }}</div>
                    <div class="dx-field-value">
                      <dx-text-box formControlName="lieuFonctionEANDepot"></dx-text-box>
                    </div>
                </div>

                <!-- Lieu fonction EAN Acheteur-->
                <div class="dx-field">
                    <div class="dx-field-label">{{ 'tiers-entrepots-lieuFonctionEANAcheteur' | localize }}</div>
                    <div class="dx-field-value">
                      <dx-text-box formControlName="lieuFonctionEANAcheteur"></dx-text-box>
                    </div>
                </div>

                <!-- Langue -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-langue' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="langue"
                      [items]="pays"
                      valueExpr="id"
                      displayExpr="description"
                    >
                      <dx-validator name="{{ 'tiers-entrepots-langue' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>

                <!-- tvaCee -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-idTVA' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="idTVA"></dx-text-box>
                  </div>
                </div>
              </div>

                <!-- Type palette -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-typePalette' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="typePalette"
                      [items]="typesPalette"
                      valueExpr="id"
                      displayExpr="description"
                    ></dx-select-box>
                  </div>
                </div>

                <!-- Incoterm -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-incoterm' | localize }}</div>
                  <div class="dx-field-value">
                  <dx-text-box formControlName="incoterm"></dx-text-box>
                  </div>
                </div>

              <!-- Indications sur facture -->
              <dx-accordion
                [collapsible]="true"
                [multiple]="false"
                [selectedIndex]="-1"
              >
                <dxi-item title="{{ 'tiers-entrepots-details-groupe-indicationFacture' | localize }}">

                    <!-- Mention client facture -->
                    <div class="dx-field">
                      <div class="dx-field-label">{{ 'tiers-entrepots-mentionClientFacture' | localize }}</div>
                      <div class="dx-field-value">
                        <dx-text-area formControlName="mentionClientFacture"></dx-text-area>
                      </div>
                    </div>

                </dxi-item>

              </dx-accordion>

            </div>

            <!-- Infos commerciales -->
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-entrepots-details-groupe-infocomm' | localize }}</span>

              <div class="dx-form-group-content">

                <!-- Regime Tva -->
                <div class="dx-field">
                    <div class="dx-field-label">{{ 'tiers-entrepots-regimeTva' | localize }}</div>
                    <div class="dx-field-value">
                      <dx-select-box
                        formControlName="regimeTva"
                        [dataSource]="regimeTva"
                        displayExpr="description"
                        valueExpr="id"
                      ></dx-select-box>
                    </div>
                </div>

                <!-- Type entrepot -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-Transporteur' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="transporteur"
                      [dataSource]="entrepot"
                      displayExpr="description"
                      valueExpr="id"
                    ></dx-select-box>
                  </div>
              </div>

                <!-- Base tarif transport -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-baseTarifTransport' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="baseTarifTransport"
                      [items]="baseTarifsTransport"
                    ></dx-select-box>
                  </div>
                </div>

                <!-- PU Tarif transport -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-PUTarifTransport' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="PUTarifTransport"></dx-text-box>
                  </div>
                </div>

                <!-- Type Camion -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-typeCamion' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="typeCamion"
                      [items]="typesCamion"
                    ></dx-select-box>
                  </div>
                </div>

                <!-- Transitaire -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-transitaire' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="transitaire"
                      [items]="transitaires"
                    ></dx-select-box>
                  </div>
                </div>

                <!-- Base tarif transit -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-baseTarifTransit' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="baseTarifTransit"
                      [items]="baseTarifsTransit"
                    ></dx-select-box>
                  </div>
                </div>

                <!-- PU tarif transit -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-entrepots-PUTarifTransit' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="PUTarifTransit"></dx-text-box>
                  </div>
                </div>

              </div>

              <!-- Autres infos commerciales -->
              <dx-accordion
                [collapsible]="true"
                [multiple]="false"
                [selectedIndex]="-1"
              >
                <dxi-item title="{{ 'tiers-entrepots-details-groupe-autres' | localize }}">

                    <!-- gestionnaire CHEP -->
                    <div class="dx-field">
                      <div class="dx-field-label">{{ 'tiers-entrepots-gestionnaireCHEP' | localize }}</div>
                      <div class="dx-field-value">
                        <dx-text-box formControlName="gestionnaireCHEP"></dx-text-box>
                      </div>
                    </div>

                    <!-- référence n° CHEP -->
                    <div class="dx-field">
                      <div class="dx-field-label">{{ 'tiers-entrepots-referenceCHEP' | localize }}</div>
                      <div class="dx-field-value">
                        <dx-text-box formControlName="referenceCHEP"></dx-text-box>
                      </div>
                    </div>

                    <!-- declaration EUR1 -->
                    <div class="dx-field">
                      <div class="dx-field-label">{{ 'tiers-entrepots-declarationEUR1' | localize }}</div>
                      <div class="dx-field-value">
                        <dx-check-box formControlName="declarationEUR1"></dx-check-box>
                      </div>
                    </div>

                    <!-- Envoi auto détail -->
                    <div class="dx-field">
                      <div class="dx-field-label">{{ 'tiers-entrepots-envoiAutoDetail' | localize }}</div>
                      <div class="dx-field-value">
                        <dx-check-box formControlName="envoiAutoDetail"></dx-check-box>
                      </div>
                    </div>

                    <!-- Contrôle réf client -->
                    <div class="dx-field">
                      <div class="dx-field-label">{{ 'tiers-entrepots-controleRefClient' | localize }}</div>
                      <div class="dx-field-value">
                        <dx-text-box formControlName="controleRefClient"></dx-text-box>
                      </div>
                    </div>

                </dxi-item>

              </dx-accordion>
            </div>
          </dxi-item>
        </dx-box>

        <dx-box
        direction="row">
          <dxi-item [ratio]="4">
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-entrepots-details-groupe-instructSecrComm' | localize }}</span>
              <div class="dx-form-group-content">
                <!-- Instructions secr comm -->
                <div class="dx-field">
                 <div class="dx-field-value">
                    <dx-text-area formControlName="instructSecrComm"></dx-text-area>
                  </div>
                </div>
              </div>
            </div>
          </dxi-item>
          <dxi-item [ratio]="0.2">
          </dxi-item>
          <dxi-item [ratio]="4">
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-entrepots-details-groupe-instructLogistique' | localize }}</span>
              <div class="dx-form-group-content">
                <!-- Instructions logistique -->
                <div class="dx-field">
                  <div class="dx-field-value">
                    <dx-text-area formControlName="instructLogistique"></dx-text-area>
                  </div>
                </div>
              </div>
            </div>
          </dxi-item>
        </dx-box>

    </div>
  </form>
