::ng-deep .form-ordres-page .thin-checkbox {
    margin:12px 0 !important;
}

::ng-deep .form-ordres-page .dx-toolbar-item-auto-hide .dx-item-content {
    width:36px;
}

::ng-deep .main-search-container {
    width:900px;
    margin-bottom:20px;
}
::ng-deep .campagne-label {
    width: 58%;
    text-transform: capitalize;
}
::ng-deep .width0pct {
    width: 0% !important;
}