<br />
<div class="main-search-container">
  <dx-box direction="row">
    <dxi-item [ratio]="12">
      <div class="dx-field">
        <div class="dx-field-label">Rechercher</div>
        <div class="dx-field-value">
          <dx-autocomplete
            placeholder="..."
            (onEnterKey)="findOrder()"
            (onKeyDown)="this.showGridResults = false"
          >
          </dx-autocomplete>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="1"></dxi-item>
    <dxi-item [ratio]="10">
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "rechOrdres-critere" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #searchCriteria
            [items]="searchItems"
            [displayExpr]="searchDisplayExpr"
            (valueChange)="changeSearchCriteria()"
          >
            <dxo-drop-down-options> [width]="250"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="1"></dxi-item>
    <dxi-item [ratio]="11">
      <div class="dx-field field-large">
        <div class="dx-field-label campagne-label">
          {{ campagneEnCours?.description }}
        </div>
        <div class="dx-field-value width0pct">
          <dx-check-box
            #currCampaign
            [value]="true"
            (valueChange)="changeCampaign()"
          >
          </dx-check-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
</div>
<app-grid-suivi
  [filter]="filter"
  *ngIf="showGridResults"
  (ordreSelected)="handleOrdreSelection($event)"
></app-grid-suivi>
<br />
<div class="histo-container">
  <app-grid-historique
    (ordreSelected)="handleOrdreSelection($event)"
  ></app-grid-historique>
</div>
