// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-annule-remplace {
  max-width: none !important;
}

::ng-deep .copy-paste-firstrow-button {
  position: absolute;
  right: 190px;
  margin-top: 15px;
  font-size: 13px;
  border-radius: 10px !important;
  height: 23px;
  font-size: 11px;
  z-index: 1;

  .dx-button-content {
    padding: 1px 13px;
  }
}
