// Var
@import "src/themes/generated/variables.base.scss";
@import "scss/variables.scss";

.dx-fieldset {
  display: flex;
}

.dx-field {
  margin-right: 20px;
}

::ng-deep .bold-text {
  font-weight: bold !important;
}

::ng-deep .paloxAccountsFilterArea {
  width: 1024px;
  background: #eee;


  .onlyValideCheckbox .dx-field-label {
    width: 102px !important;
  }

  .dx-field:not(.palox-switch) {
    margin-bottom: 0;
  }

  .palox-switch {
    .dx-field-value {
      width: 36px !important;
      margin-right: 10px;

      .dx-switch {
        margin: 6px 0;
      }
    }

    .dx-field-label {
      width: 56% !important;

      &.dx-field-label-left {
        width: 34% !important;
        text-align: right !important;
      }

      &.dx-field-label-right {
        text-align: left !important;
      }
    }
  }
}

.palox-grids {
  max-height: calc(100vh - 308px) !important;
}

// Highlight client groups
::ng-deep {
  .dx-row:not(.dx-row-focused) {
    .group-palox-header {
      background: $BW-orange-dark;
      color: white;
    }

    .subgroup-palox-header {
      background: $BW-orange-medium;
      color: white;
    }

    .subgroup2-palox-header {
      background: $BW-orange-ultralight;
    }
  }

  .small-action-button {
    position: relative;
    float: right;
    margin: 0 5px;
    height: 20px;
    line-height: 14px;
    padding: 0;
    font-size: 11px;

    .dx-button-content {
      padding: 6px 9px;

      .dx-button-text {
        line-height: 11px;
      }
    }
  }

  .group-text-1 {
    position: relative;
    margin-top: 3px;
    height: auto;
    width: 400px;
    white-space: initial;
    line-height: 16px;
    float: left;
  }

  .group-text-2 {
    position: relative;
    top: 1px;
    padding: 10px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.7);
    float: left;
  }

  .group-text-3 {
    position: relative;
    top: 1px;
    padding: 10px 0 10px 10px;
    margin-left: 20px;
    color: #fff;
    float: right;
  }

  .group-text-4 {
    position: relative;
    top: 1px;
    padding: 10px 0 10px 10px;
    color: rgba(0, 0, 0, 0.7);
    float: right;
  }
}
