<form
  class="dx-fieldset"
  [formGroup]="formGroup"
>
  <div class="paloxAccountsFilterArea">
    <dx-box>
      <dxi-item [ratio]="8">
        <div class="dx-field palox-switch">
          <div class="dx-field-label dx-field-label-left">
            {{ "ordres-palox-mouvements" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-switch
              #switchType
              data-name="recapitulatif"
              [switchedOnText]=""
              [switchedOffText]=""
              (onValueChanged)="switchChange($event)"
            ></dx-switch>
          </div>
          <div class="dx-field-label dx-field-label-right">
            {{ "ordres-palox-recapitulatif" | localize }}
          </div>
        </div>

        <div class="dx-field palox-switch">
          <div class="dx-field-label dx-field-label-left">
            {{ "tiers-clients-title" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-switch
              #switchEntity
              data-name="fournisseurs"
              [switchedOnText]=""
              [switchedOffText]=""
              (onValueChanged)="switchChange($event)"
            ></dx-switch>
          </div>
          <div class="dx-field-label dx-field-label-right">
            {{ "tiers-fournisseurs-title" | localize }}
          </div>
        </div>
      </dxi-item>
      <dxi-item [ratio]="8">
        <!-- Commercial -->
        <div class="dx-field">
          <div class="dx-field-label noEllipsis">
            {{ "tiers-clients-commercial" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-select-box
              formControlName="commercial"
              [dataSource]="commercial"
              [displayExpr]="displayCodeBefore"
              [showClearButton]="true"
              [searchExpr]="['id', 'nomUtilisateur']"
            >
            </dx-select-box>
          </div>
        </div>
        <!-- Client -->
        <div
          class="dx-field"
          *ngIf="!switchEntity.value"
        >
          <div class="dx-field-label noEllipsis">
            {{ "tiers-client" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-select-box
              formControlName="entrepot"
              [dataSource]="entrepot"
              [displayExpr]="displayCodeBefore"
              [showClearButton]="true"
              [searchExpr]="['code']"
            >
              <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
            </dx-select-box>
          </div>
        </div>
        <!-- Fournisseur -->
        <div
          class="dx-field"
          *ngIf="switchEntity.value"
        >
          <div class="dx-field-label noEllipsis">
            {{ "tiers-fournisseur" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-select-box
              formControlName="fournisseur"
              [dataSource]="fournisseur"
              [displayExpr]="displayCodeBefore"
              [showClearButton]="true"
              [searchExpr]="['code']"
            >
              <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
            </dx-select-box>
          </div>
        </div>
      </dxi-item>
      <dxi-item [ratio]="7">
        <!-- Date max Mouvements -->
        <div class="dx-field field-large">
          <div class="dx-field-label">
            {{ "ordres-dateMaxMouvements" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-date-box
              formControlName="dateMaxMouvements"
              type="date"
              [displayFormat]="'dd-MM-yy'"
            ></dx-date-box>
          </div>
        </div>
      </dxi-item>
      <dxi-item [ratio]="3">
        <dx-button
          class="refresh"
          [width]="130"
          [class]="toRefresh ? '' : 'inactive-button'"
          type="default"
          text="{{ 'btn-refresh' | localize }}"
          (onClick)="enableFilters()"
        ></dx-button>
      </dxi-item>
    </dx-box>
  </div>
  <br />
</form>

<dx-button
  class="grid-grouping-button"
  type="default"
  icon="material-icons menu_open"
  hint="{{ 'btn-grouping' | localize }}"
  (onClick)="expandCollapseGroups()"
></dx-button>

<!-- ------------------------ -->
<!-- Mouvements palox clients -->
<!-- ------------------------ -->
<dx-data-grid
  #MouvClientsComptesPalox
  class="palox-grids"
  [remoteOperations]="{ paging: true }"
  [showBorders]="false"
  [focusedRowEnabled]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  (onRowDblClick)="onRowDblClick($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Mouvements Palox par client',
      $event,
      gridConfiguratorService.Grid.MouvClientsComptesPalox,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging>[pageSize]="10"</dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.MouvClientsComptesPalox"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>
  <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
    <dxi-group-item
      [name]="'solde_mouvement'"
      [summaryType]="'custom'"
      [displayFormat]="'Solde : {0}'"
    ></dxi-group-item>
  </dxo-summary>
  <dxi-column
    *ngFor="let column of this.columns[0] | async"
    [dataField]="column.dataField"
    [width]="column.width"
    [format]="column.format"
    [visible]="false"
    [caption]="
      ('comptesPalox-entrepots-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [groupCellTemplate]="column.groupCellTemplate"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>

  <div *dxTemplate="let cell of 'groupCellButtonsTemplate'">
    <div class="group-text-1">
      {{ getInventoryData(cell.data) }}
    </div>
    <div class="group-text-4">{{ inventoryDate(cell.data) }}</div>
    <dx-button
      [visible]="getInventoryData(cell.data) !== ''"
      class="small-action-button float-left"
      type="normal"
      (onClick)="adjustPalox(cell.data, 'adjust')"
      text="{{ 'ajuster' | localize }}"
    ></dx-button>
    <div class="group-text-2">{{ getSoldeMouvement(cell.data) }}</div>
    <dx-button
      [visible]="getInventoryData(cell.data) !== ''"
      class="small-action-button"
      type="normal"
      (onClick)="adjustPalox(cell.data, 'inventory')"
      text="{{ 'inventaire' | localize }}"
    ></dx-button>
  </div>
</dx-data-grid>

<!-- --------------------------- -->
<!-- Récapitulatif palox clients -->
<!-- --------------------------- -->
<dx-data-grid
  #RecapClientsComptesPalox
  class="palox-grids"
  [visible]="false"
  [remoteOperations]="{ paging: true }"
  [showBorders]="false"
  [focusedRowEnabled]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onRowDblClick)="onRowDblClick($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Récapitulatif Palox par entrepôts',
      $event,
      gridConfiguratorService.Grid.RecapClientsComptesPalox,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Récapitulatif palox clients"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging>[pageSize]="10"</dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.RecapClientsComptesPalox"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>

  <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
    <dxi-group-item
      [name]="'solde_recap'"
      [summaryType]="'custom'"
      [displayFormat]="'Solde : {0}'"
    ></dxi-group-item>
  </dxo-summary>

  <dxi-column
    *ngFor="let column of this.columns[1] | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column.width"
    [groupCellTemplate]="column.groupCellTemplate"
    [caption]="
      ('comptesPalox-entrepots-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>

  <div *dxTemplate="let cell of 'groupCellButtonsTemplate'">
    <div class="group-text-1">
      {{ getInventoryData(cell.data) }}
    </div>
    <div class="group-text-3">{{ getSoldeGeneralRecapClient(cell.data) }}</div>
  </div>
</dx-data-grid>

<!-- ----------------------------- -->
<!-- Mouvements palox fournisseurs -->
<!-- ----------------------------- -->
<dx-data-grid
  #MouvFournisseursComptesPalox
  class="palox-grids"
  [visible]="false"
  [remoteOperations]="{ paging: true }"
  [showBorders]="false"
  [focusedRowEnabled]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onRowDblClick)="onRowDblClick($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Mouvements Palox par fournisseur',
      $event,
      gridConfiguratorService.Grid.MouvFournisseursComptesPalox,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Mouvements palox fournisseurs"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging>[pageSize]="10"</dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.MouvFournisseursComptesPalox"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  >
  </dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>
  <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
    <dxi-group-item
      [name]="'solde_mouvement'"
      [summaryType]="'custom'"
      [displayFormat]="'Solde : {0}'"
    ></dxi-group-item>
  </dxo-summary>
  <dxi-column
    *ngFor="let column of this.columns[2] | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column.width"
    [groupCellTemplate]="column.groupCellTemplate"
    [format]="column.format"
    [caption]="
      ('comptesPalox-fournisseurs-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>

  <div *dxTemplate="let cell of 'groupCellButtonsTemplate'">
    <div class="group-text-1">
      {{ getInventoryData(cell.data) }}
    </div>
    <div class="group-text-2">{{ getSoldeMouvement(cell.data) }}</div>
  </div>
</dx-data-grid>

<!-- -------------------------------- -->
<!-- Récapitulatif palox Fournisseurs -->
<!-- -------------------------------- -->
<dx-data-grid
  #RecapFournisseursComptesPalox
  class="palox-grids"
  [visible]="false"
  [remoteOperations]="{ paging: true }"
  [showBorders]="false"
  [focusedRowEnabled]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onRowDblClick)="onRowDblClick($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Récapitulatif Palox par fournisseur',
      $event,
      gridConfiguratorService.Grid.RecapFournisseursComptesPalox,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Récapitulatif palox fournisseurs"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging>[pageSize]="10"</dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.RecapFournisseursComptesPalox"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  >
  </dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>
  <dxi-column
    *ngFor="let column of this.columns[3] | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column.width"
    [groupCellTemplate]="column.groupCellTemplate"
    [caption]="
      ('comptesPalox-fournisseurs-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [calculateCellValue]="this[column?.calculateCellValue]"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>

  <div *dxTemplate="let cell of 'groupCellButtonsTemplate'">
    <div class="group-text-1">
      {{ getInventoryData(cell.data) }}
    </div>
    <div class="group-text-3">{{ getSoldeGeneralData(cell.data) }}</div>
  </div>
</dx-data-grid>

<app-ajust-decompte-palox-popup
  [purpose]="paloxPopupPurpose"
  [info]="info"
  (whenValidate)="onValidatePaloxPopup($event)"
></app-ajust-decompte-palox-popup>
