// Var
@import "themes/generated/variables.base";

::ng-deep .clients-article-ref-popup {
  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .close-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {
    padding-top: 10px;
    font-size: 15px;
    background: #fff;

    .option-stock-content-container {
      padding: 0 15px 0 2px;

      .bold-text {
        font-weight: bold !important;
      }

      .dx-texteditor {
        &.stock-resa-log {
          border: 1px dashed #ccc;
          padding: 0 10px;

          &:before {
            display: none;
          }

          textarea {
            font-size: 15px;
            line-height: 18px;
            color: $base-accent;
          }
        }
      }

      .article-detail-container {
        margin: 0 12px;
      }

      .blue-style {
        color: $base-accent;
      }

      .article-resa-description {
        margin-top: 2px;
        color: #444;
        font-size: 14px;
        line-height: 17px;
        text-align: justify;
        text-justify: distribute;
      }

      .grid-ordre-ligne-stock {
        margin-left: 2px;
      }

      .modif-items-container {
        overflow: hidden;
        padding: 16px 37px;
        width: 100%;
        background-color: #eee;

        .modif-item {
          padding: 2px 0 !important;
        }
      }

      .popup-buttons-container {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        .dx-button {
          margin: 5px;
          width: 100px;
        }
      }
    }
  }
}
