::ng-deep {
  td {
    .merged {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        padding: 5px;
        line-height: normal;
      }
    }

    .extra {
      > div {
        padding: 5px;
        line-height: normal;
      }
    }
  }
}
