<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <div
    class="content-block"
    *ngIf="!fournisseurLigneId"
  >
    <h2>
      <span *ngIf="createMode === true">{{ "create" | localize }}</span>
      {{ "tiers-fournisseurs-details-title" | localize
      }}<span class="red-font"> {{ preSaisie | localize }}</span>
      <div class="right">
        <dx-button
          class="upperButton submit"
          type="default"
          text="{{ 'btn-valider' | localize }}"
          [visible]="!readOnlyMode"
          [useSubmitBehavior]="true"
        ></dx-button>
        <dx-button
          class="upperButton"
          type="default"
          text="{{ 'btn-modifier' | localize }}"
          [visible]="readOnlyMode && !createMode"
          (onClick)="readOnlyMode = !readOnlyMode; changeCertifDates.value = false"
        ></dx-button>
        <dx-button
          class="upperButton"
          type="normal"
          text="{{ 'btn-annuler' | localize }}"
          [visible]="!readOnlyMode"
          (onClick)="onCancel()"
        ></dx-button>
      </div>
    </h2>
  </div>

  <div class="content-block fournisseur-page">
    <dx-box direction="row">
      <dxi-item
        [ratio]="1"
        [visible]="!createMode"
      >
        <h5
          *ngIf="!fournisseurLigneId"
          class="entity-id"
        >
          {{ fournisseur?.id }}
        </h5>
        <dx-button
          *ngIf="!fournisseurLigneId"
          height="auto"
          type="danger"
          icon="material-icons person"
          text="{{ 'tiers-fournisseurs-contacts' | localize }}"
          (onClick)="contactsBtnClick()"
        >
        </dx-button>
        <!--<dx-button
          height="auto"
          type="default"
          icon="material-icons home_work"
          text="{{ 'tiers-fournisseurs-partenaires' | localize }}">
        </dx-button>-->

        <dx-check-box
          #valideCheckBox
          class="vertical"
          formControlName="valide"
          [readOnly]="readOnlyMode"
          [text]="formGroup.get('valide') ? 'Valide' : ('Invalide' | localize)"
        ></dx-check-box>
        <app-historique-valide
          [historique]="fournisseur?.historique"
        ></app-historique-valide>
        <dx-button
          class="black"
          height="auto"
          icon="material-icons folder"
          [disabled]="!fournisseur"
          (onClick)="fileManagerClick()"
          text="{{ 'btn-docsjoints' | localize }}"
        >
        </dx-button>
      </dxi-item>
      <dxi-item
        [ratio]="0.3"
        [visible]="!createMode"
      ></dxi-item>
      <dxi-item [ratio]="8.2">
        <app-modification-list
          (listChange)="checkEmptyModificationList($event)"
          [entite]="'Fournisseur'"
          [entiteID]="fournisseur.id"
          *ngIf="!createMode && fournisseur"
        ></app-modification-list>
        <dx-box direction="row">
          <dxi-item [ratio]="4">
            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-infos" | localize
              }}</span>

              <div class="dx-form-group-content">
                <!-- Code -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-code" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="code"
                      [readOnly]="!createMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="onCodeChange($event)"
                      valueChangeEvent="keyup change"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-code' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="createMode"
                          [trim]="false"
                          type="stringLength"
                          [max]="12"
                        >
                        </dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="createMode"
                          type="pattern"
                          pattern="^[A-Z0-9]+$"
                          message="Seuls les caractères A-Z et 0-9 sont acceptés"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="createMode === true"
                          type="async"
                          message="Ce code est déjà utilisé"
                          [validationCallback]="checkCode"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Bureau achat -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-bureauAchat" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="bureauAchat"
                      [readOnly]="readOnlyMode"
                      [dataSource]="bureauxAchat"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-bureauAchat' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <!-- Identifiant Fournisseur -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-identifiant" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="identifiant"
                      [readOnly]="readOnlyMode"
                      [dataSource]="identifiant"
                      displayExpr="libelle"
                      [searchExpr]="['id']"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-identifiant' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <!-- Type fournisseur -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-typeFournisseur" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="type"
                      [readOnly]="readOnlyMode"
                      [dataSource]="typesFournisseur"
                      displayExpr="description"
                      [searchExpr]="['id']"
                      [showClearButton]="true"
                      (onValueChanged)="onNonRequiredSBChange($event)"
                    ></dx-select-box>
                  </div>
                </div>
                <!-- nature Station -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-natureStation" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="natureStation"
                      [readOnly]="readOnlyMode"
                      [dataSource]="naturesStation"
                      [showClearButton]="true"
                    ></dx-select-box>
                  </div>
                </div>
                <!-- id tracabilité -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-idTracabilite" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="idTracabilite"
                      [readOnly]="
                        !createMode &&
                        (readOnlyMode ||
                        !zeroTracaValue ||
                        !authService.currentUser.adminClient)
                      "
                      (onValueChanged)="onIDTracaChange($event)"
                      valueChangeEvent="keyup change"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-idTracabilite' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          type="numeric"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="3"
                          message="L'identifiant doit être sur 3 chiffres uniquement"
                        ></dxi-validation-rule>
                        <!-- Workaround. Apparemment bug de Devextreme qui apparait lorsqu'il y a 2 async validation rules sur la page, et crée une référence circulaire. -->
                        <dxi-validation-rule
                          *ngIf="IDTracaexists && !readOnlyMode"
                          type="stringLength"
                          [max]="0"
                          message="Cet identifiant est déjà utilisé"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          type="pattern"
                          pattern="^[0-9]+$"
                          message="Seuls les caractères 0-9 sont acceptés"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Code station -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-codeStation" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="codeStation"
                      [readOnly]="true"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-codeStation' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Langue -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-langue" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="langue"
                      [readOnly]="readOnlyMode"
                      [dataSource]="pays"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-langue' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <!-- tvaCee -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-tvaCee" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="tvaCee"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-tvaCee' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="20"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Incoterm -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-incoterm" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="incoterm"
                      [readOnly]="readOnlyMode"
                      [showClearButton]="true"
                      (onValueChanged)="onNonRequiredSBChange($event)"
                      [dataSource]="incoterms"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                    >
                    </dx-select-box>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-adresses" | localize
              }}</span>

              <div class="dx-form-group-content">
                <!-- Raison social -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-raisonSocial" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="raisonSocial"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-raisonSocial' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Adresse 1 -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-adresse1" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="adresse1"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-adresse1' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Adresse 2 -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-adresse2" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="adresse2"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-adresse2' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Adresse 3 -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-adresse3" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="adresse3"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-adresse3' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Code postal -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-codePostal" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="codePostal"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-codePostal' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="9"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Ville -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-ville" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="ville"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-ville' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Pays -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-pays" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="pays"
                      [readOnly]="readOnlyMode"
                      [dataSource]="pays"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-pays' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>

                <!-- Latitude -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-latitude" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="latitude"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-latitude' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="15"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- Longitude -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-longitude" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="longitude"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-longitude' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="15"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-emballage" | localize
              }}</span>

              <div class="dx-form-group-content">
                <!-- Ifco -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-referenceIfco" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="referenceIfco"
                      [readOnly]="readOnlyMode"
                      (onValueChanged)="
                        onIfcoChange($event); valueToUpperCase($event)
                      "
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-referenceIfco' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="10"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Date Debut Ifco -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-dateDebutIfco" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-date-box
                      formControlName="dateDebutIfco"
                      [readOnly]="readOnlyMode"
                      type="date"
                      dateSerializationFormat="yyyy-MM-dd"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-dateDebutIfco' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          *ngIf="ifcoChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-date-box>
                  </div>
                </div>

                <dx-box>
                  <dxi-item [ratio]="4">
                    <!-- Déclarant CHEP  -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-declarantCHEP" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="declarantCHEP"
                          [readOnly]="readOnlyMode"
                        >
                        </dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item [ratio]="1"></dxi-item>
                  <dxi-item [ratio]="4">
                    <!-- Bacs CHEP  -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-declarantBacsCHEP" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="declarantBacsCHEP"
                          [readOnly]="readOnlyMode"
                        >
                        </dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                </dx-box>

                <dx-box>
                  <dxi-item [ratio]="4">
                    <!-- Consigne Palox SA  -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-consignePaloxSa" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="consignePaloxSa"
                          [readOnly]="readOnlyMode"
                        >
                        </dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item [ratio]="1"></dxi-item>
                  <dxi-item [ratio]="4">
                    <!-- Consigne Palox UDC  -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-consignePaloxUdc" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="consignePaloxUdc"
                          [readOnly]="readOnlyMode"
                        >
                        </dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                </dx-box>
              </div>
            </div>
          </dxi-item>
          <dxi-item [ratio]="0.2"> </dxi-item>
          <dxi-item [ratio]="4">
            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-references" | localize
              }}</span>

              <div class="dx-form-group-content">
                <!-- Lieu fonction EAN -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-lieuFonctionEan" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="lieuFonctionEan"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-lieuFonctionEan' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Objectif marge € kilo Champ demandé à être supprimé léa 10/09/2021 -->
                <!-- <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-fournisseurs-margeObjectifEuroKilo' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="margeObjectifEuroKilo" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-fournisseurs-margeObjectifEuroKilo' | localize }}">
                        <dxi-validation-rule type="numeric"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div> -->
                <!-- Objectif marge % CA Champ demandé à être supprimé léa 10/09/2021 -->
                <!-- <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-fournisseurs-margeObjectifPourcentCa' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="margeObjectifPourcentCa" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-fournisseurs-margeObjectifPourcentCa' | localize }}">
                        <dxi-validation-rule type="numeric"></dxi-validation-rule>
                       </dx-validator>
                    </dx-text-box>
                  </div>
                </div> -->

                <!-- Contrat achat -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-conditionVente" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="conditionVente"
                      [readOnly]="true"
                      [dataSource]="conditionsVente"
                      displayExpr="id"
                      [searchExpr]="['id']"
                    >
                    </dx-select-box>
                  </div>
                </div>
                <dx-box>
                  <dxi-item [ratio]="4">
                    <!-- BW modifie détail -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{
                          "tiers-fournisseurs-indicateurModificationDetail"
                            | localize
                        }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="indicateurModificationDetail"
                          [readOnly]="
                            readOnlyMode || !authService.currentUser.adminClient
                          "
                        ></dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item [ratio]="1"></dxi-item>
                  <dxi-item [ratio]="4"> </dxi-item>
                </dx-box>

                <!-- listeSocietes  Champ demandé à être supprimé léa 10/09/2021 -->
                <!-- <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-fournisseurs-listeSocietes' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="listeSocietes" [readOnly]="readOnlyMode">
                    </dx-text-box>
                  </div>b
                </div> -->
              </div>
            </div>
            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-paiement" | localize
              }}</span>

              <div class="dx-form-group-content">
                <!-- Compte comptable -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-compteComptable" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="compteComptable"
                      [readOnly]="
                        readOnlyMode || !authService.currentUser.adminClient
                      "
                      (onValueChanged)="checkCompteComptable($event)"
                      valueChangeEvent="keyup change"
                    >
                      <dx-validator
                        name="{{ 'tiers-clients-compteComptable' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="35"
                        ></dxi-validation-rule>
                        <!-- Workaround. Apparemment bug de Devextreme qui apparait lorsqu'il y a 2 async validation rules sur la page, et crée une référence circulaire. -->
                        <dxi-validation-rule
                          *ngIf="createMode === true && CCexists"
                          type="stringLength"
                          [max]="0"
                          message="Ce code est déjà utilisé"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Regime Tva -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-regimeTva" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="regimeTva"
                      [readOnly]="readOnlyMode"
                      [dataSource]="regimesTva"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-regimeTva' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <!-- Devise -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-devise" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="devise"
                      [readOnly]="readOnlyMode"
                      [dataSource]="devises"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-devise' | localize }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <dx-box>
                  <dxi-item [ratio]="4">
                    <!-- Auto facturation ? -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-autoFacturation" | localize }}
                        ?
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="autoFacturation"
                          [readOnly]="
                            readOnlyMode || !authService.currentUser.adminClient
                          "
                          (onValueChanged)="onAutoFactChange($event)"
                        >
                        </dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item [ratio]="1"></dxi-item>
                  <dxi-item [ratio]="4"> </dxi-item>
                </dx-box>

                <!-- Incoterm (Ne sert pas ?) -->
                <!-- <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-fournisseurs-incoterm' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="incoterm"></dx-text-box>
                  </div>
                </div> -->

                <!-- Moyen Paiement -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-moyenPaiement" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="moyenPaiement"
                      [readOnly]="readOnlyMode"
                      [dataSource]="moyensPaiement"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                      [showClearButton]="true"
                      (onValueChanged)="onNonRequiredSBChange($event)"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-moyenPaiement' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          *ngIf="autoFacturationChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>

                <!-- Base Paiement -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-basePaiement" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="basePaiement"
                      [readOnly]="readOnlyMode"
                      [dataSource]="basesPaiement"
                      [displayExpr]="displayIDBefore"
                      [searchExpr]="['id']"
                      [showClearButton]="true"
                      (onValueChanged)="onNonRequiredSBChange($event)"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-basePaiement' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          *ngIf="autoFacturationChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>

                <!-- Nb Jour Echeance -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-nbJourEcheance" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="nbJourEcheance"
                      [readOnly]="readOnlyMode"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-nbJourEcheance' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          type="required"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          type="numeric"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="3"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>

                <!-- id TVA -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-tvaId" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="tvaId"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-tvaId' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="70"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="autoFacturationChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Forme juridique -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-formeJuridique" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="formeJuridique"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{
                          'tiers-fournisseurs-formeJuridique' | localize
                        }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="70"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="autoFacturationChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- SIRET APE -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-siretAPE" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="siretAPE"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-siretAPE' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="70"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="autoFacturationChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- RCS -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-rcs" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-text-box
                      formControlName="rcs"
                      [readOnly]="readOnlyMode"
                      [inputAttr]="{
                        style: 'text-transform: uppercase'
                      }"
                      (onValueChanged)="valueToUpperCase($event)"
                      valueChangeEvent="keyup"
                    >
                      <dx-validator
                        name="{{ 'tiers-fournisseurs-rcs' | localize }}"
                      >
                        <dxi-validation-rule
                          [trim]="false"
                          type="stringLength"
                          [max]="70"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          *ngIf="autoFacturationChecked"
                          type="required"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-stock" | localize
              }}</span>

              <div class="dx-form-group-content">
                <dx-box>
                  <dxi-item [ratio]="4">
                    <!-- Stock actif -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-stockActif" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="stockActif"
                          [readOnly]="readOnlyMode"
                        ></dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item [ratio]="1"></dxi-item>
                  <dxi-item [ratio]="4">
                    <!-- Suivi précalibré -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-stockPrecalibre" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="stockPrecalibre"
                          [readOnly]="readOnlyMode"
                        ></dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                </dx-box>

                <dx-box>
                  <dxi-item [ratio]="4">
                    <!-- Suivi destockage  -->
                    <div class="dx-field">
                      <div class="dx-field-label checkbox-label">
                        {{ "tiers-fournisseurs-suiviDestockage" | localize }}
                      </div>
                      <div class="dx-field-value">
                        <dx-check-box
                          formControlName="suiviDestockage"
                          [readOnly]="readOnlyMode"
                        >
                        </dx-check-box>
                      </div>
                    </div>
                  </dxi-item>
                  <dxi-item [ratio]="1"></dxi-item>
                  <dxi-item [ratio]="4"> </dxi-item>
                </dx-box>

                <!-- Fournisseur de rattachement -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{
                      "tiers-fournisseurs-fournisseurDeRattachement" | localize
                    }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="fournisseurDeRattachement"
                      [readOnly]="readOnlyMode"
                      [dataSource]="fournisseursDeRattachement"
                      displayExpr="raisonSocial"
                      [searchExpr]="['id']"
                      [showClearButton]="true"
                      (onValueChanged)="onNonRequiredSBChange($event)"
                    >
                    </dx-select-box>
                  </div>
                </div>
                <!-- Groupe Fournisseur -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-groupeFournisseur" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="groupeFournisseur"
                      [readOnly]="readOnlyMode"
                      [dataSource]="groupesFournisseur"
                      displayExpr="description"
                      [searchExpr]="['id']"
                      [showClearButton]="true"
                      (onValueChanged)="onNonRequiredSBChange($event)"
                    >
                    </dx-select-box>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
            >
              <span class="dx-form-group-caption">{{
                "tiers-fournisseurs-details-groupe-certifications" | localize
              }}</span>
              <span>
                <dx-check-box
                  #changeCertifDates
                  class="float-right"
                  text="{{ 'date-a-modifier' | localize }}"
                  [readOnly]="readOnlyMode"
                  [visible]="!readOnlyMode && !createMode"
                ></dx-check-box>
              </span>
              <div class="dx-form-group-content">
                <!-- Certifications -->
                <div class="dx-field">
                  <div class="dx-field-label">
                    {{ "tiers-fournisseurs-typeCertification" | localize }}
                  </div>
                  <div class="dx-field-value">
                    <dx-tag-box
                      formControlName="certifications"
                      [dataSource]="certifications"
                      [displayExpr]="displayCertifNameDate"
                      [applyValueMode]="'useButtons'"
                      placeholder="Sélectionner une ou plusieurs certifications..."
                      [readOnly]="readOnlyMode"
                    >
                    </dx-tag-box>
                  </div>
                </div>
                <!-- Date cond achat signée -->
                <div class="dx-field">
                  <div class="dx-field-label whiteSpaceNormal">
                    {{
                      "tiers-fournisseurs-dateConditionGeneraleAchatSignee"
                        | localize
                    }}
                  </div>
                  <div class="dx-field-value">
                    <dx-date-box
                      formControlName="dateConditionGeneraleAchatSignee"
                      [readOnly]="readOnlyMode"
                      type="date"
                      dateSerializationFormat="yyyy-MM-dd"
                    ></dx-date-box>
                  </div>
                </div>
              </div>
            </div>
          </dxi-item>
        </dx-box>
      </dxi-item>
    </dx-box>
  </div>
</form>
<app-editing-alert></app-editing-alert>
<app-file-manager-popup
  key="fournisseurs"
  [subTitle]="fournisseur.code"
  [id]="fournisseur.id"
  *ngIf="fournisseur"
>
</app-file-manager-popup>
<app-push-history-popup
  title="{{ 'valide-comment-title' | localize }}"
  [placeholder]="'valide-comment' | localize"
>
</app-push-history-popup>
<app-certification-date-popup></app-certification-date-popup>
<app-info-popup
  [customText]="'text-fournisseurs-popup-documents' | localize"
></app-info-popup>
