<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      [icon]="
        'material-icons zoom_' + (popupFullscreen ? 'in' : 'out') + '_map'
      "
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="ajout-art-histo-content-container">
        <app-grid-order-history
          [clientId]="clientId"
          [entrepotId]="entrepotId"
          [secteurId]="secteurId"
          [gridSelectionEnabled]="gridSelectionEnabled"
          [comingFrom]="isComingFrom"
          [popupShown]="popupShown"
          (hidePopup)="hidePopup()"
          (openOrder)="openOrder($event)"
          (clientChanged)="clientChanged($event)"
        ></app-grid-order-history>
        <br />
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
