// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .duplication-ordre-popup {
  .midLarge {
    width: 100%;

    .dx-field-label {
      text-overflow: initial;
      width: 100%;
    }

    .dx-field-value {
      width: 20% !important;
    }
  }

  .dx-field-value:not(.dx-widget) > .dx-checkbox {
    margin: 0 !important;
  }

  .entrepot-dates-container {
    margin: 0 15px 20px 15px;

    .modify-button {
      margin-left: 20px;

      .dx-button-content {
        padding-left: 12px;
      }
    }

    .dx-field {
      margin-bottom: 0;

      .dx-field-value {
        width: 33% !important;

        &.small-width {
          width: 25% !important;
        }

        &.large-width {
          width: 45% !important;
        }
      }
    }
  }

  .items-title {
    position: relative;
    left: 15px;
    margin-bottom: 10px;
    color: $base-accent;
  }

  .to-keep-list {
    columns: 2;
    padding: 16px 0 8px 0;
    background-color: rgba(191, 191, 191, 0.15);

    .to-keep-item {
      margin: 7px 0;

      &:first-child {
        margin-top: 0;
      }

      .dx-field-label {
        position: relative;
        left: 15px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .popup-buttons-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .dx-button {
      margin: 5px;
    }
  }
}
