<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  (onHidden)="onHidden()"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <div class="title-start">&nbsp;&nbsp;{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      (onClick)="resizePopup()"
    ></dx-button>

    <dx-button
      #addButton
      [ngClass]="{ pulse: pulseBtnOn }"
      class="articles-valid-button"
      type="success"
      [visible]="nbARticles > 0"
      [text]="validBtnText"
      (onClick)="insertArticles()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="ajout-art-histo-content-container">
        <div style="clear: both"></div>

        <app-grid-lignes-historique
          [clientId]="clientId"
          [entrepotId]="entrepotId"
          [secteurId]="secteurId"
          [single]="singleSelection"
          (selectChange)="selectFromGrid($event)"
          [gridSelectionEnabled]="gridSelectionEnabled"
          [popupShown]="popupShown"
          (hidePopup)="clearAndHidePopup()"
        ></app-grid-lignes-historique>
        <br />
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>

<app-associated-article-prompt></app-associated-article-prompt>
