<dx-popup
  [width]="1400"
  height="auto"
  [showTitle]="true"
  [dragEnabled]="false"
  [resizeEnabled]="false"
  [fullScreen]="popupFullscreen"
  [(visible)]="visible"
  [closeOnOutsideClick]="false"
  (onShowing)="onShowing($event)"
  (onShown)="onShown()"
  (onHidden)="onHidden()"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title">{{ title }}&nbsp;</div>
    <dx-button
      class="close-popup"
      icon="close"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      class="min-max-imize-popup-icon display-none"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="stats-article-content-container">
        <div class="article-detail-container spacing">
          <span class="blue-style">Article réf. :&nbsp;</span
          ><span class="bold-text">{{ article?.id }}</span>
          <div class="article-description">
            {{ detailedArticleDescription }}
          </div>
        </div>

        <dx-button
          class="refresh spacing float-right"
          type="default"
          text="{{ 'btn-refresh' | localize }}"
          (onClick)="refreshGrids()"
        ></dx-button>

        <div class="filter-area spacing float-right">
          <div class="dx-field field-small">
            <div class="dx-field-label noEllipsis">
              {{ "ordres-periode" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-select-box
                #periodeSB
                [items]="periodes"
                [displayExpr]="dateManagementService.displayPeriodText"
                (onValueChanged)="setDates($event)"
              >
                <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
              </dx-select-box>
            </div>
          </div>
          <div class="dx-field field-small">
            <div class="dx-field-label">
              {{ "ordres-Du" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-date-box
                #fromSB
                class="dateStart"
                type="date"
                [displayFormat]="'dd-MM-yy'"
                (onValueChanged)="manualDate($event)"
              ></dx-date-box>
            </div>
          </div>
          <div class="dx-field field-small">
            <div class="dx-field-label">
              {{ "ordres-Au" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-date-box
                #toSB
                class="dateEnd"
                type="date"
                [displayFormat]="'dd-MM-yy'"
                (onValueChanged)="manualDate($event)"
                (onEnterKey)="refreshGrids()"
              ></dx-date-box>
            </div>
          </div>
        </div>

        <div style="clear: both"></div>
        <br />

        <div class="grid-box">
          <div class="grid-container grid-container-left">
            <app-grid-stat-article-fournisseurs
              [dateMin]="fromSB.value"
              [dateMax]="toSB.value"
              [articleId]="articleId"
            ></app-grid-stat-article-fournisseurs>
          </div>
          <div class="grid-spacer"></div>
          <div class="grid-container grid-container-right">
            <app-grid-stat-article-clients
              [dateMin]="fromSB.value"
              [dateMax]="toSB.value"
              [articleId]="articleId"
            ></app-grid-stat-article-clients>
          </div>
        </div>

        <div style="clear: both"></div>
        <br />

        <div class="popup-buttons-container">
          <dx-button
            text="{{ 'btn-fermer' | localize }}"
            type="default"
            (onClick)="hidePopup()"
          ></dx-button>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
