.upperButton {
    margin-left:10px;
    float:right;
}

.checkbox-label {
    overflow:visible;
}

.dx-field-label {
    font-size:16px;
}

.diffQty {
    margin: -4px 0 0 12px;
    width:225px !important;
    white-space:normal !important;
}
.daysDiffCheckbox {
    margin-top:-8px;
}
.daysNumber {
    width:50px !important;
}
.days {
    margin:0 10px;
    text-align:right;
    width:50px !important;
    overflow:visible;
}