<h2 class="content-block">{{ 'ordres-' + indicator | localize }}
    <dx-button *ngIf="indicator == 'ordresnonconfirmes'" class="upperButton" type="default" text="{{ 'btn-confirm' | localize }}" (onClick)="onConfirm()"></dx-button>
    <!-- <dx-button *ngIf="indicator == 'ordresnonclotures'" class="upperButton" type="default" text="{{ 'btn-close' | localize }}" (onClick)="onClose()"></dx-button> -->
    <dx-button *ngIf="indicator == 'bonsafacturer'" class="upperButton" type="default" text="{{ 'btn-invoice' | localize }}" (onClick)="onClose()"></dx-button>
</h2>

<div class="content-block">

    <dx-box *ngIf="indicator == 'supervisionlivraison'">
        <dxi-item [ratio]="4">

            <!-- Secteurs -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'tiers-clients-secteur' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="secteurs"
                        displayExpr="description"
                        [searchEnabled]="true"
                        searchExpr="description"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>

        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="1.5">
            <!-- Différence date -->
            <div  class="dx-field daysDiffCheckbox">
                <div class="dx-field-value" style="width:20px">
                  <dx-check-box
                    alignment = "right"
                    [value]="true"
                  ></dx-check-box>
                </div>
                <div class="dx-field-label diffQty">{{ 'ordres-differenceQuantites' | localize }}</div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="4">
            <div class="dx-field">
                <div class="dx-field-label days">Sur</div>
                <div class="dx-field-value daysNumber">
                    <dx-number-box
                        alignment = "center"
                        [value]="1"
                        [min]="1"
                        [max]="9"
                        [showSpinButtons]="true"
                    ></dx-number-box>
                </div>
                <div class="dx-field-label days">jour(s)</div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="2">
            <dx-button class="upperButton" type="default" text="{{ 'btn-envoiBL' | localize }}" (onClick)="autoSendDeliveryNotes()"></dx-button>
        </dxi-item>
    </dx-box>   
    <dx-box *ngIf="indicator == 'bonsafacturer'">
        <dxi-item [ratio]="3">

            <!-- Secteurs -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'tiers-clients-secteur' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="secteurs"
                        displayExpr="description"
                        [searchEnabled]="true"
                        searchExpr="description"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>

        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="3">
            <!-- Client -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'tiers-contacts-clients' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="clients"
                        displayExpr="raisonSocial"
                        [searchEnabled]="true"
                        searchExpr="raisonSocial"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="3">
            <!-- Entrepôt -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'ordres-entrepôt' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="entrepot"
                        displayExpr="raisonSocial"
                        [searchEnabled]="true"
                        searchExpr="raisonSocial"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="3">
            <!-- Commercial -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'ordres-commercial' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="commercial"
                        displayExpr="nomUtilisateur"
                        [searchEnabled]="true"
                        searchExpr="nomUtilisateur"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>
        </dxi-item>

    </dx-box>
    <dx-box *ngIf="indicator == 'bonsafacturer'">
        <dxi-item [ratio]="3">
            <!-- Assistante -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'ordres-assistante' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="assistante"
                        displayExpr="nomUtilisateur"
                        [searchEnabled]="true"
                        searchExpr="nomUtilisateur"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="3">
            <!-- Période -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'ordres-periode' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [items]="periodes"
                        (valueChange)="findDates($event)"
                    ></dx-select-box>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="3">
            <!-- Date de début -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'ordres-du' | localize }}</div>
                <div class="dx-field-value">
                    <dx-date-box
                        [value]="dateStart"
                        type="date"
                        dateSerializationFormat="yyyy-MM-dd"
                    ></dx-date-box>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="0.5"></dxi-item>
        <dxi-item [ratio]="3">
            <!-- Date de fin -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'ordres-au' | localize }}</div>
                <div class="dx-field-value">
                    <dx-date-box
                        [value]="dateEnd"
                        type="date"
                        dateSerializationFormat="yyyy-MM-dd"
                    ></dx-date-box>
                </div>
            </div>
        </dxi-item>

    </dx-box> 
    <dx-box *ngIf="indicator == 'ordresnonconfirmes' || indicator == 'ordresnonclotures'">
        <dxi-item [ratio]="4">
            <!-- Secteurs -->
            <div class="dx-field">
                <div class="dx-field-label">{{ 'tiers-clients-secteur' | localize }}</div>
                <div class="dx-field-value">
                    <dx-select-box
                        [dataSource]="secteurs"
                        displayExpr="description"
                        [searchEnabled]="true"
                        searchExpr="description"
                        (valueChange)="onSecteurChange($event)"
                    ></dx-select-box>
                </div>
            </div>

        </dxi-item>
        <dxi-item [ratio]="10.5"></dxi-item>
    </dx-box>  
    <br>
    <app-grid-suivi [filter]="filter" (ordreSelected)="onRowDblClick($event)"></app-grid-suivi>
</div>
  