// Var
@import "themes/generated/variables.base";


::ng-deep .user-cloning {
  .dx-form-group-content .dx-field {

    .dx-textbox input {
      &:read-only:not(:disabled) {
        opacity: 0.38 !important;
      }
    }

    input:not(:disabled):not(:read-only) {
      background-color: rgba(57, 151, 14, 0.2);
      padding-left: 10px !important;
    }
  }
}

.upperButton {
  margin-left: 10px;
  float: right;
}
