// Var
@import "themes/generated/variables.base";

::ng-deep .user-cloning {
  .dx-form-group-content .dx-field {
    input:not(:disabled):not(:read-only) {
      background-color: rgba(255, 196, 77, 0.5);
      padding-left: 10px !important;
    }
  }
}

.upperButton {
  margin-left: 10px;
  float: right;
}
