$loader-size: 20px;

::ng-deep .button-indicator {
  height: $loader-size;
  width: $loader-size;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.button-load-indicator {
  border-radius: 0 !important;
}
