<h2 class="content-block">{{ 'tiers-entrepots-title' | localize }}
  <dx-button class="upperButton" type="default" text="{{ 'btn-nouveau' | localize }}" (onClick)="onCreate()"></dx-button>
  <div style="clear:both"></div>
</h2>

<div class="content-block">

  <dx-data-grid
    class="dx-card wide-card"
    [dataSource]="entrepots"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [allowColumnReordering]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="gridConfiguratorService.onToolbarPreparing($event, gridConfiguratorService.Grid.Entrepot, enableFilters.bind(this))"
  >

    <!-- Grid configuration -->
<!--    <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel>-->
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Entrepôts" [allowExportSelectedData]="false"></dxo-export>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-state-storing
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.as(gridConfiguratorService.Grid.Entrepot).load"
      [customSave]="gridConfiguratorService.as(gridConfiguratorService.Grid.Entrepot).save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      allowSearch="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height">
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let field of detailedFields | async"
      [dataField]="field.path"
      [caption]="('tiers-entrepots-' + field.name | localize) || field.name"
      [visible]="false"
      [dataType]="field.dataType"
      [allowSearch]="field.allowSearch !== undefined ? field.allowSearch : ['string'].includes(field.dataType)"
      [allowHeaderFiltering]="field.allowHeaderFiltering !== undefined ? field.allowHeaderFiltering : ['string'].includes(field.dataType)"
    ></dxi-column>

  </dx-data-grid>
</div>
