<h2 class="content-block">{{ 'tiers-entrepots-title' | localize }}</h2>

<div class="content-block">
  <dx-data-grid
    class="dx-card wide-card"
    [dataSource]="entrepots"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [allowColumnReordering]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event)"
  >

    <!-- Grid configuration -->
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    <!-- <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter> -->
    <dxo-export [enabled]="true" fileName="Clients" [allowExportSelectedData]="false"></dxo-export>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

    <dxi-column
      *ngFor="let field of entrepotsService.model.getListFields();let i=index"
      [dataField]="field"
      [caption]="('tiers-entrepots-' + field.split('.').shift() | localize) || field"
      [visible]="i < entrepotsService.baseFieldsSize"
    ></dxi-column>

  </dx-data-grid>
</div>
