<div *dxTemplate="let cell of 'entityCellTemplate'">
  <span *ngIf="cell.calculateDisplayValue; else noDisplayValue">
    {{ cell.displayValue }}
  </span>
  <ng-template #noDisplayValue>{{
    cell.value && fetchDisplayValueByID(cell)
  }}</ng-template>
</div>

<div *dxTemplate="let cell of 'entityEditCellTemplate'">
  <dx-select-box
    *ngIf="columnsSettings; else noSettings"
    [dataSource]="getSettings(cell.column.dataField).dataSource"
    [displayExpr]="getSettings(cell.column.dataField).displayExpression"
    [value]="extractEntity(cell)"
  ></dx-select-box>
  <ng-template #noSettings>{{ cell.value }}</ng-template>
</div>
