// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-packing-list {
  min-height: 200px;

  .dx-toolbar-after {
    background-color: #fff;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }

  .packing-ref-ordre {
    width: 65% !important;
  }

  .dx-row {
    td.dx-command-select {
      width: 20px !important;
      min-width: 20px !important;
      padding: 0 4px !important;
    }
  }

  .highlight-order {
    background-color: $BW-purple-light !important;

    &.dx-row-focused td {
      background-color: $BW-purple-dark !important;
    }

    td {
      background-color: $BW-purple-light !important;
    }
  }
}
