// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-packing-list {
  min-height: 200px;
  max-height: 300px;

  .dx-toolbar-after {
    background-color: #fff;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }

  .packing-ref-ordre {
    width: 65% !important;
  }

  .highlight-order {
    background-color: $BW-purple-ultralight !important;

    &.dx-row-focused td {
      background-color: $BW-purple-dark !important;

      &.dx-command-select .dx-checkbox-icon {
        border-color: #FFF;
      }
    }

    td {
      background-color: $BW-purple-ultralight !important;
    }
  }
}
