// Var
@import "~themes/generated/variables.base";


::ng-deep .ajust-decompte-palox-popup {

  .dx-invalid-message {
    visibility: hidden !important;
  }

  .dx-state-disabled {
    opacity: 1 !important;
  }

}

.popup-action {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  &>.dx-button {
    margin-left: 10px;
  }
}

.palox-info-boxes {
  .dx-field-label {
    width: 200px !important;
    white-space: initial;
    margin-right: 20px;

    &.large-padding-left {
      padding-left: 50px;
    }
  }

  .dx-field-value {
    width: 200px !important;
  }
}

.palox-inputs {
  .dx-field-value {
    width: 130px !important;
  }
}

.comment-palox {
  width: 25% !important;
}
