::ng-deep .stock-page {
  .tabpanel-item {
    position: relative;
    margin-top: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px;
    border: 1px solid #00759c;
    overflow: hidden;
    background: #fff;
  }

  .mobile .tabpanel-item {
    padding-top: 10px;
  }

  .tabpanel-item p {
    font-size: 16px;
    margin: 0;
  }

  .item-box {
    font-size: 16px;
    margin: 15px 0 45px 10px;
  }

  .dx-tabs-wrapper {
    background: #f2f2f2;

    .dx-tab:after {
      position: absolute;
      font-size: 30px;
      top: 35px;
      right: 50%;
      color: #00759c;
      content: "|";
      display: none;
    }
  }

  .dx-tab-content {
    span {
      font-size: 24px;
      text-transform: none;
    }
  }

  .dx-tab-selected:before {
    display: none;
  }

  .dx-tab-selected,
  .dx-tabs-wrapper .dx-tab:hover {
    background: #f2f2f2;
  }

  .dx-tabs-wrapper .dx-tab-selected:after {
    display: block;
  }

  .search-criteria-container {
    position: relative;
    right: 0;
    float: right;
  }

  .stock-grid-title {
    margin: 15px 0 8px 0;
    color: #00759c;
    font-size: 20px;
    font-weight: bold;
  }

  .grid-grouping-button {
    margin: 13px 46px 0 0 !important;
  }
}
