::ng-deep .tabpanel-item {
    position: relative;
    margin-top:12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding:15px;
    border:1px solid #00759c;
    overflow: hidden;
    background:#FFF;
}
::ng-deep .mobile .tabpanel-item {
    padding-top: 10px;
}
::ng-deep .tabpanel-item  p {
    font-size: 16px;
    margin: 0;    
}
::ng-deep .item-box {
    font-size: 16px;
    margin: 15px 0 45px 10px;
}
::ng-deep .dx-tabs-wrapper {
    background:#F2F2F2;
    .dx-tab:after {
        position: absolute;
        font-size:30px;
        top:35px;
        right:50%;
        color:#00759c;
        content: "|";
        display:none;
    }
}
::ng-deep .dx-tab-content {
    span {
        font-size:24px;
        text-transform:none;
    }
}
::ng-deep .dx-tab-selected:before {
    display:none;
}
::ng-deep .dx-tab-selected, ::ng-deep .dx-tabs-wrapper .dx-tab:hover {
    background:#F2F2F2;
}
::ng-deep .dx-tabs-wrapper .dx-tab-selected:after {
    display:block;
}
::ng-deep .search-criteria-container {
    position:relative;
    right:0;
    float:right;
}
::ng-deep .search-criteria-subcontainer {
    height:150px;
    margin-left:15px;
    float:left;
    overflow:hidden;
    .dx-field {
        height:28px;
        .dx-field-label {
            padding-right:10px;
            text-overflow:initial;
            white-space:normal;
            font-size:11px;
            line-height:12px;
            padding:10px 10px 4px 0;
            text-align:right;
        }
        .dx-texteditor {
            font-size:11px;
            .dx-texteditor-input {
                font-size:14px;
            }
        }
    }
}

// ::ng-deep .stock-page .dx-list-item {
//     height:20px;
//     .dx-list-item-content {
//         font-size:12px;
//         line-height:12px;
//         padding-top:3px !important;
//         padding-bottom:3px !important;
//     }  
//     .dx-list-item-content:first-of-type {
//         margin:0;
//     }
// }

::ng-deep .stock-page .advancedsearch, ::ng-deep .stock-page .quicksearch {
    width:90px;
    color:#00759c;
    left:0;
    margin:10px 0;
    font-size:16px;
    font-weight:bold;
}
::ng-deep .stock-page .quicksearch {
    width:160px;
    height:65px;
}
::ng-deep .stock-page .dx-texteditor.dx-editor-underlined::after {
    width:160px;
}
::ng-deep .quicksearch-container {
    position: relative;
    float:left;
    left:0;
}
::ng-deep .stock-grid-title {
    margin:15px 0 8px 0;
    color:#00759c;
    font-size:20px;
    font-weight:bold;
}

::ng-deep .dx-datagrid-text-content {
    text-overflow:initial;
}
::ng-deep .stock-page .dx-datagrid .dx-item.dx-toolbar-item.dx-toolbar-button:nth-of-type(3) {
    position:fixed !important;
    left:0;
    top:70px;
}
::ng-deep .highlight-stockJ21-cell {
    background:#FFDD00 !important;
}