<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  width="1000"
  title="{{ 'documents' | localize }}"
  [(visible)]="visible"
>
    <dx-file-manager
        id="fileManager"
        [fileSystemProvider]="fileProvider"
        height="450"
        *ngIf="this.fileProvider">
        <dxo-permissions
            [create]="true"
            [copy]="true"
            [move]="true"
            [delete]="true"
            [rename]="true"
            [upload]="true"
            [download]="true">
        </dxo-permissions>
    </dx-file-manager>

</dx-popup>
