h6 {
  margin: 0;
  float: left;
}

.refresh {
  top: -8px;
  float: right;
}

.launch {
  position: absolute;
  right: 147px;
  margin-top: 7px;
  z-index: 1;
}

::ng-deep .ordresBAF-grid {
  max-height: 800px;
}

::ng-deep .blocked-color {
  background-color: #ff325a !important;
}

::ng-deep .alert-color {
  background-color: #ffa100 !important;
}

::ng-deep .OK-color {
  background-color: #8fc459 !important;
}

::ng-deep .BAFstatus-cell {
  cursor: help !important;
  color: #fff !important;
  transition: 0.1s;

  &:hover {
    opacity: 0.65;
  }
}

::ng-deep .period-list .dx-list-item {
  padding: 6px 15px;
}

::ng-deep .hide-select-checkbox .dx-command-select {
  visibility: hidden;
}

::ng-deep .refClient-BAF {
  cursor: pointer !important;
  background-color: #e2f5f1 !important;
}
