<h2 class="content-block accueil-header">
  {{ "ordres-accueil-ordre-title" | localize }}

  <div class="dx-field configuration">
    <div class="dx-field-label">
      {{ "ordres-configuration" | localize }}
    </div>
    <div class="dx-field-value">
      <dx-tag-box
        [items]="allIndicators"
        [value]="loadedIndicators"
        [valueExpr]="'id'"
        [showClearButton]="true"
        [showSelectionControls]="true"
        [searchEnabled]="false"
        applyValueMode="useButtons"
        [displayExpr]="displayExpr"
        (onValueChanged)="tileNumber($event)"
      >
        <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
      </dx-tag-box>
    </div>
    <dx-button
      class="tile-config-button"
      icon="material-icons settings"
      (onClick)="openTagBox()"
      text=""
    >
    </dx-button>
  </div>
</h2>

<div class="inputs-container content-block">
  <div class="dx-field">
    <div class="dx-field-label">
      {{ "tiers-clients-secteur" | localize }}
    </div>
    <div class="dx-field-value">
      <dx-select-box
        [dataSource]="secteurs"
        displayExpr="description"
        [valueExpr]="'id'"
        [showClearButton]="true"
        searchExpr="description"
        [width]="200"
        (onValueChanged)="onValueChanged($event)"
      ></dx-select-box>
    </div>
  </div>
</div>

<div class="content-block accueilOrdres-page">
  <dx-tile-view
    class="dx-tile-content"
    width="100%"
    height="100%"
    [baseItemWidth]="118"
    [baseItemHeight]="118"
    [itemMargin]="20"
    direction="vertical"
    (onItemClick)="onTileClick($event)"
  >
    <dxi-item
      *ngFor="let indicator of indicators"
      [widthRatio]="1.5"
      [heightRatio]="1.5"
      [style.background]="'' + indicator.tileBkg + ''"
      [buttonOptions]="indicator"
    >
      <div class="indicator-container">
        <dx-button
          *ngIf="indicator.indicatorIcon"
          type="danger"
          icon="{{ indicator.indicatorIcon }}"
          class="tile-button indicator-button"
        ></dx-button>
        <div class="number-container">
          <div
            *ngIf="indicator.withCount"
            class="indicator"
          >
            <dx-load-indicator
              [visible]="indicator.loading"
              height="40"
              width="40"
            ></dx-load-indicator>
            <span *ngIf="!indicator.loading && indicator.number">{{
              indicator.number
            }}</span>
          </div>
          <dx-button
            *ngIf="
              !indicator.loading && indicator.warningIcon && indicator.number
            "
            type="danger"
            icon="{{ indicator.warningIcon }}"
            class="tile-button warning-button"
          ></dx-button>
        </div>
        <div class="parameter">{{ indicator.parameter }}</div>
        <div class="subParameter">{{ indicator.subParameter }}</div>
      </div>
    </dxi-item>
  </dx-tile-view>
</div>
