::ng-deep .accueilOrdres-page .dx-tileview .dx-scrollable-content {
  left: -20px !important;
  top: -20px !important;
}

::ng-deep .dx-tile-content {
  .indicator-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;

    .number-container {
      line-height: 0;
      font-size: 0;
    }

    .indicator,
    .parameter,
    .subParameter {
      color: #fff;
    }

    .dx-loadindicator-segment0 .dx-loadindicator-segment-inner {
      border-top-color: #fff;
      border-right-color: #fff;
    }

    .dx-loadindicator-segment1 .dx-loadindicator-segment-inner {
      border-top-color: #fff;
      border-right-color: #fff;
      border-left-color: #fff;
    }

    .dx-loadindicator-segment2 .dx-loadindicator-segment-inner {
      border-top-color: #fff;
      border-left-color: #fff;
    }

    .indicator {
      display: inline-block;
      position: relative;
      line-height: 40px;
      font-size: 40px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }

    .indicator-button {
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      background-color: transparent;
    }

    .tile-button {

      &:hover,
      &:focus {
        background-color: transparent !important;
      }

      &.warning-button {
        position: absolute;
        top: 19px;
        right: 67px;

        .warning {
          font-size: 22px !important;
          line-height: 22px !important;
        }
      }
    }

    .parameter {
      line-height: 1.1em;
      font-size: 2em;
      padding-top: 5px;
      text-align: center;
    }

    .subParameter {
      font-size: 1.7em;
      line-height: 1.2em;
      text-align: center;
    }
  }
}

::ng-deep .dx-tile {
  cursor: pointer;
  transition: 0.15s;
}

::ng-deep .dx-tile:hover {
  transform: scale(102%, 102%);
}

::ng-deep .configuration {
  width: 165px;
  float: right;
  top: 0;
  margin: 0 35px 5px 6px !important;
  border-left: 1px solid #CCC;

  .dx-tag {
    display: none;
  }

  .dx-field-label {
    position: absolute;
    left: 0;
    margin-top: -3px;
    width: 70% !important;
    font-size: 1.3em;
    padding-right: 0;
    padding-left: 9px;
    text-overflow: initial;
    color: #444;
  }

  .dx-dropdowneditor-input-wrapper {
    display: none;
  }

  .dx-editor-underlined::after {
    display: none;
  }

  .tile-config-button {
    left: 4px;
  }

}

::ng-deep .dx-list-select-all {
  display: none;
}

::ng-deep .program-button,
.order-home-up-button {
  margin: 0 5px;
  float: right;

  .button-programs {
    display: inline;
    vertical-align: middle;
    line-height: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .04em;
  }
}

::ng-deep .inputs-container {
  margin-top: 8px;
  width: 300px;
}

h2.accueil-header {
  margin-bottom: 0;
}
