::ng-deep .accueilOrdres-page .dx-tileview .dx-scrollable-content {
    left: -20px !important;
    top: -20px !important;
}

::ng-deep .dx-tile-content {
    .indicator-container {
        position:relative;
        top:50%;
        transform:translateY(-50%);
        padding: 0 20px;
    }
    .indicator, .parameter, .subParameter {
        color:#FFF;
    }
    .dx-loadindicator-segment0 .dx-loadindicator-segment-inner {
        border-top-color:#FFF;
        border-right-color: #FFF;
    }
    .dx-loadindicator-segment1 .dx-loadindicator-segment-inner {
        border-top-color:#FFF;
        border-right-color: #FFF;
        border-left-color: #FFF;
    }
    .dx-loadindicator-segment2 .dx-loadindicator-segment-inner {
        border-top-color:#FFF;
        border-left-color: #FFF;
    }
    .indicator {
        display:inline-block;
        position:relative;
        font-size:4em;
        text-align:center;
        left:50%;
        transform:translateX(-50%);
        // padding-bottom:10px;
    }
    .indicator-button {
        left:50%;
        transform:translateX(-50%);
        margin:0 auto;
        background-color:transparent;
    }
    .warning-button {
        position:absolute;
        right:90px;
    }
    .tile-button:hover, .tile-button:focus {
        background-color:transparent !important;
    }
    .parameter {
        font-size:2em;
        text-align:center;
    }
    .subParameter {
        font-size:1.7em;
        line-height: 1.2em;
        text-align:center;
    }
}
::ng-deep .dx-tile {
    cursor:pointer;
    transition:0.15s; 
}
::ng-deep .dx-tile:hover {
    transform:scale(102%,102%);
}
::ng-deep .configuration {
    width:400px;
    float:right;
    top:7px;
    .dx-tag {
        display:none;
    }
    .dx-field-label {
        font-size:1.3em;
        color:#444;
        left:130px;
        margin-top:-3px;
        position:absolute;
    }
    .dx-dropdowneditor-input-wrapper {
        display:none
    }
    .dx-editor-underlined::after {
        display:none;
    }
}
::ng-deep .dx-list-select-all {
    display:none; 
}