<div class="content-block">
  <dx-data-grid
    [width]="'100%'"
    class="grid-choix-envois"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [columnAutoWidth]="false"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="false"
    dateSerializationFormat="yyyy-MM-dd"
    [dataSource]="gridData"
    [keyExpr]="'id'"
    [paging]="{
      enabled: false
    }"
    (onRowClick)="onRowClick($event)"
    (onContentReady)="onContentReady($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        'Liste des documents',
        $event,
        gridConfiguratorService.Grid.ChoixEnvois
      )
    "
  >
    <!-- Grid configuration -->
    <dxo-export fileName="Liste des documents"></dxo-export>
    <dxo-editing
      [selectTextOnEditStart]="true"
      [allowUpdating]="true"
      [mode]="'cell'"
    ></dxo-editing>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.ChoixEnvois"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>
    <dxo-selection
      mode="multiple"
      [allowSelectAll]="true"
      [showCheckBoxesMode]="'always'"
    ></dxo-selection>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [caption]="
        ('choixEnvois-' + column.dataField?.split('.').join('-') | localize) ||
        column.name
      "
      [width]="column?.width ? column?.width : 'auto'"
      [dataType]="column?.dataType"
      [allowSearch]="
        column?.allowSearch || ['string'].includes(column?.dataType)
      "
      [allowHeaderFiltering]="
        column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
      "
      [allowEditing]="column?.allowEditing !== false"
      [validationRules]="column.validationRules"
      [editCellTemplate]="column?.editCellTemplate"
      [showEditorAlways]="true"
      [showInColumnChooser]="column.showInColumnChooser"
    >
      <dxi-validation-rule
        *ngIf="column.dataField === 'commentaire'"
        type="stringLength"
        [max]="70"
        [trim]="false"
      ></dxi-validation-rule>
    </dxi-column>

    <div *dxTemplate="let cell of 'selectBoxEditTemplate'">
      <dx-select-box
        [dataSource]="this[cell.column.dataField + 'Source']"
        [displayExpr]="
          ['imprimante'].includes(cell.column.dataField)
            ? displayIDBefore
            : this[cell.column.dataField + 'Service'].model.getLabelField()
        "
        [searchExpr]="[
          this[cell.column.dataField + 'Service'].model.getKeyField()
        ]"
        [value]="cell.data[cell.column.dataField]"
        (onValueChanged)="onValueChanged($event, cell)"
      >
        <dxo-drop-down-options [width]="250"></dxo-drop-down-options>
      </dx-select-box>
    </div>
  </dx-data-grid>
</div>
