<div class="collapse collapsed">
  <h2 class="content-block">
    {{ 'tiers-clients-title' | localize }}
    <dx-switch
      switchedOffText="collapse"
      switchedOnText="scroll"
      [(value)]="collapseMode"
    ></dx-switch>
  </h2>

  <app-clients-list #clientsList (rowDblClick)="selectRow($event)"></app-clients-list>
</div>

<div class="content-block">
  <div class="splitter" (click)="toggleCollapse()" [hidden]="!collapseMode">↑↑↑↑↑↑↑</div>
</div>

<div id="router">
  <br/>
  <div class="content-block">
    <dx-button
      style="float: left;"
      icon="arrowleft"
      text="Client précedent"
      [disabled]="!clientsList.hasPrevious()"
      (onClick)="clientsList.selectPrevious()">
    </dx-button>
    <dx-button
      style="float: right;"
      icon="arrowright"
      text="Client suivant"
      [disabled]="!clientsList.hasNext()"
      (onClick)="clientsList.selectNext()">
    </dx-button>
    <dx-button
      style="float: left;"
      text="retour"
      [disabled]="backBtnDisabled"
      (onClick)="backClick()">
    </dx-button>
    <div style="clear: both;"></div>
  </div>
  <router-outlet (activate)="activate($event)"></router-outlet>
</div>

