<div class="collapse collapsed">
  <h2 class="content-block">
    {{ 'tiers-clients-title' | localize }}
    <dx-switch
      switchedOffText="collapse"
      switchedOnText="scroll"
      [(value)]="collapseMode"
    ></dx-switch>
  </h2>

  <app-clients-list #clientsList (rowDblClick)="selectRow($event)"></app-clients-list>
</div>

<div class="content-block">
  <div class="splitter" (click)="toggleCollapse()" [hidden]="!collapseMode">↑↑↑↑↑↑↑</div>
</div>

<div id="router">
  <br/>
  <dx-button
    style="float: left;"
    icon="arrowleft"
    text="Client précedent"
    [disabled]="!clientsList.hasPrevious()"
    (onClick)="clientsList.selectPrevious()">
  </dx-button>
  <dx-button
    style="float: right;"
    icon="arrowright"
    text="Client suivant"
    [disabled]="!clientsList.hasNext()"
    (onClick)="clientsList.selectNext()">
  </dx-button>
  <div style="clear: both;"></div>
  <dx-button
    text="retour"
    [visible]="backBtnVisible"
    (onClick)="backClick()">
  </dx-button>
  <router-outlet></router-outlet>
</div>

