<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <div class="title-start">&nbsp;&nbsp;{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      (onClick)="resizePopup()"
    ></dx-button>
    <div style="clear: both"></div>
    <div class="title-plus">{{ titlePlus }}</div>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="ajout-art-stock-content-container">
        <app-grid-stock
          [ordre]="ordre"
          [reserv]="true"
          [destock]="true"
          [clientsRef]="false"
          (selectChange)="clearAndHidePopup()"
        ></app-grid-stock>
        <br />
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
