// Var
@import "themes/generated/variables.base";

::ng-deep .ajout-articles-stock-popup {

  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;

    .title-start,
    .title-mid,
    .title-plus {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .title-mid {
      position: relative;
      top: -1px;
      font-size: 22px;
      color: $base-accent;
    }

    .title-plus {
      margin-top: -21px;
    }

    .close-article-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {

    .ajout-art-stock-content-container {
      padding: 0 15px 0 2px;
      background: #FFF !important;

      h6 {
        font-size: 18px;
      }

      .valid-field {
        display: none;
      }

      .articles-title {
        display: none;
      }

      .articles-valid-button,
      .cancel-button {
        transition: transform 0.5s;
        transform: scale(1);
        float: right;
      }
    }

  }
}
