<dx-data-grid
  #grid
  class="dx-card wide-card grid-forfait-litige"
  [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onEditingStart)="onEditingStart($event)"
  (onSaving)="onSaving($event)"
  (onToolbarPreparing)="
    onToolbarPreparing($event);
    gridConfiguratorService.onToolbarPreparing(
      '',
      $event,
      gridConfiguratorService.Grid.OrdreForfaitLitige,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Forfaits litige"></dxo-export>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-editing
    *ngIf="!this.infosLitige?.fournisseurClos || !this.infosLitige?.clientClos"
    [selectTextOnEditStart]="true"
    [allowUpdating]="true"
    [mode]="'batch'"
  ></dxo-editing>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.OrdreForfaitLitige"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [caption]="
      ('ordreForfaitLitige-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [showEditorAlways]="false"
    [cssClass]="column.cssClass"
    [allowEditing]="column.allowEditing"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [format]="column.format"
    [editorOptions]="column.editorOptions"
    [editCellTemplate]="column.editCellTemplate"
    [setCellValue]="this[column?.setCellValue]"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
    [cellTemplate]="column?.cellTemplate"
    [width]="column?.width !== undefined ? column.width : 'auto'"
    [calculateCellValue]="this[column?.calculateCellValue]"
  >
    <dxi-validation-rule
      *ngIf="['forfait'].includes(column.dataField)"
      type="required"
    ></dxi-validation-rule>
  </dxi-column>
  <app-merged-dxgrid-cell-template></app-merged-dxgrid-cell-template>
</dx-data-grid>

<div class="tiers-legend">
  <span class="client-cell">{{ "tiers-client" | localize }}</span>
  &nbsp;/&nbsp;<span class="responsable-cell">{{
    "ordreLitigesLignes-responsableTypeCode" | localize
  }}</span>
</div>
