@import "themes/generated/variables.base";


::ng-deep .grid-forfait-litige {

  max-width: 100% !important;

  .merged {

    input {
      padding-right: 21px !important;
    }

    .merged-div,
    input {
      width: 100%;
      border-bottom: 0;

      &:first-child {
        border-bottom: 1px solid #CCC;
      }
    }

    > :first-child input,
    > :first-child {
      @extend .client-cell;
    }

    > :last-child input,
    > :last-child {
      @extend .responsable-cell;
    }
  }

  .dx-editor-cell .dx-texteditor-input {
    text-align: right;
  }

}

::ng-deep .article-forfait {
  line-height: 18px !important;
  white-space: normal;
}

.client-cell {
  color: darken($base-danger, 10%);
}

.responsable-cell {
  color: darken($base-success, 20%);
}

.tiers-legend {
  text-align: center;
  margin-left: 32px;
  text-transform: uppercase;
}
