<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ title }}&nbsp;</div>
    <div class="popup-top-right-items">
      <app-top-right-popup-buttons
        [popup]="this"
        (closePopup)="hidePopup()"
      ></app-top-right-popup-buttons>
    </div>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <app-lieux-passage-a-quai-details
        [lieupassageaquaiLigneId]="lieupassageaquaiLigneId"
        [lieupassageaquaiTitle]="lieupassageaquaiTitle"
      >
      </app-lieux-passage-a-quai-details>
      <app-contacts
        [lieupassageaquaiLigneId]="lieupassageaquaiLigneId"
      ></app-contacts>
      <br />
    </dx-scroll-view>
  </div>
</dx-popup>
