<form
  class="filter-container"
  [formGroup]="formGroup"
>
  <dx-box>
    <dxi-item [ratio]="2">
      <!-- Secteur -->
      <div class="dx-field secteur-histo-ligne-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="secteur"
            [dataSource]="secteurs"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="onSecteurChanged($event)"
          >
            <dx-validator name="{{ 'tiers-clients-secteur' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3.5">
      <!-- Client -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-client" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="client"
            [dataSource]="clients"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['code']"
            (onValueChanged)="onClientChanged($event)"
            itemTemplate="items"
          >
            <div *dxTemplate="let data of 'items'">
              <div
                [title]="!data.valide ? 'non valide' : ''"
                [ngClass]="{ 'not-valid': !data.valide }"
              >
                {{ displayCodeBefore(data) }}
              </div>
            </div>
            >
            <dx-validator name="{{ 'tiers-client' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <dx-button
    class="refresh"
    [class]="(toRefresh && readyToRefresh) ? '' : 'inactive-button'"
    type="default"
    text="{{ 'btn-refresh' | localize }}"
    (onClick)="enableFilters()"
  ></dx-button>
  <dx-box class="encours-info-container">
    <dxi-item [ratio]="3.5">
      <div class="dx-field">
        <div class="dx-field-label encours-total">
          {{ "encours-total" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-number-box
            formControlName="encoursTotal"
            [readOnly]="true"
            [format]="{
              precision: 2
            }"
          >
          </dx-number-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="3.5">
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "autorise" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-number-box
            formControlName="encoursAutorise"
            [readOnly]="true"
            [format]="{
              type: 'fixedPoint',
              precision: 2
            }"
          >
          </dx-number-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="3.5">
      <div class="dx-field" [ngClass]="{ 'noopacity': !depassement }">
        <div class="dx-field-label red-font bold-text">
          {{ "depassement" | localize }}
        </div>
        <div class="dx-field-value encoursDepassement">
          <dx-number-box
            formControlName="encoursDepassement"
            [readOnly]="true"
            [format]="{
              precision: 2
            }"
          >
          </dx-number-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="3.5">
      <div class="dx-field" [ngClass]="{ 'noopacity': !retard }">
        <div class="dx-field-label red-font bold-text">
          {{ "retard" | localize }}
        </div>
        <div class="dx-field-value encoursRetard">
          <dx-number-box
            formControlName="encoursRetard"
            [readOnly]="true"
            [format]="{
              precision: 2
            }"
          >
          </dx-number-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
</form>

<dx-data-grid
  class="dx-card wide-card"
  [width]="'100%'"
  [keyExpr]="'id'"
  [focusedRowEnabled]="true"
  [remoteOperations]="false"
  [showBorders]="false"
  [elementAttr]="{ class: 'grid-encours-client' }"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onContentReady)="onContentReady()"
  [noDataText]="'aucun-encours' | localize"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      '',
      $event,
      gridConfiguratorService.Grid.EncoursClient,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.EncoursClient"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column.width"
    [caption]="
      ('encoursClient-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [cellTemplate]="column.cellTemplate"
    [fixed]="column.fixed"
    [dataType]="column?.dataType"
    [cssClass]="column?.cssClass"
    [calculateGroupValue]="column.calculateGroupValue"
    allowSearch="false"
    [allowHeaderFiltering]="false"
    [showInColumnChooser]="column?.showInColumnChooser"
  >
  </dxi-column>
  <dxo-summary>
    <dxi-total-item column="cfcMontantEuros"></dxi-total-item>
    <dxi-total-item column="cfcMontantDevise"></dxi-total-item>
  </dxo-summary>

</dx-data-grid>

