@import "../../../../themes/generated/variables.base.scss";

.login-header {
  text-align: center;
  margin-bottom: 40px;

  .title, .subtitle {
    color: $base-accent;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    font-family: "Barlow", "BarlowFallback", sans-serif;
  }

  .subtitle {
    color: $base-text-color;
    font-size: 16px;
  }

}

::ng-deep .field-username, ::ng-deep .field-password {
  .dx-texteditor-input {
    background: white;
  }
}

.companyLoader {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 5px;
}