<br />
<br />
<dx-form
  [(formData)]="preFilterData"
  class="fraud-form"
  labelLocation="left"
>
  <!-- (onFieldDataChanged)="onFieldDataChanged()" -->
  <dxi-item
    itemType="group"
    [colCount]="6"
  >
    <dxi-item>
      <!-- Secteur -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteurSB
            [dataSource]="secteurs"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="onSecteurChanged($event)"
          >
            <dx-validator name="{{ 'tiers-clients-secteur' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="210"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <!-- Client -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-client" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #clientSB
            [dataSource]="clients"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['code']"
            [showClearButton]="true"
            (onValueChanged)="onClientChanged($event)"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <!-- Entrepot -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-entrepot" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #entrepotSB
            [dataSource]="entrepots"
            [searchExpr]="['code']"
            [displayExpr]="displayCodeBefore"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>

    <!-- Bureau achat -->
    <dxi-item>
      <div class="dx-field field-large">
        <div class="dx-field-label noEllipsis">
          {{ "tiers-fournisseurs-bureauAchat" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #bureauAchatSB
            [dataSource]="bureauxAchat"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="filterFournisseurs($event)"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <!-- transporteur -->
      <div class="dx-field field-large">
        <div class="dx-field-label">
          {{ "ordres-transporteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #transporteurSB
            [dataSource]="transporteurs"
            [displayExpr]="displayCodeBefore"
            [showClearButton]="true"
            [searchExpr]="['id']"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <!-- Fournisseur -->
    <dxi-item>
      <div class="dx-field field-large">
        <div class="dx-field-label capitalize">
          {{ "fournisseur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #fournisseurSB
            [dataSource]="fournisseurs"
            [displayExpr]="displayCodeBefore"
            [showClearButton]="true"
            [searchExpr]="['code']"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dxi-item>
  <dxi-item
    itemType="group"
    [colCount]="3"
  >
    <dxi-item name="periode">
      <dxo-label text="{{ 'ordres-periode' | localize }}"></dxo-label>
      <dx-select-box
        #periodeSB
        [items]="periodes"
        [value]="periodes[1]"
        [displayExpr]="dateManagementService.displayPeriodText"
        (onValueChanged)="setDates($event)"
      ></dx-select-box>
    </dxi-item>
    <dxi-item
      dataField="dateDepartMin"
      editorType="dxDateBox"
      [isRequired]="true"
      [editorOptions]="{
        displayFormat: 'dd/MM/yyyy',
        onValueChanged: manuelDateStart.bind(this)
      }"
    >
      <dxo-label
        text="{{ 'packing-list-date-depart-min' | localize }}"
      ></dxo-label>
    </dxi-item>
    <dxi-item
      dataField="dateDepartMax"
      editorType="dxDateBox"
      [isRequired]="true"
      [editorOptions]="{
        displayFormat: 'dd/MM/yyyy',
        onValueChanged: manualDate.bind(this)
      }"
    >
      <dxo-label
        text="{{ 'packing-list-date-depart-max' | localize }}"
      ></dxo-label>
    </dxi-item>
  </dxi-item>
  <dxi-item
    [cssClass]="'modified-orders-from'"
    itemType="group"
    [colCount]="2"
  >
    <dxo-label
      text="{{ 'filter-modified-orders-from' | localize }}"
    ></dxo-label>
    <dxi-item
      dataField="dateModification"
      editorType="dxDateBox"
      [editorOptions]="{
        displayFormat: 'dd/MM/yyyy HH:mm',
        showClearButton: true,
        type: 'datetime'
      }"
    >
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>
    <dxi-item
      itemType="button"
      verticalAlignment="center"
      [buttonOptions]="{
        type: 'default',
        text: 'btn-launch' | localize,
        onClick: applyPrefilter.bind(this)
      }"
    ></dxi-item>
  </dxi-item>
</dx-form>

<br />
<div class="labels">
  <span>{{ this.resumeLabel }}</span>
  <span class="label-right">{{ this.etatLabel }}</span>
</div>

<dx-data-grid
  class="grid-fraude"
  [dataSource]="dataSource"
  [width]="'100%'"
  (onCellPrepared)="onCellPrepared($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onRowDblClick)="onRowDblClick($event)"
  (onExporting)="onExporting($event)"
>
  <dxo-grouping></dxo-grouping>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-paging [enabled]="false"></dxo-paging>

  <dxi-column
    [dataField]="'dateDepartPrevueFournisseur'"
    [name]="'dateDepartPrevueFournisseurHead'"
    [groupIndex]="0"
    [dataType]="'date'"
    [groupCellTemplate]="'groupDPFTemplate'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'numeroOrdre'"
    [groupIndex]="1"
    [groupCellTemplate]="'groupOrdreTemplate'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'fournisseurCode'"
    [caption]="'fraude-column-fournisseurCode' | localize"
    [cssClass]="'small-side-padding'"
    [groupIndex]="2"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'dateDepartPrevue'"
    [caption]="'fraude-column-dateDepartPrevue' | localize"
    [dataType]="'date'"
    [cssClass]="'small-side-padding'"
    [format]="'dd/MM'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'dateDepartPrevueFournisseur'"
    [caption]="'fraude-column-dateDepartPrevueFournisseur' | localize"
    [dataType]="'date'"
    [cssClass]="'small-side-padding'"
    [format]="'dd/MM'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'nombrePalettesCommandees'"
    [caption]="'fraude-column-nombrePalettesCommandees' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'nombreColisCommandes'"
    [caption]="'fraude-column-nombreColisCommandes' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'poidsNet'"
    [caption]="'fraude-column-poidsNet' | localize"
    [cssClass]="'small-side-padding'"
    [calculateCellValue]="calculatePoidsNetValue"
    [width]="50"
  ></dxi-column>
  <dxi-column
    [dataField]="'articleDescription'"
    [caption]="'fraude-column-articleDescription' | localize"
    [cssClass]="'small-side-padding'"
    [calculateCellValue]="calculateArticleValue"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'pays'"
    [calculateCellValue]="calculatePaysValue"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'incotermCode'"
    [caption]="'fraude-column-incotermCode' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'typeTransportDescription'"
    [caption]="'fraude-column-typeTransportDescription' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'baseTarifTransportCode'"
    [caption]="'fraude-column-baseTarifTransportCode' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>

  <!-- <dxo-summary [recalculateWhileEditing]="true">
    <dxi-group-item
      [showInColumn]="'nombrePalettesCommandees'"
      [displayFormat]="'fraude-total-variete-station' | localize"
      [showInGroupFooter]="true"
    ></dxi-group-item>
    <dxi-group-item
      column="nombreColisCommandes"
      summaryType="sum"
      [showInGroupFooter]="true"
      [displayFormat]="'{0}'"
    >
    </dxi-group-item>
    <dxi-group-item
      column="poidsNet"
      summaryType="sum"
      [showInGroupFooter]="true"
      [displayFormat]="'{0}'"
    >
    </dxi-group-item>
  </dxo-summary> -->

  <div *dxTemplate="let data of 'groupDPFTemplate'">
    <div>
      {{ "fraude-depart-station" | localize }}
      {{ data.value | date : "dd/MM/yyyy" }}
    </div>
  </div>

  <div *dxTemplate="let data of 'groupOrdreTemplate'">
    <div>
      <span>{{ "order" | localize | titlecase }} : </span>
      {{ data.value }}
      <span>{{ "client" | localize | titlecase }} : </span>
      <span
        >{{ data.data.items[0].items[0].clientCode }} /
        {{ data.data.items[0].items[0].entrepotCode }}</span
      >
      <span> - Réf. : </span>
      <span *ngIf="isValue(data, 'referenceClient')">
        {{ data.data.items[0].items[0].referenceClient }}
      </span>
      <span *ngIf="isValue(data, 'codeChargement')">
        {{ data.data.items[0].items[0].codeChargement }}
      </span>
      <span *ngIf="isValue(data, 'etdDate')">
        ETD : {{ data.data.items[0].items[0].etdDate | date : "dd/MM/yyyy" }}
        {{ data.data.items[0].items[0].etdLocation }}
      </span>
      <span *ngIf="isValue(data, 'etaDate')">
        ETA : {{ data.data.items[0].items[0].etaDate | date : "dd/MM/yyyy" }}
        {{ data.data.items[0].items[0].etaLocation }}
      </span>
      <span>
        ({{
          data.data.items[0].items[0].dateModification
            | date : "dd/MM/yyyy hh:mm:ss"
        }})
      </span>
      <span *ngIf="isValue(data, 'commentaireInterne')">
        {{ "fraude-douane" | localize }} :
        {{ data.data.items[0].items[0].commentaireInterne }}
      </span>
      <span>
        {{ "transporteur" | localize | titlecase }}:
        {{ data.data.items[0].items[0].transporteurCode }}
      </span>
    </div>
  </div>
</dx-data-grid>
