<br />
<dx-form
  [(formData)]="preFilterData"
  class="fraud-form"
  labelLocation="left"
>
  <!-- (onFieldDataChanged)="onFieldDataChanged()" -->
  <dxi-item
    itemType="group"
    [colCount]="6"
  >
    <dxi-item>
      <!-- Secteur -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteurSB
            [dataSource]="secteurs"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="onSecteurChanged($event)"
          >
            <dx-validator name="{{ 'tiers-clients-secteur' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="210"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <!-- Client -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-client" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #clientSB
            [dataSource]="clients"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['code']"
            [showClearButton]="true"
            (onValueChanged)="onClientChanged($event)"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <!-- Entrepot -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-entrepot" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #entrepotSB
            [dataSource]="entrepots"
            [searchExpr]="['code']"
            [displayExpr]="displayCodeBefore"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>

    <!-- Bureau achat -->
    <dxi-item>
      <div class="dx-field field-large">
        <div class="dx-field-label noEllipsis">
          {{ "tiers-fournisseurs-bureauAchat" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #bureauAchatSB
            [dataSource]="bureauxAchat"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="filterFournisseurs($event)"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <!-- transporteur -->
      <div class="dx-field field-large">
        <div class="dx-field-label">
          {{ "ordres-transporteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #transporteurSB
            [dataSource]="transporteurs"
            [displayExpr]="displayCodeBefore"
            [showClearButton]="true"
            [searchExpr]="['id']"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <!-- Fournisseur -->
    <dxi-item>
      <div class="dx-field field-large">
        <div class="dx-field-label capitalize">
          {{ "fournisseur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #fournisseurSB
            [dataSource]="fournisseurs"
            [displayExpr]="displayCodeBefore"
            [showClearButton]="true"
            [searchExpr]="['code']"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dxi-item>
  <dxi-item
    itemType="group"
    [colCount]="5"
  >
    <dxi-item name="periode">
      <dxo-label text="{{ 'ordres-periode' | localize }}"></dxo-label>
      <dx-select-box
        #periodeSB
        [items]="periodes"
        [value]="periodes[1]"
        [displayExpr]="dateManagementService.displayPeriodText"
        (onValueChanged)="setDates($event)"
      ></dx-select-box>
    </dxi-item>
    <dxi-item
      dataField="dateDepartMin"
      editorType="dxDateBox"
      [isRequired]="true"
      [editorOptions]="{
        displayFormat: 'dd/MM/yyyy',
        onValueChanged: manuelDateStart.bind(this)
      }"
    >
      <dxo-label
        text="{{ 'packing-list-date-depart-min' | localize }}"
      ></dxo-label>
    </dxi-item>
    <dxi-item
      dataField="dateDepartMax"
      editorType="dxDateBox"
      [isRequired]="true"
      [editorOptions]="{
        displayFormat: 'dd/MM/yyyy',
        onValueChanged: manualDate.bind(this)
      }"
    >
      <dxo-label
        text="{{ 'packing-list-date-depart-max' | localize }}"
      ></dxo-label>
    </dxi-item>
    <dxi-item
      [cssClass]="'modified-orders-from'"
      dataField="dateModification"
      editorType="dxDateBox"
      [editorOptions]="{
        displayFormat: 'dd/MM/yyyy',
        showClearButton: true,
        type: 'datetime'
      }"
    >
      <dxo-label
        text="{{ 'filter-modified-orders-from' | localize }}"
      ></dxo-label>
    </dxi-item>
    <dxi-item
      itemType="button"
      verticalAlignment="center"
      [buttonOptions]="{
        focusStateEnabled: false,
        type: 'default',
        text: 'btn-refresh' | localize,
        onClick: applyPrefilter.bind(this)
      }"
    >
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>
  </dxi-item>
</dx-form>

<div class="labels">
  <span>{{ this.resumeLabel }}</span>
  <span class="label-right">{{ this.etatLabel }}</span>
</div>

<dx-data-grid
  class="grid-fraude"
  [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
  [dataSource]="dataSource"
  [width]="'100%'"
  (onCellPrepared)="onCellPrepared($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onRowDblClick)="onRowDblClick($event)"
  (onExporting)="onExporting($event)"
>
  <dxo-grouping></dxo-grouping>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-paging [enabled]="false"></dxo-paging>

  <dxi-column
    [dataField]="'dateDepartPrevueFournisseur'"
    [name]="'dateDepartPrevueFournisseurHead'"
    [groupIndex]="0"
    [dataType]="'date'"
    [format]="'dd-MM-yyyy'"
    [caption]="'fraude-depart-station' | localize"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'numeroOrdre'"
    [groupIndex]="1"
    [width]="'auto'"
    [caption]="'fraude-column-numeroOrdre' | localize"
    [calculateCellValue]="calculateGroupeOrdreLibelle"
  ></dxi-column>
  <dxi-column
    [dataField]="'fournisseurCode'"
    [caption]="'fraude-column-fournisseurCode' | localize"
    [cssClass]="'small-side-padding'"
    [groupIndex]="2"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'varieteCode'"
    [caption]="'fraude-column-varieteCode' | localize"
    [cssClass]="'small-side-padding'"
    [groupIndex]="3"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'dateDepartPrevue'"
    [caption]="'fraude-column-dateDepartPrevue' | localize"
    [dataType]="'date'"
    [cssClass]="'small-side-padding'"
    [format]="'dd/MM'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'dateDepartPrevueFournisseur'"
    [caption]="'fraude-column-dateDepartPrevueFournisseur' | localize"
    [dataType]="'date'"
    [cssClass]="'small-side-padding'"
    [format]="'dd/MM'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'nombrePalettesCommandees'"
    [caption]="'fraude-column-nombrePalettesCommandees' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'nombreColisCommandes'"
    [caption]="'fraude-column-nombreColisCommandes' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'poidsNet'"
    [caption]="'fraude-column-poidsNet' | localize"
    [cssClass]="'small-side-padding'"
    [calculateCellValue]="calculatePoidsNetValue"
    [width]="50"
  ></dxi-column>
  <dxi-column
    [dataField]="'articleDescription'"
    [caption]="'fraude-column-articleDescription' | localize"
    [cssClass]="'small-side-padding'"
    [calculateCellValue]="calculateArticleValue"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'pays'"
    [caption]="'pays-description' | localize"
    [calculateCellValue]="calculatePaysValue"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'incotermCode'"
    [caption]="'fraude-column-incotermCode' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
  ></dxi-column>
  <dxi-column
    [dataField]="'typeTransportDescription'"
    [caption]="'fraude-column-typeTransportDescription' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
    [visible]="false"
  ></dxi-column>
  <dxi-column
    [dataField]="'baseTarifTransportCode'"
    [caption]="'fraude-column-baseTarifTransportCode' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
    [visible]="false"
  ></dxi-column>
  <dxi-column
    [dataField]="'campagne'"
    [caption]="'fraude-column-campagne' | localize"
    [cssClass]="'small-side-padding'"
    [width]="'auto'"
    [visible]="false"
  ></dxi-column>

  <dxo-summary [recalculateWhileEditing]="true">
    <!-- <dxi-group-item
      [showInColumn]="'nombrePalettesCommandees'"
      [displayFormat]="'fraude-total-variete-station' | localize"
      [showInGroupFooter]="true"
    ></dxi-group-item> -->
    <dxi-group-item
      column="nombreColisCommandes"
      summaryType="sum"
      [showInGroupFooter]="true"
      [displayFormat]="'{0}'"
    >
    </dxi-group-item>
    <dxi-group-item
      column="poidsNet"
      summaryType="sum"
      [showInGroupFooter]="true"
      [displayFormat]="'{0}'"
    >
    </dxi-group-item>
  </dxo-summary>
</dx-data-grid>
