// Var
@import "themes/generated/variables.base";

::ng-deep {
  .justified-row {
    background-color: lightgray !important;
  }

  .hide-row {
    display: none;
  }
}

.labels {
  position: absolute;
  margin: 14px 0 0 19px;
  background-color: white;
  font-weight: bold;
  font-size: 17px;
  z-index: 1;

  .label-right {
    margin-left: 20px;
    color: $base-accent;
  }
}

::ng-deep .fraud-form {
  .dx-first-col.dx-last-col.dx-field-item.dx-col-0.dx-field-item-optional.dx-field-item-has-group {
    padding: 5px 0;
  }
}
