<br />
<dx-form
  [(formData)]="preFilterData"
  labelLocation="left"
>
  <dxi-item
    itemType="group"
    [colCount]="6"
  >
    <dxi-item
      dataField="secteur"
      editorType="dxLookup"
      [editorOptions]="{
        dataSource: secteurLookupStore,
        displayExpr: 'id',
        searchExpr: ['id', 'description']
      }"
    >
    </dxi-item>
    <dxi-item
      dataField="client"
      editorType="dxLookup"
      [editorOptions]="{
        dataSource: clientLookupStore,
        displayExpr: 'code'
      }"
    ></dxi-item>
    <dxi-item
      dataField="entrepot"
      editorType="dxLookup"
      [editorOptions]="{
        dataSource: entrepotLookupStore,
        displayExpr: 'code'
      }"
    ></dxi-item>
    <dxi-item
      dataField="transporteur"
      editorType="dxLookup"
      [editorOptions]="{
        dataSource: transportLookupStore,
        displayExpr: 'id'
      }"
    ></dxi-item>
    <dxi-item
      dataField="bureauAchat"
      editorType="dxLookup"
      [editorOptions]="{
        dataSource: bureauAchatLookupStore,
        displayExpr: 'id'
      }"
    ></dxi-item>
    <dxi-item
      dataField="fourniseur"
      editorType="dxLookup"
      [editorOptions]="{
        dataSource: fournisseurLookupStore,
        displayExpr: 'code'
      }"
    ></dxi-item>
  </dxi-item>
  <dxi-item
    itemType="group"
    [colCount]="4"
  >
    <dxi-item name="periode">
      <dxo-label [text]="'Période'"></dxo-label>
      <div *dxTemplate>
        <dx-select-box
          [items]="periodes"
          [value]="periodes[1]"
          (onValueChanged)="setDates($event)"
        ></dx-select-box>
      </div>
    </dxi-item>
    <dxi-item
      dataField="dateDepartPrevue"
      editorType="dxDateBox"
      [editorOptions]="{
        displayFormat: 'dd-MM-yy',
        onValueChanged: manualDate.bind(this)
      }"
    ></dxi-item>
    <dxi-item
      dataField="dateLivraisonPrevue"
      editorType="dxDateBox"
      [editorOptions]="{
        displayFormat: 'dd-MM-yy',
        onValueChanged: manualDate.bind(this)
      }"
    ></dxi-item>
    <dxi-item
      itemType="button"
      verticalAlignment="center"
      [buttonOptions]="{
        text: 'btn-launch' | localize,
        onClick: applyPrefilter.bind(this)
      }"
    ></dxi-item>
  </dxi-item>
  <dxi-item
    itemType="group"
    [colCount]="2"
  >
    <dxo-label [text]="'Filtrer les ordres modifiés depuis : '"></dxo-label>
    <dxi-item
      name="dateModification"
      editorType="dxDateBox"
      [editorOptions]="{
        displayFormat: 'dd/MM/yy  HH:mm',
        showClearButton: true
      }"
    ></dxi-item>
  </dxi-item>
</dx-form>
<br />
<dx-data-grid></dx-data-grid>
