// Var
@import "themes/generated/variables.base";

::ng-deep .grid-fraude {
  max-height: calc(100vh - 425px) !important;
}

::ng-deep {
  .justified-row {
    background-color: lightgray !important;
  }

  .hide-row {
    display: none;
  }

  .bold-black {
    font-weight: bold;
    color: #000;
  }

  .modified-orders-from input {
    color: $base-accent;
  }

}

.labels {
  position: absolute;
  height: 20px;
  overflow: hidden;
  margin: 14px 0 0 19px;
  background-color: white;
  font-weight: bold;
  font-size: 17px;
  z-index: 1;

  .label-right {
    margin-left: 20px;
    color: $base-accent;
  }
}

::ng-deep .fraud-form {
  .dx-first-col.dx-last-col.dx-field-item.dx-col-0.dx-field-item-optional.dx-field-item-has-group {
    padding: 5px 0;
  }

  .dx-field-item-label-text {
    color: $base-accent;
    font-size: 14px;
  }

  .dx-texteditor-input {
    padding: 5px 0 !important;
  }
}
