// Var
@import "themes/generated/variables.base";

::ng-deep .grid-fraude {
  margin-top: 5px;
  max-height: calc(100vh - 300px) !important;

  .cursor-pointer {
    cursor: pointer !important;
  }

}

::ng-deep {
  .justified-row {
    background-color: lightgray !important;
  }

  .hide-row {
    display: none;
  }

  .bold-black {
    font-weight: bold;
    color: #000;
  }

  .modified-orders-from input {
    color: $base-accent;
  }

  // Highlight canceled orders
  .canceled-orders td {
    color: #ff325a !important;
  }

}

.labels {
  position: absolute;
  height: 20px;
  overflow: hidden;
  margin: 19px 0 0 19px;
  background-color: white;
  font-weight: bold;
  font-size: 17px;
  z-index: 1;

  .label-right {
    margin-left: 20px;
    color: $base-accent;
  }
}

::ng-deep .fraud-form {
  .dx-first-col.dx-last-col.dx-field-item.dx-col-0.dx-field-item-optional.dx-field-item-has-group {
    padding: 0 0 5px 0;
  }

  .dx-first-row.dx-last-row.dx-field-item {
    padding: 0 10px !important;
  }

  .dx-field-item-label-text {
    color: $base-accent;
    font-size: 14px;
  }

  .dx-texteditor-input {
    padding: 5px 0 !important;
  }

  .modified-orders-from label {
    position: relative;
    top: -7px;
    white-space: break-spaces !important;
  }

  .dx-box-flex.dx-box.dx-widget.dx-collection .dx-box-item:last-of-type .dx-box-item:last-of-type .dx-box-item {
    &:last-of-type {
      flex: 0.4 1 0px !important;
    }
  }
}
