::ng-deep .selection-compte-palox-popup {

  .not-valid {
    opacity: 0.5;
  }

  min-height: 636px;

  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;

    .title-popup {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .minimize-popup {
      top: 13px;
      float: right;
    }

    .close-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {

    dx-scroll-view {
      background: #FFF !important;
      padding: 0 15px 0 2px;
    }

    .popup-action {
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
    }

  }
}
