// Var
@import "~themes/generated/variables.base";
@import "~scss/variables.scss";

::ng-deep .grid-cq-photos {

  // Override focus blue color from grid
  .small-CQ-button.download-photos.dx-button.dx-button-success.dx-button-mode-contained.dx-widget.dx-button-has-icon.dx-button-has-text {
    .dx-icon {
      color: #FFF !important;
    }
  }

  .pathText {
    width: 15% !important;
  }

  .small-CQ-button {
    position: relative;
    height: 18px;
    min-width: 0;
    padding: 0 4px !important;

    .dx-button-content {
      padding: 0;
      font-size: 11px;
      text-overflow: initial;

      .dx-button-text {
        position: relative;
        margin-top: -2px !important;
        padding: 0;
        line-height: 0 !important;
      }
    }

    &.download-photos {
      margin-right: 5px;
    }

  }

}
