// Var
@import "themes/generated/variables.base";


::ng-deep app-grid-articles-edi-colibri {


  .dx-fieldset {
    display: flex;
    margin-top: 0;
  }

  .grid-articles-edi-colibri {
    max-height: 550px;

    .dx-datagrid-nodata {
      width: 110px;
      overflow: hidden;
      white-space: normal;
    }

    td.validity {
      .dx-checkbox-icon {
        background-color: $base-accent !important;
      }
    }

    .cursor-pointer {
      .dx-checkbox-icon {
        cursor: pointer;
      }
    }

    .plus-button {
      width: 24px;
      height: 24px;
      min-width: 0;

      .dx-icon {
        font-size: 18px !important;
      }
    }
  }

  .dx-field {
    margin-right: 20px;
  }

  .EDIArticleFilterArea {
    width: 900px;
    margin-right: 30px;

    .client-label {
      width: 20% !important;
    }

    .activeCheckboxField {
      .dx-field-label {
        position: relative;
        top: -3px;
        width: 130px !important;
        white-space: inherit;
        text-overflow: initial;
      }

      .dx-field-value {
        width: 33px !important;

        .dx-checkbox-container {
          margin-top: -2px;
        }
      }

    }

    .dx-invalid-message-content {
      padding: 0;
    }
  }

}
