@import "themes/generated/variables.base.scss";

::ng-deep .login-form dx-scroll-view {
  background-color: darken($base-bg, 5);
}

.login-header {
  text-align: center;
  margin-bottom: 40px;

  .login-logo {
    line-height: 0;
  }

  .title,
  .subtitle {
    color: $base-accent;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    font-family: "Barlow", "BarlowFallback", sans-serif;
  }

  .subtitle {
    color: $base-text-color;
    font-size: 16px;
  }

  .version {
    color: $base-accent;
    margin-bottom: 11px;
    line-height: 10px;
  }
}

::ng-deep .field-username,
::ng-deep .field-password {
  .dx-texteditor-input {
    background: white;
  }
}

.companyLoader {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 5px;
}
