<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  width="1200"
  height="auto"
  [closeOnOutsideClick]="true"
  [(visible)]="visible"
  [resizeEnabled]="true"
  [focusStateEnabled]="false"
  (onShowing)="onShowing($event)"
  (onShown)="onShown()"
>

<div *dxTemplate="let data of 'title'">
  <div class="title">{{ title }}</div>
  <dx-button
    class="close-popup"
    icon="close"
    (onClick)="quitPopup()"
  ></dx-button>
  <dx-button
    class="min-max-imize-popup-icon"
    hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
    icon="material-icons fullscreen_exit"
    [focusStateEnabled]="false"
    (onClick)="resizePopup()"
  ></dx-button>
</div>

<div *dxTemplate="let data of 'content'">
  <dx-scroll-view>

    <dxi-item [ratio]="1">
      <dx-box direction="row">
        <dxi-item [ratio]="0.7">
          <div class="gestionOp-top-titles">{{ "ordreLitigesLignes-responsableTypeCode" | localize }}</div>
          <!-- {{ selectedCause }} / {{ selectedConsequence }} / {{ selectedResponsible }} -->
          <div class="dx-field responsible-box">
            <div class="dx-field-value">
              <dx-radio-group
                #responsibles
                [items]="responsibleList"
                [displayExpr]="displayResp"
                (onValueChanged)="changeResponsible($event)"
                layout="vertical"
              >
              </dx-radio-group>
            </div>
          </div>
        </dxi-item>
        <dxi-item [ratio]="1.5">
          <div class="gestionOp-top-titles">{{ "ordres-supervision-litiges-descriptionCause" | localize }}</div>
          <dx-list
            #causes
            class="list-causes"
            [items]="causeItems"
            [height]="220"
            [displayExpr]="displayCapitalize"
            selectionMode="multiple"
            selectAllMode="false"
            [showSelectionControls]="true"
            noDataText="{{ 'loading-progress' | localize }}"
            (onSelectionChanged)="onCauseChanged($event)"
          ></dx-list>
        </dxi-item>
        <dxi-item [ratio]="0.07"></dxi-item>
        <dxi-item [ratio]="1.5">
          <div class="gestionOp-top-titles">{{ "ordres-supervision-litiges-descriptionConsequence" | localize }}</div>
          <dx-list
            #consequences
            class="list-consequences"
            [items]="consequenceItems"
            [height]="220"
            [displayExpr]="displayCapitalize"
            selectionMode="multiple"
            selectAllMode="false"
            [showSelectionControls]="true"
            [selectedItemKeys]="['A']"
            noDataText="{{ 'loading-progress' | localize }}"
            (onSelectionChanged)="onConsequenceChanged($event)"
          ></dx-list>
        </dxi-item>
      </dx-box>
    </dxi-item>

    <br>

    <div class="bottom-buttons-container float-left">
      <dx-button
        class="big-button createRefactTranspOrder"
        type="normal"
        [visible]="(selectedConsequence === 'G')"
        stylingMode="outlined"
        text="{{ 'btn-createRefactTranspOrder' | localize }}"
        (onClick)="createRefactTranspOrder()"
      ></dx-button>
      <dx-button
        class="big-button"
        type="normal"
        [visible]="(selectedConsequence === 'B')"
        stylingMode="outlined"
        text="{{ 'btn-createReplaceOrder' | localize }}"
        (onClick)="createReplaceOrder()"
      ></dx-button>
      <dx-button
        class="big-button"
        type="normal"
        [visible]="(selectedConsequence === 'B')"
        stylingMode="outlined"
        text="{{ 'btn-addToReplaceOrder' | localize }}"
        (onClick)="addToReplaceOrder()"
      ></dx-button>
      <!-- Bouton plus d'actualité - Vu avec Bruno 17-02-2023 -->
      <!-- <dx-button
        class="big-button"
        type="normal"
        [visible]="false"
        stylingMode="outlined"
        text="{{ 'btn-createRefactOrder' | localize }}"
        (onClick)="createRefactOrder()"
      ></dx-button> -->
      <div
        *ngIf="['G', 'B'].includes(selectedConsequence)"
        class="red-font generated-order"
      >Ordre généré n°</div>
      <dx-button
        class="inactive-item order-number-button"
        type="normal"
        [visible]="['G', 'B'].includes(selectedConsequence)"
        stylingMode="outlined"
        text=""
        (onClick)="openOrder()"
      ></dx-button>
    </div>
    <div
      class="bottom-buttons-container float-right"
      [ngClass]="{ 'inactive-box': false }"
      >
      <!-- Annuler -->
      <dx-button
        type="default"
        text="{{ 'btn-annuler' | localize }}"
        (onClick)="quitPopup()"
      ></dx-button>
      <!-- Valider -->
      <dx-button
        type="default"
        text="{{ 'btn-valider' | localize }}"
        (onClick)="validate()"
      ></dx-button>
    </div>

  </dx-scroll-view>
</div>

</dx-popup>
