::ng-deep .gestion-operations-popup {
  .dx-template-wrapper.dx-popup-title {
    background-color: #fff;
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .close-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {
    padding-top: 12px;

    .resp-cau-con-container {
      width: calc(100% - 170px);
      margin: 0 0 2px 0;
      float: left;
    }

    .right-btn-container {
      position: relative;
      top: 15px;
      margin: 0 0 0 0;
      width: 170px;
      overflow: hidden;

      .dx-button {
        width: calc(100% - 10px);
        margin: 4px 2px;

        &.dx-button-normal {
          .dx-button-text {
            color: rgba(0, 0, 0, 0.87) !important;
          }
        }

        .dx-button-content {
          padding: 4px 13px 2px 13px !important;

          .dx-button-text {
            font-size: 13px;
          }
        }
      }
    }

    .responsible-box {
      dx-radio-group {
        .dx-item {
          line-height: 18px;
          padding-bottom: 4px;
        }
      }
    }

    .gestionOp-top-title-resp {
      position: relative;
      top: -4px;
      left: 0;
    }

    .gestionOp-top-titles {
      position: relative;
      top: -4px;
      left: 12px;
    }

    .list-causes,
    .list-consequences {
      padding: 10px 0;
      margin-bottom: 20px;
      background: rgb(245, 245, 245);
      z-index: 1000;

      .dx-list-item {
        margin: 0;

        .dx-list-item-before-bag {
          width: 47px;
        }

        .dx-list-item-content {
          padding: 0;
          font-size: 13px;
          line-height: 24px;
        }
      }
    }

    .bottom-buttons-container {
      display: inline-block;
      position: relative;

      .dx-button {
        margin: 5px;
        float: left;

        &.big-button {
          font-size: 13px;

          .dx-button-content {
            padding: 4px 11px;

            .dx-icon {
              font-size: 18px !important;
            }
          }
        }

        &.order-number-button {
          min-width: 90px;
        }

        &.createRefactTranspOrder {
          margin-right: 20px;
        }
      }

      .generated-order {
        float: left;
        line-height: 42px;
        margin-left: 5px;
      }
    }
  }
}
