::ng-deep .no-opacity {
  opacity: 0 !important;
}

::ng-deep .gestion-operations-popup {
  max-width: 100% !important;

  .dx-template-wrapper.dx-popup-title {
    background-color: #fff;
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .close-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {
    padding-top: 12px;

    .resp-cau-con-container {
      width: calc(100% - 170px);
      margin: 0 0 2px 0;
      float: left;
    }

    .right-btn-container {
      position: relative;
      top: 15px;
      margin: 0 0 0 0;
      width: 170px;
      overflow: hidden;

      .frais-ann-indicator {
        display: inline;
        position: absolute;
        min-width: 15px;
        height: 15px;
        margin: -1px 0 0 1px;
        border-radius: 13px;
        font-size: 10px;
        font-weight: normal;
        padding: 2px 5px 3px 3px;
        line-height: 7px;
        background-color: #FE3B2F;
        border: 1px solid #FF8888;
        color: #fff !important;
        z-index: 1;
      }

      .dx-button {
        width: calc(100% - 10px);
        margin: 4px 2px;

        &.dx-button-normal {
          .dx-button-text {
            color: rgba(0, 0, 0, 0.87) !important;
          }
        }

        .dx-button-content {
          padding: 4px 13px 2px 13px !important;

          .dx-button-text {
            font-size: 13px;
          }
        }
      }
    }

    .responsible-box {
      dx-radio-group {
        .dx-item {
          line-height: 18px;
          padding-bottom: 4px;
        }
      }
    }

    .gestionOp-top-title-resp {
      position: relative;
      top: -4px;
      left: 0;
    }

    .gestionOp-top-titles {
      position: relative;
      top: -4px;
      left: 12px;
    }

    .list-causes,
    .list-consequences {
      padding: 10px 0;
      margin-bottom: 20px;
      background: rgb(245, 245, 245);
      z-index: 1000;

      .dx-scrollbar-vertical {
        width: 3px !important;
        margin-right: 5px;
        background-color: rgba(175, 198, 206, 1) !important;

        .dx-scrollable-scroll {
          width: 15px !important;
          overflow: visible;

          .dx-scrollable-scroll-content {
            margin-left: 5px !important;
            background-color: rgba(175, 198, 206, 1) !important;
          }

        }
      }

      .dx-list-item {
        margin: 0;

        .dx-list-item-before-bag {
          width: 47px;
        }

        .dx-list-item-content {
          padding: 0;
          font-size: 13px;
          line-height: 24px;
        }
      }
    }

    .bottom-buttons-container {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      .dx-button {
        margin: 5px;
        float: left;

        &.big-button {
          font-size: 13px;

          .dx-button-content {
            padding: 4px 11px;

            .dx-icon {
              font-size: 18px !important;
            }
          }
        }

        &.order-number-button {
          min-width: 90px;
        }

        &.createRefactTranspOrder,
        &.addToReplaceOrder {
          margin-right: 15px;
        }
      }

      .generated-order {
        float: left;
        margin: 19px 0 0 5px;
      }
    }
  }
}
