<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  width="1500"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <div class="title-start">&nbsp;&nbsp;{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      class="minimize-article-popup"
      icon="material-icons fullscreen_exit"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <app-grid-articles-edi-colibri></app-grid-articles-edi-colibri>
    </dx-scroll-view>
  </div>
</dx-popup>
