<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="content-block">
    <h2><span *ngIf="createMode === true">{{ 'create' | localize }}</span>
      {{ 'tiers-transporteurs-details-title' | localize }}<span class="red-font"> {{ preSaisie | localize}}</span>
      <div class="right">
        <dx-button class="upperButton submit"
          type="default"
          text="{{ 'btn-valider' | localize }}"
          [visible]="!readOnlyMode"
          [useSubmitBehavior]="true"
        ></dx-button>
        <dx-button class="upperButton"
          type="default"
          text="{{ 'btn-editer' | localize }}"
          [visible]="readOnlyMode && !createMode"
          (onClick)="readOnlyMode = !readOnlyMode"
        ></dx-button>
        <dx-button class="upperButton"
          type="normal"
          text="{{ 'btn-annuler' | localize }}"
          [visible]="!readOnlyMode"
          (onClick)="onCancel()"
        ></dx-button>
      </div>
    </h2>
  </div>

  <div class="content-block transporteur-page">
    <dx-box direction="row">
      <dxi-item [ratio]="1" [visible]="!createMode">
        <h5 class="entity-id">{{ transporteur?.id }}</h5>
        <dx-button
          height="auto"
          type="danger"
          icon="material-icons person"
          text="{{ 'tiers-transporteurs-contacts' | localize }}"
          (onClick)="contactsBtnClick()">
        </dx-button>

        <dx-check-box
          class="vertical"
          formControlName="valide"
          [readOnly]="readOnlyMode || !authService.currentUser.adminClient"
          [text]="formGroup.get('valide') ? 'Valide' : 'Invalide' | localize"
        ></dx-check-box>
        <dx-button
          class="black"
          height="auto"
          icon="material-icons folder"
          (onClick)="fileManagerClick()"
          text="{{ 'btn-docsjoints' | localize }}">
        </dx-button>
      </dxi-item>
      <dxi-item [ratio]="0.3" [visible]="!createMode"></dxi-item>
      <dxi-item [ratio]="8.2">
        <app-modification-list [entite]="'Transporteur'" [entiteID]="transporteur.id" *ngIf="!createMode && transporteur"></app-modification-list>
        <dx-box direction="row">
          <dxi-item [ratio]="4">
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-transporteurs-details-groupe-infos' | localize }}</span>
    
              <div class="dx-form-group-content">
                <!-- Code -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-code' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box
                    formControlName="id"
                    [readOnly]="!createMode"
                    [inputAttr]="{'style': 'text-transform: uppercase'}"
                    (onValueChanged)="onCodeChange($event)"
                    >
                      <dx-validator name="{{ 'tiers-transporteurs-code' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" max="13"></dxi-validation-rule>
                        <dxi-validation-rule type="pattern" pattern="^[A-Z0-9]+$" message="Seuls les caractères A-Z et 0-9 sont acceptés"></dxi-validation-rule>
                        <dxi-validation-rule *ngIf="createMode === true" type="async" message="Ce code est déjà utilisé" [validationCallback]="checkCode"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
                <!-- Lieu fonction EAN -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-lieuFonctionEan' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="lieuFonctionEan" [readOnly]="readOnlyMode"></dx-text-box>
                  </div>
                </div>
                <!-- Client raison sociale -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-clientRaisonSocial-raisonSocial' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="clientRaisonSocial"
                      [readOnly]="readOnlyMode"
                      [dataSource]="clientsRaisonSocial"
                      displayExpr="raisonSocial"
                      [searchEnabled]="true"
                      [searchExpr]="['id','raisonSocial']"
                    >
                    </dx-select-box>
                  </div>
                </div>
                <!-- Langue -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-langue' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="langue"
                      [readOnly]="readOnlyMode"
                      [dataSource]="pays"
                      [displayExpr]="displayIDBefore"
                      [searchEnabled]="true"
                      [searchExpr]="['id','description']"
                    >
                      <dx-validator name="{{ 'tiers-transporteurs-langue' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <!-- tvaCee -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-tvaCee' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="tvaCee" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-tvaCee' | localize }}">
                        <dxi-validation-rule type="stringLength" max="20"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
              </div>
    
            </div>
    
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-transporteurs-details-groupe-adresses' | localize }}</span>
    
              <div class="dx-form-group-content">
                <!-- Raison sociale -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-raisonSocial' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="raisonSocial" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-raisonSocial' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Adresse 1 -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-adresse1' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="adresse1" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-adresse1' | localize }}">
                        <dxi-validation-rule type="stringLength" max="70"></dxi-validation-rule>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Adresse 2 -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-adresse2' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="adresse2" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-adresse2' | localize }}">
                        <dxi-validation-rule type="stringLength" max="70"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Adresse 3 -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-adresse3' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="adresse3" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-adresse3' | localize }}">
                        <dxi-validation-rule type="stringLength" max="70"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Code postal -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-codePostal' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="codePostal" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-codePostal' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" max="9"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Ville -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-ville' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="ville" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-ville' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" max="35"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Pays -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-pays' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="pays"
                      [readOnly]="readOnlyMode"
                      [dataSource]="pays"
                      [displayExpr]="displayIDBefore"
                      [searchEnabled]="true"
                      [searchExpr]="['id','description']"
                    >
                      <dx-validator name="{{ 'tiers-transporteurs-pays' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
              </div>
    
            </div>
          </dxi-item>
          <dxi-item [ratio]="0.2"></dxi-item>
          <dxi-item [ratio]="4">
    
            <div class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings">
              <span class="dx-form-group-caption">{{ 'tiers-transporteurs-details-groupe-paiement' | localize }}</span>
    
              <div class="dx-form-group-content">
                <!-- Compte comptable -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-compteComptable' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="compteComptable" 
                      [readOnly]="readOnlyMode || !authService.currentUser.adminClient"
                      (onValueChanged)="checkCompteComptable($event)"
                      >
                      <dx-validator name="{{ 'tiers-transporteurs-compteComptable' | localize }}">
                        <!-- Workaround. Apparemment bug de Devextreme qui apparait lorsqu'il y a 2 async validation rules sur la page, et crée une référence circulaire. -->
                        <dxi-validation-rule *ngIf="createMode === true && CCexists" type="stringLength" max="0" message="Ce code est déjà utilisé"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Nb Jour Echeance -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-nbJourEcheance' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-text-box formControlName="nbJourEcheance" [readOnly]="readOnlyMode">
                      <dx-validator name="{{ 'tiers-transporteurs-nbJourEcheance' | localize }}">
                        <dxi-validation-rule type="numeric"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" max="3"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
    
                <!-- Regime Tva -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-regimeTva' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="regimeTva"
                      [readOnly]="readOnlyMode"
                      [dataSource]="regimesTva"
                      [displayExpr]="displayIDBefore"
                      [searchEnabled]="true"
                      [searchExpr]="['id','description']"
                    >
                      <dx-validator name="{{ 'tiers-transporteurs-regimeTva' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
    
                <!-- Devise -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-devise' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="devise"
                      [readOnly]="readOnlyMode"
                      [dataSource]="devises"
                      [displayExpr]="displayIDBefore"
                      [searchEnabled]="true"
                      [searchExpr]="['id','description']"
                    >
                      <dx-validator name="{{ 'tiers-transporteurs-devise' | localize }}">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
    
                <!-- Moyen Paiement -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-moyenPaiement' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="moyenPaiement"
                      [readOnly]="readOnlyMode"
                      [dataSource]="moyensPaiement"
                      [displayExpr]="displayIDBefore"
                      [searchEnabled]="true"
                      [searchExpr]="['id','description']"
                    ></dx-select-box>
                  </div>
                </div>
    
                <!-- Base Paiement -->
                <div class="dx-field">
                  <div class="dx-field-label">{{ 'tiers-transporteurs-basePaiement' | localize }}</div>
                  <div class="dx-field-value">
                    <dx-select-box
                      formControlName="basePaiement"
                      [readOnly]="readOnlyMode"
                      [dataSource]="basesPaiement"
                      [displayExpr]="displayIDBefore"
                      [searchEnabled]="true"
                      [searchExpr]="['id','description']"
                    ></dx-select-box>
                  </div>
                </div>
    
              </div>
            </div>
          </dxi-item>
        </dx-box>
      </dxi-item>
    </dx-box>
  </div>

</form>
<app-editing-alert></app-editing-alert>
<app-info-popup customText="Avez-vous joint la lettre d’engagement signée par le transporteur à votre demande (OBLIGATOIRE) ?"></app-info-popup>
<app-file-manager-popup key="transporteurs" [id]="transporteur?.id"></app-file-manager-popup>
