<div class="grid-reservation-stock">
  <dx-data-grid
    class="dx-card wide-card grid-ordre-ligne-stock"
    [dataSource]="reservationsSource | async"
    [remoteOperations]="false"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="-1"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    (onCellPrepared)="onCellPrepared($event)"
    (onCellClick)="onCellClick($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        'Fournisseurs ayant cet article en stock (cliquez pour déstocker)',
        $event,
        gridConfiguratorService.Grid.OrdreReservationStock
      )
    "
  >
    <dxo-paging></dxo-paging>
    <dxo-group-panel [visible]="true"> </dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxo-header-filter
      [visible]="false"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-export fileName="Déstockage stock"></dxo-export>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.OrdreReservationStock"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-column-chooser
      [enabled]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
    >
    </dxo-column-chooser>
    <dxo-search-editor-options [width]="500"> </dxo-search-editor-options>

    <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
      <dxi-group-item
        *ngFor="let field of summaryFields"
        [column]="field"
        summaryType="sum"
        [alignByColumn]="true"
        displayFormat="{0}"
      >
      </dxi-group-item>
      <dxi-group-item
        name="typePaletteCode"
        [column]="'typePaletteCode'"
        summaryType="custom"
        [alignByColumn]="true"
      >
      </dxi-group-item>
    </dxo-summary>

    <dxi-column
      [dataField]="'Fournisseur'"
      [calculateCellValue]="calcFouProp"
      [groupIndex]="0"
    ></dxi-column>
    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [caption]="
        ('ordreReservationStock-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [dataType]="column?.dataType"
      [cssClass]="column?.cssClass"
      [width]="column?.width"
      [cellTemplate]="column.cellTemplate"
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>
  </dx-data-grid>
</div>
