::ng-deep .grid-reservation-stock {

  .grid-title {
    .dx-texteditor-container {
      width: 500px;
    }
  }

  // Reducing non-consistent space when empty grid
  .dx-datagrid-rowsview.dx-datagrid-nowrap.dx-empty {
    height: 70px;
  }

  .dx-data-row {
    cursor: pointer;

    .highlight-stockJ9-21-cell {
      background: #ffdd00 !important;
      color: rgba(0, 0, 0, .7) !important;
    }

    .highlight-negativeStock-cell {
      color: #ff325a !important;
    }

    .highlight-positiveStock-cell {
      color: green !important;
    }

    .dx-datagrid-header-panel {
      .dx-texteditor-container {
        width: 500px !important;
      }
    }

    .bold-text {
      font-weight: bold !important;
    }
  }

}
