::ng-deep .selection-clignes-cde-litige-popup {
  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;
    padding: 0 8px 0 24px;
    height: 66px;

    .title-popup {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .minimize-popup,
    .close-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {
    dx-scroll-view {
      background: #fff !important;
      padding: 0 15px 0 2px;
    }

    .grid-selection-lignes-litige {
      min-height: 200px;
      margin: 2px;
    }

    .popup-action {
      position: relative;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);

      .dx-button {
        .dx-icon {
          font-size: 18px !important;
        }
      }
    }
  }
}
