$base-accent: #00759c;
$base-tone: #498396;
$base-shade: #00475f;
$base-tone-shade: #2e525e;
$base-text-color: rgba(0, 0, 0, 0.87);
$base-bg: #fff;
$base-border-color: #e0e0e0;
$base-border-radius: 0px;
