<dx-button
  style="margin-right: 46px; margin-top: 16px"
  class="grid-grouping-button"
  type="default"
  icon="material-icons menu_open"
  hint="{{ 'btn-grouping' | localize }}"
  (onClick)="gridsService.expandCollapseGroups(this)"
></dx-button>

<dx-data-grid
  class="grid-litiges-lignes"
  [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
  [dataSource]="dataSource"
  [remoteOperations]="true"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  [wordWrapEnabled]="true"
  [focusedRowEnabled]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onRowClick)="onRowClick($event)"
  (onRowDblClick)="onRowDblClick($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Litiges',
      $event,
      gridConfiguratorService.Grid.LitigeLigne,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Litiges"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [enabled]="true"
    type="custom"
    [storageKey]="gridConfiguratorService.Grid.LitigeLigne"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column?.width"
    [cssClass]="column?.cssClass + ' small-side-padding'"
    [caption]="
      ('ordreLitigesLignes-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [dataType]="column?.dataType"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>

  <!-- [autoExpandAll]="true" pour déroulés d'office -->
  <dxo-master-detail
    [enabled]="true"
    template="detail"
    [autoExpandAll]="true"
  ></dxo-master-detail>
  <div *dxTemplate="let ds of 'detail'">
    <div class="master-detail">
      <div class="row">
        <div class="col-xs-12">
          <div
            class="table-responsive"
            data-pattern="priority-columns"
          >
            <table class="table table-bordered table-hover master-detail-color">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    {{
                      "ordreLitigesLignes-nombrePalettesExpediees" | localize
                    }}
                  </th>
                  <th data-priority="1">
                    {{ "ordreLitigesLignes-nombreColisExpedies" | localize }}
                  </th>
                  <th data-priority="2">
                    {{
                      "ordreLitigesLignes-ordreLigne-poidsNetExpedie" | localize
                    }}
                  </th>
                  <th data-priority="3">
                    {{ "ordreLitigesLignes-prixUnitaire" | localize }}
                  </th>
                  <th data-priority="4">
                    {{ "ordreLitigesLignes-deviseCode" | localize }}
                  </th>
                  <th data-priority="5">
                    {{ "ordreLitigesLignes-quantite" | localize }}
                  </th>
                  <th data-priority="5">
                    {{ "ordreLitigesLignes-unite" | localize }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- Avoir client -->
                <tr class="client-color">
                  <td class="first-col">
                    {{ "ordreLitigesLignes-avoirClient" | localize }}
                  </td>
                  <td>{{ ds.data.clientNombrePalettes }}</td>
                  <td>
                    {{ ds.data.clientNombreColisReclamation }}
                  </td>
                  <td>{{ ds.data.clientPoidsNet }}</td>
                  <td>{{ ds.data.clientPrixUnitaire.toFixed(2) }}</td>
                  <td>{{ ds.data.ordreLigne.ordre.devise.id }}</td>
                  <td>{{ ds.data.clientQuantite }}</td>
                  <td>
                    {{ ds.data.clientUniteFactureCode }}
                  </td>
                </tr>
                <!-- Demande avoir fournisseur -->
                <tr class="fournisseur-color">
                  <td class="first-col">
                    {{ "ordreLitigesLignes-ddeAvoirFournisseur" | localize }}
                  </td>
                  <td>
                    {{ ds.data.responsableNombrePalettes }}
                  </td>
                  <td>
                    {{ ds.data.responsableNombreColis }}
                  </td>
                  <td>{{ ds.data.responsablePoidsNet }}</td>
                  <td>
                    {{ ds.data.responsablePrixUnitaire?.toFixed(2) }}
                  </td>
                  <td>{{ ds.data.deviseCode }}</td>
                  <td>{{ ds.data.responsableQuantite }}</td>
                  <td>
                    {{ ds.data.responsableUniteFactureCode }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-data-grid>
