
::ng-deep .master-detail th, ::ng-deep .master-detail td {
    padding:10px;
}

::ng-deep .table-bordered {
    border: 1px solid #DDD !important;
}

::ng-deep .dx-master-detail-cell {
    padding-top:15px !important;
    padding-left:30px !important;
}

::ng-deep .client-color {
    color: #00759c;
}

::ng-deep .master-detail-color {
    color: #333;
}