::ng-deep .grid-litiges-lignes {

  .master-detail th,
  .master-detail td {
    padding: 10px;
  }

  .table-bordered {
    border: 1px solid #ddd !important;
  }

  .dx-master-detail-cell {
    padding-top: 15px !important;
    padding-left: 30px !important;
  }

  .client-color {
    color: #00759c;
  }

  .bold-text {
    font-weight: bold;
  }

  .master-detail-color {
    color: #333;

    td,
    th {
      text-align: right;
    }
  }
}

::ng-deep .grid-grouping-button {
  margin-top: 13px !important;
}

::ng-deep .cursor-pointer {
  cursor: pointer !important;
}
