@import "themes/generated/variables.base";

::ng-deep .grid-litiges-lignes {

  .master-detail th,
  .master-detail td {
    padding: 10px;
  }

  .master-detail th {
    font-weight: normal;
  }

  .table-bordered {
    border: 1px solid #ddd !important;
  }

  .dx-master-detail-cell {
    padding-top: 15px !important;
    padding-left: 30px !important;
  }

  .client-color {
    font-weight: bold;
    color: darken($base-danger, 10%);
  }

  .fournisseur-color {
    font-weight: bold;
    color: darken($base-success, 20%);
  }

  .bold-text {
    font-weight: bold;
  }

  .master-detail-color {
    color: #333;

    td,
    th {
      text-align: right;
    }
  }

  .dx-data-row {
    .lineHeight16 {
      line-height: 16px !important;
    }

    .no-wrap {
      white-space: nowrap !important;
    }
  }

}

::ng-deep .grid-grouping-button {
  margin-top: 13px !important;
}

::ng-deep .cursor-pointer {
  cursor: pointer !important;
}
