<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  title="Modification détail expédition"
  [width]="'auto'"
  [height]="'auto'"
  (onShowing)="onShowing($event)"
  (onHidden)="onHidden()"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'content'">
    <form #form="ngForm">
      <div class="textbox-left">
        <span class="popup-detail-expediteur-title">Expéditeur :</span>
        <br /><br />
        <span class="popup-detail-article-title">Desc. :</span>
      </div>
      <div class="textbox-right">
        <span class="popup-detail-expediteur"
          >&nbsp;{{ ligneDetail?.fournisseur?.code }}</span
        >
        <br /><br />
        <span class="popup-detail-article">&nbsp;{{ articleDesc }}</span>
      </div>
      <br />
      <div style="clear: both"></div>
      <br />
      <div class="textbox-left">
        <div class="header-form-modif-popup">Actuel</div>
        <div style="clear: both"></div>
        <div class="dx-field">
          <div class="dx-field-label">Nb Pal</div>
          <dx-text-box
            value="{{ ligneDetail?.nombrePalettesExpediees }}"
            [readOnly]="true"
          ></dx-text-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Nb Col</div>
          <dx-text-box
            value="{{ ligneDetail?.nombreColisExpedies }}"
            [readOnly]="true"
          ></dx-text-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Poids brut*</div>
          <dx-text-box
            value="{{ ligneDetail?.poidsBrutExpedie }}"
            [readOnly]="true"
          ></dx-text-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Poids net*</div>
          <dx-text-box
            value="{{ ligneDetail?.poidsNetExpedie }}"
            [readOnly]="true"
          ></dx-text-box>
        </div>
      </div>

      <div class="textbox-right">
        <div class="header-form-modif-popup">Remplacé par**</div>
        <div style="clear: both"></div>
        <dx-number-box
          ngModel
          name="nombrePalettesExpedieesApres"
          (onValueChanged)="onValueChanged($event)"
          valueChangeEvent="keyup"
        ></dx-number-box>
        <dx-number-box
          ngModel
          name="nombreColisExpediesApres"
          (onValueChanged)="onValueChanged($event)"
          valueChangeEvent="keyup"
        ></dx-number-box>
        <dx-number-box
          ngModel
          name="poidsBrutExpedieApres"
          (onValueChanged)="onValueChanged($event)"
          valueChangeEvent="keyup"
        ></dx-number-box>
        <dx-number-box
          ngModel
          name="poidsNetExpedieApres"
          (onValueChanged)="onValueChanged($event)"
          valueChangeEvent="keyup"
        ></dx-number-box>
      </div>
      <div style="clear: both"></div>
      <br />
      <div class="textbox-left">
        <div>* En kilo</div>
        <div>** Ne saisir que les valeurs à modifier</div>
      </div>
      <div style="clear: both"></div>

      <div class="popup-buttons-container">
        <dx-button
          type="normal"
          text="{{ 'btn-appliquer' | localize }}"
          [ngClass]="{ 'inactive-button': !validForm }"
          (onClick)="applyClick(form)"
        ></dx-button>
        <dx-button
          type="default"
          text="{{ 'btn-annuler' | localize }}"
          (onClick)="cancelClick()"
        ></dx-button>
      </div>
    </form>
  </div>
</dx-popup>
