<dx-button
  *ngIf="!disabledButtons?.includes('close')"
  class="close-popup"
  icon="close"
  hint="{{ 'btn-fermer' | localize }}"
  (onClick)="quitPopup()"
></dx-button>
<dx-button
  *ngIf="!disabledButtons?.includes('resize')"
  class="resize-popup-icon"
  hint="{{
    (popup?.popupFullscreen ? 'normalscreen' : 'fullscreen') | localize
  }}"
  [icon]="
    'material-icons zoom_' + (popup?.popupFullscreen ? 'in' : 'out') + '_map'
  "
  (onClick)="resizePopup()"
></dx-button>
<dx-button
  *ngIf="!disabledButtons?.includes('minimize')"
  class="minimize-popup-icon"
  hint="{{ (minimized ? 'agrandir' : 'reduire') | localize }}"
  [icon]="'material-icons ' + (minimized ? 'crop_square' : 'minimize')"
  (onClick)="minMaximizePopup()"
></dx-button>
