// Up right button on popups
::ng-deep .dx-template-wrapper.dx-popup-title {

  .minimize-popup-icon {
    top: 13px;
    float: right;
  }

  .close-popup,
  .resize-popup-icon {
    top: 12px;
    float: right;
  }
}
