<dx-data-grid
  [repaintChangesOnly]="true"
  [dataSource]="dataSource"
  (onToolbarPreparing)="gridConfigHandler($event)"
  (onCellPrepared)="onCellPrepared($event)"
>
  <dxo-editing
    [allowUpdating]="true"
    [mode]="'batch'"
  ></dxo-editing>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [caption]="calculateCaption(column)"
    [dataType]="column?.dataType"
    [allowEditing]="column?.allowEditing"
    [visible]="column?.visible"
    [showInColumnChooser]="column.showInColumnChooser"
    [cellTemplate]="column?.cellTemplate"
    [calculateCellValue]="this[column?.calculateCellValue]"
    [width]="'auto'"
  ></dxi-column>

  <dxo-summary [recalculateWhileEditing]="true">
    <dxi-total-item
      column="ligne.responsableNombrePalettes"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="ligne.responsableNombreColis"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="ligne.responsablePoidsNet"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="clientAvoir"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="responsableAvoir"
      summaryType="sum"
    >
    </dxi-total-item>
  </dxo-summary>

  <div *dxTemplate="let cell of 'byCellTemplate'">
    {{ cell.value }} /
    {{ cell.data.reach(maxByStore[cell.column.dataField].split(".")) }}
  </div>
</dx-data-grid>
