@import "themes/generated/variables.base";

@mixin cell($color) {
  color: $color;
  font-weight: 500;

  .dx-checkbox-icon {
    border-color: $color;
  }

  .dx-checkbox.dx-checkbox-checked {
    .dx-checkbox-icon {
      background-color: $color;
    }
  }
}

::ng-deep .grid-litige-lots {
  max-width: 100% !important;
  margin: 0 2px !important;

  td {
    .merged {
      > :first-child {
        @extend .client-cell;
      }

      > :last-child {
        @extend .responsable-cell;
      }
    }
  }

  .client-cell {
    @include cell(darken($base-danger, 10%));
  }

  .responsable-cell {
    @include cell(darken($base-success, 20%));
  }

}
