<dx-data-grid
  [repaintChangesOnly]="true"
  [dataSource]="dataSource"
  (onToolbarPreparing)="gridConfigHandler($event)"
  (onCellPrepared)="onCellPrepared($event)"
>
  <dxo-editing
    [allowUpdating]="true"
    [mode]="'batch'"
  ></dxo-editing>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [dataType]="column?.dataType"
    [allowEditing]="column?.allowEditing"
    [visible]="column?.visible"
    [showInColumnChooser]="column.showInColumnChooser"
    [cellTemplate]="column?.cellTemplate"
    [width]="'auto'"
  ></dxi-column>

  <div *dxTemplate="let cell of 'byCellTemplate'">
    {{ cell.value }} /
    {{ cell.data.reach(maxByStore[cell.column.dataField].split(".")) }}
  </div>
</dx-data-grid>
