@import "~themes/generated/variables.base";

::ng-deep {
  .client-cell {
    color: $base-danger;

    .dx-checkbox-icon {
      border-color: $base-danger;
    }

    .dx-checkbox.dx-checkbox-checked {
      .dx-checkbox-icon {
        background-color: $base-danger;
      }
    }

  }

  .responsable-cell {
    color: $base-success;

    .dx-checkbox-icon {
      border-color: $base-success;
    }

    .dx-checkbox.dx-checkbox-checked {
      .dx-checkbox-icon {
        background-color: $base-success;
      }
    }

  }

  td {
    .merged {
      display: flex;
      flex-direction: column;
      align-items: center;

      >div {
        padding: 5px;
        line-height: normal;
      }
    }
  }
}
