<dx-data-grid
  [dataSource]="dataSource"
  (onToolbarPreparing)="gridConfigHandler($event)"
>
  <dxo-editing
    [allowUpdating]="true"
    [mode]="'batch'"
  ></dxo-editing>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [caption]="calculateCaption(column)"
    [dataType]="column?.dataType"
    [allowEditing]="column?.allowEditing"
    [visible]="column?.visible"
    [showInColumnChooser]="column.showInColumnChooser"
    [cellTemplate]="column?.cellTemplate"
    [calculateCellValue]="this[column?.calculateCellValue]"
    [width]="column?.width !== undefined ? column.width : 'auto'"
  >
    <dxo-format
      *ngIf="column?.formatter"
      [formatter]="this[column?.formatter]"
    ></dxo-format>
  </dxi-column>

  <dxo-summary [recalculateWhileEditing]="true">
    <dxi-total-item
      column="ligne.responsableNombrePalettes"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="ligne.responsableNombreColis"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="ligne.responsablePoidsNet"
      summaryType="sum"
    >
    </dxi-total-item>
    <dxi-total-item
      column="clientAvoir"
      summaryType="sum"
      displayFormat="Avoir au client: {0}"
      showInColumn="avoir"
      cssClass="client-cell"
    >
      <dxo-value-format [formatter]="formatToClientCurrency"></dxo-value-format>
    </dxi-total-item>
    <dxi-total-item
      column="responsableAvoir"
      summaryType="sum"
      displayFormat="Dde avoir fournisseur: {0}"
      showInColumn="avoir"
      cssClass="responsable-cell"
    >
      <dxo-value-format
        [formatter]="formatToResponsableCurrency"
      ></dxo-value-format>
    </dxi-total-item>
  </dxo-summary>

  <div
    *dxTemplate="let cell of 'extendedCellTemplate'"
    class="extra"
  >
    <div class="current-value">
      {{ cell.value }}
    </div>
    <div class="diff">
      {{ cell.data.reach("ligne.ordreLigne.article.id".split(".")) }}
      {{
        cell.data.reach(
          "ligne.ordreLigne.proprietaireMarchandise.code".split(".")
        )
      }}
      {{ cell.data.reach("ligne.ordreLigne.fournisseur.code".split(".")) }}
    </div>
  </div>

  <div *dxTemplate="let cell of 'byCellTemplate'">
    {{ cell.value }} /
    {{ cell.data.reach(byTemplateConfig[cell.column.dataField].split(".")) }}
  </div>

  <app-merged-dxgrid-cell-template></app-merged-dxgrid-cell-template>
</dx-data-grid>

<app-confirmation-result-popup></app-confirmation-result-popup>
