// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-recap-stock-cde-edi-colibri {

  max-height: calc(100vh - 120px);

  .dx-data-row .warning-icon {
    top: 2px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    opacity: 1 !important;
    background: none !important;
    opacity: 0 !important;
    transition: opacity .25s;
    z-index: 1;

    .dx-icon {
      color: #FF325A;
    }

    &.visible {
      opacity: 1 !important;

      &+.button-bkg {
        opacity: 1 !important;
      }
    }

    &+.button-bkg {
      position: absolute;
      width: 4px;
      height: 12px;
      background-color: white;
      margin: -16px 0px 0 12px;
      opacity: 0 !important;
      transition: opacity .25s;
    }

  }

  .dx-command-select {
    padding: 0 !important;
  }

  .quantiteValidee {
    cursor: pointer !important;
  }

  .bold-text {
    font-weight: bold !important;
  }

  td.dx-command-select {
    background-color: white !important;
  }

  .alternate-row-1 {
    background-color: #FFF !important;
  }

  .alternate-row-2 {
    background-color: #DDD !important;
  }

  .textArticleTemplate {
    position: relative;
    top: 11px;
    float: left;
  }

  .grid-add-button {
    display: block !important;
    width: 20px !important;
    height: 20px;
    min-width: 20px !important;
    left: 35px;
    border-radius: 0 !important;
    float: right;

    .dx-icon {
      color: white !important;
      font-size: 18px !important;
      padding: 1px;
    }

    .dx-button-content {
      padding: 0;

    }
  }

}
