// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-recap-stock-cde-edi-colibri {

  max-height: 750px;

  .dx-command-select {
    padding: 0 !important;
  }

  .quantiteValidee {
    cursor: pointer !important;
  }

  .bold-text {
    font-weight: bold !important;
  }

  .green-row {
    background-color: #D7FF97 !important;

    td.dx-command-select {
      background-color: white !important;
    }

    &.dx-row-focused td {
      color: #333 !important;
      background-color: #9CDF33 !important;
    }
  }

  .blue-row {
    background-color: #DDFFFC !important;

    td.dx-command-select {
      background-color: white !important;
    }
  }

  .textArticleTemplate {
    position: relative;
    top: 11px;
    float: left;
  }

  .grid-add-button {
    display: block !important;
    width: 20px !important;
    height: 20px;
    min-width: 20px !important;
    left: 35px;
    border-radius: 0 !important;
    float: right;

    .dx-icon {
      color: white !important;
      font-size: 18px !important;
      padding: 1px;
    }

    .dx-button-content {
      padding: 0;

    }
  }

}
