<div class="grid-recap-stock-cde-edi-colibri-container">
  <dx-data-grid
    class="dx-card wide-card grid-recap-stock-cde-edi-colibri"
    [width]="'100%'"
    [dataSource]="dataSource"
    [focusedRowEnabled]="false"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onSelectionChanged)="selectChange.emit($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        '',
        $event,
        gridConfiguratorService.Grid.RecapStockCdeEdi,
        enableFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <dxo-editing
      [mode]="'batch'"
      [allowUpdating]="true"
      [allowAdding]="false"
      [selectTextOnEditStart]="true"
    >
    </dxo-editing>
    <dxo-keyboard-navigation
      [enterKeyAction]="'moveFocus'"
      [enterKeyDirection]="'column'"
      [editOnKeyPress]="true"
    ></dxo-keyboard-navigation>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-pager
      [visible]="true"
      [showInfo]="true"
      [showPageSizeSelector]="false"
      infoText="{2} {{ 'elements' | localize }}"
    ></dxo-pager>
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-selection
      mode="multiple"
      [allowSelectAll]="false"
      [showCheckBoxesMode]="'always'"
      [selectAllMode]="'page'"
    ></dxo-selection>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.RecapStockCdeEdi"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>
    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [width]="column.width"
      [caption]="
        ('ordreRecapCdeEdi-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [cellTemplate]="column.cellTemplate"
      [allowEditing]="column.allowEditing ? column.allowEditing : false"
      [fixed]="column.fixed"
      [dataType]="column?.dataType"
      [cssClass]="column?.cssClass"
      [calculateCellValue]="this[column?.calculateCellValue]"
      allowSearch="false"
      [allowHeaderFiltering]="
        column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
      "
      [showInColumnChooser]="column?.showInColumnChooser"
    >
    </dxi-column>

    <!-- Warning icon -->
    <dxi-column
      *ngIf="true"
      cssClass="no-side-padding text-align-right"
      visibleIndex="0"
      [showInColumnChooser]="false"
      [cellTemplate]="'warningTemplate'"
    >
    </dxi-column>
    <div *dxTemplate="let cell of 'warningTemplate'">
      <dx-button
        [class.visible]="showWarning(cell.data)"
        class="warning-icon"
        icon="material-icons warning"
        [disabled]="true"
      >
      </dx-button>
      <div class="button-bkg"></div>
    </div>

    <div *dxTemplate="let cell of 'addArticleBtnTemplate'">
      <div class="textArticleTemplate">{{ cell.value }}</div>
      <dx-button
        class="grid-add-button"
        type="default"
        icon="plus"
        hint="{{ 'hint-add-article' | localize }}"
        [focusStateEnabled]="false"
        (onClick)="addArticlePopup(cell)"
      >
      </dx-button>
    </div>
  </dx-data-grid>
</div>

<app-ajout-article-edi-colibri-popup
  [ligneEdi]="ligneEdi"
  (whenValidate)="refreshGrid()"
></app-ajout-article-edi-colibri-popup>
