// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-recap-stock-cde-edi-colibri {

  .dx-command-select {
    padding: 0 !important;
  }

  .green-row {
    background-color: #BCFF53 !important;
  }

  .blue-row {
    background-color: #53FFF0 !important;
  }

  .textArticleTemplate {
    position: relative;
    top: 11px;
  }

  .dx-row-focused {
    .grid-add-button {
      display: block !important;
      width: 22px !important;
      height: 22px;
      min-width: 22px !important;
      float: right;

      .dx-icon {
        color: white !important;
        font-size: 18px !important;
      }

      .dx-button-content {
        padding: 0;

      }
    }
  }

}
