// Var
@import "scss/variables.scss";
@import "themes/generated/variables.base";

::ng-deep .button-create-order {
  position: relative;
  top: 8px;

  .dx-button-content {
    padding: 6px 16px;
  }

  .dx-icon {
    margin-left: -8px;
  }
}

h2.nouvelOrdre-title {
  margin: 20px 0 10px 19px;
}

.nouvelOrdre-switch {
  width: 220px;
  margin-left: 20px;
  margin-bottom: 0;
  float: left;

  .dx-radiogroup {
    margin: 5px 0;
  }
}

::ng-deep .pulse .dx-button {
  animation: pulse 0.5s;
}
