::ng-deep .grid-ordre-lignes-groupage-chargements-container {

  .cursor-pointer {
    cursor: pointer !important;
  }

  .grid-ordre-lignes-groupage-chargements {
    height: 400px;

    .grey-light-column:not(.dx-cell-modified) {
      background-color: #EEE;
    }

    .text-underlined-pointer input {
      text-decoration: underline;
      cursor: pointer;
    }

  }

  tr.dx-row-focused {
    td.dx-editor-cell:not(.dx-focused) {
      .dx-texteditor-input {
        color: #FFF !important;
      }
    }

    td.dx-editor-cell.dx-cell-modified:not(.dx-focused) {
      .dx-texteditor-input {
        color: #DBECCA !important;
      }
    }
  }

  .bottom-buttons-container {
    display: inline-block;
    position: relative;

    .flux-docs-buttons-container {
      float: left;
    }

    .dx-button {
      margin: 5px;
      float: left;
    }
  }
}
