// Var
@import "~themes/generated/variables.base";
@import "~scss/variables.scss";


::ng-deep .grid-ordre-lignes-groupage-chargements-container {

  .grid-ordre-lignes-groupage-chargements {
    max-height: 600px;

    .grey-light-column:not(.dx-cell-modified) {
      background-color: #F5F5F5;
    }

    .text-underlined-pointer input {
      text-decoration: underline;
      cursor: pointer;
    }

  }

  tr.dx-row-focused {
    td.dx-editor-cell:not(.dx-focused) {
      .dx-texteditor-input {
        color: #FFF !important;
      }
    }

    td.dx-editor-cell.dx-cell-modified:not(.dx-focused) {
      .dx-texteditor-input {
        color: #DBECCA !important;
      }
    }
  }

  .bottom-buttons-container {
    display: inline-block;
    position: relative;

    .flux-docs-buttons-container {
      float: left;
    }

    .dx-button {
      margin: 5px;
      float: left;
    }
  }
}
