<form
  class="dx-fieldset"
  [formGroup]="formGroup"
>
  <div class="orderTileFilterArea">
    <dx-box>
      <dxi-item [ratio]="1">
        <!-- Valides/non valides -->
        <div class="dx-field valideCheckboxField">
          <div class="dx-field-label">
            {{ "valide-uniq" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-check-box
              formControlName="valide"
              class="float-left"
              (onValueChanged)="onValideChanged($event)"
            >
            </dx-check-box>
          </div>
        </div>
      </dxi-item>
      <dxi-item [ratio]="3">
        <div class="orderTileleftFilters">
          <!-- Transporteurs -->
          <div class="dx-field field-large">
            <div class="dx-field-label">
              {{ "tiers-transporteur-title" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-select-box
                formControlName="transporteurCode"
                [dataSource]="transporteursDataSource"
                valueExpr="id"
                [displayExpr]="displayIDBefore"
                [searchExpr]="['id']"
                itemTemplate="items"
              >
                <div *dxTemplate="let data of 'items'">
                  <div
                    [title]="!data.valide ? 'non valide' : ''"
                    [ngClass]="{ 'not-valid': !data.valide }"
                  >
                    {{ displayCodeBefore(data) }}
                  </div>
                </div>
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message=""
                  ></dxi-validation-rule>
                </dx-validator>
                <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
              </dx-select-box>
            </div>
          </div>
        </div>
      </dxi-item>
      <dxi-item [ratio]="7">
        <dx-box>
          <dxi-item [ratio]="2">
            <!-- Période -->
            <div class="dx-field">
              <div class="dx-field-label">
                {{ "ordres-periode" | localize }}
              </div>
              <div class="dx-field-value">
                <dx-select-box
                  #periodeSB
                  [items]="periodes"
                  [value]="periodes[1]"
                  [displayExpr]="dateManagementService.displayPeriodText"
                  (onValueChanged)="setDates($event)"
                >
                  <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
                </dx-select-box>
              </div>
            </div>
          </dxi-item>
          <dxi-item [ratio]="2">
            <!-- Date de début -->
            <div class="dx-field field-small">
              <div class="dx-field-label">
                {{ "ordres-Du" | localize }}
              </div>
              <div class="dx-field-value">
                <dx-date-box
                  formControlName="dateMin"
                  class="dateStart"
                  type="datetime"
                  [displayFormat]="'dd-MM-yy  HH:mm'"
                  (onValueChanged)="manualDate($event)"
                ></dx-date-box>
              </div>
            </div>
          </dxi-item>
          <dxi-item [ratio]="2">
            <!-- Date de fin -->
            <div class="dx-field field-small">
              <div class="dx-field-label">
                {{ "ordres-au" | localize }}
              </div>
              <div class="dx-field-value">
                <dx-date-box
                  formControlName="dateMax"
                  class="dateEnd"
                  type="datetime"
                  [displayFormat]="'dd-MM-yy  HH:mm'"
                  (onValueChanged)="manualDate($event)"
                ></dx-date-box>
              </div>
            </div>
          </dxi-item>
        </dx-box>
        <!-- <dxi-item [ratio]="7">
              <div class="orderRightRightFilters">
              <dx-box>
                <dxi-item [ratio]="1">
                  <dx-button class="validOnlyButtons"
                    #validClient
                    type="default"
                    data-entity="client"
                    hint="{{ 'hint-bascule-clients-valide' | localize }}"
                    text="{{ 'button-bascule-clients-valide' | localize }}"
                    (onClick)="validOrAll($event)"
                  ></dx-button>
                </dxi-item>
                <dxi-item [ratio]="1">
                  <dx-button class="validOnlyButtons"
                    #validEntrepot
                    type="default"
                    data-entity="entrepot"
                    hint="{{ 'hint-bascule-entrepots-valide' | localize }}"
                    text="{{ 'button-bascule-entrepots-valide' | localize }}"
                    (onClick)="validOrAll($event)"
                  ></dx-button>
                </dxi-item>
                <dxi-item [ratio]="1">
                  <dx-button class="validOnlyButtons"
                    #validFournisseur
                    type="default"
                    data-entity="fournisseur"
                    hint="{{ 'hint-bascule-fournisseurs-valide' | localize }}"
                    text="{{ 'button-bascule-fournisseurs-valide' | localize }}"
                    (onClick)="validOrAll($event)"
                  ></dx-button>
                </dxi-item>
                <dxi-item [ratio]="10"></dxi-item>
              </dx-box>
            </div>
          </dxi-item> -->
      </dxi-item>
    </dx-box>
  </div>
  <br />
</form>

<dx-button
  class="grid-grouping-button"
  type="default"
  icon="material-icons menu_open"
  hint="{{ 'btn-grouping' | localize }}"
  (onClick)="gridsService.expandCollapseGroups(this)"
></dx-button>
<dx-data-grid
  [remoteOperations]="{ paging: true }"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onRowDblClick)="onRowDblClick($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      '',
      $event,
      gridConfiguratorService.Grid.PlanningTransporteurs,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.PlanningTransporteurs"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxo-grouping [contextMenuEnabled]="true"> </dxo-grouping>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [cssClass]="column.cssClass"
    [caption]="
      ('ordresTransporteur-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [visible]="false"
    [dataType]="column?.dataType"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>
  <dxo-summary>
    <dxi-group-item
      column="sommeColisPaletteBis"
      summaryType="sum"
      displayFormat="Total pal. réel : {0}"
      [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
    >
    </dxi-group-item>
  </dxo-summary>
</dx-data-grid>
