<div
  class="flux-docs-buttons-container"
  [ngClass]="{ 'order-conf-button': orderConfirmationOnly }"
>
  <div *ngFor="let action of actionsFlux.slice(0, visibleActionsNumber)">
    <dx-button
      class="flux-doc-button"
      type="default"
      text="{{ action.text }}"
      [visible]="
        action.visible && (action.id === 'ORDRE' || !orderConfirmationOnly)
      "
      [disabled]="action.disabled"
      (onClick)="onClickSendAction(action.id)"
    ></dx-button>
  </div>
  <dx-button
    class="flux-doc-button flux-doc-button-plus"
    type="default"
    hint="{{ 'hint-autres-actions' | localize }}"
    [visible]="!orderConfirmationOnly"
    [disabled]="!plusActionsFluxEnabled"
    text="+"
    (onClick)="showFluxDoxOtherBtns($event)"
  ></dx-button>
  <div class="toto">
    <dx-action-sheet
      #actionSheet
      width="300"
      [items]="plusActionsFlux"
      [showTitle]="false"
      [target]="actionSheetTarget"
      [showCancelButton]="true"
      [usePopover]="true"
      (onItemClick)="onClickSendAction($event.itemData.id)"
    ></dx-action-sheet>
  </div>
  <app-documents-ordres-popup
    [ordre]="ordre"
    [flux]="flux"
    [gridEnvois]="gridEnvois"
    (whenDone)="whenDone.emit()"
  ></app-documents-ordres-popup>
  <app-annule-remplace-popup
    [docsPopup]="docsPopup"
    [ordre]="ordre"
  ></app-annule-remplace-popup>
  <app-confirmation-result-popup></app-confirmation-result-popup>
  <app-view-document-popup
    [document]="this.currentCMR"
    [(visible)]="this.CMRVisible"
  ></app-view-document-popup>
  <app-packing-list-popup [ordre]="ordre"> </app-packing-list-popup>
</div>
