::ng-deep .flux-docs-buttons-container {
  margin: 0 0 5px -10px;
  overflow: hidden;
  .dx-button {
    height: 34px;
    font-size: 12px;
    margin: 5px 0 5px 10px;
    float: left;
    &.flux-doc-button-plus {
      border-radius: 100%;
      min-width: 33px;
      float: none;
      .dx-button-content {
        padding: 0;
      }
    }
    .dx-button-content {
      padding: 6px 13px;
    }
  }
}
