<div
  class="flux-docs-buttons-container"
  [ngClass]="{ 'order-conf-button': orderConfirmationOnly }"
  >
  <div *ngFor="let action of actionsFlux.slice(0, visibleActionsNumber - 1)">
    <dx-button
      class="flux-doc-button"
      type="default"
      text="{{ action.text }}"
      [visible]="action.visible && (action.id === 'ORDRE' || !orderConfirmationOnly)"
      [disabled]="action.disabled || env.production"
      (onClick)="sendAction(action.id)"
    ></dx-button>
  </div>
  <dx-button
    class="flux-doc-button flux-doc-button-plus"
    type="default"
    hint="{{ 'hint-autres-actions' | localize }}"
    [focusStateEnabled]="false"
    [visible]="!orderConfirmationOnly"
    [disabled]="!plusActionsFluxEnabled"
    text="..."
    (onClick)="showFluxDoxOtherBtns($event)"
  ></dx-button>
  <dx-action-sheet
    #actionSheet
    width="auto"
    [items]="plusActionsFlux"
    [showTitle]="false"
    target=".flux-doc-button-plus"
    [showCancelButton]="true"
    [usePopover]="true"
    (onItemClick)="sendAction($event.itemData.id)"
  ></dx-action-sheet>
  <app-documents-ordres-popup
    [ordre]="ordre"
    [flux]="flux"
    [gridEnvois]="gridEnvois"
  ></app-documents-ordres-popup>
  <app-annule-remplace-popup
    [docsPopup]="docsPopup"
    [ordre]="ordre"
  ></app-annule-remplace-popup>
  <app-confirmation-result-popup></app-confirmation-result-popup>
</div>
