<div class="grid-recap-stock">
  <dx-data-grid
    class="dx-card wide-card"
    [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
    [remoteOperations]="{
      filtering: true,
      grouping: false,
      groupPaging: false,
      paging: false,
      sorting: true,
      summary: false
    }"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="-1"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [keyExpr]="'id'"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    (onCellPrepared)="onCellPrepared($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        '',
        $event,
        gridConfiguratorService.Grid.OrdreRecapitulatifStock
      )
    "
  >
    <dxo-paging></dxo-paging>
    <dxo-header-filter
      [visible]="false"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-export fileName="récapitulatif stock"></dxo-export>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.OrdreRecapitulatifStock"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-column-chooser
      [enabled]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
    >
    </dxo-column-chooser>
    <dxo-search-editor-options [width]="500"> </dxo-search-editor-options>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [format]="column.format"
      [caption]="
        ('ordreRecapStock-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [dataType]="column?.dataType"
      [cssClass]="column?.cssClass"
      [width]="column?.width"
      [cellTemplate]="column.cellTemplate"
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>

    <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
      <dxi-total-item
        column="stock.age"
        displayFormat="Total :"
        cssClass="text-align-right"
      >
      </dxi-total-item>
      <dxi-total-item
        [name]="'quantiteDisponible'"
        [summaryType]="'custom'"
        [displayFormat]="'{0}'"
        showInColumn="stock.quantiteDisponible"
      >
      </dxi-total-item>
      <dxi-total-item
        column="mouvement.quantite"
        summaryType="sum"
        displayFormat="{0}"
      >
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</div>
