// Var
@import "src/themes/generated/variables.base.scss";
@import "scss/variables.scss";

.dx-fieldset {
  display: flex;
}

.dx-field {
  margin-right: 20px;
}

::ng-deep .orderTileFilterArea {
  width: 830px;

  .dx-datebox .dx-texteditor-input {
    padding-right: 0 !important;
  }

  .orderTileleftFilters .dx-field {
    margin-bottom: 0;
  }

  .orderRightRightFilters {
    margin-top: 4px;
  }

  .side-switch {
    .dx-field-value {
      margin-top: 9px;
      width: 33px !important;

      dx-switch {
        margin: 0;
      }
    }

    .dx-field-label {
      margin-top: 9px;
      width: 40% !important;

      &.dx-field-label-left {
        margin-right: 1px;
        text-align: right !important;
      }

      &.dx-field-label-right {
        margin-left: 10px;
        padding-right: 10px;
        text-align: left !important;
      }
    }
  }
}

::ng-deep .grid-planning-maritime {
  .dx-toolbar .dx-texteditor-container {
    width: 750px;

    .dx-texteditor-input-container {
      left: 8px;
    }

    .dx-placeholder {
      display: block !important;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .bold-text {
    font-weight: bold;
  }

  .grey-light-maritime {
    background-color: #e5e5e5;
  }

  .grey-normal-maritime {
    background-color: #d5d5d5;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }
}
