<dx-data-grid
  class="grid-bassins"
  [dataSource]="etbDatasource"
  [remoteOperations]="true"
  [columnAutoWidth]="true"
  (onRowInserting)="onInserting($event)"
  (onSaved)="onSaved($event)"
  (onRowClick)="onRowClick($event)"
  (onContentReady)="contentReadyEvent.emit($event)"
>
  <dxi-column
    *ngFor="let column of columns | async"
    [dataField]="column?.dataField"
    [visible]="column?.visible"
    [dataType]="column?.dataType"
    [format]="column?.format"
    [cssClass]="column?.cssClass"
    [editorOptions]="{onOpened: onOpened}"
    [calculateDisplayValue]="
      column?.calculateDisplayValue
        ? (column.calculateDisplayValue | evalDisplay)
        : column?.dataField
    "
    [lookup]="column?.lookup"
    [caption]="
    ('entrepotBassins-' +
      column.dataField?.replace('.description', '').split('.').join('-')
      | localize) || column.name
    "
  >
    <dxi-validation-rule
      *ngIf="
        column.dataField === 'bureauAchat.id' ||
        column.dataField === 'transporteur.id'
      "
      type="required"
    ></dxi-validation-rule>
  </dxi-column>

  <dxo-editing
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
  >
  </dxo-editing>
</dx-data-grid>
