<dx-data-grid
  [dataSource]="etbDatasource"
  [remoteOperations]="true"
  (onSaved)="onSaved($event)"
  (onContentReady)="contentReadyEvent.emit($event)"
>
  <dxi-column
    *ngFor="let column of columns | async"
    [dataField]="column.dataField"
    [visible]="column.visible"
    [dataType]="column.dataType"
    [format]="column.format"
    [calculateDisplayValue]="column.calculateDisplayValue"
    [lookup]="column.lookup"
  ></dxi-column>

  <dxo-editing
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
  >
  </dxo-editing>
</dx-data-grid>
