<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  width="400"
  height="500"
  [closeOnOutsideClick]="true"
  [(visible)]="visible"
  title="Quelle(s) certification(s) ?"
  [focusStateEnabled]="false"
  (onShowing)="onShowing($event)"
  (onHidden)="onHidden()"
>
    <div class="list-certification">
        <dx-list
        [items]="certifications"
        selectionMode="multiple"
        selectAllMode="false"
        [showSelectionControls]="true"
        [selectedItemKeys]="[]"
        ></dx-list>
    </div>

    <dx-button
    class="valid-button"
    type="default"
    text="Valider"
    (onClick)="saveCertification()"
    ></dx-button> 

</dx-popup>