<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  width="400"
  height="560"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  title="Quelle(s) certification(s) ?"
  [resizeEnabled]="true"
  (onShowing)="onShowing($event)"
  (onHidden)="onHidden()"
>
  <div class="list-certification">
    <dx-list
      [items]="certifications"
      selectionMode="multiple"
      selectAllMode="false"
      [showSelectionControls]="true"
      [selectedItemKeys]="[]"
    ></dx-list>
  </div>

  <div
    class="mode-culture-info"
    [ngClass]="{ 'visibility-hidden': !modeCultureInfo }"
  >
    {{ "articles-matierePremiere-modeCulture" | localize }} :
    {{ modeCultureInfo }}
  </div>

  <dx-button
    class="valid-button"
    type="default"
    text="Valider"
    (onClick)="saveCertification()"
  ></dx-button>
</dx-popup>
