// Var
@import "themes/generated/variables.base";

h6 {
  margin: 0;
  float: left;
}

.refresh {
  top: -8px;
  float: right;
}

.launch {
  position: absolute;
  right: 147px;
  margin-top: 7px;
  z-index: 1;
}

.litiges-superv-filter-area {
  width: 980px;
}


::ng-deep .period-list .dx-list-item {
  padding: 6px 15px;
}

::ng-deep .ordres-litiges-grid {

  // Highlight groups

  max-width: none !important;

  .dx-row:not(.dx-row-focused) {
    .group-1-header {
      background: $base-accent;
      color: white;

      &~td {
        background: $base-accent;

        .dx-checkbox,
        .cloture-button {
          visibility: hidden;
        }

        div {
          color: white !important;
        }
      }
    }

    .group-2-header {
      color: $base-accent;
      background: rgba(0, 117, 156, 0.3);

      &~td {
        background: rgba(0, 117, 156, 0.3);

        .dx-checkbox-checked .dx-checkbox-icon {
          background: rgba(0, 117, 156, 1);
        }

        .dx-checkbox:not(.dx-checkbox-checked) .dx-checkbox-icon {
          background: #FFF;
        }

        .dx-checkbox-icon {
          border-color: rgba(0, 117, 156, 1);
        }

        div {
          color: $base-accent !important;
        }

        .cloture-button {
          margin-left: 5px;
          font-weight: normal;
          border-radius: 12px;
          background: #8FC459;
          width: 70px;
          height: 20px;
          padding: 4px 10px;
          line-height: 10px;
          text-align: center;
          color: white !important;
          cursor: pointer;
          font-size: 13px;

          &:hover {
            background: #5F9429;
          }
        }
      }
    }

  }

  // Redesign group arrows
  .dx-datagrid-group-closed,
  .dx-datagrid-group-opened {
    background: white !important;
    border-radius: 100%;
    width: 19px;
    height: 19px;

    &:before {
      left: -2px;
      top: -2px;
    }
  }

  td.dx-cell-focus-disabled.dx-master-detail-cell {
    padding: 4px 10px 4px 0 !important;

    // Css for causes/consequences
    .master-detail {
      line-height: 18px;
      white-space: nowrap;

      .cause-container,
      .conseq-container {
        padding-left: 93px;
        white-space: normal;
        word-break: break-word;
      }

      .dx-button {
        top: -2px;
        min-width: 0;
        padding: 0;
        height: 17px !important;
        font-size: 14px;
        box-shadow: 0 0 0;
        background-color: transparent;
        cursor: auto !important;

        &:hover {
          background-color: transparent;
        }

        .dx-button-content {
          padding: 0;

          .dx-button-text {
            line-height: 17px;
            letter-spacing: 0;
            font-weight: normal;
          }
        }
      }

      .litiges-causeconseq {
        display: inline-block;
      }

    }
  }

  .bold-text {
    font-weight: bold;
  }

  .base-color {
    color: $base-accent;
  }

  .visibility-hidden {
    visibility: hidden;
  }

}
