<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  width="810"
  height="auto"
  [closeOnOutsideClick]="false"
  [(visible)]="visible"
  title="{{ 'ordre-edi-choix-ordre' | localize }}"
  [focusStateEnabled]="false"
  [resizeEnabled]="true"
  (onShowing)="onShowing($event)"
  (onShowing)="onHiding()"
>

<!-- Subtitle shown over the grid -->
<div class="popup-subtitle">
  {{ 'text-popup-visualiser-ordres-subtitle' | localize }}
<br>
</div>

<dx-data-grid
  class="grid-lignes-edi"
  [height]="350"
  [remoteOperations]="true"
  [showBorders]="false"
  [focusedRowEnabled]="false"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  (onSelectionChanged)="selectFromGrid()"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      gridTitle,
      $event,
      gridConfiguratorService.Grid.LignesEdi,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <!-- <dxo-group-panel [visible]="true"> </dxo-group-panel> -->
  <dxo-export fileName="Lignes de commandes EDI"></dxo-export>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-selection
    mode="multiple"
    [allowSelectAll]="true"
    [showCheckBoxesMode]="'always'"
  ></dxo-selection>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.LignesEdi"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [width]="column?.width"
    [cssClass]="column?.cssClass"
    [caption]="
      ('ordresEDI-' + column.dataField?.split('.').join('-') | localize) ||
      column.name
    "
    [allowGrouping]="column?.allowGrouping ? column.allowGrouping : false"
    [dataType]="column?.dataType"
    [groupCellTemplate]="column.groupCellTemplate"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  >
  </dxi-column>

</dx-data-grid>
<br><br>
<div class="popup-buttons-container">
  <dx-button
    type="default"
    text="{{ 'btn-annuler' | localize }}"
    (onClick)="cancelClick()"
  ></dx-button>
  <dx-button
    type="normal"
    text="{{ 'btn-ouvrir' | localize }}"
    [hint]="chosenOrdersDisplayed"
    [disabled]="!chosenOrders?.size"
    (onClick)="applyClick()"
  ></dx-button>
</div>
</dx-popup>
