// Var
@import "themes/generated/variables.base";

::ng-deep .visualiser-ordres-popup {
  .dx-popup-content {
    .popup-subtitle {
      position: relative;
      left: 13px;
      color: $base-accent;
      font-size: 16px;
      z-index: 2;
    }

    .popup-visualiser-ordres-grid-container {
      padding: 0 5px;
      background-color: red;
    }

    .grid-lignes-edi {
      position: relative;
      top: -16px;
      max-height: 350px;

      .dx-row-lines {
        cursor: pointer;
      }

      .dx-row {
        td.dx-command-select {
          width: 20px !important;
          min-width: 20px !important;
          padding: 0 4px 0 4px !important;
        }
      }

      .bold-text {
        font-weight: bold;
      }
    }

    .popup-buttons-container {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      .dx-button {
        margin: 5px;
      }
    }
  }
}
