<h2 class="nouvelOrdre-title">{{ "ordres-nouvel-ordre-title" | localize }}</h2>

<div class="dx-field nouvelOrdre-switch">
  <div class="dx-field-value">
    <dx-radio-group
      [items]="typeEntrepots"
      [value]="typeEntrepots[!favorites ? 1 : 0]"
      layout="horizontal"
      (onValueChanged)="onTypeChange($event)"
    >
    </dx-radio-group>
  </div>
</div>

<div class="buttons-right-container">
  <dx-button
    class="dx-button order-home-up-button program-button"
    type="default"
    hint="{{ 'hint-open-program' | localize }}"
  >
    <div *dxTemplate="let data of 'content'">
      <span class="dx-button-text prog-btn">{{
        "ordres-programmes" | localize
      }}</span>
      <app-program-chooser
        [programs]="programs"
        (programChosen)="openProgramPopup($event)"
        menuMode="context"
      ></app-program-chooser>
    </div>
  </dx-button>
  <dx-button
    class="order-home-up-button"
    type="default"
    text="{{ 'ordres-commandes-edi' | localize }}"
    [disabled]="!authService.currentUser.accessCommandeEdi"
    (onClick)="openCommandesEdi()"
  >
  </dx-button>
</div>

<app-button-loader
  [text]="
    ('create' | localize) +
    (getSelectedEntrepot()
      ? ' ' + ('depuis' | localize) + '   \'' + codeEnt + '\''
      : '')
  "
  [type]="'success'"
  [icon]="'material-icons add'"
  class="button-create-order"
  [ngClass]="{ pulse: pulseBtnOn }"
  [hidden]="!getSelectedEntrepot() || hideButton"
  [resolver]="resolver"
  (deferedOnClick)="onButtonLoaderClick()"
></app-button-loader>

<div style="clear: both"></div>
<app-grid-historique-entrepots
  #gridHisto
  [ngClass]="{ 'display-none': !favorites }"
  (pulseButton)="pulseButton($event)"
  (hideCreateButton)="hideCreateButton($event)"
  (createOrder)="onButtonLoaderClick()"
></app-grid-historique-entrepots>
<app-grid-entrepots
  #grid
  [ngClass]="{ 'display-none': favorites }"
  (pulseButton)="pulseButton($event)"
  (createOrder)="onButtonLoaderClick()"
></app-grid-entrepots>

<app-info-popup [customText]="errorText"></app-info-popup>
<app-commandes-edi></app-commandes-edi>
<app-import-programmes-popup
  [program]="programChosen"
></app-import-programmes-popup>
