::ng-deep .button-create-order {
  position: relative;
  top: 8px;

  .dx-button-content {
    padding: 6px 16px;
  }
}

h2.nouvelOrdre-title {
  margin: 20px 0 10px 19px;
}

.nouvelOrdre-switch {
  width: 220px;
  margin-left: 20px;
  margin-bottom: 0;
  float: left;
}

::ng-deep .pulse .dx-button {
  animation: pulse 0.5s;
}
