<h2 class="content-block">{{ 'ordres-nouvel-ordre-title' | localize }}

    <div class="dx-field">
        <div class="dx-field-value">
            <dx-radio-group
                [items]="typeEntrepots"
                [value]="typeEntrepots[0]"
                layout="horizontal"
                (onValueChanged)="onTypeChange($event)"
            >
            </dx-radio-group>
        </div>
    </div>

<app-grid-historique-entrepots #grid *ngIf="favorites"></app-grid-historique-entrepots>
<app-grid-entrepots #grid *ngIf="!favorites"></app-grid-entrepots>
<br>
<app-button-loader
    [text]="('create' | localize) + (getSelectedEntrepot() ? ' '+('depuis' | localize)+' \''+getSelectedEntrepot()?.raisonSocial+'\'' : '')"
    [type]="'default'"
    [disabled]="!getSelectedEntrepot()"
    [resolver]="resolver"
    (deferedOnClick)="onButtonLoaderClick()"
></app-button-loader>