<dx-popup
  [dragEnabled]="false"
  [height]="'auto'"
  title="{{ 'valide-date-title' | localize }}"
  (onHiding)="onHiding()"
  (onShowing)="onShowing()"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let d of 'content'">
    <div>
      <dx-data-grid
        [dataSource]="certifications"
        [columnAutoWidth]="true"
        [scrolling]="{
          useNative: true
        }"
        (onCellPrepared)="onCellPrepared($event)"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        dateSerializationFormat="yyyy-MM-dd"
      >
        <dxo-editing
          [allowUpdating]="true"
          [mode]="'batch'"
          [selectTextOnEditStart]="true"
        ></dxo-editing>

        <dxi-column
          dataField="certification.description"
          caption="{{ 'valide-date-certification' | localize }}"
          [allowEditing]="false"
        ></dxi-column>
        <dxi-column
          dataField="dateValidite"
          caption="{{ 'valide-date-validite' | localize }}"
          [allowEditing]="true"
          [showEditorAlways]="true"
          [validationRules]="this.dateValidationRules"
          dataType="date"
        ></dxi-column>
      </dx-data-grid>

      <br />

      <div class="prompt-action">
        <dx-button
          text="{{ 'btn-annuler' | localize }}"
          type="normal"
          (onClick)="popupComponent.instance.hide()"
        ></dx-button>
        <dx-button
          text="{{ 'btn-valider' | localize }}"
          type="default"
          (onClick)="onSubmit()"
        ></dx-button>
      </div>
    </div>
  </div>
</dx-popup>
