// Var
@import "themes/generated/variables.base";

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}

.backtotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.21s ease-in;
  z-index: 10000;

  .dx-button {
    /* To overcome native color change on click */
    background-color: #00759c;
  }
}

.hiddenBacktotop {
  opacity: 0;
  right: -35px;
}

::ng-deep .side-navigation-menu {
  .display-none {
    display: none;
  }

  .dx-treeview-item-content * {
    float: left;
  }

  .toValidate-indicator {
    min-width: 15px;
    height: 15px;
    margin: 4px 0 0 7px;
    border-radius: 13px;
    font-size: 10px;
    font-weight: normal;
    padding: 2px 5px 3px 3px;
    line-height: 7px;
    background-color: #FE3B2F;
    border: 1px solid #FF8888;
    color: #fff !important;
  }
}

::ng-deep .info-banner {
  position: fixed !important;
  width: 100%;
  height: 20px;
  background-color: #FE3B2F;
  line-height: 18px !important;
  overflow: hidden;
  z-index: 1000;

  .banner-text {
    color: #FFF;
    text-align: center;
  }
}

::ng-deep .anim-banner-text {
  transform: translateX(100%);
  animation: my-animation 30s linear infinite;
}


@keyframes my-animation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
