:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}

.backtotop {
  position:fixed;
  bottom:20px;
  right:20px;
  transition:all 0.2s ease-in;
  z-index:10000;
  .dx-button {
    /* To overcome native color change on click */
    background-color:#00759C;
  }
}

.noOpacity {
  opacity:0;
  right:-30px;
}