:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}

.backtotop {
  position:fixed;
  bottom:20px;
  right:20px;
  transition:all 0.21s ease-in;
  z-index:10000;
  .dx-button {
    /* To overcome native color change on click */
    background-color:#00759C;
  }
}

.hiddenBacktotop {
  opacity:0;
  right:-35px;
}

::ng-deep .side-navigation-menu {
  .display-none {
    display: none;
  }
  .dx-treeview-item-content * {
    float: left;
  }
  .toValidate-indicator {
    min-width: 13px;
    height: 15px;
    margin: 4px 0 0 7px;
    border-radius: 13px;
    font-size: 10px;
    font-weight: normal;
    padding: 3px 4px 3px 3px;
    line-height: 7px;
    background-color: #EE0000;
    border: 1px solid #666;
    color: #fff !important;
  }
}
