<div class="form-ordres-page">
  <div class="form-scrollTo-buttons-container">
    <span class="top-order-number">{{ this?.ordre?.numero || "-" }}</span>
    <dx-button
      class="black"
      data-accordion="articles"
      height="auto"
      icon="box"
      text="{{ 'ordres-suivi-articles' | localize }}"
      [routerLink]="[]"
      [queryParamsHandling]="'merge'"
      [fragment]="fragments.Articles"
    >
    </dx-button>
    <dx-button
      class="black"
      data-accordion="logistique"
      height="auto"
      icon="material-icons local_shipping"
      text="{{ 'ordres-suivi-logistique' | localize }}"
      [routerLink]="[]"
      [queryParamsHandling]="'merge'"
      [fragment]="fragments.Logistique"
    >
    </dx-button>
    <div class="button-container">
      <div
        *ngIf="dotLitiges"
        class="dot"
      >
        {{ dotLitiges }}
      </div>
      <dx-button
        class="black dotted-button"
        data-accordion="litiges"
        height="auto"
        icon="material-icons offline_bolt"
        [routerLink]="[]"
        [queryParamsHandling]="'merge'"
        [fragment]="fragments.Litiges"
        text="{{ 'ordres-suivi-litiges' | localize }}"
      >
      </dx-button>
    </div>
    <dx-button
      class="black"
      data-accordion="synthese"
      height="auto"
      icon="material-icons euro_symbol"
      [routerLink]="[]"
      [queryParamsHandling]="'merge'"
      [fragment]="fragments.Synthese"
      text="{{ 'ordres-suivi-synthese' | localize }}"
    >
    </dx-button>
    <dx-button
      class="black"
      height="auto"
      data-accordion="fluxdocs"
      icon="material-icons folder"
      [routerLink]="[]"
      [queryParamsHandling]="'merge'"
      [fragment]="fragments.Flux"
      text="{{ 'ordres-suivi-fluxdocs' | localize }}"
    >
    </dx-button>
    <div class="button-container">
      <div
        *ngIf="dotCQ"
        class="dot"
      >
        {{ dotCQ }}
      </div>
      <dx-button
        class="black dotted-button"
        data-accordion="CQ"
        height="auto"
        icon="material-icons insert_chart_outlined"
        [routerLink]="[]"
        [queryParamsHandling]="'merge'"
        [fragment]="fragments.CQ"
        text="{{ 'ordres-suivi-CQ' | localize }}"
      >
      </dx-button>
    </div>
    <div class="button-container">
      <div
        *ngIf="dotCommentaires"
        class="dot"
      >
        {{ dotCommentaires }}
      </div>
      <dx-button
        class="black dotted-button"
        data-accordion="commentaires"
        height="auto"
        icon="material-icons message"
        [routerLink]="[]"
        [queryParamsHandling]="'merge'"
        [fragment]="fragments.Commentaires"
        text="{{ 'ordres-suivi-commentaires' | localize }}"
      >
      </dx-button>
    </div>
    <dx-button
      class="black"
      data-accordion="log"
      height="auto"
      icon="material-icons view_headline"
      [routerLink]="[]"
      [queryParamsHandling]="'merge'"
      [fragment]="fragments.Log"
      text="{{ 'ordres-suivi-log' | localize }}"
    >
    </dx-button>
    <dx-button
      class="black"
      height="auto"
      icon="material-icons folder"
      [disabled]="!ordre"
      (onClick)="fileManagerClick()"
      text="{{ 'ordres-suivi-documents' | localize }}"
    >
    </dx-button>
  </div>

  <form
    [formGroup]="formGroup"
  >
    <dx-validation-group name="loginGroup">
      <div class="content-block"></div>
      <div class="ordres-page">
        <dx-box direction="row">
          <dxi-item [ratio]="8">
            <div class="top-panel-order">
              <dx-load-indicator
                [visible]="!fullOrderNumber"
                class="order-loader"
              ></dx-load-indicator>
              <div class="order-number">{{ fullOrderNumber }}</div>
              <div class="linkedOrders-container">
                <div class="linkedOrders-subcontainer">
                  <span
                    *ngIf="linkedOrdersSearch"
                    class="search-linkedOrders"
                    >Recherche ordres liés...</span
                  >
                  <dx-button
                    *ngFor="let linkedOrder of linkedOrders"
                    class="small-button linkedOrder-{{ linkedOrder.class }}"
                    type="default"
                    hint="{{ 'hint-ordres-lies' | localize }}"
                    text="{{ linkedOrder.ordre.numero }} ({{
                      linkedOrder.criteria
                    }})"
                    (onClick)="openLinkedOrder(linkedOrder.ordre.numero)"
                  >
                  </dx-button>
                </div>
              </div>
              <div class="upperButtons-container">
                <dx-button
                  class="upperButton"
                  type="danger"
                  [disabled]="true"
                  text="{{ 'btn-deleteorder' | localize }}"
                  (onClick)="onDeleteClick()"
                ></dx-button>
                <dx-button
                  class="upperButton"
                  type="default"
                  text="{{ 'btn-cloneorder' | localize }}"
                  [disabled]="true || !canDuplicate"
                  (onClick)="duplicate()"
                ></dx-button>
                <dx-button
                  class="upperButton"
                  type="default"
                  [disabled]="true"
                  text="{{ 'btn-complorder' | localize }}"
                ></dx-button>
              </div>
            </div>
            <div class="order-tabs">
              <div
                #anchor
                [attr.data-fragment-id]="fragments.Head"
                class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption">{{
                  "ordres-suivi-groupe-infos" | localize
                }}</span>

                <!-- separator -->
                <span> - </span>
                
                <span
                  *ngIf="ordre"
                  class="dx-form-group-caption order-status"
                  >{{ status }}</span
                >
                <span
                  *ngIf="refOrdre"
                  class="order-id"
                  >&nbsp;&nbsp;{{ "ordres-ref" | localize }} :
                  {{ refOrdre }}</span
                >
                <div class="dx-form-group-content no-padding-bottom order-header">
                  <dx-load-panel
                    #loadPanel
                    shadingColor="rgba(0,0,0,0.4)"
                    [position]="{ of: '#head' }"
                    [visible]="headerSaving"
                    [showPane]="true"
                    [shading]="false"
                    [closeOnOutsideClick]="false"
                  >
                  </dx-load-panel>
                  <dx-box>
                    <dxi-item [ratio]="4">
                      <!-- Client -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-client" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            [readOnly]="true"
                            formControlName="client"
                            [dataSource]="clientsDS"
                            [displayExpr]="displayCodeBefore"
                            [searchEnabled]="true"
                            [searchExpr]="['id', 'raisonSocial']"
                          >
                            <dx-validator
                              name="{{ 'ordres-client' | localize }}"
                            >
                              <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>
                      <!-- Entrepôt livré -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-entrepotLivre" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            [readOnly]="true"
                            formControlName="entrepot"
                            [dataSource]="entrepotDS"
                            [displayExpr]="displayCodeBefore"
                          >
                            <dx-validator
                              name="{{ 'ordres-entrepotLivre' | localize }}"
                            >
                              <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>
                      <!-- Réf Client -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-referenceClient" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-text-box 
                            formControlName="referenceClient"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            >
                            <dx-validator
                              name="{{ 'ordres-referenceClient' | localize }}"
                            >
                              <dxi-validation-rule
                                type="stringLength"
                                [max]="70"
                                [trim]="false"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                      <!-- Date départ -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-dateDepartPrevue" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-date-box
                            [readOnly]="ordreFacture"
                            formControlName="dateDepartPrevue"
                            [displayFormat]="'dd-MM-yyyy HH:mm'"
                            dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
                            type="datetime"
                          >
                            <dx-validator
                              name="{{ 'ordres-dateDepartPrevue' | localize }}"
                            >
                              <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-date-box>
                        </div>
                      </div>
                      <!-- Date livraison -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-dateLivraisonPrevue" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-date-box
                            [readOnly]="ordreFacture"
                            formControlName="dateLivraisonPrevue"
                            [displayFormat]="'dd-MM-yyyy HH:mm'"
                            dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
                            type="datetime"
                          >
                            <dx-validator
                              name="{{
                                'ordres-dateLivraisonPrevue' | localize
                              }}"
                            >
                              <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-date-box>
                        </div>
                      </div>
                      <!-- incoterms -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-incoterm" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            [readOnly]="ordreFacture"
                            formControlName="incoterm"
                            [dataSource]="incotermsDS"
                            [displayExpr]="displayIDBefore"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            [searchEnabled]="true"
                            [searchExpr]="['id', 'description']"
                          >
                            <dx-validator
                              name="{{ 'ordres-incoterm' | localize }}"
                            >
                              <!-- <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule> -->
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>
                      <dx-box>
                        <dxi-item [ratio]="5">
                          <!-- Transport -->
                          <div class="dx-field field-large">
                            <div class="dx-field-label">
                              {{ "ordres-transporteur" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-select-box
                                [readOnly]="ordreFacture"
                                formControlName="transporteur"
                                [dataSource]="transporteursDS"
                                [displayExpr]="displayIDBefore"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                                [searchEnabled]="true"
                                [searchExpr]="['id', 'raisonSocial']"
                              >
                                <dxo-drop-down-options [width]="400">
                                </dxo-drop-down-options>
                                <dx-validator
                                  name="{{ 'ordres-transporteur' | localize }}"
                                >
                                  <dxi-validation-rule
                                    type="required"
                                  ></dxi-validation-rule>
                                </dx-validator>
                              </dx-select-box>
                            </div>
                          </div>
                        </dxi-item>
                        <dxi-item [ratio]="0.5"></dxi-item>
                        <dxi-item [ratio]="4">
                          <!-- Type -->
                          <div class="dx-field field-small">
                            <div class="dx-field-label">
                              {{ "ordres-typeTransport" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-select-box
                                [readOnly]="ordreFacture"
                                formControlName="typeTransport"
                                [dataSource]="typeTransportDS"
                                [displayExpr]="displayIDBefore"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                                [searchEnabled]="true"
                                [searchExpr]="['id', 'description']"
                              >
                                <dxo-drop-down-options [width]="400">
                                </dxo-drop-down-options>
                                <!-- <dx-validator name="{{ 'ordres-typeTransport' | localize }}">
                                              <dxi-validation-rule type="required"></dxi-validation-rule>
                                          </dx-validator> -->
                              </dx-select-box>
                            </div>
                          </div>
                        </dxi-item>
                      </dx-box>
                      <dx-box>
                        <dxi-item [ratio]="3">
                          <!-- PU -->
                          <div class="dx-field">
                            <div class="dx-field-label">
                              {{
                                "ordres-prixUnitaireTarifTransport" | localize
                              }}
                            </div>
                            <div class="dx-field-value">
                              <dx-number-box
                                [readOnly]="ordreFacture"
                                class="alignright"
                                formControlName="prixUnitaireTarifTransport"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                              >
                                <!-- <dx-validator name="{{ 'ordres-prixUnitaireTarifTransport' | localize }}">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator> -->
                              </dx-number-box>
                            </div>
                          </div>
                        </dxi-item>
                        <dxi-item [ratio]="2">
                          <!-- Devise -->
                          <div class="dx-field field-small">
                            <div class="dx-field-label">
                              {{ "ordres-transporteurDEVCode" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-select-box
                                [readOnly]="ordreFacture"
                                formControlName="transporteurDEVCode"
                                [dataSource]="deviseDS"
                                [readOnly]="true"
                                [displayExpr]="displayIDBefore"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                                [searchEnabled]="true"
                                [searchExpr]="['id', 'description']"
                              >
                                <dxo-drop-down-options [width]="400">
                                </dxo-drop-down-options>
                                <!-- <dx-validator name="{{ 'ordres-transporteurDEVCode' | localize }}">
                                      <dxi-validation-rule type="required"></dxi-validation-rule>
                                  </dx-validator> -->
                              </dx-select-box>
                            </div>
                          </div>
                        </dxi-item>
                        <dxi-item [ratio]="1"></dxi-item>
                        <dxi-item [ratio]="6">
                          <!-- Unité (Base tarif transport) -->
                          <div class="dx-field field-small">
                            <div class="dx-field-label">
                              {{ "ordres-baseTarifTransport" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-select-box
                                [readOnly]="ordreFacture"
                                formControlName="baseTarifTransport"
                                [dataSource]="baseTarifTransportDS"
                                [displayExpr]="displayIDBefore"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                                [searchEnabled]="true"
                                [searchExpr]="['id', 'description']"
                              >
                                <dxo-drop-down-options [width]="400">
                                </dxo-drop-down-options>
                              </dx-select-box>
                            </div>
                          </div>
                        </dxi-item>
                      </dx-box>
                      <!-- Instructions Logistique -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-instructionsLogistiques" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            #comLog
                            [readOnly]="ordreFacture"
                            formControlName="instructionsLogistiques"
                            [acceptCustomValue]="true"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            (onValueChanged)="onComChanged()"
                            [items]="instructionsList"
                          >
                            <dxo-drop-down-options [width]="600">
                            </dxo-drop-down-options>
                            <dx-validator
                            name="{{ 'ordres-instructionsLogistiques' | localize }}"
                          >
                            <dxi-validation-rule
                              type="stringLength"
                              [max]="255"
                            ></dxi-validation-rule>
                          </dx-validator>
                          </dx-select-box>

                        </div>
                      </div>
                      <!-- Comm interne -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-commentaireUsageInterne" | localize }}
                        </div>
                        <div class="dx-field-value small-font">
                          <dx-text-box
                            #comInt
                            [readOnly]="ordreFacture"
                            formControlName="commentaireUsageInterne"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            (onValueChanged)="onComChanged()"
                          >
                            <dx-validator
                              name="{{
                                'ordres-commentaireUsageInterne' | localize
                              }}"
                            >
                              <dxi-validation-rule
                                type="stringLength"
                                [max]="70"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-text-box>
                        </div>
                      </div>
                    </dxi-item>

                    <dxi-item [ratio]="0.4"></dxi-item>

                    <dxi-item [ratio]="4">
                      <!-- Code Chargement -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-codeChargement" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-text-box
                            formControlName="codeChargement"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            [readOnly]="ordreFacture"
                          >
                          </dx-text-box>
                        </div>
                      </div>

                      <dx-box>
                        <dxi-item [ratio]="3">
                          <!-- Date départ -->
                          <div class="dx-field">
                            <div class="dx-field-label">
                              {{ "ordres-ETDDate" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-date-box
                                [readOnly]="ordreFacture"
                                formControlName="etdDate"
                                dateSerializationFormat="yyyy-MM-dd"
                                type="date"
                              >
                              </dx-date-box>
                            </div>
                          </div>
                        </dxi-item>
                        <dxi-item [ratio]="0.5"></dxi-item>
                        <dxi-item [ratio]="5">
                          <!-- Lieu départ ETDLocation -->
                          <div class="dx-field">
                            <div class="dx-field-label">
                              {{ "ordres-portTypeD" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-select-box
                                formControlName="portTypeD"
                                [readOnly]="ordreFacture"
                                [dataSource]="portTypeDDS"
                                displayExpr="name"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                                [searchEnabled]="true"
                                [searchExpr]="['id', 'name']"
                              >
                                <dxo-drop-down-options [width]="400">
                                </dxo-drop-down-options>
                              </dx-select-box>
                            </div>
                          </div>
                        </dxi-item>
                      </dx-box>
                      <dx-box>
                        <dxi-item [ratio]="3">
                          <!-- Date arrivée -->
                          <div class="dx-field">
                            <div class="dx-field-label">
                              {{ "ordres-ETADate" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-date-box
                                formControlName="etaDate"
                                [readOnly]="ordreFacture"
                                dateSerializationFormat="yyyy-MM-dd"
                                type="date"
                              >
                              </dx-date-box>
                            </div>
                          </div>
                        </dxi-item>
                        <dxi-item [ratio]="0.5"></dxi-item>
                        <dxi-item [ratio]="5">
                          <!-- Lieu arrivée ETALocation -->
                          <div class="dx-field">
                            <div class="dx-field-label">
                              {{ "ordres-portTypeA" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-select-box
                                formControlName="portTypeA"
                                [readOnly]="ordreFacture"
                                [dataSource]="portTypeADS"
                                displayExpr="name"
                                (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                                [searchEnabled]="true"
                                [searchExpr]="['id', 'name']"
                              >
                                <dxo-drop-down-options [width]="400">
                                </dxo-drop-down-options>
                              </dx-select-box>
                            </div>
                          </div>
                        </dxi-item>
                      </dx-box>

                      <!-- Lieu Incoterm -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-incotermLieu" | localize }}
                        </div>
                        <div class="dx-field-value small-font">
                          <dx-text-box
                            formControlName="incotermLieu"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            [readOnly]="ordreFacture"
                          >
                          </dx-text-box>
                        </div>
                      </div>
                      <!-- Devise -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-deviseAvecTaux" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            formControlName="devise"
                            [readOnly]="ordreFacture"
                            [dataSource]="deviseDS"
                            [readOnly]="true"
                            [displayExpr]="deviseDisplayExpr"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            [searchEnabled]="true"
                            [searchExpr]="['id', 'description']"
                          >
                            <dx-validator
                              name="{{ 'ordres-devise' | localize }}"
                            >
                              <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule>
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>
                      <!-- commercial -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-commercial" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            formControlName="commercial"
                            [readOnly]="ordreFacture"
                            [dataSource]="commercialDS"
                            [displayExpr]="displayIDBefore"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            [searchEnabled]="true"
                            [searchExpr]="['id', 'nomUtilisateur']"
                          >
                            <dx-validator
                              name="{{ 'ordres-commercial' | localize }}"
                            >
                              <!-- <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule> -->
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>
                      <!-- assistante -->
                      <div class="dx-field">
                        <div class="dx-field-label">
                          {{ "ordres-assistante" | localize }}
                        </div>
                        <div class="dx-field-value">
                          <dx-select-box
                            formControlName="assistante"
                            [readOnly]="ordreFacture"
                            [dataSource]="assistanteDS"
                            [displayExpr]="displayIDBefore"
                            (onFocusIn)="formUtilsService.selectTextOnFocusIn($event)"
                            [searchEnabled]="true"
                            [searchExpr]="['id', 'nomUtilisateur']"
                          >
                            <dx-validator
                              name="{{ 'ordres-assistante' | localize }}"
                            >
                              <!-- <dxi-validation-rule
                                type="required"
                              ></dxi-validation-rule> -->
                            </dx-validator>
                          </dx-select-box>
                        </div>
                      </div>

                      <dx-box>
                        <dxi-item [ratio]="4">
                          <!-- Vente Commission -->
                          <div class="dx-field field-large">
                            <div class="dx-field-label checkbox-label">
                              {{ "ordres-venteACommission" | localize }}
                            </div>
                            <div class="dx-field-value">
                              <dx-check-box
                                [disabled]="true"
                                formControlName="venteACommission"
                              >
                              </dx-check-box>
                            </div>
                          </div>
                        </dxi-item>
                        <dxi-item [ratio]="1"></dxi-item>
                        <dxi-item [ratio]="4"> </dxi-item>
                      </dx-box>
                      <dx-box>
                        <dxi-item [ratio]="9">
                          <!-- CHEP et frais client -->
                          <div class="dx-field red-font info-supp">
                            {{ gestEntrepot }}<br />{{ fraisClient }}
                          </div>
                          <!-- Instructions internes -->
                          <div class="dx-field blue-font info-supp">
                            {{ instructionsComm }}
                          </div>
                        </dxi-item>
                      </dx-box>

                      <!-- <dx-box>
                              <dxi-item [ratio]="4">
                              </dxi-item>
                              <dxi-item [ratio]="1"></dxi-item>
                              <dxi-item [ratio]="4">
                              </dxi-item>
                          </dx-box> -->
                    </dxi-item>
                  </dx-box>
                </div>
              </div>

              <div
                #anchor
                [attr.data-fragment-id]="fragments.Articles"
                class="articles-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption">{{
                  "ordres-suivi-groupe-articles" | localize
                }}</span>
                <dx-button
                  class="upperButton subButton"
                  [disabled]="!fullOrderNumber || !allowMutations || true"
                  type="success"
                  hint="{{ 'hint-ajout-ordre' | localize }} {{
                    'hint-source-refClt' | localize
                  }}"
                  text="{{ 'btn-referenceClt' | localize }}"
                ></dx-button>
                <dx-button
                  class="upperButton subButton"
                  [disabled]="!fullOrderNumber || !allowMutations"
                  type="success"
                  hint="{{ 'hint-ajout-ordre' | localize }} {{
                    'hint-source-stock' | localize
                  }}"
                  text="{{ 'btn-stock' | localize }}"
                  (onClick)="onArticleStockClick()"
                ></dx-button>
                <dx-button
                  class="upperButton subButton"
                  [disabled]="!fullOrderNumber || !allowMutations"
                  type="success"
                  hint="{{ 'hint-ajout-ordre' | localize }} {{
                    'hint-source-manuel' | localize
                  }}"
                  (onClick)="onArticleManClick()"
                  text="{{ 'btn-manuel' | localize }}"
                ></dx-button>
                <dx-button
                  class="upperButton subButton"
                  [disabled]="!fullOrderNumber || !allowMutations"
                  type="success"
                  hint="{{ 'hint-ajout-ordre' | localize }} {{
                    'hint-source-historique' | localize
                  }}"
                  (onClick)="onArticleHistoClick()"
                  text="{{ 'btn-historique' | localize }}"
                ></dx-button>
                <dx-button
                  class="upperButton subButton shiftedRight"
                  [disabled]="!fullOrderNumber"
                  type="default"
                  height="auto"
                  [focusStateEnabled]="false"
                  icon="material-icons info"
                  text="{{
                    (ordresLignesViewExp ? 'btn-ordreLignes' : 'btn-detailExp')
                      | localize
                  }}"
                  (onClick)="detailExp()"
                ></dx-button>
                <div style="clear: both"></div>
                <div class="dx-form-group-content">
                  <app-grid-lignes
                    [ordre]="ordre"
                    [gridLignesLogistique]="gridLignesLogistique"
                    [gridLogistiques]="gridLogistiques"
                    (refreshGridLigneDetail)="refreshGridLigneDetail()"
                  ></app-grid-lignes>
                  <div class="grid-separator"></div>
                  <app-grid-ordre-ligne-logistique
                    #gridLignesLogistique
                    (refreshGridLigneDetail)="refreshGridLigneDetail()"
                    [ordre]="ordre"
                  ></app-grid-ordre-ligne-logistique>
                  <div *ngIf="ordresLignesViewExp">
                    <div class="grid-separator"></div>
                    <app-grid-lignes-details
                      [ordre]="ordre"
                    ></app-grid-lignes-details>
                  </div>
                </div>
              </div>

              <div
                class="logistique-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-logistique" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.Logistique"
                  data-name="logistique"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="
                    onAccordionToggled($event, [gridLogistiques])
                  "
                >
                  <dxi-item>
                    <div class="dx-form-group-content log-transp">
                      <div class="dx-form-group-content">
                        <!-- transporteur -->
                        <div class="dx-field">
                          <div class="dx-field-label">
                            {{ "ordres-transporteur" | localize }}
                          </div>
                          <div class="dx-field-value">
                            <dx-select-box
                              formControlName="transporteur"
                              [dataSource]="transporteursDS"
                              displayExpr="raisonSocial"
                              [readOnly]="true"
                              [searchEnabled]="true"
                              [searchExpr]="['id', 'raisonSocial']"
                            >
                            </dx-select-box>
                          </div>
                        </div>
                        <br />
                      </div>
                    </div>
                    <app-grid-logistiques
                      #gridLogistiques
                      [gridLignesLogistique]="gridLignesLogistique"
                      [ordre]="ordre"
                    ></app-grid-logistiques>
                  </dxi-item>
                </dx-accordion>
              </div>

              <div
                class="litiges-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-litiges" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.Litiges"
                  data-name="litiges"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="
                    onAccordionToggled($event, [gridLitigesLignes, formLitiges])
                  "
                >
                  <dxi-item>
                    <app-form-litiges
                      [ordre]="ordre"
                      #formLitiges
                    ></app-form-litiges>
                    <app-grid-litiges-lignes
                      [hidden]="!dotLitiges"
                      #gridLitigesLignes
                      [ordre]="ordre"
                    >
                    </app-grid-litiges-lignes>
                  </dxi-item>
                </dx-accordion>
              </div>

              <div
                class="synthese-field accordion3 dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-synthese" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.Synthese"
                  data-name="synthese"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="
                    onAccordionToggled($event, [
                      gridLTD,
                      gridDetailPalettes,
                      gridMarge,
                      gridFrais
                    ])
                  "
                >
                  <dxi-item>
                    <div class="dx-form-group-content">
                      <app-grid-lignes-totaux-detail
                        #gridLTD
                        [ordre]="ordre"
                      ></app-grid-lignes-totaux-detail>
                      <div class="grid-separator"></div>
                      <app-grid-detail-palettes
                        #gridDetailPalettes
                        [ordre]="ordre"
                      ></app-grid-detail-palettes>
                      <div class="grid-separator"></div>
                      <app-grid-marge
                        #gridMarge
                        [ordre]="ordre"
                      ></app-grid-marge>
                      <div class="grid-separator"></div>
                      <app-grid-frais
                        #gridFrais
                        [ordre]="ordre"
                      ></app-grid-frais>
                    </div>
                  </dxi-item>
                </dx-accordion>
              </div>

              <div
                class="fluxdocs-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-fluxdocs" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.Flux"
                  data-name="fluxdocs"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="onAccordionToggled($event, [gridEnvois])"
                >
                  <dxi-item>
                    <app-actions-documents-ordres
                      [ordre]="ordre"
                      [gridEnvois]="gridEnvois"
                    ></app-actions-documents-ordres>
                    <div class="dx-form-group-content">
                      <app-grid-envois
                        #gridEnvois
                        [ordre]="ordre"
                      ></app-grid-envois>
                    </div>
                  </dxi-item>
                </dx-accordion>
              </div>

              <div
                class="CQ-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-CQ" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.CQ"
                  data-name="CQ"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="onAccordionToggled($event, [gridCQ])"
                >
                  <dxi-item>
                    <div class="dx-form-group-content">
                      <app-grid-controle-qualite
                        #gridCQ
                        [ordre]="ordre"
                      ></app-grid-controle-qualite>
                    </div>
                  </dxi-item>
                </dx-accordion>
              </div>

              <div
                class="commentaires-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-commentaires" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.Commentaires"
                  data-name="commentaires"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="
                    onAccordionToggled($event, [gridCommentaire])
                  "
                >
                  <dxi-item>
                    <div class="dx-form-group-content">
                      <app-grid-commentaire-ordre
                        #gridCommentaire
                        [ordre]="ordre"
                      ></app-grid-commentaire-ordre>
                    </div>
                  </dxi-item>
                </dx-accordion>
              </div>

              <div
                class="log-field dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
              >
                <span class="dx-form-group-caption accordion-title">{{
                  "ordres-suivi-groupe-log" | localize
                }}</span>
                <dx-accordion
                  #anchor
                  [disabled]="!ordre?.id"
                  [attr.data-fragment-id]="fragments.Log"
                  data-name="log"
                  [collapsible]="true"
                  [multiple]="false"
                  [selectedIndex]="-1"
                  (onItemTitleClick)="onAccordionToggled($event, [gridSaveLog])"
                >
                  <dxi-item>
                    <div class="dx-form-group-content">
                      <app-grid-save-log
                        #gridSaveLog
                        [ordre]="ordre"
                      ></app-grid-save-log>
                    </div>
                  </dxi-item>
                </dx-accordion>
              </div>
            </div>
          </dxi-item>
        </dx-box>
      </div>
    </dx-validation-group>
  </form>

  <app-editing-alert></app-editing-alert>
  <app-ajout-articles-manu-popup
    [ordre]="ordre"
    (lignesChanged)="onLignesChanged($event)"
  >
  </app-ajout-articles-manu-popup>
  <app-ajout-articles-histo-popup
    [ordre]="ordre"
    (lignesChanged)="onLignesChanged($event)"
  >
  </app-ajout-articles-histo-popup>
  <app-ajout-articles-stock-popup
    [ordre]="ordre"
    (lignesChanged)="onLignesChanged($event)"
  >
  </app-ajout-articles-stock-popup>
  <app-file-manager-popup
    key="ordres"
    [subTitle]="'Ordre n°' + ordre.numero"
    [id]="ordre.id"
    *ngIf="ordre"
  >
  </app-file-manager-popup>
  <dx-popup
    [width]="400"
    [height]="165"
    [showTitle]="false"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="validationPopupVisible"
  >
    <p>Cet ordre va être supprimé, voulez-vous continuer ?</p>
    <br />
    <dx-button
      type="default"
      text="Supprimer"
      (onClick)="deleteClick()"
    ></dx-button>
    <dx-button
      type="normal"
      text="Annuler"
      (onClick)="cancelClick()"
    ></dx-button>
  </dx-popup>
</div>
