// Var
@import "~scss/variables.scss";
@import "~themes/generated/variables.base";

::ng-deep .form-ordres-page {


  .top-grid-cde-buttons {
    position: absolute;
    right: 289px;
    margin-top: 9px;
    z-index: 1;
    background: #EEE;

    .dx-button,
    app-actions-documents-ordres .flux-docs-buttons-container {
      position: relative;
      float: right;
    }

    .dx-button:not(.flux-doc-button) {
      margin: 0 4px;
    }

    .flux-docs-buttons-container {
      margin-top: 0 !important;
      right: 0;

      .flux-doc-button {
        margin: 0 0 0 13px;
      }
    }
  }

  .desc-regroup {
    display: inline-block;
    margin-top: 5px;
    background: #5D484D;
    color: white;
    padding: 0 8px 2px 8px;
    height: 17px;
    line-height: 16px;
  }

  .shiftNoMutations {
    margin-right: -83px;
  }

  .order-regul-button,
  .add-ref-client-button,
  .stock-auto-button {
    position: relative;
    z-index: 1;
    margin-top: 9px;
    height: 34px;
    font-size: 12px;

    .dx-button-content {
      padding: 3px 13px !important;
    }
  }

  // .add-ref-client-button {
  //   right: 704px;
  // }

  // .stock-auto-button {
  //   right: 558px;
  // }

  .header-btn-baf {
    margin: -5px 9px 0 0;
    height: 27px;

    .dx-button-content {
      padding: 0px 13px !important;

      .dx-button-text {
        font-size: 13px;
      }
    }
  }

  .duplication-buk-container {
    margin-top: -5px 5px 0 0;

    .dx-button {
      margin: 0;

      &.dx-button-has-icon:not(.dx-button-has-text) {
        border-radius: 0;
      }
    }

  }

  .duplicateBUKSA-btn {
    height: 27px;

    .dx-button-content {
      padding: 0 10px !important;
    }
  }

  .duplicateBUKSA-btn-trash {
    height: 27px;
    min-width: 30px;
    width: 30px;
    border-left: 1px dotted #FFF;

    .dx-button-content {
      padding: 0 !important;

      .dx-icon {
        font-size: 18px;
      }
    }
  }

  .margin-btn-baf {
    position: absolute;
    z-index: 1;
    right: 200px;
    margin-top: 8px;
    height: 34px;
    font-size: 12px;

    .dx-button-content {
      padding: 4px 13px 8px 13px !important;
    }
  }

  .dx-toolbar-item-auto-hide .dx-item-content {
    width: 36px;
  }

  .ordres-page {
    position: relative;
    width: calc(100% - 180px);
    left: 182px;
  }

  .ordres-page-fullscreen {
    width: auto !important;
    left: 0 !important;
  }

  .leftPanelCheckBox {
    margin-left: 9px;
    padding-left: 9px;
    border-left: 1px solid $base-accent;
  }
}

.display-none {
  display: none !important;
}

.upperButton {
  margin-left: 10px;
  float: right;
}

.subButton {
  top: -10px;
}

::ng-deep .add-litige-button {
  position: absolute;
  right: 0;
  width: 0 !important;
  min-width: 23px;
  margin: -6px 3px 0 0;
  z-index: 1;

  .dx-icon {
    font-size: 15px;
  }
}

::ng-deep .form-scrollTo-buttons-container {
  position: fixed;
  top: 32px;
  width: 170px;
  z-index: 1000;

  .dx-button {
    width: 100%;
    margin-bottom: 10px;

    .dx-button-content {
      padding: 5px !important;

      .dx-button-text {
        padding-right: 3px;
        padding-left: 3px;
        margin-top: 2px !important;
        font-size: 13px;
        line-height: 12px !important;
      }
    }
  }
}

::ng-deep .top-panel-order {
  margin-bottom: 6px;

  .order-number {
    margin: 0 10px;
    min-height: 36px;
    font-size: 30px;
    float: left;
  }

  .linkedOrders-container {
    display: flex;
    align-items: center;
    max-width: 450px;
    min-height: 38px;
    float: left;
    overflow: hidden;

    .linkedOrders-subcontainer {
      position: relative;

      .small-button {
        margin: 1px 2px;
      }

      .search-linkedOrders {
        top: 2px;
        font-size: 13px;
        color: #00759c;
      }

    }
  }


  .upperButtons-container {
    float: right;
  }
}

::ng-deep .small-button {
  top: 1px;
  height: 20px;

  .dx-button-text {
    line-height: 0 !important;
    font-size: 13px;
    margin-top: 0 !important;
    text-transform: none;
  }

  &.facture-btn {
    vertical-align: unset;
    top: 3px;
  }
}

.top-order-number {
  display: block;
  font-size: 14px;
  text-align: center;
  background: #00759c;
  color: white;
  padding: 1px 0 3px 0;
  margin-bottom: 13px;
  min-height: 22px;
}

.order-id {
  font-size: 15px;
  border-left: 1px solid #00759c;
  padding-left: 2px;
  color: #00759c;
  float: right;
}

.invoice-number {
  font-weight: normal !important;
}

.red-font-imp {
  color: #ff325a !important;
}

.blue-font {
  color: $base-accent;
}

.info-supp {
  font-size: 16px;
}

.info-supp-tva {
  top: 3px;
}

.shiftedRight {
  margin-right: 50px;
}

dx-button[type="normal"] {
  float: right;
}

//   Lignes cloturées
::ng-deep .dx-row.dx-data-row {
  & {
    &.sent-highlight-datagrid-row>td {
      background: #66ff66;
    }
  }

  &.dx-row-focused {
    &.sent-highlight-datagrid-row>td {
      color: #66ff66;
    }

    &.sent-highlight-datagrid-row .dx-checkbox-icon {
      color: #66ff66;
    }
  }
}

::ng-deep .accordion-title {
  position: absolute;
  z-index: 1;
  top: auto;
  margin: 12px 0 0 70px;
}

::ng-deep .dx-accordion-item-title .dx-accordion-item-title-caption {
  left: 60px;
  top: 13px !important;
}

::ng-deep .dx-accordion-item-title-caption {
  text-align: left !important;
}

::ng-deep .up-fifty-px {
  margin-top: -50px;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

// Grey background for grid headers
::ng-deep .order-tabs .dx-datagrid-header-panel,
::ng-deep .order-tabs .dx-toolbar {
  background: #f5f5f5;
}

.grid-separator {
  width: 100%;
  height: 15px;
}

::ng-deep .small-font {
  font-size: 13px;
}

.dot {
  position: absolute;
  right: 0;
  margin: -4px -4px 0 0;
  height: 15px;
  min-width: 15px;
  padding: 0 4px;
  background: #fe3d2c;
  border-radius: 15px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  text-align: center;
  z-index: 1;
}

.dotted-button {
  min-width: 100%;
}

.order-loader {
  position: relative;
  left: 10px;
  top: 4px;
  width: 25px;
  height: 25px;
}

.linkedOrder-Compl {
  background: $BW-purple-medium;

  &:hover {
    background: $BW-purple-dark;
  }
}

.linkedOrder-Regul {
  background: $BW-turquoise-medium;

  &:hover {
    background: $BW-turquoise-dark;
  }
}

.linkedOrder-Palox {
  background: $BW-orange-medium;

  &:hover {
    background: $BW-orange-dark;
  }
}

::ng-deep .alignright input {
  text-align: right;
}

::ng-deep .log-transp {
  width: 500px;
}

::ng-deep .form-zoom-button {
  position: relative;
  top: 2px;
  width: 20px !important;
  height: 20px;
  min-width: 0 !important;
  // margin: 0 4px !important;
  border-radius: 4px !important;

  &.rightPositioned {
    position: absolute;
    right: 0;
  }

  .dx-button-content {
    padding: 0;

    .dx-icon {
      font-size: 17px;
      margin: -12px 4px 0px -4px !important;
    }
  }
}

::ng-deep .form-text-button {
  position: relative;
  top: 3px;
  height: 20px;
  min-width: 0 !important;
  border-radius: 4px !important;
  font-size: 11px;

  .dx-button-content {
    padding: 0 7px !important;

    .dx-button-text {
      margin-top: 0 !important;
      // white-space: nowrap !important;
      // text-overflow: ellipsis;
      // overflow: hidden;
    }
  }
}

::ng-deep #head {
  padding: 20px 20px 10px 20px;
}

::ng-deep .order-header {
  margin-top: 0 !important;
  padding: 2px 0 0 0 !important;

  .dx-field-value {
    height: 23px;
  }

  .dx-field-label,
  .dx-field {
    font-size: 14px;
  }

  .dx-box .dx-field-value:not(.dx-widget)>.dx-checkbox {
    margin-top: 3px !important;
  }

  .info-supp {
    line-height: 16px;
  }

  .dx-texteditor.dx-editor-underlined {
    height: 23px;

    .dx-texteditor-input,
    .dx-placeholder {
      font-size: 14px;
    }

    &::after {
      border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    &.dx-state-readonly::after {
      border-bottom: 0;
    }

    .dx-placeholder::before {
      padding: 0;
    }
  }

  .dep-en-cours {
    display: block;
    top: 2px;
    padding: 0 10px 2px 10px;
    background-color: #ff325a !important;
    color: #FFF;
    text-align: center;
    font-size: 20px;
  }

}
