
::ng-deep .zoom-fournisseur-popup {
    background-color: #F2F2F2 !important;
    .dx-popup-title {
        background-color: #FFF;
        overflow: hidden;
    }
    .dx-popup-content {
        padding: 0 5px 0 0;
    }
}
