<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ title }}&nbsp;</div>
    <div class="title-mid print-mode">&nbsp;({{ fournisseurLigneId }})</div>
    <div class="popup-top-right-items">
      <app-top-right-popup-buttons
        (closePopup)="hidePopup()"
        (resizePopup)="resizePopup()"
        [popupFullscreen]="popupFullscreen"
      ></app-top-right-popup-buttons>
    </div>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <app-fournisseur-details
        [fournisseurLigneId]="fournisseurLigneId"
        (fournisseurLigneCode)="setTitle($event)"
      >
      </app-fournisseur-details>
      <app-contacts [fournisseurCode]="fournisseurCode"></app-contacts>
      <br />
    </dx-scroll-view>
  </div>
</dx-popup>
