<dx-popup
  *ngIf="ordre?.id"
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [(visible)]="visible"
  [resizeEnabled]="true"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  (onHiding)="onHiding($event)"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-end">{{ titleEnd }}</div>
    <app-top-right-popup-buttons
      (closePopup)="hidePopup()"
      [popup]="this"
    ></app-top-right-popup-buttons>
  </div>

  <div class="action-buttons-container">
    <dx-button
      class="cancel-button"
      type="normal"
      text="{{ 'btn-annuler' | localize }}"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      #validButton
      [disabled]="!gridChoixEnvoisComponent?.canBeSent || running"
      class="documents-valid-button"
      type="success"
      text="OK"
      (onClick)="goDocuments()"
    ></dx-button>
  </div>
  <br />
  <app-grid-choix-envois
    *ngIf="visible"
    [ordre]="currOrdre || ordre"
    [fluxID]="flux"
    [annuleOrdre]="annuleOrdre"
  ></app-grid-choix-envois>
  <br />
</dx-popup>
