<dx-popup
  *ngIf="ordre?.id"
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [(visible)]="visible"
  [resizeEnabled]="true"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  (onHiding)="onHiding($event)"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-end">{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div class="action-buttons-container">
    <dx-button
      class="cancel-button"
      type="normal"
      text="{{ 'btn-annuler' | localize }}"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      #validButton
      [disabled]="!gridChoixEnvoisComponent?.canBeSent || running"
      class="documents-valid-button"
      type="success"
      text="OK"
      (onClick)="goDocuments()"
    ></dx-button>
  </div>
  <br />
  <app-grid-choix-envois
    *ngIf="visible"
    [ordre]="currOrdre || ordre"
    [fluxID]="flux"
    [annuleOrdre]="annuleOrdre"
  ></app-grid-choix-envois>
  <br />
</dx-popup>
