@import "themes/generated/variables.base";

.encours-filter-area {
  width: 830px;

  .encours-switch {
    .dx-field-value {
      width: 36px !important;
      margin-right: 10px;

      .dx-switch {
        margin: 7px 0 5px 0;
      }
    }

    .dx-field-label {
      width: 56% !important;

      &.dx-field-label-left {
        width: 45% !important;
      }
    }
  }

  .valideCheckboxField {
    top: -3px;
  }

}

::ng-deep {
  td.highlight-err {
    background-color: #ffcbce !important;
  }

  .grid-depass-encours {
    max-height: calc(100vh - 355px) !important;
  }

  .dx-datagrid .dx-row.dx-header-row {

    .green-encours,
    .yellow-encours,
    .orange-encours {
      color: rgba(0, 0, 0, 0.87) !important;
    }

    .green-encours {
      border-right: 1px solid #fff;
      text-align: center !important;
      background: #c6e0b4 !important;
    }

    .yellow-encours {
      border-right: 1px solid #fff;
      text-align: center !important;
      background: #ffe699 !important;
    }

    .orange-encours {
      border-right: 1px solid #fff;
      text-align: center !important;
      background: #f4b084 !important;
    }

    .red-encours {
      border-right: 1px solid #fff;
      text-align: center !important;
      background: #ff0000 !important;
    }

    .dark-red-encours {
      text-align: center;
      background: #c00000 !important;
    }
  }
}
