@import "~themes/generated/variables.base";

.encours-filter-area {
  width: 830px;

  .encours-switch {
    .dx-field-value {
      width: 36px !important;
      margin-right: 10px;

      .dx-switch {
        margin: 7px 0 5px 0;
      }
    }

    .dx-field-label {
      width: 56% !important;

      &.dx-field-label-left {
        width: 32% !important;
      }

    }
  }

}

::ng-deep {
  td.highlight-err {
    background-color: #FFCBCE !important;
  }

  .dx-datagrid .dx-row.dx-header-row {

    .green-encours,
    .yellow-encours,
    .orange-encours {
      color: rgba(0, 0, 0, 0.87) !important;
    }

    .green-encours {
      border-right: 1px solid #FFF;
      text-align: center !important;
      background: #C6E0B4 !important;
    }

    .yellow-encours {
      border-right: 1px solid #FFF;
      text-align: center !important;
      background: #FFE699 !important;
    }

    .orange-encours {
      border-right: 1px solid #FFF;
      text-align: center !important;
      background: #F4B084 !important;
    }

    .red-encours {
      border-right: 1px solid #FFF;
      text-align: center !important;
      background: #FF0000 !important;
    }

    .dark-red-encours {
      text-align: center;
      background: #C00000 !important;
    }
  }
}
