<br />
<div class="encours-filter-area">
  <dx-box>
    <dxi-item [ratio]="2">
      <div class="dx-field encours-switch">
        <div class="dx-field-label dx-field-label-left">
          {{ "tous-encours" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-switch
            #switchType
            [value]="true"
            (onValueChanged)="enableFilters()"
          ></dx-switch>
        </div>
        <div class="dx-field-label dx-field-label-right">
          {{ "depassement-encours" | localize }}
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="3"></dxi-item>
  </dx-box>
  <dx-box>
    <dxi-item [ratio]="3">
      <div class="dx-field secteur-encours">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteurValue
            [dataSource]="secteurs"
            displayExpr="description"
            [showClearButton]="true"
            searchExpr="description"
            (onValueChanged)="onSecteurChanged($event)"
          ></dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.25"></dxi-item>
    <dxi-item [ratio]="3">
      <div class="dx-field pays-encours">
        <div class="dx-field-label">
          {{ "tiers-clients-pays" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #paysValue
            [dataSource]="pays"
            displayExpr="description"
            [showClearButton]="true"
            searchExpr="description"
            (onValueChanged)="onPaysChanged($event)"
          ></dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.25"></dxi-item>
    <dxi-item [ratio]="4">
      <div class="dx-field pays-encours">
        <div class="dx-field-label">
          {{ "tiers-clients-commercial" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #commercialValue
            [dataSource]="commercial"
            [displayExpr]="displayIDBefore"
            [showClearButton]="true"
            searchExpr="['id', 'nomUtilisateur']"
            (onValueChanged)="onCommChanged($event)"
          ></dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
</div>
<br />

<dx-button
  class="grid-grouping-button"
  type="default"
  icon="material-icons menu_open"
  hint="{{ 'btn-grouping' | localize }}"
  (onClick)="gridsService.expandCollapseGroups(this)"
></dx-button>

<dx-data-grid
  class="dx-card wide-card"
  [remoteOperations]="false"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      title,
      $event,
      gridConfiguratorService.Grid.DepassementEncoursPays,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Dépass. encours clients"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.DepassementEncoursPays"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [caption]="
      ('pays-' + column.dataField?.split('.').join('-') | localize) ||
      column.name
    "
    [dataType]="column?.dataType"
    [allowSearch]="
      column.allowSearch !== undefined
        ? column.allowSearch
        : ['string'].includes(column.dataType)
    "
    [allowHeaderFiltering]="
      column.allowHeaderFiltering !== undefined
        ? column.allowHeaderFiltering
        : ['string'].includes(column.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
  ></dxi-column>

  <dxo-master-detail
    [enabled]="true"
    template="details"
  ></dxo-master-detail>
  <div *dxTemplate="let masterRow of 'details'">
    <app-grid-clients-dep-encours-detail
      [masterRow]="masterRow"
      [commercialId]="commercialId"
      [showAllClients]="!switchType.value"
      [secteurId]="secteurId"
      (openEncoursOrder)="openOrder($event)"
    ></app-grid-clients-dep-encours-detail>
  </div>
</dx-data-grid>
