<br>
<div>
  <dx-box>
    <dxi-item [ratio]="1">
      <div class="dx-field secteur-encours">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteurValue
            [dataSource]="secteurs"
            displayExpr="description"
            [searchEnabled]="true"
            searchExpr="description"
            (valueChange)="enableFilters()"
          ></dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>

  <br />

  <dx-data-grid
    class="dx-card wide-card"
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [showBorders]="false"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    [scrolling]="{
      useNative:true
    }"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        title,
        $event,
        gridConfiguratorService.Grid.DepassementEncoursPays,
        enableFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <dxo-export [enabled]="true" fileName="Dépass. encours clients" [allowExportSelectedData]="false"></dxo-export>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.DepassementEncoursPays"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [caption]="('pays-' + column.dataField?.split('.').join('-') | localize) || column.name"
      trueText="Oui"
      falseText="Non"
      [dataType]="column?.dataType"
      [allowSearch]="
      column.allowSearch !== undefined
        ? column.allowSearch
        : ['string'].includes(column.dataType)
      "
      [allowHeaderFiltering]="
        column.allowHeaderFiltering !== undefined
          ? column.allowHeaderFiltering
          : ['string'].includes(column.dataType)
      "
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>

    <dxo-master-detail [enabled]="true" template="details"></dxo-master-detail>
    <div *dxTemplate="let masterRow of 'details'">
      <app-grid-clients-dep-encours-detail [masterRow]="masterRow"></app-grid-clients-dep-encours-detail>
    </div>
  </dx-data-grid>
</div>
