<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ title }}</div>
    <div class="popup-top-right-items">
      <dx-button
        class="close-article-popup"
        icon="close"
        (onClick)="hidePopup()"
      ></dx-button>
      <dx-button
        class="min-max-imize-popup-icon"
        hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
        [icon]="
          'material-icons zoom_' + (popupFullscreen ? 'in' : 'out') + '_map'
        "
        (onClick)="resizePopup()"
      ></dx-button>
    </div>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <app-transporteur-details [transporteurLigneId]="transporteurLigneId">
      </app-transporteur-details>
      <app-contacts [transporteurLigneId]="transporteurLigneId"></app-contacts>
      <br />
    </dx-scroll-view>
  </div>
</dx-popup>
