<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  [(visible)]="visible"
  [title]="title"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <app-transporteur-details
        [transporteurLigneId]="transporteurLigneId"
        [transporteurTitle]="transporteurTitle"
      ></app-transporteur-details>
      <br />
    </dx-scroll-view>
  </div>
</dx-popup>
