<br />
<div>
  <dx-box>
    <dxi-item [ratio]="4">
      <!-- Secteurs -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-check-box
            #withSector
            (valueChange)="enableFilters()"
          ></dx-check-box>
          <dx-select-box
            #secteurValue
            [dataSource]="secteurs"
            [disabled]="!withSector.value"
            displayExpr="description"
            searchExpr="description"
            (valueChange)="enableFilters()"
          ></dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="10.5">
      <div>
        <dx-button
          class="upperButton"
          type="default"
          [visible]="false"
          text="{{ 'btn-confirm' | localize }}"
        >
        </dx-button>
      </div>
    </dxi-item>
  </dx-box>

  <br />

  <dx-data-grid
    class="dx-card wide-card"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    (onRowDblClick)="onRowDblClick($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        '',
        $event,
        gridConfiguratorService.Grid.OrdresNonConfirmes,
        enableFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <dxo-export fileName="Ordres non confirmés"></dxo-export>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.OrdresNonConfirmes"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [caption]="
        ('ordres-non-confirmes-' + column.dataField?.split('.').join('-') | localize) ||
        column.name
      "
      [visible]="false"
      [dataType]="column?.dataType"
      [allowSearch]="
        column?.allowSearch || ['string'].includes(column?.dataType)
      "
      [allowHeaderFiltering]="
        column.allowHeaderFiltering !== undefined
          ? column.allowHeaderFiltering
          : ['string'].includes(column.dataType)
      "
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>
  </dx-data-grid>
</div>
