<br />
<div class="ordres-non-confirmes">
  <div class="filterArea-container">
    <form [formGroup]="formGroup">
      <dx-box>
        <dxi-item [ratio]="4">
          <!-- Secteurs -->
          <div class="dx-field">
            <div class="dx-field-label">
              {{ "tiers-clients-secteur" | localize }}
            </div>
            <div class="dx-field-value">
              <dx-check-box #withSector></dx-check-box>
              <dx-select-box
                #secteurValue
                formControlName="secteur"
                [dataSource]="secteurs"
                [disabled]="!withSector?.value"
                displayExpr="description"
                searchExpr="description"
              ></dx-select-box>
            </div>
          </div>
        </dxi-item>
        <dxi-item [ratio]="0.2"></dxi-item>
        <dxi-item [ratio]="11">
          <dx-box>
            <dxi-item [ratio]="1.5">
              <!-- Période -->
              <div class="dx-field">
                <div class="dx-field-label text-align-right">
                  {{ "ordres-periode" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-select-box
                    #periodeSB
                    [items]="periodes"
                    [displayExpr]="dateManagementService.displayPeriodText"
                    (onValueChanged)="setDates($event)"
                  >
                    <dxo-drop-down-options [width]="300">
                    </dxo-drop-down-options>
                  </dx-select-box>
                </div>
              </div>
            </dxi-item>
            <dxi-item [ratio]="1">
              <!-- Date de début -->
              <div class="dx-field field-small">
                <div class="dx-field-label text-align-right">
                  {{ "ordres-Du" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-date-box
                    formControlName="dateMin"
                    class="dateStart"
                    type="date"
                    dateSerializationFormat="yyyy-MM-dd"
                    [displayFormat]="'dd-MM-yy'"
                    (onValueChanged)="manualDate($event)"
                  ></dx-date-box>
                </div>
              </div>
            </dxi-item>
            <dxi-item [ratio]="1">
              <!-- Date de fin -->
              <div class="dx-field field-small">
                <div class="dx-field-label text-align-right">
                  {{ "ordres-au" | localize }}
                </div>
                <div class="dx-field-value">
                  <dx-date-box
                    formControlName="dateMax"
                    class="dateEnd"
                    type="date"
                    dateSerializationFormat="yyyy-MM-dd"
                    [displayFormat]="'dd-MM-yy'"
                    (onValueChanged)="manualDate($event)"
                  ></dx-date-box>
                </div>
              </div>
            </dxi-item>
          </dx-box>
        </dxi-item>
      </dx-box>
    </form>
  </div>

  <dx-button
    class="refresh-btn"
    type="default"
    text="{{ 'btn-refresh' | localize }}"
    (onClick)="enableFilters()"
  ></dx-button>

  <br />
  <br />
  <dx-data-grid
    class="dx-card wide-card"
    [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    (onRowDblClick)="onRowDblClick($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        '',
        $event,
        gridConfiguratorService.Grid.OrdresNonConfirmes,
        enableFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <dxo-export fileName="Ordres non confirmés"></dxo-export>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.OrdresNonConfirmes"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [caption]="
        ('ordres-non-confirmes-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [visible]="false"
      [dataType]="column?.dataType"
      [cssClass]="
        'small-side-padding' + (column.cssClass ? ' ' + column.cssClass : '')
      "
      [allowSearch]="
        column?.allowSearch || ['string'].includes(column?.dataType)
      "
      [allowHeaderFiltering]="
        column.allowHeaderFiltering !== undefined
          ? column.allowHeaderFiltering
          : ['string'].includes(column.dataType)
      "
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>
  </dx-data-grid>
</div>
