<dx-data-grid
  class="dx-card wide-card grid-lignes-totaux-detail"
  [dataSource]="dataSource"
  [remoteOperations]="{
    filtering: true,
    grouping: false,
    groupPaging: false,
    paging: true,
    sorting: true,
    summary: true
  }"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Totaux détail',
      $event,
      gridConfiguratorService.Grid.OrdreLignesTotauxDetail,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Totaux détails"></dxo-export>
  <dxo-paging></dxo-paging>
  <dxo-state-storing
    [enabled]="true"
    type="custom"
    [storageKey]="gridConfiguratorService.Grid.OrdreLignesTotauxDetail"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxo-summary [totalItems]="totalItems"></dxo-summary>
  <dxo-summary>
    <dxi-group-item
      column="nombrePalettesExpediees"
      summaryType="sum"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="nombreColisExpedies"
      summaryType="sum"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="poidsBrutExpedie"
      summaryType="sum"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="poidsNetExpedie"
      summaryType="sum"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="logistique.nombrePalettesAuSol"
      summaryType="avg"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="logistique.nombrePalettes100x120"
      summaryType="avg"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="logistique.nombrePalettes80x120"
      summaryType="avg"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
    <dxi-group-item
      column="logistique.nombrePalettes60x80"
      summaryType="avg"
      displayFormat="{0}"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-group-item>
  </dxo-summary>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [caption]="
      ('ordreLignesTotauxDetail-' + column.dataField.split('.').join('-')
        | localize) || column.name
    "
    [visible]="false"
    [dataType]="column?.dataType"
    [format]="column?.format"
    [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column?.showInColumnChooser"
  ></dxi-column>
</dx-data-grid>
