::ng-deep .grid-lignes-totaux-detail {

  .dx-row-lines,
  .dx-datagrid-group-opened {
    display: none;
  }

  .dx-datagrid-rowsview .dx-datagrid-summary-item {
    font-weight: normal !important;
    color: #000;
  }

  .dx-toolbar-before,
  .dx-datagrid-headers.dx-datagrid-nowrap,
  .dx-datagrid-group-opened {
    pointer-events: none;
  }

}
