::ng-deep .grid-lignes-totaux-detail {

  .dx-row-lines,
  .dx-datagrid-group-opened,
  .dx-group-panel-item {
    display: none;
  }

  .dx-header-row td:first-child {
    padding-left: 16px !important;
  }

  .dx-group-row td:first-child {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 16px !important;
  }

  .dx-datagrid-rowsview .dx-datagrid-summary-item,
  .dx-group-cell {
    font-weight: normal !important;
    text-align: right !important;
    color: rgba(0, 0, 0, .7);
  }

  .dx-toolbar-before,
  .dx-datagrid-headers.dx-datagrid-nowrap,
  .dx-datagrid-group-opened {
    pointer-events: none;
  }

  .dx-command-expand {
    padding-right: 150px !important;
    pointer-events: none !important;
  }

  .dx-row.dx-footer-row {
    font-weight: bold;
  }
}
