<dx-popup
  [width]="300"
  [height]="250"
  [showTitle]="true"
  title="Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="visible"
>
  <div *dxTemplate="let data of 'content'">
    <p>La fiche est en cours d'édition, les informations saisies seront perdues si vous poursuivez la navigation</p>
    <br>
    <dx-button type="default" text="annuler" (onClick)="cancelClick()"></dx-button>
    <dx-button type="normal" text="continuer" (onClick)="continueClick()"></dx-button>
  </div>
</dx-popup>