<dx-popup
  [width]="400"
  [height]="'auto'"
  [showTitle]="false"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [(visible)]="visible"
>
  <div *dxTemplate="let data of 'content'">
    <p class="text-align-center">
      La fiche est en cours d'édition, les informations saisies seront perdues
      si vous poursuivez la navigation
    </p>
    <br />
    <dx-button
      type="default"
      text="retour fiche"
      (onClick)="cancelClick()"
    ></dx-button>
    <dx-button
      type="normal"
      text="poursuivre"
      (onClick)="continueClick()"
    ></dx-button>
  </div>
</dx-popup>
