<dx-popup
  [fullScreen]="this.popupFullscreen"
  [width]="'auto'"
  [height]="'auto'"
  [maxWidth]="'80vw'"
  [showCloseButton]="true"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
  (onShown)="onShown()"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ title }}&nbsp;</div>
    <app-top-right-popup-buttons
      [popup]="this"
      (closePopup)="quitPopup()"
    ></app-top-right-popup-buttons>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view [height]="'80vh'">
      <app-ordres-suivi
        [rowSelectionEventMode]="'emit'"
        (whenRowSelected)="choosed.emit($event)"
      ></app-ordres-suivi>
    </dx-scroll-view>
  </div>
</dx-popup>
