<br>
<div class="main-search-container">
  <dx-box direction="row">
    <dxi-item [ratio]="12">
      <div class="dx-field">
        <div class="dx-field-label">Rechercher</div>
        <div class="dx-field-value">
          <dx-autocomplete
            placeholder="..."
            [(value)]="numero"
            (onEnterKey)="findOrder($event)"
            (onKeyDown)="hideSearchResults()"
          >
          </dx-autocomplete>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="1"></dxi-item>
    <dxi-item [ratio]="8">
      <div class="dx-field">
        <div class="dx-field-label">{{ "rechOrdres-critere" | localize }}</div>
        <div class="dx-field-value">
          <dx-select-box #searchCriteria
            [items]="searchItems"
            [displayExpr]="searchDisplayExpr"
            (valueChange)="changeSearchCriteria()"
          >
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
</div>
<app-grid-suivi
  [filter]="filter"
  *ngIf="showGridResults"
  (ordreSelected)="tabContext.openOrdre($event.numero)"
></app-grid-suivi>

<div class="histo-container">
  <h2>{{ 'ordres-details-historiqueordres' | localize }}</h2>
  <app-grid-historique (ordreSelected)="tabContext.openOrdre($event.numero)"></app-grid-historique>
</div>
