// Var
@import "themes/generated/variables.base";

::ng-deep .forfait-litige-popup {
  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }
  }

  .popup-buttons-container {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);

    .dx-button {
      min-width: 100px;
      margin: 5px;
    }
  }

  .frais-annexes-expl {
    text-align: justify;
  }
}
