.planning-dep-filters {
  width: 820px;

  .difference-label {
    width: 170px;
    text-overflow: initial;
    overflow: hidden;
    white-space: inherit;
  }

  .difference-checkbox {
    position: relative;
    top: 9px;
  }

}

::ng-deep .grid-planning-departs {

  .dx-toolbar .dx-texteditor-container {
    width: 750px;

    .dx-placeholder {
      color: rgba(0, 0, 0, .87);
    }
  }

  .dx-master-detail-cell {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  .highlight-ok {
    background-color: #8FC459 !important;
    color: white !important;
  }

  .highlight-err {
    background: #ff325a !important;
    color: white !important;
  }
}

.refresh {
  margin-right: 15px;
  float: right;
}

.upperButton {
  float: right;
}
