<br />
<dx-button
  class="upperButton"
  text="{{ 'btn-blAutoSend' | localize }}"
  (onClick)="onBLAutoClick()"
></dx-button>
<dx-button
  class="refresh"
  type="default"
  text="{{ 'btn-refresh' | localize }}"
  (onClick)="updateFilters()"
></dx-button>
<div>
  <dx-box class="planning-dep-filters">
    <dxi-item [ratio]="0.4">
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteurValue
            [dataSource]="secteurs"
            displayExpr="description"
            searchExpr="description"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.05"></dxi-item>
    <dxi-item [ratio]="0.4">
      <!-- Bureau achat -->
      <div class="dx-field field-large">
        <div class="dx-field-label noEllipsis">
          {{ "tiers-fournisseurs-bureauAchat" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #bureauAchatValue
            [dataSource]="bureauxAchat"
            [displayExpr]="displayCodeBefore"
            valueExpr="id"
            [searchExpr]="['id']"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.05"></dxi-item>
    <dxi-item [ratio]="0.35">
      <div class="dx-field">
        <div class="dx-field-label difference-label">
          {{ "ordre-planning-depart-diff-expe" | localize }}
        </div>
        <dx-check-box
          #diffCheckBox
          class="difference-checkbox"
          [width]="40"
          (onValueChanged)="updateFilters()"
        ></dx-check-box>
      </div>
    </dxi-item>
  </dx-box>
  <dx-box class="planning-dep-filters">
    <dxi-item [ratio]="0.6">
      <!-- Période -->
      <div class="dx-field">
        <div class="dx-field-label noEllipsis">
          {{ "ordres-periode" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #periodeSB
            [items]="periodes"
            [displayExpr]="dateManagementService.displayPeriodText"
            (onValueChanged)="setDates($event)"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.1"></dxi-item>
    <dxi-item [ratio]="0.4">
      <!-- Date de début -->
      <div class="dx-field date-field">
        <div class="dx-field-label">
          {{ "ordres-Du" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-date-box
            #dateMin
            class="dateStart"
            type="date"
            [displayFormat]="'dd-MM-yy'"
            (onValueChanged)="manualDate($event)"
          >
            <dx-validator>
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.4">
      <!-- Date de fin -->
      <div class="dx-field field date-field">
        <div class="dx-field-label text-align-center no-padding">
          {{ "ordres-au" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-date-box
            #dateMax
            class="dateEnd"
            type="date"
            [displayFormat]="'dd-MM-yy'"
            (onValueChanged)="manualDate($event)"
          >
            <dx-validator>
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>

  <br />

  <div class="groupage-legend groupage-row">
    - {{ "ordres-planningDepart-ordreLogistique-groupage-id" | localize }} -
  </div>

  <dx-data-grid
    class="dx-card wide-card grid-planning-departs"
    [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
    #gridPLANNINGDEPART
    [remoteOperations]="{ paging: true }"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    [keyExpr]="'id'"
    (onRowDblClick)="onRowDblClick($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        title,
        $event,
        gridConfiguratorService.Grid.PlanningDepart,
        updateFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <dxo-export fileName="Planning départ"></dxo-export>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-pager
      [visible]="true"
      [showInfo]="true"
      [showPageSizeSelector]="false"
      infoText="{2} {{ 'elements' | localize }}"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.PlanningDepart"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [width]="column.width"
      [format]="column.format"
      [cssClass]="column.cssClass"
      [caption]="
        ('ordres-planningDepart-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [dataType]="column?.dataType"
      [allowSearch]="
        column.allowSearch !== undefined
          ? column.allowSearch
          : ['string'].includes(column.dataType)
      "
      [allowHeaderFiltering]="
        column.allowHeaderFiltering !== undefined
          ? column.allowHeaderFiltering
          : ['string'].includes(column.dataType)
      "
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>
  </dx-data-grid>
</div>
