<br />
<dx-button
  class="upperButton"
  text="{{ 'btn-blAutoSend' | localize }}"
  [disabled]="true"
></dx-button>
<div>
  <dx-box>
    <dxi-item [ratio]="1">
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteurValue
            [dataSource]="secteurs"
            displayExpr="description"
            [searchEnabled]="true"
            searchExpr="description"
            (valueChange)="updateFilters()"
          ></dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.2"></dxi-item>
    <dxi-item [ratio]="1.4" style="justify-content: center">
      <div class="dx-field">
        <div class="dx-field-label" style="width: 3400px">
          {{ "ordre-planning-depart-diff-expe" | localize }}
        </div>
        <dx-check-box
          #diffCheckBox
          [value]="false"
          [width]="40"
          (valueChange)="updateFilters()"
        ></dx-check-box>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.1"></dxi-item>
    <dxi-item [ratio]="1" style="justify-content: center">
      <div class="dx-field">
        <div class="dx-field-label" style="width: 50px">
          {{ "sur" | localize }}
        </div>
        <dx-number-box
          #daysOfService
          [value]="1"
          [width]="50"
          (valueChange)="changeDays()"
          (onContentReady)="onDaysOfServiceInputReady()"
          [inputAttr]="{ style: 'text-align: center' }"
        ></dx-number-box>
        <div class="dx-field-label">{{ "jours" | localize }}</div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="1"></dxi-item>
  </dx-box>

  <br />

  <dx-data-grid
    class="dx-card wide-card"
    #gridPLANNINGDEPART
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    [scrolling]="{
      useNative: true
    }"
    (onRowDblClick)="onRowDblClick($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        title,
        $event,
        gridConfiguratorService.Grid.PlanningDepart,
        updateFilters.bind(this)
      )
    "
    (onCellPrepared)="onCellPrepared($event)"
  >
    <!-- Grid configuration -->
    <dxo-export
      [enabled]="true"
      fileName="Planning départ"
      [allowExportSelectedData]="false"
    ></dxo-export>
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.PlanningDepart"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [caption]="
        ('ordres-' + column.dataField?.split('.').join('-') | localize) ||
        column.name
      "
      trueText="Oui"
      falseText="Non"
      [dataType]="column?.dataType"
      [allowSearch]="
        column.allowSearch !== undefined
          ? column.allowSearch
          : ['string'].includes(column.dataType)
      "
      [allowHeaderFiltering]="
        column.allowHeaderFiltering !== undefined
          ? column.allowHeaderFiltering
          : ['string'].includes(column.dataType)
      "
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>

    <dxo-master-detail [enabled]="true" template="details"></dxo-master-detail>
    <div *dxTemplate="let masterRow of 'details'">
      <app-grid-detail-planning-departs
        [masterRow]="masterRow"
      ></app-grid-detail-planning-departs>
    </div>
  </dx-data-grid>
</div>
