.upperButton {
  float: right;
}
::ng-deep {
  .highlight-ok {
    background: green !important;
    color: white !important;
  }
  .highlight-err {
    background: red !important;
    color: white !important;
  }
}
