<form
  class="filter-container"
  [formGroup]="formGroup"
>
  <dx-box>
    <dxi-item [ratio]="0.8">
      <!-- Valides/non valides -->
      <div class="dx-field valideCheckboxField">
        <div class="dx-field-label">
          {{ "clients-entrepots-valides" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-check-box
            formControlName="valide"
            class="float-left"
            (onValueChanged)="onValideChanged($event)"
          >
          </dx-check-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="2">
      <!-- Switch départ / livraison -->
      <div class="dx-field departLivraison-switch">
        <div class="dx-field-label dx-field-label-left">
          {{ "ordreLignes-dateDepartPrevue" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-switch
            #switchDepartLivraison
            [switchedOnText]=""
            [switchedOffText]=""
            (onValueChanged)="switchDateType()"
          ></dx-switch>
        </div>
        <div class="dx-field-label dx-field-label-right">
          {{ "ordreLignes-dateLivraisonPrevue" | localize }}
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="2">
      <!-- Bureau achat -->
      <div class="dx-field">
        <div class="dx-field-label noEllipsis">
          {{ "tiers-fournisseurs-bureauAchat" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="bureauAchat"
            [dataSource]="bureauxAchat"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            [showClearButton]="true"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <dx-box>
    <dxi-item [ratio]="2">
      <!-- Secteur -->
      <div class="dx-field secteur-histo-ligne-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="secteur"
            [dataSource]="secteurs"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id']"
            (onValueChanged)="onSecteurChanged($event)"
          >
            <dx-validator name="{{ 'tiers-clients-secteur' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3.5">
      <!-- Client -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-client" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="client"
            [dataSource]="clients"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['code']"
            (onValueChanged)="onClientChanged($event)"
            itemTemplate="items"
          >
            <div *dxTemplate="let data of 'items'">
              <div
                [title]="!data.valide ? 'non valide' : ''"
                [ngClass]="{ 'not-valid': !data.valide }"
              >
                {{ displayCodeBefore(data) }}
              </div>
            </div>
            >
            <dx-validator name="{{ 'tiers-client' | localize }}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3.5">
      <!-- Entrepot -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-entrepot" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            formControlName="entrepot"
            [dataSource]="entrepots"
            [searchExpr]="['code']"
            [displayExpr]="displayCodeBefore"
            (onFocusIn)="onEntrepotFocus($event)"
            [showClearButton]="true"
            itemTemplate="items"
          >
            <div *dxTemplate="let data of 'items'">
              <div
                [title]="!data.valide ? 'non valide' : ''"
                [ngClass]="{ 'not-valid': !data.valide }"
              >
                {{ displayCodeBefore(data) }}
              </div>
            </div>
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <dx-box>
    <dxi-item [ratio]="5">
      <!-- Période -->
      <div class="dx-field">
        <div class="dx-field-label noEllipsis">
          {{ "ordres-periode" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #periodeSB
            [items]="periodes"
            [displayExpr]="dateManagementService.displayPeriodText"
            (onValueChanged)="setDates($event)"
          >
            <dxo-drop-down-options
              [width]="300"
              [elementAttr]="{ class: 'period-list' }"
            >
            </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3">
      <!-- Date de début -->
      <div class="dx-field field">
        <div class="dx-field-label">
          {{ "ordres-Du" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-date-box
            formControlName="dateMin"
            class="dateStart"
            type="date"
            [displayFormat]="'dd-MM-yy'"
            (onValueChanged)="manualDate($event)"
          ></dx-date-box>
        </div>
      </div>
    </dxi-item>
    <dxi-item [ratio]="0.5"></dxi-item>
    <dxi-item [ratio]="3">
      <!-- Date de fin -->
      <div class="dx-field field">
        <div class="dx-field-label">
          {{ "ordres-au" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-date-box
            formControlName="dateMax"
            class="dateEnd"
            type="date"
            [displayFormat]="'dd-MM-yy'"
            (onValueChanged)="manualDate($event)"
          ></dx-date-box>
        </div>
      </div>
    </dxi-item>
  </dx-box>
  <dx-button
    class="refresh"
    type="default"
    text="{{ 'btn-refresh' | localize }}"
    (onClick)="enableFilters()"
  ></dx-button>
</form>

<div class="grid-order-history-container">
  <dx-data-grid
    class="dx-card wide-card"
    [width]="'100%'"
    [focusedRowEnabled]="true"
    [remoteOperations]="{
      filtering: true,
      grouping: false,
      groupPaging: false,
      paging: false,
      sorting: false,
      summary: false
    }"
    [showBorders]="false"
    [elementAttr]="{ class: 'grid-order-history' }"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    [noDataText]="'aucun-ordre' | localize"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onToolbarPreparing)="
      gridConfiguratorService.onToolbarPreparing(
        '',
        $event,
        gridConfiguratorService.Grid.OrdreLigneHistorique,
        enableFilters.bind(this)
      )
    "
  >
    <!-- Grid configuration -->
    <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-selection
      *ngIf="gridSelectionEnabled"
      mode="multiple"
      [allowSelectAll]="false"
      [showCheckBoxesMode]="'always'"
      [selectAllMode]="'page'"
    ></dxo-selection>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.OrdreLigneHistorique"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <!-- <dxo-filter-row [visible]="false"></dxo-filter-row> -->
    <dxo-group-panel [visible]="true"> </dxo-group-panel>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      [allowSearch]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
    >
    </dxo-column-chooser>
    <dxo-summary>
      <dxi-group-item
        *ngFor="let field of summaryFields"
        [column]="field"
        summaryType="sum"
        [alignByColumn]="true"
        displayFormat="{0}"
      >
      </dxi-group-item>
    </dxo-summary>
    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [visible]="false"
      [width]="column.width"
      [caption]="
        ('ordreLignesHisto-' + column.dataField?.split('.').join('-')
          | localize) || column.name
      "
      [cellTemplate]="column.cellTemplate"
      [fixed]="column.fixed"
      [dataType]="column?.dataType"
      [cssClass]="column?.cssClass"
      [calculateGroupValue]="column.calculateGroupValue"
      allowSearch="false"
      [allowHeaderFiltering]="
        column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
      "
      [showInColumnChooser]="column?.showInColumnChooser"
    >
    </dxi-column>

    <div *dxTemplate="let cell of 'zoomButtonTemplate'">
      <dx-button
        class="grid-zoom-button"
        type="default"
        icon="material-icons search"
        [focusStateEnabled]="false"
        (onClick)="openFilePopup(cell, $event)"
      >
      </dx-button>
    </div>
  </dx-data-grid>
</div>

<app-zoom-client-article-popup
  [articleLigneId]="articleLigneId"
></app-zoom-client-article-popup>
