@import "src/themes/generated/variables.base.scss";

::ng-deep .tabs-ordres-page {

  .dx-tabpanel-tabs {
    padding-bottom: 5px;
    width: calc(100% - 40px);
  }

  .fixed-tabs {
    .dx-item-content.dx-multiview-item-content {
      height: calc(100vh - 240px) !important;

      .dx-scrollable-wrapper {
        padding-right: 10px;
      }
    }
  }

  .dx-fast-prev-btn,
  .dx-fast-next-btn,
  .dx-pin-tabs-btn {
    top: 20px;
    width: 28px !important;
    height: 55px;
    min-width: 0 !important;
    min-height: 0 !important;
  }

  .dx-fast-prev-btn {
    left: 12px;
  }

  .dx-fast-next-btn {
    right: 52px;
  }

  .dx-pin-tabs-btn {
    position: absolute;
    border-radius: 0 !important;
    right: 24px;
    background-color: #F2F2F2 !important;

    .dx-icon {
      color: #8FC459;
      font-size: 22px !important;
    }

    &:hover {
      .dx-icon {
        color: #79B23F !important;
      }
    }
  }

  .tabs-unpined {
    .dx-icon {
      color: #CCC;
      font-size: 22px !important;
    }

    &:hover {
      .dx-icon {
        color: #AAA !important;
      }
    }
  }

  .dx-tabs-nav-button-left,
  .dx-tabs-nav-button-right {
    width: 28px !important;
    min-width: 0 !important;
  }

  .dx-tabs-nav-button:not(.dx-fast-prev-btn):not(.dx-fast-next-btn) {
    height: 100% !important;
  }

  .dx-tab {
    padding: 0;

    .dx-template-wrapper.dx-tab-content {
      padding: 12px 15px 11px 11px;
      margin: 0 1px;

      &:hover {
        i.dx-icon-close {
          color: #fe3d2c;
          visibility: visible;

          &+.dx-tab-status-dot {
            display: none;
          }
        }
      }

      &.home-tab {
        height: 55px;

        .dx-icon {
          margin-top: 4px;
        }
      }

      &.create-order-tab {
        color: #FFF;
        background: #8FC459;

        small {
          color: #FFF;
        }

        .dx-icon {
          color: #FFF;
        }

        &:hover {
          background: #79B23F;
        }
      }

      &.close-all-orders-tab {
        height: 55px;

        .dx-icon {
          color: $base-accent;
        }

        &:hover {
          .dx-icon {
            color: #fe3d2c;
          }
        }
      }

      .dx-tab-status-dot {
        position: absolute;
        right: 0;
        margin: -37px 5px 0 0;
        height: 11px;
        min-width: 11px;
        padding: 0 4px;
        background: #8FC459;
        border-radius: 15px;
        font-size: 12px;
        line-height: 14px;
        color: white;
        text-align: center;
      }

    }

    i.dx-icon-close {
      position: absolute;
      top: -2px;
      right: -2px;
      font-size: 17px;
      visibility: hidden;
    }

    .dx-tab-text>i {
      margin-right: 5px;
      display: inline;
    }

    .dx-tab-text-multiLine {
      width: 43px;
      overflow: hidden;
      white-space: normal;
      text-transform: none;
      font-size: 11px;
      line-height: 10px;
      text-align: left;
      margin-left: 5px;
    }

    .disabled_by_default {
      color: $base-accent;
    }

    .dx-badge {
      position: absolute;
      left: 2px;
      top: 4px;
    }

    &.dx-tab-selected {
      small {
        color: $base-accent;
      }
    }

    .dx-template-wrapper {
      .dx-tab-content {
        display: flex;
        align-items: center;

        .tab-separator {
          width: 5px;
        }

        .dx-tab-text {
          line-height: initial;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    &:first-child {
      display: none;
    }

    .std-order-width {
      width: 74px;
      text-align: left;
    }
  }
}
