<div class="tabs-ordres-page">
  <!-- Défilement rapide onglets (gauche) -->
  <dx-button
    type="default"
    [focusStateEnabled]="false"
    class="dx-fast-prev-btn visibility-hidden dx-tabs-nav-button dx-tabs-nav-button-left"
    icon="material-icons keyboard_double_arrow_left"
    hint="{{ 'list-start' | localize }}"
    (onClick)="onFastPrevNextClick('prev')"
  >
  </dx-button>

  <dx-tab-panel
    [ngClass]="{ 'fixed-tabs': !tabsUnpined }"
    class="content-block"
    [items]="items"
    [repaintChangesOnly]="true"
    [showNavButtons]="true"
    (onTitleClick)="onTabTitleClick($event)"
    (onContentReady)="tabPanelReady.emit($event)"
    (onInitialized)="tabPanelInitialized.emit($event)"
    (onTitleRendered)="onTabTitleRendered($event)"
    noDataText="{{ 'loading-progress' | localize }}"
  >
    <div
      *dxTemplate="let tab of 'title'"
      [ngClass]="tab.class"
    >
      <div
        [hidden]="tab.hideTab"
        class="dx-item-content dx-tab-content"
        [attr.data-item-id]="tab.id"
      >
        <i
          class="dx-icon"
          [ngClass]="tab.icon"
        ></i>
        <span
          *ngIf="tab.title"
          class="tab-separator"
        ></span>
        <span
          *ngIf="tab.title"
          class="dx-tab-text"
        >
          <small>{{ tab.title }}</small>
          <ng-container *ngIf="tab.details">
            <span
              [ngClass]="{ 'std-order-width': tab.type === typeTab.Ordre }"
              >{{ tab.details }}</span
            >
          </ng-container>
        </span>
        <div
          *ngIf="tab.multiLineTitle"
          class="dx-tab-text-multiLine"
        >
          {{
            tab.id !== TAB_CLOSE_ALL_ORDRES
              ? tab.multiLineTitle
              : tab.multiLineTitle[moreThanOneOpenOrder]
          }}
        </div>
        <i
          class="dx-icon dx-icon-close"
          *ngIf="!isStaticItem(tab)"
          (click)="onTabCloseClick($event)"
        ></i>
        <div
          *ngIf="tab.type === typeTab.Ordre && tab.status"
          class="dx-tab-status-dot"
        ></div>
        <div
          *ngIf="tab.type === typeTab.Ordre && tab.unsaved"
          class="dx-tab-unsaved-dot"
        ></div>
      </div>
    </div>

    <div *dxTemplate="let item of 'item'">
      <dx-scroll-view
        (onScroll)="onScroll($event)"
        class="scrollview-ordre-content"
      >
        <ng-template [ngComponentOutlet]="item.component"></ng-template>
      </dx-scroll-view>
    </div>
  </dx-tab-panel>

  <dx-load-panel
    #tabLoadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '.dx-tabpanel-tabs' }"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    [height]="'40px'"
    [width]="'40px'"
  ></dx-load-panel>

  <!-- Défilement rapide onglets (droite) -->
  <dx-button
    type="default"
    [focusStateEnabled]="false"
    class="dx-fast-next-btn visibility-hidden dx-tabs-nav-button dx-tabs-nav-button-right"
    icon="material-icons keyboard_double_arrow_right"
    hint="{{ 'list-end' | localize }}"
    (onClick)="onFastPrevNextClick('next')"
  >
  </dx-button>

  <!-- Figer/libérer les onglets -->
  <dx-button
    [visible]="tabsUnpined !== undefined"
    [focusStateEnabled]="false"
    [ngClass]="{ 'tabs-unpined': tabsUnpined }"
    class="dx-pin-tabs-btn tabs-pined"
    icon="material-icons push_pin"
    hint="{{ (tabsUnpined ? '' : 'un') + 'pin-tabs' | localize }}"
    (onClick)="onTabsPinClick()"
  >
  </dx-button>
</div>
