<div class="tabs-ordres-page">
    <dx-tab-panel
        class="content-block"
        [items]="items"
        [repaintChangesOnly]="true"
        [showNavButtons]= "true"
        [selectedIndex]="1"
        (onTitleClick)="onTabTitleClick($event)"
        (onContentReady)="this.tabPanelReady.emit($event)"
        >

        <div *dxTemplate="let content of 'title'">
            <div class="dx-item-content dx-tab-content" [attr.data-item-id]="content.id">
                <span class="dx-tab-text">
                    <i class="dx-icon" [ngClass]="content.icon"></i>
                    <span>{{content.title}}</span>
                    <ng-container *ngIf="content.details">
                        <br>
                        <small>{{content.details}}</small>
                    </ng-container>
                </span>
                <i class="dx-icon dx-icon-close" *ngIf="!isStaticItem(content)" (click)="onTabCloseClick($event)"></i>
            </div>
        </div>

        <div *dxTemplate="let item of 'item'">
            <ng-template
                [ngComponentOutlet]="item.component"
            ></ng-template>
        </div>

    </dx-tab-panel>
</div>