@import "src/themes/generated/variables.base.scss";

::ng-deep .tabs-ordres-page {
  .dx-tab {
    padding: 0;

    .dx-template-wrapper.dx-tab-content {
      padding: 12px 15px 12px 13px;
      margin: 0 1px;

      &:hover {
        i.dx-icon-close {
          color: #fe3d2c
        }
      }

      &.create-order-tab {
        color: #FFF;
        background: #8FC459;

        .dx-icon {
          color: #FFF;
        }
      }

      &.close-all-orders-tab {
        .dx-icon {
          color: $base-accent;
        }

        // &:hover {
        //   .dx-icon {
        //     color: #fe3d2c;
        //   }
        // }
      }

    }

    i.dx-icon-close {
      position: absolute;
      top: -2px;
      right: -2px;
      font-size: 17px;
      visibility: hidden;

      &:hover {
        color: #fe3d2c
      }
    }

    .dx-tab-text>i {
      margin-right: 5px;
      display: inline;
    }

    .dx-tab-text-multiLine {
      width: 43px;
      overflow: hidden;
      white-space: normal;
      text-transform: none;
      font-size: 11px;
      line-height: 10px;
      text-align: left;
      margin-left: 5px;
    }

    .disabled_by_default {
      color: $base-accent;
    }

    &:hover i.dx-icon-close {
      visibility: visible;
    }

    .dx-badge {
      position: absolute;
      left: 2px;
      top: 4px;
    }

    &.dx-tab-selected small {
      color: $base-accent;
    }

    .dx-template-wrapper {
      .dx-tab-content {
        display: flex;
        align-items: center;

        .tab-separator {
          width: 5px;
        }

        .dx-tab-text {
          line-height: initial;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    &:first-child {
      display: none;
    }

    .std-order-width {
      width: 74px;
      text-align: left;
    }
  }
}
