<div class="tabs-ordres-page">
  <dx-tab-panel
    class="content-block"
    [items]="items"
    [repaintChangesOnly]="true"
    [showNavButtons]="true"
    (onTitleClick)="onTabTitleClick($event)"
    (onContentReady)="tabPanelReady.emit($event)"
    (onInitialized)="tabPanelInitialized.emit($event)"
    (onTitleRendered)="onTabTitleRendered($event)"
    noDataText="{{ 'loading-progress' | localize }}"
  >
    <div
      *dxTemplate="let tab of 'title'"
      [ngClass]="tab.class"
    >
      <div
        [hidden]="tab.hideTab"
        class="dx-item-content dx-tab-content"
        [attr.data-item-id]="tab.id"
      >
        <i
          class="dx-icon"
          [ngClass]="tab.icon"
        ></i>
        <span
          *ngIf="tab.title"
          class="tab-separator"
        ></span>
        <span
          *ngIf="tab.title"
          class="dx-tab-text"
        >
          <small>{{ tab.title }}</small>
          <ng-container *ngIf="tab.details">
            <span
              [ngClass]="{ 'std-order-width': tab.type === typeTab.Ordre }"
              >{{ tab.details }}</span
            >
          </ng-container>
        </span>
        <div
          *ngIf="tab.multiLineTitle"
          class="dx-tab-text-multiLine"
        >
          {{ tab.multiLineTitle }}
        </div>
        <i
          class="dx-icon dx-icon-close"
          *ngIf="!isStaticItem(tab)"
          (click)="onTabCloseClick($event)"
        ></i>
      </div>
    </div>

    <div *dxTemplate="let item of 'item'">
      <ng-template [ngComponentOutlet]="item.component"></ng-template>
    </div>
  </dx-tab-panel>
</div>
