::ng-deep .delete-favorites-container {
  position: absolute;
  margin-top: 9px;
  right: 140px;
  z-index: 1;

  .dx-button {
    margin: 0 5px;
  }
}

::ng-deep .cursor-pointer {
  cursor: pointer !important;
}

::ng-deep .grid-historique-entrepots {
  max-height: calc(100vh - 370px) !important;
}
