<dx-button
  #copyPhotosButton
  [visible]="gridRowsTotal > 0"
  class="cq-copy-photos"
  type="default"
  [focusStateEnabled]="false"
  text="{{ 'btn-photos-copy' | localize }}"
  (onClick)="copyPhotosClick()"
></dx-button>

<dx-data-grid
  class="dx-card wide-card"
  [remoteOperations]="true"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onContentReady)="onContentReady($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Contrôle Qualité',
      $event,
      gridConfiguratorService.Grid.ControleQualite,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Contrôle Qualité"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-editing
    [allowUpdating]="true"
  >
  </dxo-editing>
  <dxo-state-storing
    [enabled]="true"
    type="custom"
    [storageKey]="gridConfiguratorService.Grid.ControleQualite"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxi-column
    *ngFor="let field of detailedFields"
    [dataField]="field.dataField"
    [caption]="
      ('ControleQualite-' + field.dataField?.split('.').join('-') | localize) ||
      field.name
    "
    [visible]="false"
    [width]="field.width"
    [cssClass]="field.cssClass"
    [showInColumnChooser]="field.showInColumnChooser"
    [cellTemplate]="field.cellTemplate"
    [dataType]="field.dataType"
    [allowSearch]="
      field.allowSearch !== undefined
        ? field.allowSearch
        : ['string'].includes(field.dataType)
    "
    [allowHeaderFiltering]="
      field.allowHeaderFiltering !== undefined
        ? field.allowHeaderFiltering
        : ['string'].includes(field.dataType)
    "
  ></dxi-column>

  <div *dxTemplate="let cell of 'CQPhotoButtonsTemplate'">
    <dx-button
      class="small-CQ-button CQ"
      type="default"
      [focusStateEnabled]="false"
      [text]="this.localization.localize('CQ')"
      (onClick)="openCQReport(cell)"
    >
    </dx-button>
    <dx-button
      [id]="'photo-button-' + cell.key"
      class="small-CQ-button photos visibility-hidden"
      type="default"
      [focusStateEnabled]="false"
      [visible]="true"
      [text]="this.localization.localize('photos')"
      (onClick)="openPhotos(cell)"
    ></dx-button>
  </div>

  <div *dxTemplate="let cell of 'FicheCQPDFButtonsTemplate'">
    <dx-button
      class="small-CQ-button createPDF"
      type="default"
      [focusStateEnabled]="false"
      [text]="this.localization.localize('créer')"
      (onClick)="createPDF(cell)"
    >
    </dx-button>
    <dx-button
      class="small-CQ-button openPDF"
      type="default"
      icon="material-icons search"
      [focusStateEnabled]="false"
      [visible]="true"
      (onClick)="openPDF(cell)"
    ></dx-button>
  </div>

</dx-data-grid>

<app-cq-photos-popup
  [ordreLigne]="ordreLigne"
>
</app-cq-photos-popup>
