// Var
@import "~themes/generated/variables.base";
@import "~scss/variables.scss";

::ng-deep .order-edi-complete-button {
  position: absolute;
  z-index: 1;
  margin-top: 9px;
  right: 169px;
  height: 34px;
  font-size: 12px;

  .dx-button-content {
    padding: 3px 13px !important;
  }
}

::ng-deep .small-status-button {
  position: relative;
  top: 1px;
  height: 18px;
  min-width: 0;
  margin-right: 13px;
  pointer-events: none;
  padding: 2px 14px 0 14px;
  font-size: 13px;
  float: left;
}

::ng-deep .small-action-button {
  position: relative;
  float: right;
  margin: 0 5px;
  height: 20px;
  line-height: 14px;
  padding: 0;
  font-size: 11px;

  .dx-button-content {
    padding: 6px 9px;

    .dx-button-text {
      line-height: 11px;
    }
  }
}

::ng-deep .group-text-1 {
  position: relative;
  margin-top: 3px;
  height: auto;
  width: 560px;
  white-space: initial;
  color: rgba(0, 0, 0, .54) !important;
  line-height: 16px;
  float: left;
}

::ng-deep .group-text-2 {
  position: relative;
  top: 1px;
  padding: 10px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.7);
  float: left;
}

::ng-deep .group-back-color {
  background-color: #FFE7AD !important;
}

::ng-deep .info-U {
  background-color: #ffa100 !important;
}

::ng-deep .info-C {
  background-color: #8fc459 !important;
}

::ng-deep .white-text {
  color: #FFF !important;
}

::ng-deep .grid-modif-commande-Edi {

  max-height: 500px;

  .dx-datagrid-group-panel {
    display: none;
  }

  .dx-row-lines {
    cursor: pointer;
  }

  .dx-datagrid-group-closed,
  .dx-datagrid-group-opened {
    color: rgba(0, 0, 0, .54) !important;
  }

  .dx-row-focused {
    .green-font {
      color: #a9f77e !important;
    }
  }
}
