<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title">{{ title }}&nbsp;</div>
    <dx-button
      class="close-histo-detail-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
  </div>
   
  <app-grid-histo-modif-detail
    [ligneLogistiqueId]="ligneLogistiqueId"
  ></app-grid-histo-modif-detail>
  <br />
  <div class="popup-buttons-container">
    <dx-button
        class="cancel-button"
        type="normal"
        text="{{ 'btn-fermer' | localize }}"
        (onClick)="hidePopup()"
    ></dx-button>
  </div>
</dx-popup>
