<dx-data-grid
  class="dx-card wide-card"
  [remoteOperations]="true"
  [showBorders]="false"
  [elementAttr]="{ class: 'grid-ordre-ligne-detail' }"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [focusedRowIndex]="-1"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onCellClick)="onCellClick($event)"
  (onEditorPreparing)="onEditorPreparing($event)"
  (onEditingStart)="onEditingStart($event)"
  (onSaved)="cellValueChange($event)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Détail expéditions',
      $event,
      gridConfiguratorService.Grid.OrdreLigneDetails,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
  <dxo-export fileName="Détail expéditions"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-editing
    [selectTextOnEditStart]="true"
    [allowUpdating]="allowMutations"
    [mode]="'cell'"
  >
  </dxo-editing>
  <dxo-state-storing
    [storageKey]="gridConfiguratorService.Grid.OrdreLigneDetails"
    [enabled]="true"
    type="custom"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [visible]="false"
    [width]="column.width"
    [caption]="
      ('ordreLignes-' + column.dataField?.split('.').join('-') | localize) ||
      column.name
    "
    trueText="Oui"
    falseText="Non"
    [fixed]="column.fixed"
    [cssClass]="column?.cssClass"
    [headerCellTemplate]="column?.headerCellTemplate"
    [editCellTemplate]="column?.editCellTemplate"
    allowSearch="false"
    [dataType]="column?.dataType"
    [allowEditing]="column.allowEditing"
    [allowHeaderFiltering]="
      column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
    "
    [showInColumnChooser]="column.showInColumnChooser"
    [showEditorAlways]="true"
  ></dxi-column>

  <div *dxTemplate="let cell of 'selectBoxEditTemplate'">
    <dx-select-box
      [dataSource]="this[cell.column.dataField + 'Source']"
      [displayExpr]="displayCodeBefore"
      [searchExpr]="[
        this[cell.column.dataField + 'Service'].model.getKeyField()
      ]"
      [readOnly]="!allowMutations"
      [value]="cell.data[cell.column.dataField]"
      (onValueChanged)="onValueChanged($event, cell)"
      [readOnly]="!allowMutations"
    >
      <dxo-drop-down-options [width]="400"> </dxo-drop-down-options>
    </dx-select-box>
  </div>

  <div *dxTemplate="let cell of 'modifAutoBtnTemplate'">
    <dx-button
      class="small-detail-exp-button modif"
      type="default"
      [focusStateEnabled]="false"
      [visible]="showModifButton(cell)"
      [text]="'Modifier'"
      [disabled]="env.production"
      (onClick)="modifDetailExp(cell)"
    >
    </dx-button>
    <dx-button
      class="small-detail-exp-button auto"
      type="default"
      [focusStateEnabled]="false"
      [visible]="showAutoButton(cell)"
      [text]="'Auto'"
      [disabled]="env.production"
      (onClick)="autoDetailExp(cell)"
    ></dx-button>
  </div>

  <div *dxTemplate="let cell of 'headerCellBtnTemplate'">
    <div>
      {{
        "ordreLignes-" + cell.column.dataField?.split(".").join("-")
          | localize
      }}
    </div>
    <dx-button
      class="small-reset-button"
      type="default"
      [visible]="gridExpFiltered"
      [focusStateEnabled]="false"
      [text]="'VOIR TOUTES LES LIGNES'"
      (onClick)="resetFilter($event)"
    ></dx-button>
  </div>
</dx-data-grid>
<app-modif-detail-lignes-popup
  [ligneDetail]="ligneDetail"
  (refreshGrid)="refresh()"
></app-modif-detail-lignes-popup>
