// Var
@import "~themes/generated/variables.base";
@import "~scss/variables.scss";

::ng-deep .grid-ordre-ligne-detail {
  .dx-row-focused:not(.dx-edit-row) td:not(.dx-focused):first-of-type {

    input,
    div {
      color: #fff;
    }
  }

  .dx-editor-cell.dx-focused:not(.dx-datagrid-readonly) {
    background: rgba(51, 145, 176, 0.26);
  }

  .dx-row-focused.dx-data-row>td:not(.dx-focused):not(:first-of-type) {
    color: #000;
    background-color: transparent !important;
  }

  .td:first-of-type input {
    text-align: center !important;
  }

  .dx-row-focused.dx-data-row>td {
    // border-bottom-color: #e0e0e0 !important;
    border-bottom-color: $base-accent !important;
  }

  .dx-datagrid-focus-overlay:after {
    background-color: transparent;
  }
}

::ng-deep .small-detail-exp-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 18px;
  min-width: 0;
  padding: 0 4px !important;

  .dx-button-content {
    padding: 0;
    font-size: 10px;
    text-overflow: initial;

    .dx-button-text {
      line-height: 19px;
    }
  }

  background-color: $BW-almond-medium !important;

  &:hover {
    background-color: $BW-almond-dark !important;
  }

  &.auto {
    background-color: $BW-green-medium !important;

    &:hover {
      background-color: $BW-green-dark !important;
    }
  }
}
