// Var
@import "~scss/variables.scss";

.BW-khaki-dark {
  background: $BW-khaki-dark;
}
.BW-khaki-medium {
  background: $BW-khaki-medium;
}
.BW-khaki-light {
  background: $BW-khaki-light;
}
.BW-turquoise-dark {
  background: $BW-turquoise-dark;
}
.BW-turquoise-medium {
  background: $BW-turquoise-medium;
}
.BW-turquoise-light {
  background: $BW-turquoise-light;
}
.BW-purple-dark {
  background: $BW-purple-dark;
}
.BW-purple-medium {
  background: $BW-purple-medium;
}
.BW-purple-light {
  background: $BW-purple-light;
}
.BW-green-dark {
  background: $BW-green-dark;
}
.BW-green-medium {
  background: $BW-green-medium;
}
.BW-green-light {
  background: $BW-green-light;
}
.BW-almond-dark {
  background: $BW-almond-dark;
}
.BW-almond-medium {
  background: $BW-almond-medium;
}
.BW-almond-light {
  background: $BW-almond-light;
}
.BW-orange-dark {
  background: $BW-orange-dark;
}
.BW-orange-medium {
  background: $BW-orange-medium;
}
.BW-orange-light {
  background: $BW-orange-light;
}

.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.buttons-container {
  position: relative;
  display: inline-block;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}

.home-big-logo {
  width: 250px;
  float: left;
  margin: 50px;
}

::ng-deep .buttons-container .dx-button {
  width: 80px;
  height: 80px;
  border-radius: 0 12px;
  padding: 0;
  margin: 5px;
  .dx-icon {
    margin: 30px 0 0 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color:#FFF;
  }
  .dx-button-content {
    padding: 10px 0 0 0;
  }
  .dx-button-text {
    display: block;
    position: absolute;
    top: 10px;
    font-size:10px;
    line-height: 12px;
    white-space: normal;
    color:#FFF;
    width: 100%;
    font-weight: bold;
  }
}

.home-button-container-horiz {
  position: relative;
  display: block;
  height: 90px;
  overflow: visible;
  text-align: center;
}

.home-button-container-vert {
  display: block;
  margin-top: -30px;
  height: 100%;
  width: 90px;
  float: left;
}

::ng-deep .main-buttons-container {

  .dx-drawer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 86px;
    width: 200px;
    z-index: 1000;
  }
  .dx-list-item {
    margin:0;
  }

  .dx-list-item-icon-container {
    width: 36px;
    padding-right: 0px !important;
    text-align: center;
  }
  
  .dx-list-item-content {
    padding-left: 10px !important;
    font-size: 13px;
  }
  
  .dx-drawer-shrink #content {
    overflow: hidden;
    transition: all 0.4s ease-out;
    column-width: 200px;
  }
  
  .dx-drawer-shrink.dx-drawer-opened #content {
    column-width: 100%;
    margin-right: -10px;
  }

  .panel-list {
    height: auto;
  }
  
  .panel-list .dx-list-item {
    color: #fff;
    text-align: center;
    border-top: 1px solid rgba(221, 221, 221, 0.2);
  }

}
