
::ng-deep .dx-popup-content .articles-title {
    display: none;
}

::ng-deep .quickCode-area {
    width: 50%;
    float: left;
    .dx-field-label {
        margin-left: 40px;
        background: #00759c;
        color: #fff;
        padding: 6px 15px 8px 15px;
        width: auto !important;
        margin-right: 15px;
    }
}
::ng-deep .articles-valid-button, ::ng-deep .cancel-button {
    float: right;
}

::ng-deep .dx-popup-content .valid-field {
    display: none;
}       
