<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
  (onHidden)="onHidden()"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-end">{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view [height]="'90%'">
      <div class="ajout-art-manu-content-container">
        <!-- code article -->
        <div class="dx-field quickCode-area">
          <div class="dx-field-label">
            {{ "articles-saisieCode" | localize }}
          </div>
          <div class="dx-field-value">
            <dx-tag-box
              [acceptCustomValue]="true"
              [placeholder]="'Code...'"
              [readOnly]="codeChangeProcess"
              (onValueChanged)="onValueChanged($event)"
              [ngClass]="{
                'max-tags': !!chosenArticles?.length && single
              }"
              [disabled]="!!getGridSelectedArticles()?.length && single"
            >
              <dxo-drop-down-options [width]="0"> </dxo-drop-down-options>
            </dx-tag-box>
          </div>
        </div>
        <dx-button
          class="cancel-button"
          type="normal"
          text="{{ 'btn-annuler' | localize }}"
          (onClick)="clearAndHidePopup()"
        ></dx-button>
        <dx-button
          #addButton
          [ngClass]="{ pulse: pulseBtnOn }"
          class="articles-valid-button"
          type="success"
          [disabled]="articlesKO"
          [visible]="nbARticles > 0"
          [text]="validBtnText"
          (onClick)="insertReplaceArticles()"
        ></dx-button>
        <br />
        <div style="clear: both"></div>
        <app-articles-list
          [ordre]="ordre"
          [additionnalFilter]=""
          [fetchPolicy]=""
          [preFilterTitle]="'articles-catalogue-preFilter-title' | localize"
          (selectChange)="selectFromGrid($event)"
          (articleIdZoom)="openZoomArticle($event)"
        ></app-articles-list>
        <br />
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>

<app-associated-article-prompt></app-associated-article-prompt>
<app-zoom-article-popup
  [articleLigneId]="articleLigneId"
></app-zoom-article-popup>
