
::ng-deep .dx-popup-content .articles-title {
    display: none;
}

::ng-deep .quickCode-area {
    width: 50%;
    min-height: 33px;
    float: left;
    .dx-field-label {
        margin-left: 40px;
        background: #00759c;
        color: #fff;
        padding: 7px 15px;
        width: auto !important;
        margin-right: 15px;
        overflow: visible;
    }
}
::ng-deep .articles-valid-button, ::ng-deep .cancel-button {
    transition: transform 0.5s;
    transform: scale(1);
    float: right;
}

::ng-deep .dx-popup-content .valid-field {
    display: none;
}       

.pulse {
    animation: pulse 0.5s;
}

@keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}