<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
>
    <div *dxTemplate="let data of 'title'">  
        <div class="title-start">{{ titleStart }}&nbsp;</div>
        <div class="title-end">{{ titleEnd }}</div>
        <dx-button
            class="close-article-popup"
            icon="close"
            (onClick)="hidePopup()"
        >
        </dx-button>
    </div>  
    
    <!-- code article -->
    <div class="dx-field quickCode-area">
        <div class="dx-field-label">{{ 'articles-saisieCode' | localize }}</div>
        <div class="dx-field-value">
            <dx-tag-box
                [acceptCustomValue]=true
                [placeholder]="'Code...'"
                [readOnly]="codeChangeProcess"
                (onValueChanged)="onValueChanged($event)"
            >
            <dxo-drop-down-options
                [width]="0">
            </dxo-drop-down-options>
            </dx-tag-box>
        </div>
    </div>
    <dx-button class="cancel-button"
        type="normal"
        text="{{ 'btn-annuler' | localize }}"
        (onClick)="clearAndHidePopup()"
    ></dx-button>
    <dx-button #validButton
        [ngClass]="{'pulse': pulseBtnOn}"
        class="articles-valid-button"
        type="success"
        [disabled]="articlesKO"
        [visible]="nbARticles > 0"
        [text]="validBtnText"
        (onClick)="insertArticles()"
    ></dx-button>
    <br>
    <div style="clear:both"></div>
    <app-articles-list [ordre]="ordre" (selectChange)="selectFromGrid($event)"></app-articles-list>
    <br>
</dx-popup>