<div class="grid-lignes-container">
  <dx-button
    [focusStateEnabled]="false"
    class="down-move-button"
    type="normal"
    text="down"
    icon="arrowdown"
    hint="{{ 'hint-deplacer-ligne-bas' | localize }}"
    [disabled]="lastRowFocused || !gridRowsTotal || env.production"
    (onClick)="moveRowUpDown($event)"
  ></dx-button>
  <dx-button
    [focusStateEnabled]="false"
    class="up-move-button"
    type="normal"
    text="up"
    icon="arrowup"
    hint="{{ 'hint-deplacer-ligne-haut' | localize }}"
    [disabled]="!currentfocusedRow || env.production"
    (onClick)="moveRowUpDown($event)"
  ></dx-button>
  <div class="grid-lignes">
    <dx-data-grid
      class="dx-card wide-card"
      [focusedRowEnabled]="true"
      [remoteOperations]="{
        filtering: true,
        grouping: false,
        groupPaging: false,
        paging: false,
        sorting: true,
        summary: false
      }"
      [showBorders]="false"
      [elementAttr]="{ class: 'grid-ordre-ligne' }"
      [focusedRowIndex]="0"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="false"
      [allowColumnReordering]="true"
      [repaintChangesOnly]="true"
      (onCellPrepared)="onCellPrepared($event)"
      (onEditorPrepared)="onEditorPrepared($event)"
      (onEditorPreparing)="onEditorPreparing($event)"
      (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onCellDblClick)="openFilePopup($event)"
      (onCellClick)="onCellClick($event)"
      (onSaving)="onSaving($event)"
      (onEditingStart)="onEditingStart($event)"
      (onContentReady)="onContentReady()"
      (onRowRemoved)="onRowRemoved()"
      (onToolbarPreparing)="
        gridConfiguratorService.onToolbarPreparing(
          'Lignes de commande',
          $event,
          gridConfiguratorService.Grid.OrdreLigne,
          enableFilters.bind(this)
        )
      "
    >
      <!-- Grid configuration -->
      <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
      <dxo-keyboard-navigation
        [enterKeyAction]="'moveFocus'"
        [enterKeyDirection]="'column'"
        [editOnKeyPress]="true"
      ></dxo-keyboard-navigation>
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-state-storing
        [storageKey]="gridConfiguratorService.Grid.OrdreLigne"
        [enabled]="true"
        type="custom"
        [customLoad]="gridConfiguratorService.load"
        [customSave]="gridConfiguratorService.save"
      ></dxo-state-storing>
      <!-- <dxo-filter-row [visible]="false"></dxo-filter-row> -->
      <!-- <dxo-load-panel [enabled]="false"></dxo-load-panel> -->
      <dxo-editing
        [selectTextOnEditStart]="true"
        [allowUpdating]="allowMutations"
        [allowDeleting]="allowMutations"
        [mode]="'cell'"
        [(changes)]="changes"
      >
      </dxo-editing>
      <dxo-column-chooser
        [enabled]="true"
        mode="select"
        title="{{ 'columnChooser' | localize }}"
        [allowSearch]="true"
        [width]="columnChooser.width"
        [height]="columnChooser.height"
      >
      </dxo-column-chooser>
      <dxo-summary [totalItems]="totalItems"></dxo-summary>
      <dxi-column
        *ngFor="let column of this.columns | async"
        [dataField]="column.dataField"
        [visible]="false"
        [width]="column.width"
        [caption]="
          ('ordreLignes-' + column.dataField?.split('.').join('-')
            | localize) || column.name
        "
        trueText="Oui"
        falseText="Non"
        [fixed]="column.fixed"
        [allowEditing]="column.allowEditing"
        [dataType]="column?.dataType"
        [format]="column?.format"
        [editorOptions]="column?.editorOptions"
        [cssClass]="column?.cssClass"
        [editCellTemplate]="defineTemplate(column.dataField)"
        [headerCellTemplate]="column?.headerCellTemplate"
        allowSearch="false"
        [allowHeaderFiltering]="false"
        [allowReordering]="false"
        [showInColumnChooser]="column.showInColumnChooser"
        [showEditorAlways]="true"
      >
        <!-- Restrictions valeurs saisies -->
        <dxi-validation-rule
          *ngIf="column.dataField === 'nombrePalettesIntermediaires'"
          type="range"
          [min]="0"
          [max]="9"
          message="{{ 'valeurIncorrecte' | localize }}"
        ></dxi-validation-rule>
        <dxi-validation-rule
          *ngIf="column.dataField === 'nombrePalettesCommandees'"
          type="range"
          [min]="0"
          [max]="999"
          message="{{ 'valeurIncorrecte' | localize }}"
        ></dxi-validation-rule>
        <dxi-validation-rule
          *ngIf="column.dataField === 'nombreColisPalette'"
          type="range"
          [min]="0"
          [max]="999"
          message="{{ 'valeurIncorrecte' | localize }}"
        ></dxi-validation-rule>
        <dxi-validation-rule
          *ngIf="column.dataField === 'nombreColisCommandes'"
          type="range"
          [min]="0"
          [max]="9999"
          message="{{ 'valeurIncorrecte' | localize }}"
        ></dxi-validation-rule>
      </dxi-column>

      <dxi-column
        *ngIf="allowMutations"
        type="buttons"
        [width]="30"
        [showInColumnChooser]="false"
      >
      </dxi-column>

      <div *dxTemplate="let cell of 'selectBoxEditTemplate'">
        <dx-select-box
          [dataSource]="this[cell.column.dataField + 'Source']"
          [displayExpr]="
            noCodeBeforeSelectBox.includes(cell.column.dataField)
              ? this[cell.column.dataField + 'Service'].model.getLabelField()
              : displayCodeBefore
          "
          [searchExpr]="[
            this[cell.column.dataField + 'Service'].model.getKeyField(),
            this[cell.column.dataField + 'Service'].model.getLabelField()
          ]"
          [value]="cell.data[cell.column.dataField]"
          [readOnly]="!allowMutations"
          (onValueChanged)="onSelectBoxCellValueChanged($event, cell)"
        >
          <dxo-drop-down-options [width]="SelectBoxPopupWidth">
          </dxo-drop-down-options>
        </dx-select-box>
      </div>
      <div *dxTemplate="let cell of 'origineTemplate'">
        <dx-button
          class="small-article-button origin"
          type="default"
          [focusStateEnabled]="false"
          [visible]="showOriginButton(cell)"
          [text]="showOriginCheck(cell.data)"
          (onClick)="openOriginePopup(cell.data)"
        >
        </dx-button>
      </div>
      <div *dxTemplate="let cell of 'certificationTemplate'">
        <dx-button
          class="small-article-button certification"
          type="default"
          [focusStateEnabled]="false"
          [text]="showCertificationCheck(cell.data)"
          (onClick)="openCertificationPopup(cell.data)"
        ></dx-button>
      </div>
      <div *dxTemplate="let cell of 'swapButtonTemplate'">
        <dx-button
          class="swap-button"
          type="default"
          [focusStateEnabled]="false"
          icon="material-icons swap_horizontal_circle"
          [disabled]="!allowMutations"
          hint="Remplacer"
          (onClick)="swapArticle(cell.data)"
        ></dx-button>
      </div>
      <div *dxTemplate="let cell of 'headerCellBtnTemplate'">
        <div>
          {{
            "ordreLignes-" + cell.column.dataField?.split(".").join("-")
              | localize
          }}
        </div>
        <dx-button
          class="small-article-button"
          type="default"
          [focusStateEnabled]="false"
          [text]="'Reporter'"
          (onClick)="copyPaste($event, cell.column.dataField)"
        ></dx-button>
      </div>
    </dx-data-grid>

    <dx-button
      type="normal"
      [visible]="marginBtnVisible"
      class="small-margin-button"
      [focusStateEnabled]="false"
      (onClick)="calculMargePrev()"
    >
      <span class="margin-title-text">MARGE PREV.&nbsp;</span>
      <span class="margin-value-text">{{ marginText }}</span>
      <dx-load-indicator
        #smallMarginLoader
        [visible]="false"
        class="small-loader"
      >
      </dx-load-indicator>
    </dx-button>
  </div>
</div>
<app-zoom-article-popup
  [articleLigneId]="articleLigneId"
></app-zoom-article-popup>
<app-article-origine-popup
  [ordreLigne]="ordreLigne"
  (changeLigne)="refreshGrid()"
></app-article-origine-popup>
<app-article-certification-popup
  [ordre]="ordre"
  [ordreLigne]="ordreLigne"
  (changeLigne)="refreshGrid()"
>
</app-article-certification-popup>
<app-zoom-fournisseur-popup
  [fournisseurCode]="fournisseurCode"
  [fournisseurLigneId]="fournisseurLigneId"
>
</app-zoom-fournisseur-popup>

<!-- [visible]="showOriginButton(cell)"
[text]="showOriginCheck(cell.data)" -->
