<div class="grid-lignes-container">
  <dx-button
    class="down-move-button"
    type="normal"
    text="down"
    icon="arrowdown"
    hint="{{ 'hint-deplacer-ligne-bas' | localize }}"
    [disabled]="lastRowFocused || !gridRowsTotal"
    (onClick)="moveRowUpDown($event)"
  ></dx-button>
  <dx-button
    class="up-move-button"
    type="normal"
    text="up"
    icon="arrowup"
    hint="{{ 'hint-deplacer-ligne-haut' | localize }}"
    [disabled]="!currentfocusedRow"
    (onClick)="moveRowUpDown($event)"
  ></dx-button>

  <dx-data-grid class="dx-card wide-card"
      [remoteOperations]="true"
      [showBorders]="false"
      [elementAttr]="{ class: 'grid-ordre-ligne' }"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="false"
      [allowColumnReordering]="true"
      (onCellPrepared)="onCellPrepared($event)"
      (onRowClick)="onRowClick($event)"
      (onEditorPreparing)="onEditorPreparing($event)"
      (onFocusedRowChanged)="onFocusedRowChanged($event)"
      (onCellClick)="onCellClick($event)"
      (onToolbarPreparing)="gridConfiguratorService.onToolbarPreparing('Lignes de commande', $event, gridConfiguratorService.Grid.OrdreLigne,enableFilters.bind(this))"
      [scrolling]="{
        useNative:true
      }"
    >

      <!-- Grid configuration -->
      <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
      <dxo-paging [pageSize]="100"> </dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [showPageSizeSelector]="true"
      ></dxo-pager>
      <dxo-state-storing 
        [storageKey]="gridConfiguratorService.Grid.OrdreLigne"
        [enabled]="true"
        type="custom"
        [customLoad]="gridConfiguratorService.load"
        [customSave]="gridConfiguratorService.save"
      ></dxo-state-storing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-editing
        [allowUpdating]="true"
        [selectTextOnEditStart]="true"
      >
      </dxo-editing>
      <dxo-column-chooser
        [enabled]="true"
        mode="select"
        title="{{ 'columnChooser' | localize }}"
        [allowSearch]="true"
        [width]="columnChooser.width"
        [height]="columnChooser.height">
      </dxo-column-chooser>
      <dxo-summary [totalItems]="totalItems"></dxo-summary>
      <dxi-column
        *ngFor="let column of this.columns | async"
        [dataField]="column.dataField"
        [visible]="false"
        [caption]="('ordreLignes-' + column.dataField?.split('.').join('-') | localize) || column.name"
        trueText="Oui"
        falseText="Non"
        [allowEditing]="column.allowEditing"
        [dataType]="column?.dataType"
        [editCellTemplate]="itemsWithSelectBox.includes(column.dataField) ? 'selectBoxEditTemplate' : false"
        [allowSearch]="column?.allowSearch || ['string'].includes(column?.dataType)"
        [allowHeaderFiltering]="column?.allowHeaderFiltering || ['string'].includes(column?.dataType)"
        [showInColumnChooser]="column.showInColumnChooser"
        [showEditorAlways]="true"
    ></dxi-column>

    <div *dxTemplate="let cell of 'selectBoxEditTemplate'">
      <dx-select-box
      [dataSource]="this[cell.column.dataField + 'Source']"
      [displayExpr]="itemsWithSelectBox.includes(cell.column.dataField) ? displayCodeBefore : this[cell.column.dataField + 'Service'].model.getLabelField()"
      [searchExpr]="[
        this[cell.column.dataField + 'Service'].model.getKeyField(),
        this[cell.column.dataField + 'Service'].model.getLabelField()
      ]"
      [searchEnabled]="true"
      [value]="cell.data[cell.column.dataField]"
      (onValueChanged)="onValueChanged($event, cell)"
      >
        <dxo-drop-down-options
          [width]="400">
        </dxo-drop-down-options>
      </dx-select-box>
    </div>

  </dx-data-grid>

</div>
