<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  (onShowing)="onShowing($event)"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ title }}&nbsp;</div>
    <div class="title-mid print-mode">&nbsp;({{ entrepotId }})</div>
    <div class="popup-top-right-items">
      <app-top-right-popup-buttons
        [popup]="this"
        (closePopup)="hidePopup()"
      ></app-top-right-popup-buttons>
    </div>
  </div>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <app-entrepot-details [entrepotId]="entrepotId"></app-entrepot-details>
      <app-contacts [entrepotCode]="entrepotCode"></app-contacts>
      <br />
    </dx-scroll-view>
  </div>
</dx-popup>
