// Var
@import "~themes/generated/variables.base";

::ng-deep .article-reservation-ordre-popup {

  .dx-template-wrapper.dx-popup-title {
    overflow: hidden;

    .title-start,
    .title-mid {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .title-mid {
      position: relative;
      top: -1px;
      font-size: 22px;
      color: $base-accent;
    }

    .close-article-popup {
      top: 13px;
      float: right;
    }

  }

  .dx-popup-content {

    padding-top: 10px;
    font-size: 15px;

    .dx-texteditor {
      &.stock-resa-log {
        border: 1px dashed $base-accent;
        padding: 0 10px;

        &:before {
          display: none;
        }

        textarea {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .blue-style {
      color: $base-accent;
    }

    .dx-scrollable-content {
      padding-right: 20px;
      background-color: #FFF;
    }

    .grid-ordre-ligne-stock {
      margin-left: 2px;
    }

    .popup-buttons-container {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      .dx-button {
        margin: 5px;
        width: 100px;
      }
    }

  }
}
