<h2 class="content-block">{{ 'tiers-lieuxpassageaquai-title' | localize }}</h2>

<div class="content-block">
  <dx-data-grid class="dx-card wide-card"
    [dataSource]="lieuxPassageAQuais"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [allowColumnReordering]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event)"
  >

    <!-- Grid configuration -->
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column
      dataField="id"
      [width]="90"
      [hidingPriority]="2">
    </dxi-column>
    <dxi-column
      dataField="raisonSocial"
      [width]="190"
      caption="{{ 'tiers-lieuxpassageaquai-raisonSocial' | localize }}"
      [hidingPriority]="8">
    </dxi-column>
    <dxi-column
      dataField="pays.description"
      [width]="190"
      caption="{{ 'tiers-lieuxpassageaquai-pays' | localize }}"
      [hidingPriority]="8">
    </dxi-column>
    <dxi-column
      dataField="ville"
      [width]="190"
      caption="{{ 'tiers-lieuxpassageaquai-ville' | localize }}"
      [hidingPriority]="8">
    </dxi-column>

  </dx-data-grid>

</div>
