<h2 class="content-block">{{ 'tiers-lieuxpassageaquai-title' | localize }}
  <dx-button class="upperButton" type="default" text="{{ 'btn-nouveau' | localize }}" (onClick)="onCreate()"></dx-button>
</h2>

<div class="content-block">

  <dx-data-grid class="dx-card wide-card"
    [dataSource]="lieuxPassageAQuais"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    scrolling="{
      useNative:false,
      showScrollBar:'always'
    }"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="gridConfiguratorService.onToolbarPreparing('', $event, gridConfiguratorService.Grid.LieuPassageAQuai)"
  >

    <!-- Grid configuration -->
<!--    <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel>-->
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.LieuPassageAQuai"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser
      [enabled]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      allowSearch="true">
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let field of detailedFields | async"
      [dataField]="field.path"
      [caption]="('tiers-lieuxpassageaquai-'+ field.path.replace('.description', '') | localize) || field.path"
      [visible]="false"
      [dataType]="field.dataType"
      [allowSearch]="field.allowSearch !== undefined ? field.allowSearch : ['string'].includes(field.dataType)"
      [allowHeaderFiltering]="field.allowHeaderFiltering !== undefined ? field.allowHeaderFiltering : ['string'].includes(field.dataType)"
    ></dxi-column>

  </dx-data-grid>

</div>
