<dx-popup
  width="600"
  height="auto"
  [dragEnabled]="true"
  [title]="title"
  (onHiding)="onPopupHiding()"
  (onHidden)="onHidden()"
  (onShown)="onShown()"
  [hideOnOutsideClick]="true"
>
  <div *dxTemplate="let d of 'content'">
    <form #form="ngForm">
      <!-- Title shown (if configured) over the title -->
      <div
        *ngIf="commentTitle"
        class="comment-title"
      >
        {{ commentTitle }}
        <br />
      </div>

      <!-- We can show a simple text box, a date box or a select box with configurable items -->

      <dx-select-box
        ngModel
        #commentSelectBox
        name="commentaireSB"
        [visible]="!!commentItemsList"
        [items]="commentItemsList"
        [searchEnabled]="false"
      >
        <dx-validator
          #validatorSB
          [validationRules]="commentValidationRules"
          name="{{ 'valide-commentaire' | localize }}"
        ></dx-validator>
      </dx-select-box>
      <br />

      <dx-text-box
        ngModel
        #commentBox
        [visible]="!commentItemsList && !dateOnly && !textarea"
        name="commentaire"
        valueChangeEvent="keyup"
        [showClearButton]="true"
        (onEnterKey)="quickValidate(form)"
        [placeholder]="placeholder"
      >
        <dx-validator
          #validator
          [validationRules]="commentValidationRules"
          name="{{ 'valide-motif' | localize }}"
        ></dx-validator>
      </dx-text-box>

      <dx-text-area
        ngModel
        #textareaBox
        [visible]="textarea"
        name="textarea"
        valueChangeEvent="keyup"
        (onEnterKey)="quickValidate(form)"
        [placeholder]="placeholder"
      >
        <dx-validator
          #validatorTextarea
          [validationRules]="commentValidationRules"
          name="{{ 'valide-motif' | localize }}"
        ></dx-validator>
      </dx-text-area>

      <dx-date-box
        #dateBox
        [visible]="dateOnly"
        name="date"
        [displayFormat]="'dd-MM-yy HH:mm (EEEE)'"
        dateSerializationFormat="yyyy-MM-ddTHH:mm:ss"
        type="datetime"
        (onEnterKey)="quickValidate(form)"
      >
        <dx-validator
          #validatorDate
          [validationRules]="commentValidationRules"
          name="{{ 'ordres-dateLivraisonPrevue' | localize }}"
        >
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-date-box>

      <br />
      <br />
      <br />
      <div class="prompt-action">
        <dx-button
          text="{{ (cancelText ? cancelText : 'btn-annuler') | localize }}"
          type="normal"
          (onClick)="popupComponent.instance.hide()"
        ></dx-button>
        <dx-button
          text="{{ (validText ? validText : 'btn-valider') | localize }}"
          type="default"
          *ngIf="validator.instance"
          [disabled]="
            !validator.instance.validate().isValid &&
            !validatorTextarea.instance.validate().isValid &&
            !validatorSB.instance.validate().isValid &&
            !validatorDate.instance.validate().isValid
          "
          (onClick)="onSubmit(form)"
        ></dx-button>
      </div>
    </form>
  </div>
</dx-popup>
