// Var
@import "themes/generated/variables.base";

.prompt-action {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  & > .dx-button {
    margin-left: 10px;
  }
}

.comment-title {
  color: $base-accent;
}
