<dx-popup
  width="600"
  height="auto"
  [dragEnabled]="false"
  [title]="title"
  (onHiding)="onPopupHiding()"
  (onHidden)="onHidden()"
  (onShown)="onShown()"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let d of 'content'">
    <form #form="ngForm">
      <div *ngIf="commentTitle">{{ commentTitle }}</div>
      <dx-text-box
        ngModel
        name="commentaire"
        valueChangeEvent="keyup"
        [showClearButton]="true"
        [placeholder]="placeholder"
      >
        <dx-validator
          #validator
          [validationRules]="commentValidationRules"
          name="{{ 'valide-comment' | localize }}"
        ></dx-validator>
      </dx-text-box>
      <br>
      <br>
      <br>
      <div class="prompt-action">
        <dx-button
          text="{{ (cancelText ? cancelText : 'btn-annuler') | localize }}"
          type="normal"
          (onClick)="popupComponent.instance.hide()"
        ></dx-button>
        <dx-button
          text="{{ (validText ? validText : 'btn-valider') | localize }}"
          type="default"
          *ngIf="validator.instance"
          [disabled]="!validator.instance.validate().isValid"
          (onClick)="onSubmit(form)"
        ></dx-button>
      </div>
    </form>
  </div>
</dx-popup>

