<div class="buttons-right-container">
  <dx-button
    class="dx-button order-home-up-button program-button"
    type="default"
    hint="{{ 'hint-open-program' | localize }}"
  >
    <div *dxTemplate="let data of 'content'">
      <span class="dx-button-text prog-btn">{{
        "ordres-programmes" | localize
      }}</span>
      <app-program-chooser
        [programs]="programs"
        (programChosen)="openProgramPopup($event)"
        menuMode="context"
      ></app-program-chooser>
    </div>
  </dx-button>
  <dx-button
    class="order-home-up-button edi-order-button"
    type="default"
    text="{{ 'ordres-commandes-edi' | localize }}"
    [disabled]="!authService.currentUser.accessCommandeEdi"
    (onClick)="openCommandesEdi()"
  >
  </dx-button>
</div>

<app-commandes-edi></app-commandes-edi>
<app-import-programmes-popup
  [program]="programChosen"
></app-import-programmes-popup>
<app-nouvel-ordre></app-nouvel-ordre>
