<div class="content-block nav-list-under-btns">
  <dx-button
    icon="arrowleft"
    type="default"
    [text]="returnBtnTxt"
    [focusStateEnabled]="false"
    [disabled]="backBtnDisabled"
    (onClick)="backClick()"
  >
  </dx-button>
  <dx-button
    class="float-right"
    icon="arrowright"
    text="Suivant"
    [focusStateEnabled]="false"
    [disabled]="!hasNext()"
    (onClick)="selectNext()"
  >
  </dx-button>
  <dx-button
    class="nav-list-under-btn float-right"
    icon="arrowleft"
    text="Précédent"
    [focusStateEnabled]="false"
    [disabled]="!hasPrevious()"
    (onClick)="selectPrevious()"
  >
  </dx-button>
  <div style="clear: both"></div>
</div>
