<h2 class="content-block">{{ 'articles-title' | localize }}</h2>

<div class="content-block articles-page">
  <dx-data-grid class="dx-card wide-card"
    [dataSource]="articles"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event);"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="gridConfiguratorService.onToolbarPreparing($event, gridConfiguratorService.Grid.Article)"
  >

    <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Articles" [allowExportSelectedData]="false"></dxo-export>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-state-storing 
      [storageKey]="gridConfiguratorService.Grid.Article"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser
      [enabled]="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      allowSearch="true">
    </dxo-column-chooser>

    <dxi-column
      *ngFor="let field of detailedFields | async"
      [dataField]="field.path"
      [caption]="('articles-' + field.path.replace('.description', '').replaceAll('.', '-') | localize) || field.name"
      [visible]="false"
      [dataType]="field.dataType"
      [allowSearch]="field.allowSearch !== undefined ? field.allowSearch : ['string'].includes(field.dataType)"
      [allowHeaderFiltering]="field.allowHeaderFiltering !== undefined ? field.allowHeaderFiltering : ['string'].includes(field.dataType)"
    ></dxi-column>

  </dx-data-grid>
</div>
