
::ng-deep .articles-page .dx-datagrid-search-panel {
    display: none;
}
// ::ng-deep .dx-overlay-content {
//     width: 500px !important;
// }
::ng-deep .articles-page .search-criteria-subcontainer {
    overflow: hidden;
    .dx-field {
        float: left;
        margin-right: 15px;
        width: 200px;
        .dx-field-label {
            text-overflow: visible;
            white-space: normal;
            font-size: 12px;
            line-height: 12px;
            padding: 10px 0;
            text-align: left;
            margin-right: 10px;
            overflow: visible;
            align-self: baseline;
        }
        .dx-texteditor {
            font-size: 12px;
            .dx-texteditor-input {
                font-size: 13px;
            }
        }
        .dx-field-value {
            width :70%;
            &.small-field {
                width: 30%;
            }
        }
        .dx-field-label {
            width :30%;
        }
        // &.valid-field {
        //     .dx-field-value {
        //         width :70%;
        //     }
        //     .dx-field-label {
        //         width :30%;
        //     }
        // }
    }
    
    .dx-tagbox {
        .dx-tag ~ .dx-texteditor-input {
            display: none;
        }
        .dx-texteditor-buttons-container {
            width: 34px
        }
    }
}

h6 {
    margin: 0;    
}
