<h2 class="content-block">{{ 'articles-title' | localize }}</h2>

<div class="content-block articles-page">
  <dx-data-grid class="dx-card wide-card"
    [dataSource]="articles"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    (onRowDblClick)="onRowDblClick($event)"
  >

    <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Articles" [allowExportSelectedData]="false"></dxo-export>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
    ></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser [enabled]="true" mode="select" title="{{ 'columnChooser' | localize }}"></dxo-column-chooser>

    <!-- <dxi-column
      *ngFor="let field of articlesService.model.getListFields(2);let i=index"
      [dataField]="field"
      [caption]="('articles-' + field.split('.')[1] | localize) || field"
      [visible]="i < articlesService.baseFieldsSize"
    ></dxi-column> -->
    
    <dxi-column
      *ngFor="let field of articlesService.model.getListFields();let i=index"
      [dataField]="field"
      [width]="field === 'id' ? 150 : field === 'valide' ? 100 : undefined"
      [filterValue]="field === 'valide' ? true : undefined"
      [caption]="('articles-' + field.split('.')[1] | localize) || field"
      [visible]="i < articlesService.baseFieldsSize"
    ></dxi-column>


  </dx-data-grid>
</div>
