<dx-data-grid
  [class.fixedScrollbars]="authService?.currentUser?.barreDefilementVisible"
  [remoteOperations]="true"
  [showBorders]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Détail palettes',
      $event,
      gridConfiguratorService.Grid.OrdreDetailPalettes,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-export fileName="Détail palettes"></dxo-export>
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [enabled]="true"
    type="custom"
    [storageKey]="gridConfiguratorService.Grid.OrdreDetailPalettes"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [caption]="
      ('ordreDetailPalettes-' + column.dataField?.split('.').join('-')
        | localize) || column.name
    "
    [visible]="false"
    [cssClass]="column.cssClass"
    [format]="column.format"
    [width]="column.width"
    [dataType]="column.dataType"
    [allowSearch]="
      column.allowSearch !== undefined
        ? column.allowSearch
        : ['string'].includes(column.dataType)
    "
    [allowHeaderFiltering]="
      column.allowHeaderFiltering !== undefined
        ? column.allowHeaderFiltering
        : ['string'].includes(column.dataType)
    "
  ></dxi-column>
</dx-data-grid>
