<div class="content-block">
  <h2>
    {{ 'tiers-contacts-title' | localize }}
    :
    {{ typeTiersLabel | localize }} {{ codeTiers }}
  </h2>
</div>
<div class="content-block contact-page">
  <dx-data-grid
    [dataSource]="contacts"
    [remoteOperations]="true"
    [allowColumnReordering]="true"
    [showBorders]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowInserting)="onRowInserting($event)"
    (onRowClick)="onRowClick($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
  >

    <!-- Grid configuration -->
    <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel> -->
    <!-- <dxo-header-filter [visible]="true"></dxo-header-filter> -->
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-state-storing 
      [enabled]="true" 
      type="custom" 
      [customLoad]="loadDataGridState"
      [customSave]="saveDataGridState">
    </dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
    >
    </dxo-editing>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser 
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      allowSearch="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height">
    </dxo-column-chooser>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column
      *ngFor="let field of detailedFields;let i=index"
      [dataField]="field.name"
      [caption]="('tiers-contacts-' + field.name | localize) || field.name"
      [visible]="i < contactsService.baseFieldsSize"
      [allowEditing]="field.allowEditing"
      [filterValue]="field.name === 'valide' ? true : undefined"
      [width]="field.name === 'valide' ? 100 : field.name === 'fluxComplement' ? 75 : field.name === 'moyenCommunication' ? 150 :undefined"
      [editCellTemplate]="field.model ? 'selectBoxEditTemplate' : false"
      [showEditorAlways]="true"
    ></dxi-column>

    <div *dxTemplate="let cell of 'selectBoxEditTemplate'">
      <dx-select-box
        [dataSource]="this[cell.column.dataField + 'Source']"
        [displayExpr]="this[cell.column.dataField + 'Service'].model.getLabelField()"
        [searchExpr]="[
          this[cell.column.dataField + 'Service'].model.getKeyField(),
          this[cell.column.dataField + 'Service'].model.getLabelField()
        ]"
        [searchEnabled]="true"
        [value]="cell.data[cell.column.dataField]"
        (onValueChanged)="onValueChanged($event, cell)"
      ></dx-select-box>
    </div>
    
  </dx-data-grid>
</div>