<div class="content-block">
  <h2>
    {{ 'tiers-contacts-title' | localize }}
    -
    {{ typeTiersLabel | localize }} {{ codeTiers }}
  </h2>
</div>
<div class="content-block contact-page">
  <dx-data-grid
    [remoteOperations]="true"
    [allowColumnReordering]="true"
    [showBorders]="true"
    dateSerializationFormat="yyyy-MM-dd"
    scrolling="{
      useNative:false,
      showScrollBar:'always'
    }"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowInserting)="onRowInserting($event)"
    (onRowClick)="onRowClick($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="gridConfiguratorService.onToolbarPreparing('', $event, gridConfiguratorService.Grid.Contact, enableFilters.bind(this))"
  >

    <!-- Grid configuration -->
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-state-storing
      [storageKey]="gridConfiguratorService.Grid.Contact"
      [enabled]="true"
      type="custom"
      [customLoad]="gridConfiguratorService.load"
      [customSave]="gridConfiguratorService.save"
    ></dxo-state-storing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing
      [allowUpdating]="true"
      [allowAdding]="true"
    >
    </dxo-editing>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser
      [enabled]="true"
      mode="select"
      title="{{ 'columnChooser' | localize }}"
      allowSearch="true"
      [width]="columnChooser.width"
      [height]="columnChooser.height">
    </dxo-column-chooser>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column
      *ngFor="let field of detailedFields"
      [dataField]="field.dataField"
      [caption]="('tiers-contacts-' + field.dataField.replaceAll('.', '-') | localize) || field.name"
      [visible]="false"
      trueText="Oui"
      falseText="Non"
      [allowEditing]="field.name !== 'valide' && field?.allowEditing !== false"
      [validationRules]="field.validationRules || {}"
      [editCellTemplate]="field.name == 'description' ? 'selectBoxEditTemplate' : false"
      [showEditorAlways]="true"
      [showInColumnChooser]="field.showInColumnChooser"
    ></dxi-column>

    <div *dxTemplate="let cell of 'selectBoxEditTemplate'">
      <dx-select-box
        [dataSource]="this[removeDesc(cell.column.dataField) + 'Source']"
        [displayExpr]="this[removeDesc(cell.column.dataField) + 'Service'].model.getLabelField()"
        [searchExpr]="[
          this[removeDesc(cell.column.dataField) + 'Service'].model.getKeyField(),
          this[removeDesc(cell.column.dataField) + 'Service'].model.getLabelField()
        ]"
        [searchEnabled]="true"
        [value]="cell.data[cell.column.dataField.replace('.description', '')]"
        (onValueChanged)="onValueChanged($event, cell)"
      ></dx-select-box>
    </div>

  </dx-data-grid>
</div>
