<h2 class="content-block">
  {{ "tiers-fournisseurs-title" | localize }}
  <dx-button
    class="upperButton"
    type="default"
    text="{{ 'btn-nouveau' | localize }}"
    (onClick)="onCreate()"
  ></dx-button>
</h2>

<div class="content-block">
  <dx-data-grid
    class="dx-card wide-card"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="false"
    [allowColumnReordering]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="onRowDblClick($event)"
    (onContentReady)="contentReadyEvent.emit($event)"
    (onToolbarPreparing)="gridConfigHandler($event)"
  >
    <!-- Grid configuration -->
    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-export
      [enabled]="true"
      fileName="Fournisseurs"
      [allowExportSelectedData]="false"
    ></dxo-export>
    <dxo-paging></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

    <dxi-column
      *ngFor="let column of this.columns | async"
      [dataField]="column.dataField"
      [caption]="
        ('tiers-fournisseurs-' +
          column.dataField?.replace('.description', '').split('.').join('-')
          | localize) || column.name
      "
      trueText="Oui"
      falseText="Non"
      [dataType]="column?.dataType"
      [showInColumnChooser]="column.showInColumnChooser"
    ></dxi-column>
  </dx-data-grid>
</div>
