<h2 class="content-block">{{ 'tiers-fournisseurs-title' | localize }}</h2>

<div class="content-block">

  <h2>
    <dx-button class="upperButton" type="default" text="{{ 'btn-nouveau' | localize }}" (onClick)="onCreate()"></dx-button>
    <div style="clear:both"></div>
    </h2>

  <dx-data-grid class="dx-card wide-card"
    [dataSource]="fournisseurs"
    [remoteOperations]="true"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [allowColumnReordering]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowDblClick)="rowDetailsRequested.emit($event.data)"
    (onContentReady)="contentReadyEvent.emit($event)"
  >

    <!-- Grid configuration -->
    <dxo-search-panel [visible]="true" [width]="240" placeholder="{{ 'search' | localize}}"></dxo-search-panel>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Fournisseurs" [allowExportSelectedData]="false"></dxo-export>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-column-chooser [enabled]="true" mode="select" title="{{ 'columnChooser' | localize }}"></dxo-column-chooser>

    <dxi-column
      *ngFor="let field of detailedFields;let i=index"
      [dataField]="field.path"
      [caption]="('tiers-fournisseurs-' + field.name | localize) || field.name"
      [visible]="i < fournisseursService.baseFieldsSize"
      [dataType]="field.dataType"
      [allowSearch]="field.allowSearch !== undefined ? field.allowSearch : ['string'].includes(field.dataType)"
      [allowHeaderFiltering]="field.allowHeaderFiltering !== undefined ? field.allowHeaderFiltering : ['string'].includes(field.dataType)"
      [filterValue]="field.filterValue"
      [width]="field.width"
    ></dxi-column>

  </dx-data-grid>
</div>
