::ng-deep .dx-row.dx-data-row {

    & {
        &.highlight-datagrid-row > td {
            background:#EEE;
        }
        &.tovalidate-datagrid-row > td {
            color:#FF325A;
        }
        
    }

    &.dx-row-focused {
        &.highlight-datagrid-row > td {
            color:#CCC;
        }
        &.tovalidate-datagrid-row > td {
            color:#FF325A;
        }
    }
}

.upperButton {
    margin-left:10px;
    float:right;
}