// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-stock .dx-datagrid-search-panel {
  display: none;
}

::ng-deep .grid-stock {

  .dx-datagrid {
    min-height: 270px;
  }

  h6 {
    margin: 0 0 7px 0;
    float: left;
  }

  .dx-loadpanel-content {
    margin-top: -35px;
    overflow: visible;

    .dx-loadpanel-message {
      display: block !important;
      position: relative;
      top: 15px;
      width: 200px;
      left: -84px;
      font-size: 13px;
      padding: 3px 15px;
      color: $base-accent;
      background-color: #FFF;
      border-radius: 9px;
    }
  }

  td.total-column,
  .dx-header-row td.total-column {
    background-color: $base-accent !important;
    color: #FFF !important;

    div {
      color: #FFF !important;
    }
  }

  .dx-data-row td.total-column {
    text-align: right !important;
  }

  .dx-group-row td {
    padding-right: 5px;
    padding-left: 5px;
  }

  .grid-ordre-ligne-stock {
    max-height: 650px;
  }

  .group-text-1 {
    position: relative;
    margin-top: 3px;
    height: auto;
    width: 600px;
    white-space: initial;
    line-height: 16px;
    cursor: pointer;
    float: left;
  }

  .small-action-button {
    width: 20px !important;
    min-width: 0 !important;
    height: 20px !important;

    float:left .dx-button-content {
      padding: 0;
    }

    .dx-icon {
      font-size: 15px !important;
      color: white !important;
    }
  }

  .highlight-stockJ21-cell {
    background: #ffdd00 !important;
    color: rgba(0, 0, 0, 0.7) !important;
  }

  .underlined-text {
    text-decoration: underline;
  }

  .highlight-negativeStock-cell {
    background: #ff325a !important;
    color: white !important;

    .dx-datagrid-summary-item {
      color: white !important;
    }
  }

  .bio-article {
    color: #39970e !important;
  }

  .not-france-origin .group-text-1 {
    color: #FFA8CA !important;
  }

  .dx-row-focused {
    td:not(.highlight-stockJ21-cell):not(.bio-article):not(.grey-light) .dx-datagrid-summary-item {
      color: #fff !important;
    }

    .bio-article {
      color: #a9f77e !important;
    }

    .not-france-origin {
      color: #FFC8EA !important;
    }

    .comment-with-pen {
      color: #FFF !important;
    }
  }

  td.no-sort {
    pointer-events: none;

    &.dx-editor-cell,
    .dx-header-filter {
      pointer-events: auto;
    }
  }

  .sort-comment {
    position: absolute;
    right: 492px;
    margin-top: 12px;
    background-color: $BW-turquoise-light !important;
    color: white;
    padding: 5px 12px 5px 8px;
    z-index: 1;

    .dx-checkbox-icon {
      margin-right: 2px;
      color: rgba(0, 0, 0, 0.7);
      border: 0;
      background: white;
    }
  }

  .comment-with-pen {
    margin: -2px 0 0 5px;
    line-height: initial;

    .text {
      margin: 3px 10px 2px 0;
      max-width: 250px;
      color: rgba(0, 0, 0, .54);
      overflow: hidden;
      white-space: normal;
      float: left;
    }

    .dx-icon {
      width: 22px;
      height: 22px;
      font-size: 20px !important;
    }
  }

  .dx-row-focused .comment-with-pen .text {
    color: #FFF;
  }

  .small-horiz-padding {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  .small-article-button {
    height: 18px;
    min-width: 0;
    padding: 0 4px !important;

    .dx-button-content {
      padding: 0;
      font-size: 10px;
      text-overflow: initial;

      .dx-button-text {
        line-height: 19px;
      }
    }

    &.reservation {
      background-color: $BW-purple-medium !important;

      &:hover {
        background-color: $BW-purple-dark !important;
      }
    }

    &.recapitulatif {
      margin: 0 15px;
      float: left;
      background-color: $BW-khaki-dark !important;

      &:hover {
        background-color: $BW-khaki-ultradark !important;
      }
    }
  }

  .grid-pen-button {
    width: 22px !important;
    height: 22px;
    min-width: 22px !important;
    border-radius: 0 !important;
    background-color: transparent !important;

    .dx-button-content {
      padding: 0;
    }
  }

  .search-criteria-subcontainer {
    width: calc(100% - 116px) !important;
    overflow: hidden;
    float: left;

    .dx-field {
      float: left;
      margin-right: 15px;
      width: 200px;
      min-height: 32px;

      &:last-of-type {
        margin-bottom: 10px;
      }

      .dx-field-label {
        text-overflow: visible;
        white-space: normal;
        font-size: 12px;
        line-height: 12px;
        padding: 10px 0;
        text-align: left;
        margin-right: 10px;
        overflow: visible;
        align-self: baseline;

        &.noPadding {
          padding: 0 !important;
        }
      }

      .dx-texteditor {
        font-size: 12px;

        .dx-texteditor-input {
          font-size: 13px;
        }
      }

      .dx-field-value {
        width: 70%;

        &.small-field {
          width: 30%;
        }
      }

      .dx-field-label {
        width: 30%;
      }

      &.valid-field {
        width: 100px;
      }
    }

    .dx-field-value {
      width: 70%;

      &.small-field {
        width: 30%;
      }
    }

    .refresh {
      top: 0;
      margin-left: 10px;
      float: right;
    }
  }
}

::ng-deep .cursor-pointer {
  cursor: pointer !important;
}

::ng-deep .refresh-prev-stock-btn {
  position: absolute;
  margin-top: 11px;
  right: 210px;
  z-index: 1;

  .dx-button {
    height: 29px;
    font-size: 12px;

    .dx-button-content {
      padding: 0 12px;
    }
  }
}
