<div class="grid-stock">
  <div class="search-criteria-container">
    <h6>{{ "articles-preFilter-title" | localize }}</h6>
    <div style="clear: both"></div>
    <div
      class="search-criteria-subcontainer"
      style="width: auto"
    >
      <!-- espèce -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "articles-matierePremiere-espece" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #especeSB
            [dataSource]="especes | async"
            (valueChange)="onFieldValueChange($event, 'espece')"
            [searchExpr]="['node.key']"
            [value]="{ node: { key: 'POMME' } }"
            [acceptCustomValue]="true"
            [displayExpr]="'node.key'"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="150"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
      <!-- variété -->
      <div class="dx-field field-large">
        <div class="dx-field-label">
          {{ "articles-matierePremiere-variete" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #varieteSB
            [dataSource]="varietes | async"
            [disabled]="noEspeceSet"
            [showClearButton]="true"
            (valueChange)="onFieldValueChange($event, 'variete')"
            [searchExpr]="['node.key']"
            [displayExpr]="displayCodeBefore"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="400"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
      <!-- Mode Culture -->
      <div class="dx-field field-large">
        <div class="dx-field-label noPadding">
          {{ "articles-matierePremiere-modeCulture" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #modesCultureSB
            [dataSource]="modesCulture | async"
            [disabled]="noEspeceSet"
            [showClearButton]="true"
            (valueChange)="
              onFieldValueChange(
                $event,
                'matierePremiere.modeCulture.description'
              )
            "
            [searchExpr]="['node.key']"
            [displayExpr]="displayCodeBefore"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="250"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
      <!-- Groupe emballage -->
      <div class="dx-field field-large">
        <div class="dx-field-label noPadding">
          {{ "articles-emballage-groupe" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #groupesSB
            [dataSource]="groupes | async"
            [disabled]="noEspeceSet"
            [showClearButton]="true"
            (valueChange)="
              onFieldValueChange($event, 'emballage.emballage.groupe.id')
            "
            [searchExpr]="['node.key', 'node.description']"
            [displayExpr]="displayCodeBefore"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="400"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
      <div class="dx-field field-large">
        <div class="dx-field-label">
          {{ "articles-emballage-emballage" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #emballageSB
            [dataSource]="emballages | async"
            [disabled]="noEspeceSet"
            [showClearButton]="true"
            (valueChange)="onFieldValueChange($event, 'emballage.emballage.id')"
            [searchExpr]="['node.key', 'node.description']"
            [displayExpr]="displayCodeBefore"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="400"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
      <!-- Origine -->
      <div class="dx-field field-large">
        <div class="dx-field-label">
          {{ "articles-matierePremiere-origine" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #origineSB
            [dataSource]="origines | async"
            [disabled]="noEspeceSet"
            [showClearButton]="true"
            (valueChange)="
              onFieldValueChange($event, 'matierePremiere.origine.id')
            "
            [searchExpr]="['node.key']"
            [displayExpr]="displayCodeBefore"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>

      <!-- Bureau achat -->
      <div class="dx-field field-large">
        <div class="dx-field-label noPadding">
          {{ "tiers-fournisseurs-bureauAchat" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #bureauAchatSB
            [dataSource]="bureauxAchat | async"
            [disabled]="noEspeceSet"
            [showClearButton]="true"
            (valueChange)="onFilterChange()"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['node.key']"
            valueExpr="node"
          >
            <dxo-drop-down-options [width]="300"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>

      <!-- Secteur -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-clients-secteur" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #secteursSB
            [dataSource]="secteurs"
            [showClearButton]="true"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id', 'description']"
            (onValueChanged)="onSecteurChanged($event)"
          >
            <dxo-drop-down-options [width]="250"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>

      <!-- Client -->
      <div class="dx-field">
        <div class="dx-field-label">
          {{ "tiers-client" | localize }}
        </div>
        <div class="dx-field-value">
          <dx-select-box
            #clientsSB
            [dataSource]="clients"
            [showClearButton]="true"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['code']"
          >
            <dxo-drop-down-options [width]="350"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </div>
    <dx-button
      class="refresh floatRight"
      type="default"
      [class]="toRefresh ? '' : 'inactive-button'"
      text="{{ 'btn-refresh' | localize }}"
      (onClick)="refreshArticlesGrid()"
    ></dx-button>
    <div style="clear: both"></div>

    <div class="refresh-prev-stock-btn">
      <dx-button
        text="{{ 'btn-refresh-prev-stock' | localize }}"
        type="success"
        [disabled]="calculate"
        icon="material-icons refresh"
        (onClick)="refreshPrevStock()"
      ></dx-button>
    </div>

    <dx-check-box
      class="sort-comment"
      #sortByCommentCheckBox
      text="{{ 'tri-comment' | localize }}"
    ></dx-check-box>

    <dx-data-grid
      class="dx-card wide-card grid-ordre-ligne-stock"
      [class.commentaireStock]="this.authService.currentUser.commentaireStock"
      [remoteOperations]="false"
      [showBorders]="false"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [noDataText]="'aucun-stock' | localize"
      [keyExpr]="'id'"
      (onContentReady)="onContentReady($event)"
      (onRowPrepared)="onRowPrepared($event)"
      (onCellPrepared)="onCellPrepared($event)"
      (onCellDblClick)="onCellDblClick($event)"
      (onCellClick)="onCellClick($event)"
      (onContentReady)="contentReadyEvent.emit($event)"
      (onToolbarPreparing)="
        gridConfiguratorService.onToolbarPreparing(
          '',
          $event,
          gridConfiguratorService.Grid.OrdreStock
        )
      "
    >
      <dxo-paging></dxo-paging>
      <dxo-search-panel
        [visible]="true"
        [width]="240"
        placeholder="{{ 'search' | localize }}"
      ></dxo-search-panel>
      <dxo-group-panel [visible]="true"> </dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-export fileName="Articles"></dxo-export>
      <dxo-pager
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-state-storing
        [storageKey]="gridConfiguratorService.Grid.OrdreStock"
        [enabled]="true"
        type="custom"
        [customLoad]="gridConfiguratorService.load"
        [customSave]="gridConfiguratorService.save"
      ></dxo-state-storing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-column-chooser
        [enabled]="true"
        [width]="columnChooser.width"
        [height]="columnChooser.height"
        mode="select"
        title="{{ 'columnChooser' | localize }}"
        [allowSearch]="true"
      >
      </dxo-column-chooser>

      <!-- Grouping functionnality -->
      <dxo-toolbar>
        <dxi-item location="after">
          <div *dxTemplate>
            <dx-button
              class="grid-grouping-button"
              type="default"
              icon="material-icons menu_open"
              hint="{{ 'btn-grouping' | localize }}"
              (onClick)="gridsService.expandCollapseGroups(this)"
            ></dx-button>
          </div>
        </dxi-item>
      </dxo-toolbar>

      <dxo-search-editor-options [width]="500"> </dxo-search-editor-options>

      <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
        <dxi-group-item
          *ngFor="let field of summaryFields"
          [column]="field"
          summaryType="sum"
          [alignByColumn]="true"
          displayFormat="{0}"
        >
        </dxi-group-item>

        <dxi-group-item
          *ngFor="let field of customSummaryFields"
          [name]="field"
          [column]="field"
          summaryType="custom"
          [alignByColumn]="true"
        >
        </dxi-group-item>
      </dxo-summary>

      <!-- Déstocker -->
      <dxi-column
        *ngIf="destock"
        cssClass="small-horiz-padding"
        width="72"
        visibleIndex="12"
        [showInColumnChooser]="false"
        [cellTemplate]="'destockageTemplate'"
      >
      </dxi-column>
      <div *dxTemplate="let cell of 'destockageTemplate'">
        <dx-button
          class="small-article-button"
          type="success"
          [focusStateEnabled]="false"
          [text]="'Déstocker'"
          (onClick)="openDestockagePopup(cell.data)"
        >
        </dx-button>
      </div>

      <!-- Réserver -->
      <dxi-column
        *ngIf="reserv"
        cssClass="small-horiz-padding"
        width="67"
        visibleIndex="14"
        [showInColumnChooser]="false"
        [cellTemplate]="'reservationTemplate'"
      >
      </dxi-column>
      <div *dxTemplate="let cell of 'reservationTemplate'">
        <dx-button
          class="small-article-button reservation"
          type="success"
          [focusStateEnabled]="false"
          [text]="'Réserver'"
          (onClick)="openReservationPopup(cell.data)"
        >
        </dx-button>
      </div>

      <div *dxTemplate="let cell of 'groupCellButtonsTemplate'">
        <div
          class="group-text-1"
          title="{{ 'hint-dblClick-file' | localize }}"
        >
          {{ cell.data.key }}
        </div>
        <!-- Clients référençant l'article -->
        <dx-button
          *ngIf="clientsRef"
          [visible]="true"
          class="small-action-button"
          type="default"
          (onClick)="openClientsPopup(cell.data)"
          hint="{{ 'hint-clients-ref' | localize }}"
          icon="material-icons person"
        ></dx-button>
        <!-- Récapitulatif -->
        <dx-button
          *ngIf="recap"
          class="small-article-button recapitulatif"
          type="success"
          [focusStateEnabled]="false"
          [text]="'Récap'"
          (onClick)="openRecapPopup(cell.data)"
        >
        </dx-button>
      </div>
      <dxi-column
        *ngFor="let column of this.columns | async"
        [dataField]="column.dataField"
        [visible]="false"
        [caption]="
          ('ordreStock-' + column.dataField?.split('.').join('-') | localize) ||
          column.name
        "
        [dataType]="column?.dataType"
        [width]="column?.width"
        [minWidth]="column?.minWidth"
        [calculateCellValue]="this[column?.calculateCellValue]"
        [cssClass]="column?.cssClass"
        [groupCellTemplate]="column.groupCellTemplate"
        [cellTemplate]="column.cellTemplate"
        [calculateSortValue]="column.calculateSortValue"
        [calculateGroupValue]="column.calculateGroupValue"
        [allowSearch]="
          column?.allowSearch || ['string'].includes(column?.dataType)
        "
        [allowHeaderFiltering]="
          column?.allowHeaderFiltering || ['string'].includes(column?.dataType)
        "
        [showInColumnChooser]="column.showInColumnChooser"
      ></dxi-column>

      <!-- Allow to sort groups by commentaire -->
      <dxi-sort-by-group-summary-info
        [summaryItem]="sortByCommentCheckBox?.value ? 'commentaire' : ''"
      >
      </dxi-sort-by-group-summary-info>
    </dx-data-grid>
  </div>
</div>
<app-zoom-article-popup
  [articleLigneId]="articleLigneId"
></app-zoom-article-popup>
<app-prompt-popup
  [title]="'stocks-articles-modif-comm' | localize"
  (whenValidate)="validateComment($event)"
></app-prompt-popup>

<app-reservation-popup
  [ediLigneID]="ediLigneID"
  (ajoutReservation)="ajoutReservation()"
></app-reservation-popup>

<app-option-stock-popup
  [article]="article"
  [ligneStockArticle]="ligneStockArticle"
  (whenApplied)="refreshArticlesGrid()"
></app-option-stock-popup>

<app-recap-stock-popup
  [article]="article"
  [ligneStockArticle]="ligneStockArticle"
></app-recap-stock-popup>

<app-clients-article-ref-popup
  [article]="article"
></app-clients-article-ref-popup>
