<dx-data-grid
  class="dx-card wide-card"
  [remoteOperations]="true"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false"
  [allowColumnReordering]="true"
  [noDataText]="'aucun-ordre' | localize"
  (onContentReady)="onContentReady($event)"
  (onCellPrepared)="onCellPrepared($event)"
  (onRowDblClick)="ordreSelected.emit($event.data.id)"
  (onToolbarPreparing)="
    gridConfiguratorService.onToolbarPreparing(
      'Résultat(s) de recherche',
      $event,
      gridConfiguratorService.Grid.Ordre,
      enableFilters.bind(this)
    )
  "
>
  <!-- Grid configuration -->
  <dxo-header-filter
    [visible]="true"
    [allowSearch]="true"
  ></dxo-header-filter>
  <dxo-paging></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
  ></dxo-pager>
  <dxo-state-storing
    [enabled]="true"
    type="custom"
    [storageKey]="gridConfiguratorService.Grid.Ordre"
    [customLoad]="gridConfiguratorService.load"
    [customSave]="gridConfiguratorService.save"
  ></dxo-state-storing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-chooser
    [enabled]="true"
    mode="select"
    title="{{ 'columnChooser' | localize }}"
    [allowSearch]="true"
    [width]="columnChooser.width"
    [height]="columnChooser.height"
  >
  </dxo-column-chooser>
  <dxi-column
    *ngFor="let field of detailedFields"
    [dataField]="field.dataField"
    [caption]="
      ('rechOrdres-' + field.dataField?.split('.').join('-') | localize) ||
      field.name
    "
    [visible]="false"
    [dataType]="field.dataType"
    [cssClass]="field.cssClass"
    [showInColumnChooser]="field.showInColumnChooser"
    [allowSearch]="
      field.allowSearch !== undefined
        ? field.allowSearch
        : ['string'].includes(field.dataType)
    "
    [allowHeaderFiltering]="
      field.allowHeaderFiltering !== undefined
        ? field.allowHeaderFiltering
        : ['string'].includes(field.dataType)
    "
  ></dxi-column>
</dx-data-grid>
