/* You can add global styles to this file, and also import other style files */
.img-responsive {
  max-width: 100%;
  height: auto;
}

.right {
  float: right;
}

$base-fonts-path: './scss/fonts/';

// Var
@import "~themes/generated/variables.base";

// App style
@import "~scss/font";
@import "~scss/icons";

// Dx style customisation
@import "~scss/dx/base";
@import "~scss/dx/datagrid";
@import "~scss/dx/form";
@import "~scss/dx/accordion";

// No text overline
body {
	-webkit-user-select:none;
     -moz-user-select:none;
}

.fournisseur-page, .article-page, .client-page, .transporteur-page, .entrepot-page, 
.lieupassageaquai-page, .entrepot-page, .ordre-page, .left-buttons-box {

  .dx-accordion-item-title::before {
    font-size: 18px;
  }

  .dx-button:not(.subButton) {
    margin-bottom:10px;
    .dx-button-content {
      padding: 10px 3px;
    }
    .dx-icon {
      padding:0;
      margin:0;
    }
    .dx-button-text {
      display: block;
      margin-top: 5px;
      line-height: 18px;
      white-space: normal;
      color:#FFF;
      width: 100%;
    }
  }
}

.left-buttons-box {
  position: fixed;
}

.black .dx-button-text {
  color: #1E1E1E !important;
}

// Button placed in hx
.title-button {
  float: right;
  margin-left: 10px;
}
