/* You can add global styles to this file, and also import other style files */
.img-responsive {
  max-width: 100%;
  height: auto;
}

.dx-toolbar .dx-icon-menu, .dx-toolbar .user-name {
	color:#FFF !important;
}

.dx-toolbar .header-logo {
	height:76px;
}

