/* You can add global styles to this file, and also import other style files */

// Var
@import "~themes/generated/variables.base";
$base-fonts-path:'./scss/fonts/';

// App style
@import "~scss/font";
@import "~scss/icons";

// Dx style customisation
@import "~scss/dx/base";
@import "~scss/dx/datagrid";
@import "~scss/dx/form";
@import "~scss/dx/accordion";

.img-responsive {
  max-width: 100%;
  height: auto;
}

.right {
  float: right;
}

.capitalize {
  text-transform: capitalize;
}

.noEllipsis {
  text-overflow: clip;
}
.lowOpacity {
  opacity: 0.5;
}

/* Toasts */

.dx-toast-content {
  color: rgba(255,255,255,.87);
  font-size: 16px;
  font-weight: 400;
  padding: 0 16px;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  min-height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.dx-toast-icon {
  display: none;
}
.dx-toast-message {
  position: absolute;
  display: inline-block;
  padding: 0;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.dx-toast-info {
  background-color: #00759c;
}

// No text overline
body {
	-webkit-user-select: none;
     -moz-user-select: none;
}


.fournisseur-page, .article-page, .client-page, .transporteur-page, .entrepot-page,
.lieupassageaquai-page, .entrepot-page, .form-ordres-page, .form-scrollTo-buttons-container, .accueil-ordres-page {

  // Mise en adéquation (16px au lieu de 14) vs taille police valeurs champs
  .dx-field-label {
    font-size: 16px;
  }

  .checkbox-label {
    overflow: visible;
  }

  .dx-accordion-item-title::before {
    font-size: 18px;
  }

  .dx-button:not(.subButton):not(.small-article-button):not(.icon-btn):not(.upperButton) {
    margin-bottom: 10px;
    .dx-button-content {
      padding: 10px 3px;
    }
    .dx-icon {
      padding: 0;
      margin: 0;
    }
    .dx-button-text {
      display: block;
      margin-top: 5px;
      line-height: 18px;
      white-space: normal;
      color: #FFF;
      width: 100%;
    }
  }
}

.left-buttons-box {
  position: fixed;
}

.black .dx-button-text {
  color: #1E1E1E !important;
}

// Button placed in hx
.title-button {
  float: right;
  margin-left: 10px;
}

// Thinner grids
.dx-datagrid-rowsview .dx-row > td {
  line-height: 0;

  & > .dx-filemanager-details-item-name-wrapper {
    line-height: initial;
  }
}

// Datagrid title customization
.dx-datagrid-header-panel .dx-texteditor.dx-editor-underlined.dx-state-readonly.dx-state-hover::after,
.dx-datagrid-header-panel .dx-texteditor.dx-editor-underlined.dx-state-readonly::after {
    border: 0;
}

// Reducing space between form fields
.dx-form-group-content, .dx-accordion-item {
  .dx-field {
    margin-bottom: 0 !important;
  }
}
// Reducing space between checkboxes
.dx-box .dx-field-value:not(.dx-widget) > .dx-checkbox {
  margin: 10px 0 !important;
}
// Centering Oui/Non text in datagrid filter row
.dx-datagrid-filter-row .dx-texteditor-input[aria-haspopup="listbox"] {
  position: relative;
  left: 12px;
  text-align: center;
}

.whiteSpaceNormal {
  white-space: normal !important;
}

.welcome-message .dx-toast-info {
  top: calc(100% - 130px) !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.dx-toast-warning {
  background-color: #ff7f07;
}

.dx-invalid-message > .dx-overlay-content {
  background-color: rgba(255,255,255,1);
  font-size: 14px;
  padding: 3px 8px 4px 0px;
}

// Grid titles
.grid-title input {
  font-size: 16px;
  pointer-events: none;
}

// Column chooser: lower spacing between items
.dx-datagrid-column-chooser {
  .dx-treeview-node-container {
    margin-top: 5px;
    .dx-checkbox {
      top: 7px
    }
    .dx-item {
      padding: 5px 8px 4px 40px;
      min-height: 31px;
      line-height: 17px;
    }
  }
}

// For big popup contents
// .dx-popup-normal.ajout-articles-manu-popup {
//   overflow-y: auto;
// }

@keyframes pulse {
	0% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(1);
	}
}

// Dark grey header background
.dx-datagrid .dx-row.dx-header-row {
  td {
    background-color: #666 !important;
    color: #FFF !important;
    .dx-sort-indicator {
      font-weight: bold;
      color: #FFF !important;
    }
    &:hover {
      div {
        color: #FFF !important;
      }
    }
  }
  .dx-column-indicators span {
    color: #FFF !important;
  }
}