<dx-popup
  [width]="600"
  [height]="'auto'"
  [showTitle]="false"
  [showCloseButton]="false"
  [hideOnOutsideClick]="false"
>
  <!-- cancel button -->
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
  >
    <dx-button
      [text]="'falseText' | localize"
      (onClick)="onCancelClick()"
    ></dx-button>
  </dxi-toolbar-item>

  <!-- select button -->
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
  >
    <dx-button
      [text]="'trueText' | localize"
      [stylingMode]="'contained'"
      (onClick)="onSelectClick()"
    ></dx-button>
  </dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    {{ question }}
  </div>
</dx-popup>
