$material-design-icons-class-icons-generate-codepoints: true;
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

@import "material-design-icons-iconfont/src/material-design-icons";

/* Rules for sizing the icon. */
.material-icons.sm {
  font-size: 18px !important;
}

.material-icons.lg {
  font-size: 36px !important;
}

.material-icons.xl {
  font-size: 48px !important;
}

.icon-btn {
  display: block;
  height: 100%;

  &.dx-button-has-icon.dx-button-has-text .dx-icon {
    display: block;
    height: 100%;
    width: 100%;
    line-height: normal;
    margin: 0 auto;
  }

  &.dx-button-has-icon:not(.dx-button-has-text) .dx-icon {
    &.sm {
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
      line-height: 18px;
    }
  }
}

.dx-field-value-with-icon {
  display: flex;

  & > :first-child {
    flex-grow: 2;
  }
}
