/////////////////////
///   Print CSS   ///
/////////////////////

// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

@media print {
  body {
    margin: 0mm;
    height: auto !important;
    width: 1200px;
  }

  .dx-state-readonly.dx-checkbox-checked .dx-checkbox-icon {
    background-color: $base-accent !important;
  }

  .dx-accordion-item-opened {
    margin-bottom: -20px !important;

    .dx-accordion-item-body {
      padding-bottom: 0;
    }
  }

  .dx-popup-wrapper {
    position: static !important;
    width: 100% !important;
    height: auto !important;

    .zoom-popup,
    .document-popup {
      left: 0;
      top: 0;
      width: 100% !important;
      height: auto !important;
      transform: none !important;
      box-shadow: none !important;
      background-color: transparent !important;

      .top-info {
        display: none;
      }

      .dx-popup-title {
        border: 0;

        div {
          font-size: 30px !important;
          font-weight: 300 !important;
        }

        .popup-top-right-items {
          display: none;

        }
      }

      .dx-popup-content {
        height: auto !important;

        .dx-scrollable-scrollbar {
          display: none;
        }
      }
    }

    .document-popup .dx-popup-content {
      padding: 0 !important; // Fill all space

      .generate-document-container {
        height: auto !important;
      }
    }
  }

  .print-mode {
    display: inline !important;
  }

  header,
  app-articles-list,
  app-clients-list,
  app-fournisseurs-list,
  app-transporteurs-list,
  app-lieux-passage-a-quai-list,
  app-entrepots-list,
  app-grid-navigator,
  app-contacts,
  app-footer,
  .tabs-ordres-page,
  .upperButton,
  .not-print-mode,
  .col-not-printed>.dx-box-item:first-child,
  .col-not-printed>.dx-box-item:nth-child(2),
  .article-page .box-not-printed>.dx-box-item:last-child,
  .backtotop,
  .dx-placeholder,
  .dx-drawer-panel-content {
    display: none !important;
  }

  @page {
    margin: 10mm;
    size: auto;
  }

}
