$side-panel-min-width: 60px;

$BW-khaki-dark: rgb(170,160,131);
$BW-khaki-medium: rgb(185,180,159);
$BW-khaki-light: rgb(208,205,185);

$BW-turquoise-dark: rgb(33,83,105);
$BW-turquoise-medium: rgb(64,128,137);
$BW-turquoise-light: rgb(94,161,161);

$BW-purple-dark: rgb(69,63,90);
$BW-purple-medium: rgb(94,99,128);
$BW-purple-light: rgb(175,172,211);

$BW-green-dark: rgb(56,110,89);
$BW-green-medium: rgb(128,188,156);
$BW-green-light: rgb(166,207,193);

$BW-almond-dark: rgb(109,137,93);
$BW-almond-medium: rgb(160,191,105);
$BW-almond-light: rgb(213,222,187);

$BW-orange-dark: rgb(180,107,94);
$BW-orange-medium: rgb(220,109,90);
$BW-orange-light: rgb(232,164,144);