<dx-box
  direction="row"
  *ngIf="modifs?.length"
>
  <dxi-item
    [ratio]="1"
    class="validation-standby-container"
  >
    <div
      class="dx-form-group dx-form-group-with-caption dx-card responsive-paddings"
    >
      <span class="dx-form-group-caption">{{
        "tiers-clients-details-groupe-modifAValider" | localize
      }}</span>
      <div *ngFor="let modif of modifs">
        <div class="modif-date-container">
          <dx-text-box
            value="De {{ modif.initiateur.nomUtilisateur }} le {{
              modif.dateModification
            }}"
            [readOnly]="true"
          ></dx-text-box>
          <dx-button
            class="upperButton"
            type="default"
            [visible]="!!authService.currentUser.adminClient"
            text="{{ 'btn-hide' | localize }}"
            (onClick)="clearModifications(modif)"
          ></dx-button>
          <ul class="modif-items-container">
            <div *ngFor="let ligne of modif.corps">
              <li class="modif-item>">
                <strong>{{ ligne.traductionKey | localize }}</strong>
                : {{ ligne.affichageActuel }} =>
                {{ ligne.affichageDemande }}
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </dxi-item>
</dx-box>
