// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .grid-logistiques {
  .add-step-button {
    background: $base-accent !important;
    border-radius: 100%;
    color: white !important;
    font-size: 15px !important;
  }

  .simpleCellText {
    padding-left: 18px;
  }

  .check-bl-icon {
    position: relative;
    top: -1px;
    left: 4px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    color: #fff !important;
    background-color: $base-accent !important;
    border-radius: 100%;
    display: inline-block;
    font-size: 12px;
    padding: 6px 3px;
    cursor: help;
  }

  .dx-datagrid-readonly .dx-checkbox {
    pointer-events: none !important;
  }

  .dx-command-edit.dx-command-edit-with-icons.dx-col-fixed {
    padding: 0 !important;
  }

  .visibility-hidden {
    visibility: hidden;
  }
}
