<dx-popup
  [showTitle]="true"
  [dragEnabled]="true"
  width="600"
  height="500"
  [hideOnOutsideClick]="true"
  [(visible)]="visible"
  title="Sélection raison déclôturation de l'expédition"
  [focusStateEnabled]="false"
  (onShowing)="onShowing($event)"
>
  <dx-list
    [dataSource]="dataSource"
    [height]="300"
    [displayExpr]="capitalizeDesc"
    selectionMode="multiple"
    selectAllMode="false"
    [showSelectionControls]="true"
    [selectedItemKeys]="[]"
    (onSelectionChanged)="onSelectionChanged($event)"
  ></dx-list>
  <div class="popup-buttons-container">
    <dx-button
      class="save-button"
      type="default"
      text="Enregistrer"
      [class]="codifslist?.selectedItems.length ? '' : 'inactive-button'"
      (onClick)="saveModifDetail()"
    ></dx-button>
    <dx-button
      class="save-button"
      type="default"
      text="Annuler"
      (onClick)="hidePopup()"
    ></dx-button>
  </div>
</dx-popup>
