::ng-deep .choix-raison-decloture-popup {

  dx-list {
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: rgba(191, 191, 191, 0.15);

    .dx-list-item {
      margin: 3px 0;

      .dx-list-select-radiobutton-container {
        width: 45px;

        .dx-list-select-radiobutton {
          padding-bottom: 3px;
        }
      }

      .dx-list-item-content {
        padding: 0;
        font-size: 13px;
        line-height: 24px;
      }
    }
  }

  .popup-buttons-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    .dx-button {
      margin: 5px;
    }
  }
}
