::ng-deep .zoom-client-popup {
  background-color: #f2f2f2 !important;

  .dx-template-wrapper.dx-popup-title {
    background-color: #FFF;
    overflow: hidden;
    padding: 0 8px 0 24px;

    .title-start,
    .title-mid {
      font-size: 20px;
      font-weight: 500;
      float: left;
      margin: 17px 0;
      line-height: 29px;
    }

    .close-article-popup {
      top: 13px;
      float: right;
    }
  }

  .dx-popup-content {
    padding: 0 5px 0 0;
  }

  h2 {
    font-size: 29px;
  }
}
