<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [(visible)]="visible"
  [resizeEnabled]="true"
  (onShowing)="onShowing($event)"
  (onShown)="onShown($event)"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title">{{ title }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    >
    </dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      [icon]="
        'material-icons zoom_' + (popupFullscreen ? 'in' : 'out') + '_map'
      "
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div class="action-buttons-container">
    <dx-button
      class="cancel-button"
      type="normal"
      text="{{ 'btn-annuler' | localize }}"
      (onClick)="clearAndHidePopup()"
    ></dx-button>
    <dx-button
      #validButton
      [disabled]="!gridAnnuleRemplaceComponent?.canBeSent || running"
      class="documents-valid-button"
      type="success"
      text="OK"
      (onClick)="goDocuments()"
    ></dx-button>
  </div>
  <br />
  <app-grid-annule-remplace
    *ngIf="visible"
    [ordre]="ordre"
  ></app-grid-annule-remplace>
  <br />
</dx-popup>
