// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";

::ng-deep .small-status-button {
  position: relative;
  top: 1px;
  height: 18px;
  min-width: 0;
  margin-right: 13px;
  pointer-events: none;
  padding: 2px 14px 0 14px;
  font-size: 13px;
  float: left;
}

::ng-deep .small-action-button {
  position: relative;
  float: right;
  margin: 0 5px;
  height: 20px;
  line-height: 14px;
  padding: 0;
  font-size: 11px;

  .dx-button-content {
    padding: 6px 9px;

    .dx-button-text {
      line-height: 11px;
    }
  }
}

::ng-deep .group-text-1 {
  position: relative;
  margin-top: 3px;
  height: auto;
  width: 560px;
  white-space: initial;
  line-height: 16px;
  float: left;
}

::ng-deep .group-text-2 {
  position: relative;
  top: 1px;
  padding: 10px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.7);
  float: left;
}

::ng-deep .group-back-color {
  background-color: #ffe7ad !important;
}

::ng-deep .info-U {
  background-color: #ffa100 !important;
}

::ng-deep .info-C {
  background-color: #8fc459 !important;
}

// ::ng-deep .grid-cdes-edi {
//   max-height: 650px !important;
// }

::ng-deep .grid-commandes-Edi {
  max-height: calc(100vh - 375px) !important;

  h6 {
    margin: 0;
    float: left;
  }

  .refresh {
    top: -8px;
    float: right;
  }

  .BAFFilterArea {
    min-width: 1024px;

    .dx-placeholder {
      color: rgba(0, 0, 0, 0.87);
    }

    .typeRech {
      white-space: initial;
    }

    .date-field {
      .dx-field-value {
        input {
          padding-right: 0 !important;
        }
      }

      .dx-field-label {
        padding: 0 10px 0 30px;
      }
    }

    .etat-field {
      .dx-field-value {
        min-width: 300px;

        .dx-radiogroup {
          margin: 6px 0 6px -2px;
        }
      }
    }

    .commercial-field {
      .dx-field-label {
        padding: 0 10px 0 30px;
      }
    }
  }
}
