<dx-popup
  [fullScreen]="this.popupFullscreen"
  [showTitle]="true"
  height="auto"
  [dragEnabled]="true"
  [hideOnOutsideClick]="showMode"
  [(visible)]="visible"
  [fullScreen]="this.popupFullscreen"
  (onShowing)="onShowing($event)"
  (onShown)="onShown()"
  [resizeEnabled]="true"
>
  <div *dxTemplate="let data of 'title'">
    <div class="title-start">{{ titleStart }}&nbsp;</div>
    <div class="title-mid">{{ titleMid }}</div>
    <div class="title-end">&nbsp;{{ titleEnd }}</div>
    <dx-button
      class="close-article-popup"
      icon="close"
      (onClick)="hidePopup()"
    ></dx-button>
    <dx-button
      class="min-max-imize-popup-icon"
      hint="{{ (popupFullscreen ? 'reduire' : 'agrandir') | localize }}"
      icon="material-icons fullscreen_exit"
      [focusStateEnabled]="false"
      (onClick)="resizePopup()"
    ></dx-button>
  </div>

  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view>
      <div class="grid-modif-commande-edi-container">
        <div
          class="action-article-container"
          [ngClass]="{ 'inactive-box': !gridComponent?.ediLigneIdSelected }"
        >
          <app-add-article-to-order-buttons
            [gridCommandesAlias]="gridCommandes"
            [articleRowKeyAlias]="articleRowKey"
            [singleAlias]="true"
            [fullOrderNumberAlias]="fullOrderNumber"
            [allowMutationsAlias]="allowMutations"
            [histoLigneOrdreTextAlias]="histoLigneOrdreText"
            [histoLigneOrdreROTextAlias]="histoLigneOrdreReadOnlyText"
            [ordreAlias]="ordre"
            (lignesChanged)="onLignesChanged($event)"
          >
          </app-add-article-to-order-buttons>
        </div>

        <app-grid-modif-commande-edi
          [ordreEdiId]="ordreEdiId"
          [ordreId]="ordreId"
          (clotureOrdreEdi)="clotureOrdreEdi()"
        ></app-grid-modif-commande-edi>
      </div>
    </dx-scroll-view>
  </div>

  <div class="popup-action">
    <dx-button
      text="{{ 'btn-fermer' | localize }}"
      type="default"
      (onClick)="hidePopup()"
    ></dx-button>
  </div>
</dx-popup>
