<dx-data-grid
  [remoteOperations]="{
    filtering: true,
    sorting: true
  }"
  [columnAutoWidth]="true"
  [repaintChangesOnly]="true"
  [highlightChanges]="true"
  (onToolbarPreparing)="gridConfigHandler($event)"
  (onSaving)="onSaving($event)"
  (focusedColumnIndexChange)="focusedColumnIndexChange()"
>
  <dxo-editing
    [selectTextOnEditStart]="true"
    [mode]="'batch'"
    [allowUpdating]="allowMutations"
    [allowDeleting]="allowMutations"
    [startEditAction]="'click'"
    [(changes)]="changes"
    [refreshMode]="'reshape'"
  ></dxo-editing>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-keyboard-navigation
    [enterKeyAction]="'moveFocus'"
    [enterKeyDirection]="'column'"
    [editOnKeyPress]="true"
  ></dxo-keyboard-navigation>
  <dxo-summary>
    <dxi-total-item
      column="article.articleDescription.descriptionReferenceLongue"
      summaryType="count"
      displayFormat="{0} ligne(s)"
    ></dxi-total-item>
    <dxi-total-item
      column="nombrePalettesCommandees"
      summaryType="sum"
      displayFormat="{0}"
    ></dxi-total-item>
    <dxi-total-item
      column="nombreColisCommandes"
      summaryType="sum"
      displayFormat="{0}"
    ></dxi-total-item>
  </dxo-summary>

  <dxi-column
    *ngFor="let column of this.columns | async"
    [dataField]="column.dataField"
    [allowEditing]="column.allowEditing"
    [allowSorting]="column.allowSorting"
    [cellTemplate]="column.cellTemplate"
    [editCellTemplate]="column.editCellTemplate"
    [calculateDisplayValue]="column?.calculateDisplayValue"
    [caption]="
      ('ordreLignes-' + column.dataField?.split('.').join('-') | localize) ||
      column.name
    "
  >
    <!-- Restrictions valeurs saisies -->
    <dxi-validation-rule
      *ngIf="column.dataField === 'nombrePalettesIntermediaires'"
      type="range"
      [min]="0"
      [max]="9"
      message="{{ 'valeurIncorrecte' | localize }}"
    ></dxi-validation-rule>
    <dxi-validation-rule
      *ngIf="column.dataField === 'nombrePalettesCommandees'"
      type="range"
      [min]="0"
      [max]="999"
      message="{{ 'valeurIncorrecte' | localize }}"
    ></dxi-validation-rule>
    <dxi-validation-rule
      *ngIf="column.dataField === 'nombreColisPalette'"
      type="range"
      [min]="0"
      [max]="999"
      message="{{ 'valeurIncorrecte' | localize }}"
    ></dxi-validation-rule>
    <dxi-validation-rule
      *ngIf="column.dataField === 'nombreColisCommandes'"
      type="range"
      [min]="0"
      [max]="9999"
      message="{{ 'valeurIncorrecte' | localize }}"
    ></dxi-validation-rule>
  </dxi-column>
  <app-entity-cell-template
    [columnsSettings]="columnsSettings"
  ></app-entity-cell-template>
</dx-data-grid>

<app-button-marge-previ
  *ngIf="FEATURE.margePrevisionelle"
  [ordreID]="ordreID"
></app-button-marge-previ>
