// Var
@import "themes/generated/variables.base";
@import "scss/variables.scss";


// Fixing a height trouble
::ng-deep .dx-sortable-clone tr.grid-commandes-rows {
  height: 33px !important;
}

::ng-deep .grid-commandes,
::ng-deep .dx-sortable-clone {

  .multi-delete {
    background: transparent !important;
    border: none !important;
    color: white !important;
  }

  .format-description {
    min-width: 400px !important;
    max-width: 400px !important;
    white-space: normal;
    line-height: 14px !important;
  }

  .dx-row.dx-header-row td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;

    .dx-datagrid-text-content {
      text-overflow: initial;
    }
  }

  .small-stock-button {
    margin-top: -1px !important;
    pointer-events: none !important;
    min-width: 16px !important;

    .dx-button-text {
      font-weight: bold;
    }
  }

  .dx-row-focused {
    .bio-article {
      color: #39970e !important;
    }
  }

  .small-horiz-padding {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  .medium-horiz-padding {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .headerCellBtnTemplate {
    .small-article-button {
      display: none;
      margin-top: 3px;
    }
  }

  .headerCellBtnTemplate:not(.libelleDLV) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .headerCellBtnTemplate-show {
    .small-article-button {
      display: flex !important;
    }
  }

  .swap-button {
    width: 22px !important;
    height: 22px;
    min-width: 0 !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;

    .dx-button-content {
      padding: 0 !important;

      .dx-icon {
        color: $base-accent;
      }
    }
  }

  .dx-row-focused:not(.dx-edit-row) td:not(.dx-focused):first-of-type {

    input,
    div {
      color: #fff;
    }
  }

  .dx-row {
    td.dx-command-select {
      width: 20px !important;
      min-width: 20px !important;
      padding: 0 4px !important;
    }

    .small-article-button.origin,
    .small-article-button.certification {
      margin-right: 3px;
      margin-left: 3px;
    }
  }

  .bio-article {
    color: #39970e !important;
    cursor: pointer;
  }

  .dx-editor-cell.dx-focused:not(.dx-datagrid-readonly) {
    background: rgba(51, 145, 176, 0.26);
  }

  .dx-row-focused.dx-data-row>td:not(.dx-focused):not(:first-of-type):not(:nth-of-type(2)):not(.dx-cell-modified) {
    color: #000;
    background-color: transparent !important;
  }

  .dx-row-focused.dx-data-row.dx-row-alt>td:not(.dx-focused):not(:first-of-type):not(:nth-of-type(2)):not(.dx-cell-modified) {
    color: #000;
    background-color: #F0F0F0 !important;
  }

  .dx-row-focused td.dx-command-select {
    .dx-checkbox-icon {
      border-color: #fff !important;
    }
  }

  .dx-data-row .article-column {
    // background-color: transparent !important;

    &:not(.bio-article):not(.red-font) {
      color: #000 !important;
    }
  }

  .dx-row-focused.dx-data-row>td {
    &.dx-cell-modified {
      background-color: #dbecca !important;
      color: #000;
    }

    &.dx-focused {
      background-color: #cae3eb !important;
    }
  }

  .td:first-of-type input {
    text-align: center !important;
  }

  .dx-row-focused.dx-data-row>td {
    border-bottom-color: $base-accent !important;
  }

  .dx-link-delete {
    padding-left: 1px !important;
    color: $base-accent !important;
    background-color: transparent !important;
  }

  .dx-datagrid-focus-overlay:after {
    background-color: transparent;
  }

  .dx-row-alt>td {
    background-color: #F0F0F0;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
  }

  .dx-command-edit.dx-command-edit-with-icons {
    padding: 0 !important;
  }

  .small-article-button {
    height: 18px;
    min-width: 0;
    padding: 0 4px !important;

    .dx-button-content {
      padding: 0;
      font-size: 10px;
      text-overflow: initial;

      .dx-button-text {
        line-height: 19px;
      }
    }

    &.certification {
      background-color: $BW-purple-medium !important;

      &:hover {
        background-color: $BW-purple-dark !important;
      }
    }
  }
}

::ng-deep .cursor-pointer,
::ng-deep .cursor-pointer input {
  cursor: pointer !important;
}

::ng-deep .small-margin-button {
  position: absolute;
  height: 18px;
  margin: -26px 0 0 210px;
  z-index: 10;
  padding: 0 4px !important;
  z-index: 10;

  .dx-button-content {
    font-size: 11px;

    .dx-button-text {
      margin-top: 0;
      line-height: 0;
    }

    .margin-title-text {
      float: left;
    }

    .margin-value-text {
      font-weight: bold;
      font-size: 12px;
      float: right;
    }

    .small-loader {
      position: relative;
      top: 0;
      margin-left: 2px;
      width: 15px;
      height: 15px;
      border: none;
      float: right;
    }
  }
}
