::ng-deep .choose-entrepot-popup {
  padding-bottom: 20px;

  .inputs {
    display: flex;

    >.field {
      margin: 20px;
    }

    .dx-placeholder {
      left: 17px;
    }

  }

  dxi-toolbar-item {
    .dx-button {
      .dx-icon {
        font-size: 18px !important;
      }
    }
  }
}
