<dx-popup
  [title]="'choose-company-entrep' | localize"
  [width]="'auto'"
  [height]="'auto'"
  [showCloseButton]="false"
  [resizeEnabled]="true"
  (onHidden)="onHidden()"
  (onShowing)="onShowing($event)"
  (onShown)="onShown()"
>
  <!-- cancel button -->
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
  >
    <dx-button
      [text]="'btn-annuler' | localize"
      (onClick)="onCancelClick()"
    ></dx-button>
  </dxi-toolbar-item>
  <!-- select button -->
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
  >
    <dx-button
      [text]="'btn-createReplaceOrder' | localize"
      type="success"
      [disabled]="!entrepotInput?.selectedItem"
      (onClick)="onSelectClick()"
    ></dx-button>
  </dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <div class="inputs">
      <!-- société input -->
      <div class="field">
        <div class="label">{{ "auth-societe" | localize | titlecase }}</div>
        <div class="value">
          <dx-select-box
            #societeInput
            [dataSource]="societesSource"
            [valueExpr]="'id'"
            [displayExpr]="'raisonSocial'"
            [searchExpr]="['id', 'raisonSocial']"
            [searchMode]="'contains'"
            (onSelectionChanged)="onSocieteSelectionChanged()"
          ></dx-select-box>
        </div>
      </div>

      <!-- client input -->
      <div class="field">
        <div class="label">{{ "client" | localize | titlecase }}</div>
        <div class="value">
          <dx-select-box
            #clientInput
            [dataSource]="clientsSource"
            [valueExpr]="'id'"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id', 'code', 'raisonSocial']"
            [searchMode]="'contains'"
            [disabled]="!societeInput?.selectedItem"
            (onSelectionChanged)="onClientSelectionChanged()"
          >
            <dxo-drop-down-options [width]="400"> </dxo-drop-down-options
          ></dx-select-box>
        </div>
      </div>

      <!-- entrepot input -->
      <div class="field">
        <div class="label">{{ "entrepot" | localize | titlecase }}</div>
        <div class="value">
          <dx-select-box
            #entrepotInput
            [dataSource]="entrepotsSource"
            [valueExpr]="'id'"
            [displayExpr]="displayCodeBefore"
            [searchExpr]="['id', 'code', 'raisonSocial']"
            [searchMode]="'contains'"
            [disabled]="!clientInput?.selectedItem"
          >
            <dxo-drop-down-options [width]="400"> </dxo-drop-down-options>
          </dx-select-box>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</dx-popup>
